@import "culture_variables_greek";
@import "../appmain";

@media #{$mobile} {
	.cart-empty	{
			 .how-to-use {
			 			#mediaCartSlider {
									.rsOverflow{
											height: 455px !important;
											.item1 {
												height: 296px;
												.right {
													height: 133px;
													p {
														@include size(margin-bottom, 0);
													}
												}
											}
											.item3 {
												height: 496px;
											}
										}
						}
			}
	}
	
}
@media #{$tablet}{
	.cart-empty	{
			 .how-to-use {
			 			#mediaCartSlider {
								.rsOverflow {
										height: 350px !important;
										.item1 {
											height: 230px;
											.right {
												i {
													&.icon {
														&.icons-btn-media-cart {
															@include size(margin-top, 5);
														}
													}
												}
											}
										}
									}
						}
			}
	}
}
@media #{$desktop}{

}
