@import "culture_variables_italian";
@import "../appmain";

@media #{$mobile} {
	.cart-empty	{
			 .how-to-use {
			 			#mediaCartSlider {
										.item1 {
											height: 282px;
											.right{
												height: 133px; 
												p{
													@include size(margin-bottom, 0);
												}
											}
										}
						}
			}
	}

}
@media #{$tablet}{
	.cart-empty	{
			 .how-to-use {
			 			#mediaCartSlider {
										.item1 {
											height: 190px;
										}
						}
			}
	}
}
@media #{$desktop}{

}
