﻿@media #{$desktop} {
    .advance-search-popup {
        color: #ddb320;
        font-family: roboto-bold;
        float: right;
        margin-top: -30px;
        display: none;
        cursor: pointer;

        &.showonsearchbar {
            display: block;
        }       
        &.advance-search-show {
            display: block;
            margin-top: -33px;
        }
    }

    div#advance-search-popup {
        input {
            &.search-popup-input {
                &.invalid {
                    background: #FEF1EC !important;
                    border: 1px solid #CD0A0A !important;
                }
            }
        }
    }

    .AdvanceSearchWrapper {
        background: none repeat scroll 0 0 white;
        max-width: 322px;
        width: 100%;
        padding-bottom: 2.8rem;
        padding-top: 2.8rem;

        .btn {
            width: 256px;
        }

        .statusMegssage {
            color: $Error-color;
            padding: 0;
        }

        .RequiredFields {
            clear: both;
            float: left;
            color: #999;
            font-size: 12px;
            margin-top: -5px;
            padding: 0;
        }
    }

    .AdvanceSearchWrapper {
        background: none repeat scroll 0 0 white;

        label {
            cursor: default;
        }

        .custom-button {
            width: 120px;
            margin-bottom: 4px;
            margin-top: 22px;

            &.advance-search-reset-button {
                margin-right: 12px;
            }
        }

        a.popup-close {
            float: right;
            margin-right: 10px;
            margin-top: 5px;

            i.icon-cross {
                background: url("/Content/images/icons/cross.png?1424782439") no-repeat scroll center top rgba(0, 0, 0, 0);
                display: block;
                height: 16px;
                width: 16px;
            }
        }

        .lblHeader {
            font-family: arial;
            font-size: 32px;
            font-weight: bold;
            border-bottom: 1px dotted #ccc;
            padding-bottom: 1.2rem;
            margin-bottom: 1.4rem;
            color: $logreg-layer-header-color;
        }

        fieldset {
            border: 0px;
            padding: 0px;
            margin: 0pc;

            .field-validation-error {
                color: $Error-color;
            }

            label#lblStatus {
                color: $Error-color;
                font-size: 12px;
                margin-top: 5px;
                clear: both;
                padding-top: 0.5rem;
            }
        }

        .lbl {
            margin-bottom: 0.4rem;
            float: left;

            label {
                font-family: arial;
                font-size: 16px;
                font-weight: bold;
                margin-top: 1.1rem;
                color: $black-color;
            }
        }

        .details {
            font-weight: normal;
        }

        .txt {
            input {
                border: 1px solid #ccc;
                height: 3.2rem;
                width: 100%;
                margin-top: 0.2rem;
                margin-bottom: 0.4rem;
                color: $black-color;
            }

            select {
                height: 3.2rem;
                border: 1px solid #ccc;
                color: #100E0E;
                font-size: 15px;
                margin-bottom: 0.4rem;
                font-family: arial;
            }
        }

        .btn {
            display: block;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            line-height: 32px;
            box-shadow: 1px 1px 2px 0px #9f9f9f;
            -webkit-box-shadow: 1px 1px 2px 0px #9f9f9f;
            -moz-box-shadow: 1px 1px 2px 0px #9f9f9f;
            background-color: #e9e9e9;
            margin: 6px auto;
            float: left;
            font-family: arial;
            cursor: pointer;
            color: $black-color;
        }
    }
}

@media #{$tablet} {
    .top-search-panel {
        .search-wrapper {
            .search-input-wrapper {
                .search-input {
                    &.advance-search-show {
                        width: 82%;
                    }
                }
            }
        }
    }

    .advance-search-popup {
        color: #ddb320;
        font-family: roboto-bold;
        float: right;
        margin-top: -30px;
        display: none;
        cursor: pointer;
        &.showonsearchbar {
            display: block;
        }       
        &.advance-search-show {
            display: block !important;
            margin-top: -33px;
        }
    }

    div#advance-search-popup {
        input {
            &.search-popup-input {
                &.invalid {
                    background: #FEF1EC !important;
                    border: 1px solid #CD0A0A !important;
                }
            }
        }
    }

    .AdvanceSearchWrapper {
        .custom-button {
            width: 120px !important;
        }
    }
}

@media #{$mobile} {
    .advance-search-mobile-menu {
        font-size: 12px;
        text-align: right;
        font-family: roboto-bold;
        color: #000000;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .advance-search-popup {

        &.showonsearchbar {
            display: block;
        }       
        &.advance-search-show {
            display: none;
        }
    }
}

div#advance-search-popup {
    input {
        &.search-popup-input {
            &.invalid {
                background: #FEF1EC !important;
                border: 1px solid #CD0A0A !important;
            }
        }
    }
}

.AdvanceSearchWrapper {
    background: none repeat scroll 0 0 white;

    label {
        cursor: default;
    }

    .custom-button {
        width: 130px;
        margin-bottom: 4px;
        margin-top: 22px;

        &.advance-search-reset-button {
            margin-right: 12px;
        }
    }

    a.popup-close {
        float: right;
        margin-right: 10px;
        margin-top: 5px;

        i.icon-cross {
            background: url("/Content/images/icons/cross.png?1424782439") no-repeat scroll center top rgba(0, 0, 0, 0);
            display: block;
            height: 16px;
            width: 16px;
        }
    }

    .lblHeader {
        font-family: arial;
        font-size: 32px;
        font-weight: bold;
        border-bottom: 1px dotted #ccc;
        padding-bottom: 1.2rem;
        margin-bottom: 1.4rem;
        color: $logreg-layer-header-color;
    }

    fieldset {
        border: 0px;
        padding: 0px;
        margin: 0pc;

        .field-validation-error {
            color: $Error-color;
        }

        label#lblStatus {
            color: $Error-color;
            font-size: 12px;
            margin-top: 5px;
            clear: both;
            padding-top: 0.5rem;
        }
    }

    .lbl {
        margin-bottom: 0.6rem;
        float: left;

        label {
            font-family: arial;
            font-size: 16px;
            font-weight: bold;
            margin-top: 1.1rem;
            color: $black-color;
        }
    }

    .details {
        font-weight: normal;
    }

    .txt {
        input {
            border: 1px solid #ccc;
            height: 3.2rem;
            width: 100%;
            margin-top: 0.2rem;
            margin-bottom: 0.4rem;
            color: $black-color;
        }

        select {
            height: 3.2rem;
            border: 1px solid #ccc;
            color: #100E0E;
            font-size: 15px;
            font-family: arial;
        }
    }

    .btn {
        display: block;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        line-height: 32px;
        box-shadow: 1px 1px 2px 0px #9f9f9f;
        -webkit-box-shadow: 1px 1px 2px 0px #9f9f9f;
        -moz-box-shadow: 1px 1px 2px 0px #9f9f9f;
        background-color: #e9e9e9;
        margin: 6px auto;
        float: left;
        font-family: arial;
        cursor: pointer;
        color: $black-color;
    }
}
