.amp-wrapper {
    background: $amp-background;
}

.mini-amp {
    .top-tools {
        .icons-download {
            display: none;
        }
    }
}

.content .top-tools {
    margin-right: 16px;
}


.top-tools {
    overflow: hidden;
    display: none;

    .button-text {
        ul {
            @include size(margin, 0);
            max-width: 330px;

            li {
                list-style: none;

                a {
                    color: $top-tool-button-color;

                    i {
                        @include size(margin-right, 0.5);
                    }

                    span {
                        @include size(margin-right, 1.6);
                    }
                }

                a:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .paging {
        position: absolute;
        bottom: 0;
        right: 0;
        @include size(font-size, 1.6);
        @include font_regular();
        color: $top-tool-paging;
        margin-bottom: 0;

        .num {
            @include size(margin-right, 0.6);
        }

        .of {
            @include size(margin-left, 0.6);
        }
    }
}

html.touch {
    .top-tools {
        .mediacartDisabled {
            .paging {
                position: static;
                text-align: center;
            }
        }
    }
}

@media #{$mobile} {
    .top-tools {
        .button-text {
            ul {
                li {
                    float: none;
                    @include size(padding, 1.6, 0);
                    @include size(margin, 0, 1.6);
                    border-top: 1px dotted #e9e9e9;
                }

                li:first-child {
                    border-top: none;
                }
            }

            .paging {
                @include size(padding, 0, 0, 1.8, 0);
            }
        }
    }
}

@media #{$tablet} {
    .top-tools {
        .button-text {
            ul {
                display: block;
                float: left;
                max-width: 80%;

                li {
                    float: left;
                    @include size(padding, 0);
                    @include size(margin, 0);
                    border-top: none;

                    a.download-all {
                        i {
                            @include size(margin-left, 1.6);
                        }
                    }
                }
            }

            .paging {
                padding: 0;
            }
        }
    }

    .download-buttons-mobile {
        ul {
            li {
                a {
                    i {
                        @include size(margin-bottom, 0.6);
                    }
                }
            }
        }
    }
}

.rsOverflow {
    z-index: 20;
}

.download-buttons-mobile {
    text-align: center;

    ul {
        list-style: none;
        display: block;
        margin: 0;
        white-space: nowrap;
        text-align: center;

        li {
            @include size(padding, 0, 0.0);
            display: inline-block;
            width: 75px;
            vertical-align: top;

            a {
                @include size(font-size, 1.2);
                @include font_semi_bold();
                color: $amp-side-button-text-color;
                cursor: pointer;
                @include opacity(0.7);

                &:hover {
                    @include opacity(1);
                }

                img {
                }

                p {
                    margin-bottom: 0;
                    white-space: normal;
                }
            }

            &.mobile {
                p {
                    @include size(font-size, 1);
                }
            }
        }
    }
}



.download-buttons {
    display: table-cell;
    vertical-align: top;
    width: 70px;

    ul {
        text-align: center;
        list-style: none;

        li {
            @include size(padding, 0.8, 0);
            text-align: right;

            a {
                @include size(font-size, 1.2);
                color: $amp-side-button-text-color;
                display: inline-block;
                text-align: center;
                width: 70px;
                @include opacity(0.7);

                &:hover {
                    @include opacity(1);
                }

                i {
                    @include size(margin-bottom, 0.4);
                }

                p {
                    margin-bottom: 0;
                    @include size(font-size, 1.1);
                    line-height: 1;
                    @include font_semi_bold();
                    word-wrap: break-word;
                }
            }
        }
    }
}

.lt-ie8 .download-buttons {
    display: block;
}

@media #{$mobile} {
    .amp-wrapper {
        .border {
            border-bottom: 1px dotted #cccccc;
            @include size(margin-top, 0);
            @include size(margin-bottom, 2.4);
        }
    }
}

@media #{$tablet} {
    .amp-wrapper {
        .border {
            margin-left: 75px;
            @include size(margin-bottom, 4.8);
        }
    }

    .detail-pages.images-videos-detail-page {
        .amp-wrapper {
            .border {
                margin-left: 0;
            }
        }
    }
}

@media only screen and (min-width:0px) {
    .amp {
        .content {
            min-height: 180px;
        }

        &.hasCarousel {
            .content {
                min-height: 320px;
            }
        }
    }

    .amp.story-amp {
        min-height: 383px;

        &.hasCarousel {
            min-height: 457px;
        }

        .top-tools {
            .download-all {
                i.icons-download-dark {
                    display: none;
                }
            }

            .media-cart-btn-wrapper {
                i.icons-media-cart-dark {
                    display: none;
                }
            }
        }
    }

    .amp.mini-amp {
        .top-tools {
            .download-all {
                i.icons-download {
                    display: none;
                }
            }

            .media-cart-btn-wrapper {
                i.icons-media-cart {
                    display: none;
                }
            }
        }
    }

    .amp.detail-amp {
        min-height: 298px;
    }

    .amp.amp-popup {
        .amp-popup-wrapper {
            min-height: 314px;
        }
    }

    .amp-wrapper {
        .amp {
            @include size(padding, 0);

            .amp-inner-content-wrap {
                width: 320px;
                position: relative;
            }
        }
    }

    .top-tools {
        .columns {
            @include size(padding, 0);
            overflow: hidden;
        }
    }

    #asset-amp-popup {
        .top-tools {
            .download-all {
                i.icons-download-dark {
                    display: none;
                }
            }

            .media-cart-btn-wrapper {
                i.icons-media-cart-dark {
                    display: none;
                }
            }
        }
    }

    .download-buttons {
        display: none;
    }

    .lt-ie8 .download-buttons {
        display: none;
    }

    .download-buttons-mobile {
        display: block;
        @include size(margin-top, 2.4);
        @include size(margin-bottom, 2.4);
    }

    .share-buttons {
        @include size(margin-top, 2.4);
        @include size(padding, 0, 3.2);
        width: 100%;
        display: none;

        ul {
            background-color: #b8b8b8;
            margin: 0 auto;
            overflow: hidden;
            @include size(padding, 2.4, 1, 0, 1);
            text-align: center;

            li {
                @include size(padding, 0, 0.5, 0, 0);
                display: inline-block;
                line-height: 10px;
                list-style: none;

                i {
                    zoom: 0.5;
                    -moz-transform: scale(0.5);
                }

                h5 {
                    margin: 0 25px 0 0;
                    @include size(font-size, 1.6);
                }

                &.mobile {
                    h5 {
                        margin-right: 0;
                    }
                }
            }

            li:hover {
                cursor: pointer;
            }
        }
    }

    .top-tools {
        .button-text {
            ul {
                li {
                    a {
                        @include size(font-size, 1.4);
                        @include font_bold();
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:321px) {
    .amp-wrapper {
        .amp {
            .amp-inner-content-wrap {
                width: 100%;
                min-width: 321px;
                max-width: 640px;
                margin: 0 auto;
                position: relative;
            }
        }
    }
}

@media only screen and (min-width:600px) {
    .images-videos-detail-page {
        .amp-wrapper {
            .amp {
                @include size(padding, 0, 1.6, 4.8, 1.6);
            }
        }

        .detail-header {
            padding-left: 0px !important;
        }

        .detail-content-wpapper {
            padding-left: 16px;
        }
    }

    .amp-wrapper {
        .amp {
            @include size(padding, 1.6, 1.6, 4.8, 9.6);

            .content {
                min-height: 366px;
            }

            .download-buttons-mobile {
                margin-bottom: 0;
            }

            &.hasCarousel {
                .content {
                    min-height: 415px;
                }
            }
        }
    }

    .share-buttons {
        width: 100%;
        display: block;
        margin-top: 0;

        ul {
            background-color: transparent;
            margin: 0 auto;
            overflow: hidden;
            text-align: center;

            li {
                @include size(padding, 0, 1.2, 0, 1.2);
                line-height: 10px;
                list-style: none;

                i {
                    zoom: 1;
                    -moz-transform: scale(1);
                }

                &.mobile {
                    display: none;
                }
            }
        }
    }

    .top-tools {
        @include size(padding-top, 1.6);
        @include size(padding-bottom, 3.2);
    }
}

@media only screen and (min-width:641px) {
    .images-videos-detail-page {
        .amp-wrapper {
            .amp {
                @include size(padding, 3.2, 3.2, 4, 3.2);
            }
        }

        .detail-header {
            padding-left: 0px !important;
        }

        .detail-content-wpapper {
            padding-left: 32px;
        }
    }

    .amp {
        .content {
            min-height: 340px;
        }

        &.hasCarousel {
            .content {
                min-height: 485px;
            }
        }
    }

    .amp.story-amp {
        min-height: 594px;

        &.hasCarousel {
            min-height: 705px;
        }
    }

    .amp.mini-amp {
    }

    .amp.detail-amp {
        min-height: 595px;
    }

    .amp.amp-popup {
        .amp-popup-wrapper {
            min-height: 603px;
        }
    }

    .amp-wrapper {
        .amp {
            .content {
                min-height: 330px;
            }

            &.hasCarousel {
                .content {
                    min-height: 485px;
                }
            }

            @include size(padding, 3.2, 3.2, 4, 9.6);

            .amp-inner-content-wrap {
                width: 100%;
                max-width: 632px;
                margin: 0 auto;
                position: relative;
            }
        }
    }

    .content {
        display: block;
    }

    .download-buttons-mobile {
        @include size(margin-top, 3.2);

        li.mobile {
            display: none;
        }
    }

    .share-buttons {
        width: 100%;
        display: block;
        margin-top: 0;

        ul {
            background-color: transparent;
            margin: 0 auto;
            overflow: hidden;
            text-align: center;

            li {
                @include size(padding, 0, 1.2, 0, 1.2);
                line-height: 10px;
                list-style: none;

                i {
                    zoom: 1;
                    -moz-transform: scale(1);
                }

                &.mobile {
                    display: none;
                }
            }
        }
    }

    .top-tools {
        @include size(padding-bottom, 1.2);
    }

    .content {
        display: block;
    }

    .download-buttons-mobile {
        @include size(margin-top, 3.2);

        li.mobile {
            display: none;
        }
    }

    .top-tools {
        .button-text {
            ul {
                li {
                    a {
                        @include size(font-size, 1.2);
                        @include font_semi_bold();
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 761px) {
    .images-videos-detail-page {
        .amp-wrapper {
            .amp {
                @include size(padding, 0, 3.2, 4, 3.2);
            }
        }

        .detail-header {
            padding-left: 0px !important;
        }

        .detail-content-wpapper {
            padding-left: 32px;
        }
    }

    .amp.story-amp {
        min-height: 434px;

        &.hasCarousel {
            min-height: 590px;
        }
    }

    .amp.mini-amp {
        min-height: 560px;
    }

    .amp.detail-amp {
        min-height: 385px;
    }

    .amp.amp-popup {
        .amp-popup-wrapper {
            min-height: 380px;
        }
    }

    .amp-wrapper {
        .amp {
            @include size(padding, 3.2, 3.2, 4, 9.6);

            .amp-inner-content-wrap {
                width: 100%;
                min-width: 627px;
                max-width: 773px;
                margin: 0 auto;
                position: relative;
                display: table;
            }
        }
    }

    .top-tools {
        @include size(padding-bottom, 1.6);
        @include size(padding-top, 0);
    }

    .download-buttons {
        display: table-cell;
        vertical-align: middle;

        ul {
            margin-bottom: 0;
        }
    }

    .lt-ie8 .download-buttons {
        display: block;
    }

    .amp-popup-wrapper,
    .amp-inner-content-wrap {
        background: none;
        border: none;
        -dt-display: table-row;

        .content {
            width: 100%;
        }

        .download-buttons, .share-buttons {
            -dt-display: table-cell;
        }

        .download-buttons-mobile {
            -dt-display: table-row;
        }
    }

    .content {
        display: table-cell;
        vertical-align: middle;
        @include size(padding, 0, 1.6);
        width: 100%;
    }

    .detail-amp, .story-amp, .amp-popup {
        .download-buttons-mobile {
            display: none;
        }
    }

    .share-buttons {
        width: 35px;
        display: table-cell;
        margin-top: 0;
        vertical-align: middle;
        @include size(padding, 0);

        ul {
            background-color: transparent;
            @include size(padding, 0);

            li {
                @include size(padding, 1.2, 0);
                display: block;
                line-height: auto;

                i {
                    zoom: 1;
                    -moz-transform: scale(1);
                }

                i.icon.social-buttons-fb {
                    width: 14px;
                }

                i.icon.social-buttons-pint {
                    width: 25px;
                }

                i.icon.social-buttons-more {
                    width: 25px;
                }
            }

            li.share-email {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 902px) {

    .amp-wrapper {
        .amp.story-amp {
            min-height: 486px;

            &.hasCarousel {
                min-height: 637px;
                @include size(padding-top, 0);
            }
        }

        .amp {
            @include size(padding, 3.2, 3.2, 4, 9.6);

            .amp-inner-content-wrap {
                width: 774px;
                margin: 0 auto;
                position: relative;
            }
        }
    }

    .share-buttons {
        ul {
            li.share-email {
                display: block;
            }
        }
    }
}

.amp.mini-amp {
    font-family: "mini-amp";

    .content {
        display: block;
        padding: 0;
    }

    .share-buttons {
        width: 100%;
        display: block;
        overflow: hidden;
        @include size(margin-top, 3.2);

        ul {
            background-color: transparent;
            margin: 0 auto;
            overflow: hidden;
            text-align: center;

            li {
                @include size(padding, 0, 0.8);
                line-height: 10px;
                list-style: none;
                display: inline-block;
                width: 44px;

                i {
                    zoom: 1;
                    -moz-transform: scale(1);
                }

                &.mobile {
                    display: none;
                }
            }
        }
    }

    .download-buttons-mobile {
        @include size(margin-top, 1.8);

        ul {
            li {
                &.mobile {
                    display: none;
                }

                a {
                    @include opacity(1);
                }
            }
        }
    }
}

.amp.amp-popup {
    width: 100%;
    max-width: 768px;
    background: $popup-bg-color;

    .amp-popup-wrapper {
        display: table;
        width: 100%;
    }
}

@media #{$mobile} {
    .amp.amp-popup {
        .top-tools {
        }
    }

    .download-buttons-mobile {
        li.tablet {
            display: none;
        }
    }
}

@media #{$tablet} {
    .amp.amp-popup {
        .top-tools {
            padding: 0 51px 0 86px;
            @include size(margin-top, 3.2);
        }
    }

    .download-buttons-mobile {
        li.tablet {
            display: inline-block;
            width: 120px;
        }
    }

    .download-buttons {
        li.tablet {
            display: inline-block;
        }
    }

    .download-buttons-mobile,
    .download-buttons {
        li.mobile {
            display: none;
        }
    }
}

@media #{$desktop} {
    .amp.amp-popup {
        .top-tools {
            @include size(margin-top, 2.8);
        }
    }
}

@media only screen and (max-width:760px) {
    .amp {
        font-family: "mini-amp";
    }
}

.share-buttons, .download-buttons, .download-buttons-mobile {
    visibility: hidden;
}

@media #{$nexus} {
    .amp.amp-popup {
        .top-tools {
            padding: 0;
            @include size(margin-top, 3.2);
        }
    }
}

@media #{$mobile} {
    .rsNav {
        @include size(padding, 0.8, 0, 0.8, 0);
    }

    .rsDefaultInv {
        rsGCaption.sdGCaption-top {
            @include size(padding, 1.6, 0, 1.6, 0);
        }
    }
}

@media #{$tablet} {
    .rsNav {
        @include size(padding, 1.6, 0, 1.6, 0);
    }

    /*.lt-ie9 .rsNav { 
        padding: 0;
    }*/

    .rsDefaultInv {
        .rsGCaption.sdGCaption-top {
            @include size(padding, 3.2, 0, 3.2, 0);
        }
    }

    .amp {
        &.story-amp {
            .share-buttons {
            }
        }
    }
}

@media #{$desktop} {
    .rsDefaultInv {
        .rsGCaption.sdGCaption-top {
            @include size(padding, 1.6, 0, 1.6, 0);
        }
    }

    .amp-wrapper {
        .border {
            @include size(margin-bottom, 3.2);
        }
    }
}
