﻿$map-main:(
    base-properties:(
        base-font:'Arial,Helvetica,Verdana,sans-serif', 
        base-color:'red'        
    ),
    onDesktop:(
        header-background:(
                        context:(css-path: '.main-content .columns h3 a' ),
                        properties: (
                            background-color: #dee1e2
                        )
                    ),
        landing-title:(
                        context:(css-path: '.main-content .columns h3 a' ),
                        properties: (
                        color:#00407d,   
                        size:(font-size:4.2,line-height:4.4),
                        font-style: (style: bold, font-family: "&base-font")
                        )
                    ),
         about-title:(
                        context:(css-path: '.newsroom-info .about-this-newsroom-title'),
                        properties: (
                        color:#00407d,                       
                        font-style: (style: bold, font-family: "&base-font"),
                        line-height:1
                        )
                    ),
         contact-title:(
                        context:(css-path: '.newsroom-info .contact-us-title'),
                        properties: (
                        color:#00407d,                        
                        font-style: (style: bold, font-family: "&base-font")                        
                        )
                    ),
         see-all:(
                        context:(css-path: '.see-all h4 a, .see-more a' ),
                        properties: (
                        color:#3cbef4,
                        size:(font-size:1.8)
                        )
                  ),
    
          see-more:(
                        context:(css-path: '.see-all h4 a' ),
                        properties: (                       
                            size:(font-size:1.8)  ,
                             color:#3cbef4
                        )
          ),
         listing-title:(
                        context:(css-path: '.tablet-up.header-category'),
                        properties: (
                        color:#00407d,
                        size:(font-size:4.2),
                        font-style: (style: bold, font-family: "&base-font")
                        )
                    ),            
        search-title:(
                        context:(css-path: '.tablet-up.header-category'),
                        properties: (
                        color:#000000,
                        size:(font-size:1.4),
                        font-style: (style: regular, font-family: "&base-font")
                        )
                    ),
        search-placeholder:(
                        context:(css-path: '.tablet-up.header-category'),
                        properties: (
                        color:#000000,
                        size:(font-size:1.4),
                        font-style: (style: regular, font-family: "&base-font")
                        )
                    ),
        menu-border:(
                        context:(css-path: '.header-mid .header-mid-container .borders'),
                        properties: (
                            border-top: 0px dotted #cccccc,
			                border-bottom: 0px dotted #cccccc
                        )
                    ),
        no-result:(
                        context:(css-path: '.no-results-wraper h1'),
                        properties: (
                                color: #dddddd,
                                font-style: (style: semi_bold, font-family: "&base-font")
                        )
                    ),
        custom-button:(
                        context:(css-path: '.custom-button'),
                        properties: (
                                    color: #000000,    
                                    background: #e9e9e9,    
	                                font-style: (style: bold, font-family: "&base-font")
                        )
                    ),
        custom-button-hover:(
                        context:(css-path: '.custom-button:hover'),
                        properties: (
                                color: #ffffff,    
                                background: #000000,    
                        )
                    ),
        top-search-panel:(
                        context:(css-path: '.custom-button:hover'),
                        properties: (
                                background: #fff
                        )
            ),
        search-wrapper-border:(
            context:(css-path: '.custom-button:hover'),
                        properties: (
                                border-bottom: 1px dotted #cccccc,
		                        border-top: 1px dotted #cccccc
                        )            
           ),
        top-search-panel-search-text:(
                        context:(css-path: '.tablet-up.header-category'),
                        properties: (
                        color:#000000,
                        size:(font-size:2),
                        font-style: (style: semi_bold, font-family: "&base-font")                       
                        )
                    ),
        sub-title:(
                        context:(css-path: '.header-category-wrapper sub-title' ),
                        properties: (
                        color:#000000,  
                        size:(font-size:1.4, padding:(0.5, 0), margin:0),                      
                        font-style: (style: bold, font-family: "&base-font")
                        )
                    )
        ),
    onTablet:(
         landing-title:(
                        context:(css-path: '.latest-news h3, .images-videos h3, .lookbooks h3, .products h3, .showcasecategorylisting h3, .athletes-ambassadors h3' ),
                        properties: (                              
                            size:(font-size:4.2,line-height:4.4),
			                font-style: (style: bold, font-family: "&base-font") 	
                        )
                    ),
         about-title:(
                        context:(css-path: '.newsroom-info .about-this-newsroom-title' ),
                        properties: (                            
                            size:(font-size:4.2),   
  			                font-style: (style: bold, font-family: "&base-font")	
                        )
                    ),
         contact-title:(
                        context:(css-path: '.newsroom-info .contact-us-title' ),
                        properties: (  
                            size:(font-size:4.2),
                            font-style: (style: bold, font-family: "&base-font")	
                        )
                    ),
          see-all:(
                        context:(css-path: '.see-all h4 a' ),
                        properties: (                       
                            size:(font-size:1.8) 
                        )
          ),
          see-more:(
                        context:(css-path: '.see-all h4 a' ),
                        properties: (                       
                            size:(font-size:2.0)  ,
                             color:#3cbef4
                        )
          ),
        sub-title:(
                        context:(css-path: '.header-category-wrapper sub-title' ),
                        properties: (
                        color:#000000,  
                        size:(font-size:1.4, padding:(0.5, 0),margin:0),                      
                        font-style: (style: bold, font-family: "&base-font")
                        )
                    )
        ),
    onMobile:(         
         landing-title:(
                        context:(css-path: '.latest-news h3, .images-videos h3, .lookbooks h3, .products h3, .showcasecategorylisting h3, .athletes-ambassadors h3' ),
                        properties: (                                 
                            size:(font-size:3.2),
			                font-style: (style: bold, font-family: "&base-font")
                        )
                    ),
         about-title:(
                        context:(css-path: '.newsroom-info .about-this-newsroom-title' ),
                        properties: (   
                            color:#00407d,                         
                            size:(font-size:2.8),   
			                font-style: (style: bold, font-family: "&base-font")
                        )
                    ),
         contact-title:(
                        context:(css-path: '.newsroom-info .contact-us-title' ),
                        properties: (                            
                            color:#00407d,
                            size:(font-size:2.8),
			                font-style: (style: bold, font-family: "&base-font")
                        )
                    ),
          see-all:(
                        context:(css-path: '.see-all h4 a' ),
                        properties: (      
                        color:#3cbef4,                          
                        size:(font-size:2.4)                                             
                        )
                    ),
          see-more:(
                        context:(css-path: '.see-all h4 a' ),
                        properties: (                       
                            size:(font-size:2.0)  ,
                             color:#3cbef4
                        )
          ),
          sub-title:(
                        context:(css-path: '.header-category-wrapper sub-title' ),
                        properties: (
                        color:#000000,  
                        size:(font-size:1.2, padding:(0.5, 0),margin:0),                      
                        font-style: (style: bold, font-family: "&base-font")
                        )
                    )
          )    
)