@import "settings";
@import "foundation";
@import "variables";
@import "include-maps";
@import "foundation-override";

/* footer to bot */
html {
	height: 100%;
	background: $html-background;
	color: $html-color;
	* {
		outline: none; 
	}
}

input::-ms-clear, input::-ms-reveal{
    display: none;
}
 input:-ms-input-placeholder {
    color: #cccccc;
  }


@media #{$mobile} { 
	html {
		font-family: "mobile";
	}
}
@media #{$tablet} {
	html {
		font-family: "tablet";
	}
}
@media #{$desktop} { 
	html {
		font-family: "desktop";
	}
}


a, a:hover {
	cursor: pointer;
}

body {
	height: 100%;
	background: $body-background;
	color: $body-color;
	min-width: 320px;
	width: 100%;
	@include font_regular();
}

@media (min-width: 1217px) {
  html {
    font-size: 62.5%;
  }
}

i.icons-see_all_arrow, i.icons-arrow-next {
	@include size(margin-left, 0.5);
	position: relative;
}
.see-allhide{
    display:none;
}
.see-allshow{
    display:block;
}
/* Logreg changes starts here */
.header-live-link i.icons-see_all_arrow {
    vertical-align: bottom;
  margin-bottom: 2px;
    background: image-url("/Content/images/icons/see_all_arrow.png") no-repeat; 

        height: 9px;
        width: 5px;
    }
/* Logreg changes ends here */

i.icons-arrow-prev {
	@include size(margin-right, 0.5);
	position: relative;
}

i.icons-see_all_arrow {
	top: 0px;
}

i.icons-arrow-prev, i.icons-arrow-next {
	top: 4px;
}

i.icon {
	display: inline-block;
}

input {
	-webkit-border-radius: 0px!important;
	-moz-border-radius: 0px!important;
	-ms-border-radius: 0px!important;
	-o-border-radius: 0px!important;
	border-radius: 0px!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important;
}

h1 {
	@include font_bold();
    font-family:$header-top-font-family;
	@include size(font-size, $page-title-size);
	color: $black;
}
h2 {
	@include font_bold();
	@include size(font-size, 4.0);
	color: $black;
}
h3 {
	@include font_bold();
	@include size(font-size, 3.2);
	color: $black;
}
h4 {
	@include font_bold();
	@include size(font-size, 3.2);
	color: $black;
}
h5 {
	@include font_bold();
	color: $black;
	@include size(font-size, 1.6);
}
h6 {
	@include font_bold();
	color: $black;
	@include size(font-size, 1.6);
}

div.page-wrapper {
	min-height: 100%;
}

.contain-to-grid .top-bar {
	max-width: 1220px;
	margin: 0 auto;
}

.delimiter {
	border-bottom: 1px dotted #cccccc;
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* IE < 8 */
}


i.icons-arrow-menu {
	@include size(margin-right, 2.5);
}

i.icon-search-cross {
	background: image-url("/Content/images/icons/search-cross.png") top no-repeat;
	height: 16px;
	width: 16px;
	display: block;
}
i.icon-search-cross:hover {
	background: image-url("/Content/images/icons/search-cross.png") bottom no-repeat;
}

i.icon-cross {
	background: image-url("/Content/images/icons/cross.png") top no-repeat;
	height: 16px;
	width: 16px;
	display: block;
}
i.icon-cross:hover {
	background: image-url("/Content/images/icons/cross.png") bottom no-repeat;
}

.site-menu-header h3 {
	@include font_cond_bold();
	@include size(font-size, 2);
}

.section-menu-header h3 {
	@include font_bold();
	@include size(font-size, 1.6);
}

/* top header with logo*/
.header-top {
    //background-color: $header-top;
    @include apply-Desktop($map-main,header-background);
    height: auto;
}

#country-select {
    display: none;
}

#selectedLocale {
	width: 10px;
}

/* mid header with menu */

.header-mid {   
	position: relative;    
    @include apply-Desktop($map-mobile-menu,menu-item);
	.header-mid-container {
		position: relative;        
        //color:$category-menu-forecolor;
		.borders {
            @include apply-Desktop($map-main,menu-border);		
		}
	}
	form {
		@include size(margin, 0);
	}
}

.header-mid .search {
    position: relative;
	@include size(margin-top, 0.8);
}

.open-search {
	display: inline!important;
	img {
		@include size(width, 2.4);
		@include size(height, 2.4);
		@include size(margin, 0.8, 0.8, 0, 1.6);
	}
}

.search input {
    border: 1px solid #e5e5e5;
    outline: none;
	margin-bottom: 0;
	//color: $search-input;
    @include apply-Desktop($map-main,search-title);		
    //font-family:$header-top-menu-font-family;
	//@include size(font-size, $header-promo-panel-menu-size);	
    //font-weight:$menu-font-weight;
}

.category-description {
    color: $category-description-color;
}

@media #{$desktop} { 
	.header-mid {
		.search {
			&.short {
				input {
					@include size(width, 18);
				}
			}
			input {
				padding: 6px 60px 6px 10px;
				@include size(width, 40);
				position: absolute;
				@include size(right, 0);
			}
		}
	}
}

i.icons-active-arrow {
    position: absolute;
    margin: 0 auto;
	top: -7px;
    display: none;
	left: 50%;
	@include size(margin-left, -0.5);
}

.search-menu {
	background-color: red;
	@include size(margin-top, 0.2);
	border-bottom: 1px dotted #c9c9c9;
	position: relative;
	input {
		border: 1px solid #e5e5e5;
		outline: none;
		@include size(margin, 0.5, 0);
	}
	a.btn-search {
		position: absolute;
		top: 12px;
		right: 2px;
	}
}


/* latest news and grids*/

.news-item, .lookbook-item, .product-item, .showcasecategorylisting-item,
.news-item:focus, .lookbook-item:focus, .product-item:focus, .showcasecategorylisting-item:focus,
.news-item:active, .lookbook-item:active, .product-item:active, .showcasecategorylisting-item:active {
	position: relative;
	background: #ffffff;
	.img-wrap {
		img {
			@include box-shadow(0px, 0px, 8px, $listing-img-container-shadow);
		}
		
	}
}

.news-item:hover, .lookbook-item:hover, .product-item:hover, .showcasecategorylisting-item:hover {
	.img-wrap {
		img {
			@include box-shadow(0px, 0px, 8px, rgba(0,0,0,0.3));
		}		
	}
	.context-header {
		a {
			text-decoration: underline;
		}
	}
}

.img-wrap {
    position: relative;
}

@media #{$mobile} { 
	.grid-item-text {
		@include size(padding, 0.8);
	}
	.showcase-layout{
		h1{
			@include size(font-size, 2.4);
            color: $detail-panel-title-color;
		}
	}
}
@media #{$tablet} {
	.grid-item-text {
		@include size(padding, 1.6, 0, 0, 0);
	}	
	.showcase-layout{
		h1{
			@include size(font-size, 3.2);
            color: $detail-panel-title-color;
		}
	}
}
@media #{$desktop} {
	.grid-item-text {
		@include size(padding, 0);
		@include size(margin-top, 1.6);
	}	
	.landing-pages{
		.grid-item-text {
			@include size(margin-top, 1.6);
	}	
	}
	.showcase-layout{
		h1{
			@include size(font-size, 3.2);
            color: $detail-panel-title-color;
		}
	}

}
.grid-item-text {    
	h5 {
		@include size(margin, 0, 0, 0, 0);
		@include size(font-size, 1.6);
		@include size(line-height, 2);
		 a {
			color: $listing-item-title-color;
		}
	}

	.grid-context {
		position:relative;
		p {
			@include font_regular();
		}
	}
	.news-footer, .product-footer {
		border-top: 1px dotted #d4d4d4;		
	}

	.icons {
		float: left;
		ul {
			margin-left: 0;
			@include size(font-size, 0);
			li {
				list-style: none;
				display: inline-block;
				padding: 0;
				color: $listing-news-footer-number-color;
				margin-left: 4px;
				@include size(font-size, 1.2);
				@include size(line-height, 1.8);
				&:first-of-type {
					margin-left: 0;
				}
				&:after {
					content: "|";
					position: relative;
					top: -1px;
				}
				&:last-of-type {
					&:after {
						content: "";
					}
				}
				span {
					padding-right: 4px;
					position: relative;
					top: -1px;
					color: #999999;
				}

			}
		}
	}
}
@media #{$mobile} {
	.icons {
		ul {
			li {
				i {
					@include scale(0.6);
					margin-right: 0px;
				}
				span {
					display: none;
				}
			}
		}
	}
}
@media #{$tablet} {
	.icons {
		ul {
			li {
				i {
					@include scale(1);
					margin-right: 4px;
				}
				span {
					display: inline;
				}
			}
		}
	}
}

/* see all */
.see-all {
	h4 {
		@include size(margin, 0);		
		@include size(padding-bottom, 3.2);
		border-bottom: 1px dotted #cccccc;	
		@include size(font-size, 0);		
	}
	 a {		 
		img {
			position: relative;
			top: 2px;
			@include size(margin-left, 0.5);
		}
	}
}

@media #{$mobile} {
	.see-all {
		h4 {
			a {
				@include apply-Mobile($map-main,see-all);
			}
		}
	}	
}
@media #{$tablet} {
	.see-all {
		h4 {
			@include size(padding-bottom, 6.4);
			a {
				@include apply-Tablet($map-main,see-all);
			}
		}
	}	
}
@media #{$desktop} {
	.see-all {
		h4 {
			@include size(padding-bottom, 3.2);
			a {
				@include apply-Desktop($map-main,see-all);
			}
		}
	}	
}

.see-more {
	@include size(margin-bottom, 6.4);
	h4 {
		@include size(margin, 0, 0, 3.2, 0);
		@include size(font-size, 2.4)
	}
	 a {
        @include apply-Desktop($map-main,see-more);		
		i {
			position: relative;
			@include size(margin-left, 0.5);
		}
	}
}

/* images & videos*/

.images-videos-items {
	.img-item {
		> a {
			display: block;
			width: 100%;
		}
		.grid-item-text {
			@include size(padding, 1.6, 0, 0 ,0);
		}
	}
	.img-item > a img {
		@include box-shadow(0px, 0px, 10px, 1px, #efefef);
		width: 100%;
	}
	.img-item > a img:hover {
		@include box-shadow(0px, 0px, 10px, 2px, #d6d6d6);
	}
	.img-item:hover {
		.context-header {
			text-decoration: underline;
			
		}
	}
}
.showcasedetail 
{
    .images-videos-items {
	    .img-item {
		    div.grid-item-text {
			    @include size(padding, 0, 0, 6 ,0);
		    }
	    }
    }
     .contacts .block-grid.four-up{       
           margin: 0 -10px !important;
    }   
     &.detail-pages.showcase-layout{
		.detail-content-wpapper {
            @include size(margin-top, -3);
		}		
    }
      &.detail-pages{
         	.detail-content {
                 .detail-content-wpapper {
				.six {
					width: 100%!important;
				    }
                }
         	}
     }
      &.detail-pages{
         	.detail-content {
                 .detail-panel
                              {
                     
         	                 }
                 .media.detail-panel
                     {
                                    @include size(padding, 0, 0, 0 ,0);
                 }
         	}
      }    
}
.showcase-item {
	.img-item {
		.context-header {
			text-align: center;
		}
	}
	.img-item:hover {
		.context-header {
			text-decoration: none;
		}
	}
}
.athletes-items {
	li {
		.athletes-item {
			.img-wrap {
				a {
					img {
						width: 100%;
					}
				}
				@include box-shadow(0px, 0px, 10px, 1px, #efefef);
			}
			.grid-item-text {				
				.context-header {
					height: 21px;
				}
			}
		}	
		.athletes-item:hover {
			.img-wrap {
				@include box-shadow(0px, 0px, 10px, 2px, #d6d6d6);
			}
			.context-header {
				a {
					text-decoration: underline;
				}
			}
		}
	}
}

@media #{$mobile} { 
	.latest-news, .images-videos, .lookbooks, .products, .showcasecategorylisting, .athletes-ambassadors {
		h3 {
            @include apply-Mobile($map-main,landing-title);	
			//@include size(font-size, $mobile-page-title-size);
		}
	}
	.showcase-item .img-item .context-header {
		text-align: left;
	}	
}
@media #{$tablet} {
	.latest-news, .images-videos, .lookbooks, .products, .showcasecategorylisting, .athletes-ambassadors {
		h3 {
            @include apply-Tablet($map-main,landing-title);				
		}
	}
	.showcase-item .img-item .context-header {
		text-align: center;
	}
}

.latest-news, .images-videos, .lookbooks, .products, .showcasecategorylisting, .athletes-ambassadors {	
	ul {
		li {
			h5 a {
				@include font_bold();
			}
			.product-footer, .news-footer {
				span {
					@include font_regular();
				}
			}
			.icons {
				@include font_regular();
			}
			.date {
				@include font_regular();
			}
		}
	}
}
.lookbooks	{
	ul {
		li {
			.date {
				@include font_bold();
			}
		}
	}
}


.newsroom-info h3 {
	@include font_cond_bold();
}

.custom-button {
	display: inline-block;
	height: 32px;
    text-align: center;
    /*color: $custom-button-color;    
    background: $custom-button-background;*/
    border-bottom: 1px solid #9c9c9c;
    border-right: 1px solid #9c9c9c;
	@include box-shadow(1px, 1px, 5px, 0px, #DBDBDB);
	vertical-align: middle;
	line-height: 30px;
	/*@include font_bold();*/
	@include size(font-size, 1.6);
    @include apply-Desktop($map-main,custom-button);
}

.custom-button:hover {
    @include apply-Desktop($map-main,custom-button-hover);
	/*color: $custom-button-hover-color;
	background: $custom-button-hover-background;*/
}

.rss-item-wrapper .custom-button
{
    color:inherit !important;
    background-color: inherit;
}
/* Error page */
.error-page {
    p, h3 {
        @include font_regular();
        color: $error-text-color;
    }

    h2, h4 {
        @include font_semi_bold();
        color: $error-title-color;
    }
}

@media #{$mobile} {
	.simple-body {
		.header-top {
			.row {
				border-bottom: none;
			}
		}
	}
	.error-page {
		h4 {
			@include size(font-size, 2.4);
			@include size(line-height, 2.4);
		}
	}
}

@media #{$tablet} {
	.simple-body {
		.header-top {
			.row {
				border-bottom: 1px dotted #cccccc;
			}
		}
	}
	.error-page {
		h2 {
			@include size(font-size, 4.8);
			@include size(line-height, 4.8);
		}
	}
}

@media #{$desktop} {

}

.latest-news, .images-videos, .lookbooks, .products,  .showcasecategorylisting, .athletes-ambassadors {
	h3 {
		@include size(margin, 0);
	}
}

@media #{$mobile} {
	.latest-news, .lookbooks, .products, .showcasecategorylisting, .athletes-ambassadors {
		ul.block-grid {
			> li {
				@include size(padding, 1.6);
			}
		}
	}
}

@media #{$tablet} {
	.latest-news, .images-videos, .lookbooks, .products, .showcasecategorylisting, .athletes-ambassadors {
		ul.block-grid {
			> li {
				@include size(padding, 2.4, 1.6, 2.4, 1.6);
			}
		}
	}
}

@media #{$desktop} {
	.latest-news, .images-videos, .lookbooks, .products, .showcasecategorylisting, .athletes-ambassadors {
		ul.block-grid {
			> li {
				@include size(padding, 3.2, 1.5, 3.2, 1.5);
			}
		}
	}
	.showcase-item .img-item .context-header {
		text-align: left;
	}
}

.breadcrumbs-wrapper {
     &.breadcrumbs-home {
        .breadcrumbs {
            @include size(padding, 1.2, 0, 0, 0);
            @include size(margin-bottom, 0);
        }
    }
    /*&.breadcrumbs-error {
        .breadcrumbs {
            @include size(padding, 0, 0, 0,7.2);
            @include size(margin-bottom, 0);
            position: absolute;
            top: -160px;
        }
    }*/
	.breadcrumbs {
		@include size(padding, 3.2, 0, 0, 0);
		@include size(margin-bottom, 0);
	}
}

/* simple layout*/

.no-results-wraper {
	display: table;
	width: 100%;
	text-align: center;	
	h1 {
		@include apply-Desktop($map-main,no-result);
		display: table-cell;
		vertical-align: middle;
	}
}

@media #{$mobile} {
	.no-results-wraper {
		height: 300px;		
	}
}

@media #{$tablet} {
	.no-results-wraper {
		height: 450px;		
	}
}

/* iframe */

.iframe {
	@include size(margin, 0.2, 0, 0, 0);
	> * {
		max-width: 100%;
		width: 100%;
	}
}
.iframe-layout {
	@include size(margin, 2, 0);
	> * {
	}
}

.sub-header{
	@include size(padding-top, 3.2);
	@include size(padding-bottom, 2.4);
	border-bottom: 1px dotted #cccccc;
	border-top: 1px dotted #cccccc;
}
.separator{
	@include size(padding-bottom, 1.8);
	border-bottom:1px dotted #cccccc;
}


.ellipsis-overflow.grid-context .ellipsis-overflow-more{
	position: absolute;
	bottom: 0;
}

span.separator-icon{
	display: inline-block;
}

.rss .icons-rss {
	cursor: pointer;
}
li.rss{
	@include size(font-size, 0);
	position: relative;
	top: -2px;
}

//rss popup
.rss-btn-wrapper {
	i {
		display: none;
	}
}
.breadcrumbs-wrapper {
	.rss-btn-wrapper {
		i.icons-rss {
			display: inline-block;

		}
	}	
}
.header-category-wrapper {
	.rss-btn-wrapper {
		i.icons-rss-large {
			display: inline-block;
		}
	}	
}
.more-from.detail-panel {
	.rss-btn-wrapper {
		i.icons-rss-large-grey {
			display: inline-block;
		}
	}	
}


	.header-category-wrapper {
		.rss-btn-wrapper {
			i.icons-rss-large {
				display: inline-block;
			}
		}	
	}
@media #{$tablet} {
	.header-category-wrapper {
		&.no-breadcrumbs {
			.rss-btn-wrapper {
				i.icons-rss-large {
					display: inline-block;
				}
			}	
		}
		.rss-btn-wrapper {
			i.icons-rss-large {
				display: none;
			}
		}
	}
	.breadcrumbs-wrapper {
		.rss-btn-wrapper {
			position: relative;
			bottom: 5px;
		}
	}
}

.header-category-wrapper {
	@include size(margin-top, 3.2);
	.open-rss {
		margin-left: 10px;
	}
}


@media #{$mobile} {
	.header-category-wrapper {
        .sub-title {
            @include apply-Mobile($map-main,sub-title);
        }	
    }
}

@media #{$tablet} {
	.header-category-wrapper {
        .sub-title {
            @include apply-Tablet($map-main,sub-title);
        }	
    }
}

@media #{$desktop} {
	.header-category-wrapper {
        .sub-title {
            @include apply-Desktop($map-main,sub-title);
        }	
    }
}

.subscribe-button-wrapper {
    display: table-cell;
    width: 116px;
    @include size(font-size, 0);
    vertical-align: top;

    a.subscribe-button {
    }
}

.rss-popup-container {
	z-index:99;/*GP : changed z-index to high value to make it visible above the rotator panel in panels listing view*/
	position: absolute;
	display: none;
	background: #eeeeee;
	border:1px solid #e2e2e2;
	@include box-shadow(1, 15, 5, 0, #dbdbdb);
	h2 {
		@include size(padding, 0);
		@include size(margin, 0, 0 , 0.5, 0);
		font-size: 12px;
		@include font_regular();
		color: #333333;
	}
	input {
		display: inline-block;
		background: #ffffff;
		width: 423px;
		height: 30px;
		border: 1px solid #e5e5e5;
		@include size(margin-left, 1.2);
		@include size(padding, 0, 1);
		cursor: text;
	}
	a.xml-button {
		display: inline-block;
		height: 30px;
		@include font_bold();
		@include size(margin-left, 0.5);
		@include size(font-size, 1.8);
		@include size(line-height, 3);			
		color: #333;		
		text-align: center;
		background-color: #e9e9e9;
		border-bottom: 1px solid #9c9c9c;
		border-right: 1px solid #9c9c9c;
		@include box-shadow(1, 15, 5, 0, #dbdbdb);
		vertical-align: middle;
		text-decoration: none;
	}
	
}
.more-from {
	.rss-btn-wrapper {
		@include size(margin-bottom, 0);
		position: static;
	}
}
.rss-popup-container {
	padding: 10px;
	input {
		margin: 0;
	}
}
@media #{$mobile} {
	.rss-btn-wrapper {
		display: inline-block;
		position: static;
	}
	.rss-popup-container {
		width: 100%;
		left: 0;
		height: auto;
		margin-top: 10px;
		a.popup-close {
			float: right;
		}
		input {
			width: 100%;
		}
		a.xml-button {
			width: 100%;
			margin: 10px 0 0 0;
		}
	}
	.more-from {
		position: relative;
		.rss-btn-wrapper {
		}
		
	}
    .subscribe-button-wrapper {
        width: 107px;
    }

}

@media #{$tablet} {
	.rss-btn-wrapper {
		display: inline-block;
		position: relative;
	}
	.header-category-wrapper {
		.rss-btn-wrapper {
			position: static;
		}
		.rss-popup-container {
			left: 10%;
		}
	}
	.rss-popup-container {
		width: 350px;
		left: -10px;
		a.popup-close {
			display: none;
		}
		input {
			width: 236px;
		}
		a.xml-button {
			width: 76px;
			position: relative;
			bottom: 1px;
			margin: 0;
		}
	}
	.more-from {
		.rss-popup-container {
		}
		.see-all {
			i {
				top: 2px;
			}
		}		
	}
	/*TNMMCLITE-64*/
	.home {
		.see-all {
				i.icons-see_all_arrow {
					top: 0px;
				 }
		}
	}

}

@media #{$desktop} { 
	.header-category-wrapper {
		.rss-btn-wrapper {
			position: relative;
		}
	}
	.rss-popup-container {
		width: 490px;	
		input {
			width: 385px;
			line-height: 34px;
		}
		a.xml-button {
			bottom: 4px;
		}
	}
	.more-from {
		.rss-popup-container {
			width: 320px;
			left: 0;
			input {
				width: 215px;
			}
		}
	}
}

@media only screen and (min-width: 880px) {
	.more-from {
		.rss-popup-container {
			width: 370px;
			input {
				width: 265px;
			}
		}
	}
}
@media only screen and (min-width: 1010px) {
	.more-from {
		.rss-popup-container {
			width: 370px;
			input {
				width: 265px;
			}
		}
	}
}

@media only screen and (min-width: 1130px) {
	.more-from {
		.rss-popup-container {
			width: 490px;	
			input {
				width: 385px;
			}
		}
	}
}

.tablet-up.header-category {
    @include apply-Desktop($map-main,listing-title);
	display: inline;
}
.main-content .columns h3 {
	a {
        @include apply-Desktop($map-main,landing-title);	
	}
}

.subscribe-input::-webkit-input-placeholder { 
    color:$black;
}

.subscribe-input:-moz-placeholder { 
    color:$black;
}
.subscribe-input::-moz-placeholder { 
    color:$black;
}

.subscribe-input:-ms-input-placeholder { 
    color:$black;
}

.page-separator {
	border-bottom: 1px dotted #cccccc;	
}
.layout-separator {
	border-bottom: 1px dotted #cccccc;
	@include size(margin, 0, 1.5);
}

.document-asset-listing{
	 #desktop_tablet, #mobile_table {
		width: 100%;
		display: table;
		border: 0;
		border-spacing: inherit;
	}
	#desktop_tablet thead, #mobile_table thead {
	  background: #000;
	}
	#desktop_tablet thead tr th,
	#mobile_table thead tr th {
	  color: #fff;
	  text-transform: lowercase;
	  font-family: arial;
	  font-size:1.6rem;
	  padding: 18px 10px 19px;
	}
	#desktop_tablet{
		.date-td{ 
			padding-left: 26px;
		}
	} 
	#mobile_table{
		.date-td{ 
			padding-left: 16px;
		}
	} 

	#desktop_tablet thead tr th:first-letter,
	#mobile_table thead tr th:first-letter {
		text-transform: uppercase;
	}


	ul.pagination li a span {
		text-transform: uppercase;
	}
	.breadcrumbs{
		li{
			a{
				text-transform: uppercase;
			}
		}
	}
	.pagination-centered{
		padding-top: 27px;
		padding-bottom: 46px;
	}
	.breadcrumbs-wrapper{
		 .breadcrumbs {
			padding: 2.4rem 0rem 0rem 0rem;
		 }
	}
	.header-category-wrapper{
		margin-top: 1.6rem;
		margin-bottom: 2.8rem;
	}
	.tablet-up.header-category {
		text-transform: uppercase;
	}
	#desktop_tablet, #mobile_table{
		border-collapse: collapse;
		tr:nth-child(even) {
			background: #E8E8E8;
		}
		tr{
			td{
				border-top: 1px solid #CCCCCC;
				border-bottom: 1px solid #CCCCCC;
				font-weight: bold;
				font-family: arial;
				font-size:1.6rem;
				padding-top:2.6rem;
				padding-bottom:2.6rem;
				color:#000;
				
				a{
					color: #000;
					text-decoration: underline;
				}:hover{
					color:#ddb320;
					text-decoration: none;
				}
			}
			td:first-child{ 
				font-weight: normal;
				padding-left: 26px;
			}
		}
	}
}


@media #{$mobile} { 
	.document-asset-listing{
		#mobile_table {
			display: table;
			.date-td{
			  width:28%;
			}
			.title-td {
				width: 72%;
			}
			tr{
				th{
					font-size: 1.4rem;
				}
				td{
					font-size: 1.2rem;
					padding-top: 1.2rem;
					padding-bottom: 1.2rem;
					vertical-align: middle;
					padding-right: 0.7rem;
				}
				td:first-child{ 
					font-weight: normal;
					padding-left: 16px;
					text-transform: uppercase;
				}
			}
		}
		#desktop_tablet{
			display: none;
		}
	}
}
@media #{$tablet} { 
	.document-asset-listing{
		#desktop_tablet{
			display: table;
			tr{
				td{
					padding-top: 1.6rem;
					padding-bottom: 1.6rem;
					vertical-align: middle;
				}
				td:first-child{ 
					font-size: 1.4rem;
				}
			}
			.date-td{
			  width:18%;
			}
			.title-td {
				width: 57%;
			}
			.download-td {
				width: 25%;
			} 
		} 
		#mobile_table{
			display: none;
		}
	} 
}
@media #{$desktop} { 
	.document-asset-listing{
		#desktop_tablet {
			display: table;
			.date-td{
			  width:15%;
		   }
			.title-td {
				width: 70%;
			}
			.download-td {
				width: 15%;
			}
			tr{
				td{
					padding-top:2.6rem;
					padding-bottom:2.6rem;
				}
				td:first-child{ 
					font-weight: normal;
					padding-left: 26px;
				}
			}
		}
		#mobile_table{
			display: none;
		}
	}
}

/* Newsroom info */
/*.newsroom-info {	
	.about-this-newsroom-title {
        @include apply-Desktop($map-main,about-title);        
	}
	.about-this-newsroom-description {
		@include font_regular();
	}	
	.contact-us-title {
		@include apply-Desktop($map-main,contact-title);		
	}
}*/


@import "media";
@import "story-media";
@import "popup";
@import "rotator";
@import "panels";
@import "search";
@import "cookies";
@import "rss";
@import "amp";
@import "landing-pages";
@import "detail-pages";
@import "contacts";
@import "hover-download-icons";
@import "simple-layout";
@import "mediacart-empty";
@import "mediacart";
@import "mobile-menu";
@import "country-dropdown";
@import "logreg-header";
@import "logreg";
@import "threelevel-menu";
@import "recaptcha";
@import "topdown-menu";
@import "subscribe";
@import "_jumbo-menu";
@import "advancesearch";