.social-buttons-sprite, .social-buttons-email, .social-buttons-embed, .social-buttons-fb, .social-buttons-link, .social-buttons-more, .social-buttons-pint, .social-buttons-tw {
  background-size: image-width('social-buttons.png') image-height('social-buttons.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.3) {
.social-buttons-sprite, .social-buttons-email, .social-buttons-embed, .social-buttons-fb, .social-buttons-link, .social-buttons-more, .social-buttons-pint, .social-buttons-tw {
    background-image: url('/Content/images/social-buttons2x.png');
  }
}
