﻿$map-breadcrumbs:(
    base-properties:(
        base-font:'Arial,Helvetica,Verdana,sans-serif', 
        base-color:'red'        
    ),
    onDesktop:(
        breadcrumb-anchor:(
                        context:(css-path: 'ul.breadcrumbs li a' ),
                        properties: (
                             font-style: (style: bold, font-family: "&base-font"),
							   size:(font-size:1.4),
							    color:#000000, 
								text-transform: none        
                        )
                    ),

            ), 
   )