﻿$map-contact-pages:(
    base-properties:(
        base-font:'Arial,Helvetica,Verdana,sans-serif', 
        base-color:'red'        
    ),
    onDesktop:(
				contact-title:(
                        context:(css-path: '.contact-listing h1' ),
                        properties: (                                               
                        font-style: (font-family: "&base-font"),
                        color: #00407d,
                        border-bottom: 1px dotted #cccccc,
                        size:(font-size:4.8,padding-bottom:3.2,margin:(6.4, 0, 0, 0))
                        )
                    ),	
                contact-title-bc:(
                        context:(css-path: '.contact-listing h1' ),
                        properties: (  	
                        size:(margin:(3.2, 0, 0, 0))
                        )
                    )				      
            ), 
    onTablet:(
                 contact-title:(
                        context:(css-path: '.contact-listing h1' ),
                        properties: (                                                          
                            color: #00407d,
				            font-style: (font-family: "&base-font"),
						    size:(font-size:3.8,padding-bottom:3.2,margin:(6.4, 0, 0, 0))                        
                        )
                    ),	            
        ),
    onMobile:(
                contact-title:(
                        context:(css-path: '.contact-listing h1' ),
                        properties: (    
                            color: #00407d,                     
                            font-style: (font-family: "&base-font"),
						    size:(font-size:3.2,padding-bottom:1.6,margin:(3.2, 0, 0, 0)),
                            border-bottom: 1px dotted #cccccc
                        )
                    ),				
          )    
)