i.icons-phone-icon, i.icons-mobile-phone-icon {
    @include size(margin-right, 0.8);
}

div.email {
    /*TNMCLITE-33*/
    position: relative;
    width: 92%;
    word-wrap: break-word;

    i.icons-email-icon, i.icons-active-email-icon {
        position: absolute;
    }

    i.icons-active-email-icon {
        display: none;
    }

    span {
        @include size(margin-left, 1.8rem);
    }
}

.contacts-content {
    div.email {
        i.icons-active-email-icon {
            bottom: 7px;
        }
    }
}

.name {
    color: $contact-name-color;
    @include font_semi_bold();
}

.position, .address, .email, .phone, .mobile-phone {
    @include font_regular();
    color: $contact-detail-color;
}

.received-contact {
    > div {
        @include size(padding, 0.2, 0);

        &.phone {
            @include size(margin-bottom, 0);
        }
    }

    > div:first-child {
        @include size(padding-top, 0);
        @include size(margin-top, 0);
    }

    .name:hover {
        color: $contact-name-hover;
        text-decoration: underline;
        cursor: pointer;
    }

    .email:hover {
        text-decoration: underline;
    }
}

.contacts-content:hover, .received-contact:hover {
    cursor: pointer;

    .name {
        color: $contact-name-hover;
        text-decoration: underline;
    }
}

@media #{$mobile} {
    .name {
        @include size(font-size, 1.4);
        /*TNMMCLITE-3556*/
        @include size(line-height, 2.0);
        width: 85%; /*TNMMCLITE-34*/
    }

    .position, .address, .email, .phone, .mobile-phone {
        /*TNMMCLITE-3556*/
        @include size(font-size, 1.2);
        @include size(line-height, 2.0);
        @include size(padding-top, 0.8);
    }

    .sub-header {
        @include size(padding-bottom, 2.4);
        @include size(padding-top, 1.6);
    }

    .contact-listing {
        h1 {
            @include apply-Mobile($map-contact-pages,contact-title);
        }

        h4 {
            @include size(font-size, 2.0);
            line-height: 1.2;
        }

        h5 {
            @include size(font-size, 1.4);
        }

        .contact-select {
            padding: 6px 0;
            width: 100%;
        }

        .block-grid {
            li {
                &.contact-item {
                    @include size(padding, 2.4, 1.2, 0, 1.2);

                    .contacts-content {
                        @include size(padding-bottom, 2.4);
                        border-bottom: 1px dotted $contacts-border-color;
                    }
                }
            }
        }
    }

    .contact-us-wrapper.gated-wrapper {
        .contact-us-title {
            @include size(padding-bottom, 1.2);
        }

        .six {
            width: 100% !important;

            .form-group {
                @include size(padding-top, 2.2);
            }

            #logregContactPopUp span {
                @include size(font-size, 1.8);
                color: #000000;
                font-weight: bold;
                display: block;
                @include size(max-width, 29);
            }

            .name.gated, .position.gated, .address.gated, .email.gated, .phone.gated, .mobile-phone.gated {
                @include size(padding, 0.8, 0);
            }

            .gated {
                @include size(line-height, 0.8);

                span {
                    background-color: #edeef0;
                    display: inline-block;
                    @include size(width,28.9);
                    @include size(line-height, 0.8);
                }
            }

            .name span.gated-name {
                @include size(width,28.9);
                display: block;
            }

            .phone span.gated-phone {
                @include size(width,26.1);
                @include size(line-height, 0.8);
                @include size(margin-left, 1.8);
            }

            .mobile-phone span.gated-mobile-phone {
                @include size(width,26.1);
                @include size(line-height, 0.8);
                @include size(margin-left, 1.6);
            }

            .email {
                @include size(width,29);

                span.gated-email {
                    @include size(width,26.1);
                    @include size(margin-left, 1.4);
                }
            }

            .address span.gated-address {
                @include size(height, 0.8);
            }
        }
    }
}

@media #{$tablet} {
    .name {
        @include size(font-size, 2);
        @include size(line-height, 2);
    }

    .position, .address, .email, .phone, .mobile-phone {
        /*TNMMCLITE-3556*/
        @include size(font-size, 1.4);
        @include size(padding-top, 1.6);
    }

    .sub-header {
        @include size(padding-bottom, 3.2);
        @include size(padding-top, 2.6);
    }

    .contact-listing {
        h1 {
            @include apply-Tablet($map-contact-pages,contact-title);
        }

        h5 {
            @include size(font-size, 1.6);
        }

        .contact-select {
            width: 40%;
        }

        .block-grid {
            li {
                &.contact-item {
                    @include size(padding, 4.8, 1.2, 0, 1.2);

                    .contacts-content {
                        @include size(padding-bottom, 4.8);
                        border-bottom: 1px dotted $contacts-border-color;
                    }
                }
            }

            &:nth-child(3n+1) {
                clear: none;
            }
        }
    }

    .contact-us-wrapper.gated-wrapper {
        .contact-us-title {
            @include size(padding-bottom, 1.2);
        }

        .six {
            width: 100% !important;

            .form-group {
                @include size(padding-top, 2.2);
            }

            #logregContactPopUp span {
                @include size(font-size, 1.8);
                color: #000000;
                font-weight: bold;
                display: block;
                @include size(max-width, 29);
            }

            .name.gated, .position.gated, .address.gated, .email.gated, .phone.gated, .mobile-phone.gated {
                @include size(padding, 0.8, 0);
            }

            .gated {
                @include size(line-height, 0.8);

                span {
                    background-color: #edeef0;
                    display: inline-block;
                    @include size(width,32);
                    @include size(line-height, 0.8);
                }
            }

            .name span.gated-name {
                @include size(width,32);
                display: block;
            }

            .phone span.gated-phone {
                @include size(width,29.1);
                @include size(line-height, 0.8);
                @include size(margin-left, 1.8);
            }

            .mobile-phone span.gated-mobile-phone {
                @include size(width,29.1);
                @include size(line-height, 0.8);
                @include size(margin-left, 1.6);
            }

            .email {
                @include size(width,32);

                span.gated-email {
                    @include size(width,29.1);
                    @include size(margin-left, 1.4);
                }
            }

            .address span.gated-address {
                @include size(height, 0.8);
            }
        }
    }
}

@media #{$desktop} {
    .position, .address, .email, .phone, .mobile-phone {
        @include size(padding-top, 1);
    }

    .contact-listing {
    }

    .contact-listing {
        .contact-select {
            width: 23%;
        }

        h1 {
            @include apply-Desktop($map-contact-pages,contact-title);

            &.above-bc {
                @include apply-Desktop($map-contact-pages,contact-title-bc)
            }
        }

        .block-grid {
            li {
                &.contact-item {
                    @include size(padding, 2, 1.2, 0, 1.2);

                    .contacts-content {
                        @include size(padding-bottom, 4);
                        border-bottom: 1px dotted $contacts-border-color;
                    }
                }

                &:nth-child(3n+1) {
                    clear: none;
                }
            }
        }
    }
    //GATED Contacts styles
    .contact-us-wrapper.gated-wrapper {
        .contact-us-title {
            @include size(padding-bottom, 1.2);
        }

        .six {
            width: 100% !important;

            .form-group {
                @include size(padding-top, 2.2);
            }

            #logregContactPopUp span {
                @include size(font-size, 1.8);
                color: #000000;
                font-weight: bold;
                display: block;
                @include size(max-width, 29);
            }

            .name.gated, .position.gated, .address.gated, .email.gated, .phone.gated, .mobile-phone.gated {
                @include size(padding, 0.8, 0);
            }

            .gated {
                @include size(line-height, 0.8);

                span {
                    background-color: #edeef0;
                    display: inline-block;
                    @include size(width,32);
                    @include size(line-height, 0.8);
                }
            }

            .name span.gated-name {
                @include size(width,32);
                display: block;
            }

            .phone span.gated-phone {
                @include size(width,29.1);
                @include size(line-height, 0.8);
                @include size(margin-left, 1.8);
            }

            .mobile-phone span.gated-mobile-phone {
                @include size(width,29.1);
                @include size(line-height, 0.8);
                @include size(margin-left, 1.6);
            }

            .email {
                @include size(width,32);

                span.gated-email {
                    @include size(width,29.1);
                    @include size(margin-left, 1.4);
                }
            }

            .address span.gated-address {
                @include size(height, 0.8);
            }
        }
    }
}

@media #{$tablet-max} {
    .contact-listing {
        .block-grid.three-up > li:nth-child(3n+1) {
            clear: none;
        }
    }
}

.contact-listing {
    h4 {
        color: $darkgray;
        @include size(margin-top, 0);
        @include font_semi_bold();
    }

    h5 {
        @include size(margin-bottom, 0);
        color: $black;
        line-height: 1.6;
    }

    form {
        @include size(margin-bottom, 0);
    }
}
