﻿$map-cookies-pages:(
    base-properties:(
        base-font:'Arial,Helvetica,Verdana,sans-serif', 
        base-color:'red'        
    ),
    onDesktop:(
				cookies-title:(
                        context:(css-path: '.cookies-page .page-header' ),
                        properties: (   
                        color: #000000,
                        font-style: (font-family: "&base-font"),                           
						size:(font-size:5.8,margin:(3.2, 0))                        
                        )
                    ),	
                cookies-background:(
                        context:(css-path: '.cookies-page .page-header' ),
                        properties: (   
                                background: #000000,
                        )
                    ),	
                cookies-message-color:(
                        context:(css-path: '.cookies-page .page-header' ),
                        properties: (   
                                color: #ffffff,
                        )
                    ),						      
            ), 
    onTablet:(
                 cookies-title:(
                        context:(css-path: '.cookies-page .page-header' ),
                        properties: (   
                            color: #000000,
                            font-style: (font-family: "&base-font"),                           
						    size:(font-size:3.8,margin:(3.2, 0))                        
                        )
                    ),	            
        ),
    onMobile:(
                cookies-title:(
                        context:(css-path: '.cookies-page .page-header' ),
                        properties: (                         
                            color: #000000,
                            font-style: (font-family: "&base-font"),
						    size:(font-size:3.2,margin:(0, 0, 1, 0))                            
                        )
                    ),				
          )    
)