.cookies-page {
    .sub-header {
        border-bottom: none;
    }

    .sub-header {
        p {
            @include font_regular();
        }

        .message {
            background-color: yellowgreen;
            color: #000;
            padding: 7px 10px 6px 10px;
            margin-bottom: 10px;
            width: auto;
            float: left;
            font-size: 16pt;
            border-radius: 4px;
        }

        .btn-black {
            background: #000;
            padding: 7px 12px;
            border: 1px solid transparent;
            color: #fff;
            font-size: 18px;
            line-height: 22px;
            transition: all 0.3s;
            cursor: pointer;
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;

            &:hover, &:focus {
                border: 1px solid #000;
                color: #000;
                background: #fff;
            }
        }
    }
}

.cookies-message {
    display: none;
    @include apply-Desktop($map-cookies-pages,cookies-background);
    //background: $cookies-message-background;
    .row {
        h2 {
            @include font_bold();
            //color: $cookies-site-message-color;
            @include apply-Desktop($map-cookies-pages,cookies-message-color);
        }

        h5 {
            @include font_semi_bold();
            //color: $cookies-on-message-color;
            @include apply-Desktop($map-cookies-pages,cookies-message-color);
        }

        .cookies-policy-message {
            p {
                @include font_regular();
                @include apply-Desktop($map-cookies-pages,cookies-message-color);
                //color: $cookies-policy-message-color;
            }
        }

        .read-cookies-policy {
            p {
                @include font_semi_bold();

                a {
                    @include apply-Desktop($map-cookies-pages,cookies-message-color);
                    //color: $read-cookies-policy-message-color;
                }
            }

            .cookies-button-ok {
                display: inline-block;
                @include font_bold();
                @include apply-Desktop($map-cookies-pages,cookies-message-color);
                //color: $cookies-ok-button-color;
                white-space: nowrap;

                i {
                    @include size(margin-left, 0.8);
                }
            }
        }
    }
}

@media #{$mobile} {
    .cookies-page {
        .page-header {
            @include apply-Mobile($map-cookies-pages,cookies-title);
        }

        .sub-header {
            @include size(padding, 2.2, 0, 1.2, 0);

            p {
                @include size(font-size, 1.4);
                @include size(line-height, 1.8);
                @include size(margin-bottom, 1.8);
            }

            .cookies-content-wrapper {
                @include size(margin, 0, 0, 2, 0);

                .cookies-item {
                    @include size(margin, 0, 0, 1, 0);

                    div {
                        @include size(padding, 0.6, 1);
                        @include size(font-size, 1.4);
                        @include size(line-height, 1.8);
                    }

                    .content-separator {
                        width: 5px;
                    }
                }
            }
        }
    }

    .cookies-message {
        .row {
            div {
                display: block;
            }

            h2 {
                @include size(font-size, 2);
                @include size(margin, 0, 0, 1.2, 1.6);
                line-height: 1;
            }

            h5 {
                @include size(font-size, 1.6);
                @include size(margin, 3.2, 0, 0.6, 1.6);
                line-height: 1;
            }

            .cookies-policy-message {
                @include size(margin, 0, 1.6);

                p {
                    line-height: 1.3;
                }
            }

            .read-cookies-policy {
                display: block;
                @include size(margin, 0, 1.6);

                p {
                    @include size(font-size, 1.6);
                    @include size(padding-top, 1.5);
                }

                .cookies-button-ok {
                    @include size(font-size, 1.8);
                    @include size(margin-bottom, 1.6);
                    border-radius: 5px;
                    border: 1px solid #fff;
                    padding: 10px;
                    margin-bottom: 0;

                    i.tablet-up {
                        display: none;
                    }

                    i.mobile {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@media #{$tablet} {
    .cookies-page {
        .page-header {
            @include apply-Tablet($map-cookies-pages,cookies-title);
        }

        .sub-header {
            @include size(padding, 3.2, 0, 2.4, 0);

            p {
                @include size(font-size, 1.6);
                @include size(line-height, 2);
                @include size(margin-bottom, 2.4);
            }

            .cookies-content-wrapper {
                @include size(margin, 0, 0, 4, 0);

                .cookies-item {
                    @include size(margin, 0, 0, 1, 0);

                    div {
                        @include size(padding, 0.6, 1);
                        @include size(font-size, 1.6);
                        @include size(line-height, 2);
                    }

                    .content-separator {
                        width: 20px;
                    }
                }
            }
        }
    }

    .cookies-message {
        .row {
            div {
                display: table-cell;
            }

            h2 {
                @include size(font-size, 2.4);
                @include size(margin, 0, 0, 3.8, 1.6);
            }

            h5 {
                @include size(font-size, 2);
                @include size(margin, 3.6, 0, 0, 1.6);
            }

            .cookies-on {
                width: 220px;
            }

            .cookies-policy-message {
                @include size(margin-right, 1.5);

                p {
                    @include size(font-size, 1.4);
                    @include size(margin-bottom, 2.4);
                    @include size(padding, 0, 2.5, 0, 1.2);
                }
            }

            .read-cookies-policy {
                width: auto;
                @include size(margin, 0, 3, 0, 23);

                p {
                    @include size(padding-top, 2.4);
                }

                .cookies-button-ok {
                    @include size(font-size, 1.8);
                    @include size(margin-bottom, 2.4);
                    border-radius: 5px;
                    border: 1px solid #fff;
                    padding: 10px;
                    margin-bottom: 0;

                    i.tablet-up {
                        display: inline-block;
                    }

                    i.mobile {
                        display: none;
                    }
                }
            }
        }
    }
}

@media #{$desktop} {
    .cookies-page {
        .page-header {
            @include apply-Desktop($map-cookies-pages,cookies-title);
        }
    }

    .cookies-message {
        .row {
            div {
                display: table-cell;
            }

            .cookies-policy-message {
                @include size(margin-right, 0);

                p {
                    @include size(margin-bottom, 0);
                    @include size(padding, 0, 9, 1, 1.2);
                }
            }

            .read-cookies-policy {
                display: table-cell;
                @include size(margin, 0);
                width: 167px;
                padding-right: 15px;

                p {
                    @include size(font-size, 1.2);
                    @include size(padding-top, 1.2);
                    border-top: 1px dotted #c9c9c9;
                    text-align: center;
                    border: 0;
                    padding-top: 10px;
                }

                .cookies-button-ok {
                    @include size(font-size, 1.8);
                    @include size(margin-bottom, 1.2);
                    border-radius: 5px;
                    border: 1px solid #fff;
                    padding: 10px;
                    margin-bottom: 0;
                }
            }
        }
    }
}
