﻿$map-country-dd:( base-properties:(
        base-font:'Arial,Helvetica,Verdana,sans-serif',       
        base-color:'#000000'        
    ),
    onDesktop:(
        country-dd-active-font-style:(   
                context:(css-path: '#countrydropdown_wrap ul a' ),
                properties:(                     
                font-style: (font-family: "&base-font"),  
                text-decoration: none
                )
        ),            
        country-dd-active-font-size-color:(
                context:(css-path: '#countrydropdown_wrap ul li a.active' ),
                properties:(
                size:(font-size:1.4,line-height: 1.4),
                color: #000000                              
                )
        ),
         country-dd-item-text-style:(
                context:(css-path: '#countrydropdown_wrap ul ul a' ),
                properties:(
                size:(padding:(0, 2),font-size:1.2,line-height:1.2),                
                font-style: (style: regular, font-family: "&base-font"),
                color: #000000
                )
        ),   
        country-dd-item-text-color-hover:(
                context:(css-path: '#countrydropdown_wrap ul ul li a:hover'),
                properties:(
                color:#ffffff
                )
        ),                  
        country-dd-item-background:(
                context:(css-path: '#countrydropdown_wrap ul ul li' ),
                properties:(
                background-color: #ffffff                
                )
        ),            
        country-dd-item-background-hover:(
                context:(css-path: '#countrydropdown_wrap ul ul li:hover' ),
                properties:(
                background-color: #000000                
                )
        )        
    ),
    onTablet:(
         
    ),          
    onMobile:(
        country-dd-size-and-bottom-border:(
                context:(css-path: '.mobile-menu ul.countrydd' ),
                properties:(
                border-bottom:1px solid #f1f1f1, 
		        width:auto,
                margin:0
                )
        ),
        country-dd-active-item:(
                context:(css-path: '.mobile-menu ul.countrydd li a' ),
                properties:(
                background-color: #f1f1f1,
                color: #000000,               
                border-bottom:1px solid #D4D4D3 ,
                font-style: (style: regular, font-family: "&base-font"),                                                                            		 
                size:(padding-left:(2.4),padding-top:(1.7),padding-bottom:(1.7),font-size:1.6,line-height:1.6 )                               
                )
            ),   
        country-dd-item-font-and-height:(
                context:(css-path: '.mobile-menu ul.countrydd li ul.country-menu li a' ),
                properties:(                
		        size:(font-size:1.6,padding-top:1.7,padding-bottom:1.7,  line-height:1.6), 
                font-style: (style: regular, font-family: "&base-font")                
                )
            ), 
          country-dd-item-background:(
                context:(css-path: '.mobile-menu ul.countrydd li ul.country-menu li' ),
                properties:(
                background-color: #fff       
                )
        ),    
        country-dd-item-background-hover:(
                context:(css-path: '.mobile-menu ul.countrydd li ul.country-menu , .mobile-menu ul.countrydd li ul.country-menu li:hover' ),
                properties:(
                background-color:#000000                
                )
        ),
	    country-dd-item-color:(
                context:(css-path: '.mobile-menu ul.countrydd li ul.country-menu li a' ),
                properties:(
                color:#000
                )
        ), 
        country-dd-item-color-hover:(
                context:(css-path: '.mobile-menu ul.countrydd li ul.country-menu li:hover a' ),
                properties:(
                color:#ffffff
                )
        ),        
        country-dd-item-left-padding:(
                context:(css-path: '.mobile-menu ul.countrydd li ul.country-menu li' ),
                properties:(                    
                size:(padding-left:4.8)		        
                )
	    ),
        country-dd-wrapper-bg:(
            context:(css path: '.mobile-menu'),
            properties:(
                background-color:#E4E4E4
            )
        )       
    )    
)


