#countrydropdown_wrap {
    ul {
        list-style: none;
        position: relative;
        @include size(margin, 0);
        @include size(padding, 0);

        a {
            display: block;
            @include apply-Desktop($map-country-dd,country-dd-active-font-style);

            i.icon {
                margin-bottom: 0px;

                icons-culture-dropdown-arrow {
                    @include size(margin-left,0.6);
                    @include size(margin-bottom,0.2);
                }
            }
        }

        li {
            position: relative;
            float: left;
            @include size(padding, 0,0,2,0);
            /*@include size(font-size,$countrydd-font-size);*/
            a.active {
                @include apply-Desktop($map-country-dd,country-dd-active-font-size-color);
            }

            &:hover {
            }
        }

        li:hover > ul {
            z-index: 9999;
            display: block;
        }

        ul {
            display: none;
            position: absolute;
            z-index: 40;
            @include size(margin, 1.5,0,0,0);
            @include box-shadow(0px, 5px, 10px, 0px, rgba(50,50,50,0.5));
            overflow-y: auto;

            li {
                float: none;
                width: 150px;
                white-space: nowrap;
                @include size(padding, 2,0);
                @include apply-Desktop($map-country-dd,country-dd-item-background);
                   
                 line-height:1.2;
                 font-size:1.2px;

                &:hover {
                    @include apply-Desktop($map-country-dd,country-dd-item-background-hover);

                    a {
                        @include apply-Desktop($map-country-dd,country-dd-item-text-color-hover);
                    }
                }

                a:hover {
                    @include apply-Desktop($map-country-dd,country-dd-item-text-color-hover);
                    display:inline;
                }
            }

            a {
                @include apply-Desktop($map-country-dd,country-dd-item-text-style);
                line-height:1.2;
                white-space: normal;
            }
            /*a ::first-letter {
                    text-transform: capitalize;
                }*/
        }
    }
}
/***********Styles for Coutnry drop down in mobile view****************************/
.mobile-menu {
    > ul.countrydd {

        @include apply-Mobile($map-country-dd,country-dd-size-and-bottom-border);

        > li {
            max-width: 268px;

            &:last-of-type {
                a {
                }
            }

            > a {
                position: relative;
                /*@include apply-Mobile($map-country-dd,country-dd-active-item);*/
                /*span {
                    @include apply-Mobile($map-country-dd,country-dd-item-span);
                }*/
                 i:not(.icon-suffix) {
                    position: absolute;
                    right: 2rem;
                    top: 50%;
                    @include size( margin-top, -0.4);
                }
                
                i .icon-suffix {
                    position: absolute;
                    top: 50%;
                    @include size( margin-top, -0.7);
                }
                i.icon-prefix {
                    left: 0.7rem;
                    position: absolute;
                    top: 50%;
                    @include size( margin-top, -0.7);
                }
            }

            .active {
                @include apply-Mobile($map-country-dd,country-dd-active-item);
                i {
                    .icon-prefix  {

                    }
                }

                /*@include apply-Mobile($map-country-dd,country-dd-active);*/
                /*@include apply-Mobile($map-country-dd,country-dd-item-left-padding);*/
            }
            
            &.open {
                ul.country-menu {
                    display: block;
                }
            }

            ul.country-menu {
                @include apply-Mobile($map-country-dd,country-dd-item-background);
                display: none;

                li {
                    @include apply-Mobile($map-country-dd,country-dd-item-background);
                    @include apply-Mobile($map-country-dd,country-dd-item-left-padding);

                    > a {
                        @include apply-Mobile($map-country-dd,country-dd-item-font-and-height);
                        @include apply-Mobile($map-country-dd,country-dd-item-color);
                        i {
                            
                        }
                    }

                    &:hover {
                        @include apply-Mobile($map-country-dd,country-dd-item-background-hover);

                        a {
                            @include apply-Mobile($map-country-dd,country-dd-item-color-hover);
                        }
                    }
                }
            }
        }
    }
}
