$base-font: 'Arial,Helvetica,Verdana,sans-serif';

@mixin font_bold($font: $base-font) {
	font-family: unquote($font);
	font-weight: bold;
}
@mixin font_bold_italic($font: $base-font) {
	font-family: unquote($font);
	font-weight: bold;
	font-style: italic;
}
@mixin font_regular($font: $base-font) {
	font-family: unquote($font);
	font-weight: 400;
}
@mixin font_italic($font: $base-font) {
	font-family: unquote($font);
	font-weight: 400;
	font-style: italic;
}
@mixin font_cond_bold($font: $base-font) {
	font-family: unquote($font);
	font-weight: 700;
}
@mixin font_cond_light($font: $base-font) {
	font-family: unquote($font);
	font-weight: 300;
}
@mixin font_cond_light_italic($font: $base-font) {
	font-family: unquote($font);
	font-weight: 300;
	font-style: italic;
}
@mixin font_extra_bold($font: $base-font) {
	font-family: unquote($font);
	font-weight: 700;
}
@mixin font_extra_bold_italic($font: $base-font) {
	font-family: unquote($font);
	font-weight: 800;
	font-style: italic;
}
@mixin font_light($font: $base-font) {
	font-family: unquote($font);
	font-weight: 300;
}
@mixin font_light_italic($font: $base-font) {
	font-family: unquote($font);
	font-weight: 300;
	font-style: italic;
}
@mixin font_semi_bold($font: $base-font) {
	font-family: unquote($font);
	font-weight: 700;
}
@mixin font_semi_bold_italic($font: $base-font) {
	font-family: unquote($font);
	font-weight: 700;
	font-style: italic;
}