.story-text, div.asset-description, div.asset-shotlist, div.asset-usagerights {
	.visible-text {
		@include font_regular();
	}
	.invisible-text {
		@include font_regular();
	}
}	
.social-bar {
	a:hover {
		@include opacity(0.8);
	}
}
.detail-panel{
.media-for-story{
.showcase-item{
	@include size(padding-top, 0);
}
}
}

.showcase-item{
	@include size(padding-top, 1.0);
}
.detail-pages {
	.twelve.columns {
	}
	.amp-inner-content-wrap {
	}
	.detail-header {
		.date { 
			@include size(padding, 3.2, 0, 0.2, 0);
			ul {
				margin-bottom: 0;
				li {
					list-style: none;
					display: inline-block;
					text-align: center;
					p {
						margin-bottom: 0;
						@include font_regular();
						text-transform: uppercase;
						display: inline;
						padding: 0 5px;
						@include size(font-size, 1.2);
					}
					span
					{
						@include font_bold();
						color: red;
						text-transform: none;
					}
					.category-marker{
						background-color: #ffb300;
						color: white !important;
						padding: 1px 4px;
						border-radius: 5px;
						margin-right: 9px;
					}
				}
				li:first-child {
					&:after {
						content: '|';
					}
					p {
						padding-left: 0;
					}
				}
				li.no-loc:after {
					content: '';
				}
			}
		}
		.title {			
			h1 {
                @include apply-Desktop($map-detail-pages,story-title);
                word-wrap: break-word;
            }
			h3.bio-subheader {
				@include font_semi_bold();
				@include size(margin, 1.6, 0, 0.6, 0);
				@include size(font-size, 1.6);
			}
		}
	}

	.detail-content {
		.text {
			.text-header {
				@include size(padding-bottom, 3.2);
			}
			@include font_semi_bold();
			@include size(font-size, 1.2);
			.lookbook-date {
				background: $lookbook-date-background;
				@include size(padding, 1.6, 2.3, 1.6, 2.3);
				border-bottom: 1px dotted #999999;
				h3 {
					@include font_bold();
					@include size(margin, 0, 0, 0.5, 0);
					color: $lookbook-date-color;
				}
				h4 {
					@include font_regular();
					@include size(margin, 0);
					color: $lookbook-date-color;
					line-height: 1;
				}
			}
			.image-wrapper {
				img {
					width: 100%;
				}
			}

		}
		#press-release-group{
			h4{
				margin-bottom: 2.4rem;
				font-size: 3.2rem;
				padding: 0;
				border-bottom: none;
				color: #cccccc;
			}
		} 
		.press-release, .related {
			ul.document-horizontal-list{
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				border-top: solid 0.1rem #000000;
				border-bottom: solid 0.1rem #000000;
				li{
					float: left;

					a {
						display: block;
						color: #ffffff;
						text-align: center;
						text-decoration: none;
						p{
							border-right: 1px solid black;
						}
					}
					a:hover {
						
					}
				}
			}
			ul {
				margin-bottom: 0;
				line-height:0.8;
				li {
					list-style: none;
					@include size(margin, 0, 0);
					display: block;
					a {
						color: #000000;
						@include size(line-height, 1.92);
						@include size(padding, 0.7, 1.2, 0.6, 1.2);
						@include font_bold();
						display: table;
						width: 100%;
					}
					p {
						@include size(font-size, 1.6);
						@include size(line-height, 1.92);
						@include size(padding-right, 1.6);
						margin-bottom: 0;
						display: table;
					}
				}
			}
		}
		.press-release {
			ul {
				li {
					a {
						p.lang {
							@include size(font-size, 1.6);
							@include font_bold();
							color: $black;
							display: table-cell;
							width: 35px;
						}
						p.title {
							@include font_bold();
							display: table-cell;
							padding-right: 0;
							min-height: 10px;
							height: 1.2em;
						}
						&:hover, a.active {
							@include apply-Desktop($map-detail-pages,press-download-link-background);
                            @include apply-Desktop($map-detail-pages,press-download-link-color);
							p.lang {
								@include apply-Desktop($map-detail-pages,press-download-link-color);
							}
						}
					}
				}
				li.show {
					display: block !important;
				}
				li.hide {
					display: none !important;
				}
			}
		}
		.press-release.hide-language {
			p.lang{
				display: none !important;
			}
		}
		.press-release.show-language {
			p.lang{
				display: table-cell;
			}
		}
		.related {
			ul {
				li {
					a > span {
						display: table-cell;
						vertical-align: middle;

						&:last-child {
							width: 100%;
							@include size(padding-right, 2);
						}
					}
					.arrow {
						margin: 0;
						padding: 0;
						display: inline-block;
						position: relative;
						vertical-align: top;
						width: 0;
						height: 0;
						i {
							position: absolute;
							top: 2px;
							left: 5px;
						}
					}
					.title {
						word-break: break-word;
						white-space: normal;
					}
					.related-doc-icon {
						position: relative;
						display: inline-block;
						width: 35px;
						height: 20px;
					}
					i {
						position: absolute;
						top: 0;
						left: 0;
						display: inline-block;
						&.active {
							display: none;
						}
						&.inactive {
							display: inline-block;
						}
					}
					a:hover, a.active {
						i {
							&.active {
								display: inline-block;
							}
							&.inactive {
								display: none;
							}
						}
						span {
							@include apply-Desktop($map-detail-pages,related-link-color);
						}
					}
					
					&.fb {
						i {
							left: 4px;
						}
						a:hover, a.active {
							background-color: $related-link-fb-hover-background;
						}
					}
					&.tw {
						a:hover, a.active {
							background-color: $related-link-tw-hover-background;
						}
					}
					&.yt {
						a:hover, a.active {
							background-color: $related-link-yt-hover-background;
						}
					}
					&.link {
						a {
							&:hover, &.active {
								//background-color: $related-link-hover-background;
                                @include apply-Desktop($map-detail-pages,related-link-background);
							}
							.arrow {
								display: none;
							}
						}
					}
					&.gplus {
						a {
							&:hover, &.active {
								background-color: $related-link-gplus-hover-background;
							}
						}
					}
					&.pint {
						a {
							&:hover, &.active {
								background-color: $related-link-pint-hover-background;
							}
						}
					}
					&.inst {
						a {
							&:hover, &.active {
								background-color: $related-link-inst-hover-background;
							}
						}
					}
					&.flickr {
						a {
							&:hover, &.active {
								background-color: $related-link-flickr-hover-background;
							}
						}
					}
					&.tumblr {
						a {
							&:hover, &.active {
								background-color: $related-link-tumblr-hover-background;
							}
						}
					}

					&.eshop {
						a {
							&:hover, &.active {
								background-color: $related-link-eshop-hover-background;
							}
						}
					}

					&.doc {
						a:hover, a.active {
							//background-color: $related-link-doc-hover-background;
                            @include apply-Desktop($map-detail-pages,related-link-background);
						}
					}

				}
			}
			.products {
				li {
					a {
						vertical-align: top;
						img {
							@include size(margin-right, 1.6);
							@include box-shadow(0px, 0px, 10px, 1px, #efefef);
						}
					}
				}
			}

            .showcasecategorylisting {
				li {
					a {
						vertical-align: top;
						img {
							@include size(margin-right, 1.6);
							@include box-shadow(0px, 0px, 10px, 1px, #efefef);
						}
					}
				}
			}

		}
		
		.more-from {
			ul {
				margin-bottom: 0;
				li {
					list-style: none;
					@include size(padding, 2.4, 1.6, 3.2, 1.6);
					@include size(margin, 0);
					display: inline-block;
					a {
						color: #000000;
						@include size(font-size, 1.6);
						@include size(line-height, 1.92);
						img {
							@include box-shadow(0px, 0px, 10px, 1px, #efefef);
						}
						p {
							@include font_bold();
							@include size(margin-bottom, 0);
						}
					}
				}
			}
		}

		.media {
			.filters {
				@include size(margin, 2.4, 0, 3.2, 0);
				ul {
					margin-bottom: 0;
				}
			}			
			
			div.download {
				background: $media-tool-button-background;
				text-align: center;
				a {
					color: $media-tool-button-color;
					i {
						@include size(margin-right, 1.6);
					}
				}
			}
			.see-more {
				text-align: center;
			}
		}

		.detail-panel {
			@include size(padding-bottom, 3.2);
			border-bottom: 1px dotted #d4d4d4;
			.see-all {
				h4 {
					line-height: 0.8;
				}
			}
			h4 {
				@include size(margin, 0);
				padding: 0;
				border-bottom: none;
				color: $detail-panel-title-color;
			}
			&.more-from {
				h4 {
					display: inline;
					@include size(margin-right, 1.2);
				}
			}
		}
		.shop {
			@include size(margin-bottom, 2);			
		}
		.social-links {
			width: 400px;
			@include size(margin-bottom, 2);
			ul {
				margin-bottom: 0;
				li {
					list-style: none;
					@include size(padding, 1.2);
					@include size(margin, 0.4, 0);
					display: inline-block;
					a {
						color: #000000;
						@include size(font-size, 1.6);
						@include size(line-height, 1.92);
						@include font_semi_bold();
						.icons-pocket-white {
							display: none;
						}
						.icons-white-arrow-right {
							display: none;
						}
						i.pocket {
							position: relative;
							top: 3px;
							margin-right: 10px;
						}
						i.arrow {
							position: relative;
							top: 2px;
							margin-left: 5px;
						}
						i.btn {
							padding-right: 10px;
						}
					}
				}
				li:hover {
					a {
						color: #ffffff;
					}
					.icons-pocket-white {
						display: inline-block;
					}
					.icons-white-arrow-right {
						display: inline-block;
					}					
					.icons-pocket-red {
						display: none;
					}
					.icons-right-arrow-red {
						display: none;
					}
					.icons-right-arrow-tw {
						display: none;
					}
					.icons-right-arrow-fb {
						display: none;
					}
				}
				li.active {
					a {
						color: #ffffff;
					}
					.icons-pocket-white {
						display: inline-block;
					}
					.icons-white-arrow-right {
						display: inline-block;
					}		
					.icons-right-arrow-tw {
						display: none;
					}			
					.icons-pocket-red {
						display: none;
					}
					.icons-right-arrow-red {
						display: none;
					}
					.icons-right-arrow-fb {
						display: none;
					}
				}
				li.fb:hover {
					background: #3b5998;
				}
				li.tw:hover {
					background: #00aced;
				}
				li.gplus:hover {
					background: #dd4b38;
				}

			}
		}

		.detail-panel:last-of-type {
			border-bottom: none;
		}

		.youtube-wrapper, .still-image-wrapper {
			@include size(margin-bottom, 2);
		}

	}
}
.product-layout, .lookbook-layout, .bio-detail-layout{
	 .detail-header .date ul li:first-child:after {
		content: '';
	}
}

.images-videos-detail-page {
	.detail-header {
		.title {
			@include size(margin, 0);
			border-bottom: 1px dotted #cccccc;
		}
	}
}

@media #{$mobile} {
	.images-videos-detail-page {
		.detail-header {
			.title {
				/*@include size(padding, 0, 0, 3.2, 0);*/
				h1 {
                    @include apply-Mobile($map-detail-pages,asset-title);					
				}
			}
		}
		.detail-content {
			.more-from {
				ul {
					li:last-of-type {
						@include size(padding-bottom, 1.6);
					}
				}
			}
		}
	}

	.detail-pages {
		.detail-content {
			.media {
				.filters {
					@include size(margin, 1.6, 0, 3.2, 0);
				}
			}
			.more-from {
				ul {
					@include size(padding, 0, 0, 1.6, 0);
					li {
						@include size(padding, 1.6, 1.6, 0, 1.6);
					}
				}
			}
			.text {
				.text-header {
					@include size(padding-bottom, 2.4);
				}
				.lookbook-date {
					h3 {
						@include size(font-size, 2);
						@include size(margin-bottom, 0.8);
					}
					h4 {
						@include size(font-size, 1.6);
					}
				}
			}
			.press-release {
				h4 {
					@include size(margin-bottom, 1.6);
				}
			}
			.detail-panel {
				@include size(margin-bottom, 3.2);
				@include size(padding-bottom, 0);
				h4 {
					@include size(font-size, 2.4);					
				}				
			}
			.more-from {
				&.detail-panel {
					@include size(padding-bottom, 3.2);			
				}
				&.detail-panel:last-of-type {
					@include size(padding-bottom, 0);			
				}
			}
			.media.detail-panel {
				@include size(padding-bottom, 1.6);			
			}
			.contacts.detail-panel {
				@include size(padding-bottom, 1.6);			
			}
			.related.detail-panel {
				@include size(padding-bottom, 3.2);
				h4{
					@include size(margin-bottom, 1.6);
				}
			}
			.press-release.detail-panel {
				@include size(padding-bottom, 3.2);
			}
			.tags{
				&.detail-panel {
					@include size(padding-bottom, 3.2);			
				}
			}
		}
	}
    .showcasedetail{
		.detail-content {
			.detail-panel {			
				border: none;			
			}            
			.more-from {
				&.detail-panel {
					@include size(padding-bottom, 0.0);			
				}			
			}			
			.productshots 
                {               
                ul.block-grid{
					margin: 0 -0.90rem !important;
				}
            }	
		} 
	}
}

@media #{$tablet} {
	.detail-pages {
		.related.detail-panel {
				@include size(padding-bottom, 3.2);
			}
			.press-release.detail-panel {
				@include size(padding-bottom, 3.2);
			}
		.detail-content {
			.press-release {
					h4 {
						@include size(margin-bottom, 3.2);
					}
				}
			.media {
				.filters {
					@include size(margin, 3.2, 0, 3.2, 0);
				}
				.images-videos-items.block-grid{
					&>li{
						@include size(padding-bottom, 3.2);
					}
				}
			}
			.more-from {
				ul {
					@include size(padding, 0, 0, 3.2, 0);
					li {
						@include size(padding, 3.2, 1.6, 0, 1.6);
					}

				}
			}
			.showcaselatestnews{
			ul {
					@include size(padding, 0, 0, 1.6, 0);
					li {
						@include size(padding, 0, 1.6, 1.6, 1.6);
					}

				}
			}
		}
	}
	.images-videos-detail-page {
		.detail-header {
			.title {
				/*@include size(padding, 3.2, 0, 3.2, 0);*/
				h1 {
					@include apply-Desktop($map-detail-pages,asset-title);
				}
			}
		}
		.detail-content {
			.more-from {
				ul {
					li:last-of-type {
						@include size(padding-bottom, 3.2);
					}
				}
			}
		}
	}
	.detail-pages {
		.detail-content {
			.text {				
				.text-header {
					@include size(padding-bottom, 4.8);
				}
				.lookbook-date {
					@include size(padding, 3.2, 2.3, 3.2, 2.3);
					h3 {
						@include size(font-size, 3.2);
						@include size(margin-bottom, 1.6);
					}
					h4 {
						@include size(font-size, 2.4);
					}
				}
			}
			.detail-panel {
				@include size(margin-bottom, 6.4);
				@include size(padding-bottom, 0);
				h4 {
					@include size(font-size, 3.2);
				}
			}
			.more-from {
				&.detail-panel {
					@include size(padding-bottom, 6.4);			
				}
				&.detail-panel:last-of-type {
					@include size(padding-bottom, 0);			
				}
			}
			.media.detail-panel {
				@include size(padding-bottom, 3.2);			
			}
			.contacts.detail-panel {
				@include size(padding-bottom, 3.2);			
			}
			.related.detail-panel {
				h4{
					@include size(margin-bottom, 3.2);
				}
			}
			.contacts.detail-panel {
				.block-grid > li{
					@include size(padding-bottom, 3.2);
				}
			}
			.related.detail-panel {
				@include size(padding-bottom, 6.4);
			}
			.press-release.detail-panel {
				@include size(padding-bottom, 6.4);
			}
			.tags{
				&.detail-panel {
					@include size(padding-bottom, 6.4);			
				}
			}
		}
	}
	.showcasedetail{
		.detail-content {
			.detail-panel {
				@include size(margin-bottom, 6.4);
				border: none;			
			}
            .productshots 
                {
                @include size(margin-bottom, 1.0);
                ul.block-grid{
					margin: 0 -0.90rem !important;
				}
            }
			.more-from {
				&.detail-panel {
					@include size(padding-bottom, 0.0);			
				}
				&.detail-panel:last-of-type {
					@include size(padding-bottom, 0);			
				}
			}
			.contacts{
				@include size(margin-bottom, 0);
			}
		} 
	}
}

@media #{$desktop} {
    .showcaselatestnews.more-from.detail-panel{
        border-bottom:none;        
}
    .showcasedetail{
		.detail-content {			
            .productshots 
                {                
                ul.block-grid{
					margin: 0 -0.90rem !important;
				}
            }			
		} 
	}
	.images-videos-detail-page {
		.detail-header {
			.title {
				/*@include size(padding, 3.2, 0, 4, 0);*/
			}
		}
	}
	.detail-pages {
		.detail-content {
			.related.detail-panel {
				h4{
					@include size(margin-bottom, 2.4);
				}
			}
			.media {
				.filters {
					@include size(margin, 2.4, 0, 3.2, 0);
				}
				.images-videos-items.block-grid{
					&>li{
						@include size(padding-bottom, 3.2);
					}
				}
			}
			.more-from {
				ul {
					@include size(padding, 0, 0, 0, 0);
					li {
						@include size(padding, 2.4, 1.6, 3.2, 1.6);
					}
				}
			}
			.text {
				.text-header {
					@include size(padding-bottom, 3.2);
				}
			}
		}
	}
	
	.showcase-layout{
		.detail-content {
			.more-from {
				ul {
					li {
						@include size(padding, 0,1.6,1.6,1.6);
					}
				}	 
			}

		}
	}
}

.lookbook-layout , .product-layout , .showcase-layout{
	.detail-header {
		.title {
			@include size(margin, 2.5, 0, 2.6, 0);
		}
	}
}

.lt-ie9 .detail-pages .detail-header .date ul li {
	display: inline;
}

.detail-pages.lookbook {
	.image-wrapper {
		background: #f1f1f1;
		.date {
			ul {
				@include size(padding, 2.5, 0, 0, 2.5);
				margin-bottom: 10px;
				li {
					list-style: none;
					p {
						color: $black;
						margin-bottom: 0;
					}
				}
				li:first-of-type {
					p {
						@include font_bold();
						text-transform: uppercase;
						@include size(font-size, 3.2);
					}
				}
				li:last-of-type {
					p {
						@include font_regular();
						@include size(font-size, 2.4);
					}
				}
			}			
		}
	}
}

.tag {	
	@include apply-Desktop($map-detail-pages,individual-tag);	
	position: relative;
	display: inline-block;
	a {
	    @include apply-Desktop($map-detail-pages,individual-tag-link);	
		white-space: nowrap;
	}
}
.tag:first-of-type {
	margin-left: 0;
}

@media #{$mobile} {
	.tag {
		height: 24px;
		padding: 0px 10px;
		font-size: 12px;
		line-height: 24px;
		@include size(margin, 1.6, 2.9, 0, 0);
		.tag-icon {
			position: absolute;
			right: -19px;
			top: 0px;
			background: image-url("/Content/images/icons/tag-mobile.png") center;
			height: 24px;
			width: 19px;
		}
	}

		.detail-pages {
			.detail-header {
				.title {
					@include size(margin, 1.6, 0, 1.6, 0);
				}
			}
		}


}
@media #{$tablet} {
	.tag {
		height: 16px;
		padding: 0px 10px;
		font-size: 12px;
		line-height: 17px;
		@include size(margin, 2.4, 2.9, 0, 0);
		.tag-icon {
			position: absolute;
			right: -12px;
			top: 0px;
			background: image-url("/Content/images/icons/tag.png") center;
			height: 16px;
			width: 13px;
		}
	}

	.lookbook-layout {
			.detail-header {
				.title {
					@include size(margin, 3.2, 0, 3.2, 0);
				}
			}
		}

}

.detail-content {
	.detail-asset {
		.text {
			h6 {
				@include font_bold();
				@include size(font-size , 1.6);
				@include size(margin, 0, 0, 0.5, 0);
				color: $asset-details-title-color;
			}
			p {
				@include font_regular();
				@include size(font-size , 1.6);
				@include size(margin-bottom, 2.4);
				line-height: 1;
				color: $asset-details-description-color;
			}
		}		
	}
}

.cookie-disclaimer-shown {
	.social-bar {
		position: relative;
		top: 0;
		a {
			display: inline-block;
			&:first-of-type {
				margin-left: 0;
			}
		}		
	}
	.detail-pages {
		.detail-header {
			padding-left: 0;
		}
	}
	.detail-content-wpapper {
		padding-left: 0;
	}
}

@media #{$mobile} {
	.cookie-disclaimer-shown {
		.social-bar {
			@include size(margin, 0);
			a {
				@include size(margin, 0, 1, 1.6, 0);
			}		
		}
	}
}

@media #{$tablet} {
	.cookie-disclaimer-shown {
		.social-bar {
			@include size(margin, 0);
			a {
				@include size(margin, 0, 1.6, 1.6, 0);
			}		
		}
	}
}

@media #{$mobile} {
.showcase-layout .detail-header .title .showcase-title{
	@include size(font-size, 3.2);
}

	.showcase-layout{
		
		.detail-content{
			.detail-content-wpapper{
				.detail-panel{
					
					h1{
                        @include size(margin-top, 0);
                        @include size(margin-bottom,3.2);
					}
				}
				.productshots{
					h1{
                        @include size(margin-top, 0);
                        @include size(margin-bottom, 1.6);
					}
					}
				.contacts{
					h1{
                        @include size(margin-top, 0);
                        @include size(margin-bottom, 1.6);
					}
				}
				.more-from{
					h1{
                        @include size(margin-top, 0);
                        @include size(margin-bottom, 1.6);
					}
				}
			}
			.showcaselatestnews{
			ul {
					@include size(padding, 0, 0, 1.6, 0);
					li {
						@include size(padding, 0, 1.6, 1.6, 1.6);
					}

				}
			}
		}
	}


	.detail-pages.showcase-layout {
			.detail-header {
				.title {
					@include size(margin, 3.2, 0, 1.6, 0);
					 
				}
			}
		}
	.social-bar {
		/*@include size(margin-top, 2.4);*/
		@include size(margin-bottom, 2.4);
		a {
			margin-left: 10px;
			margin-top: 10px;
			&:first-of-type {
				margin-left: 0;
			}
		}

		i.tablet-up {
			display: none;
		}
	}
	.detail-pages {
		.detail-header {
			padding-left: 0px;
			@include size(margin, 0, 0);
		}
		.detail-content {
		
			.contacts.detail-panel {
				h4 {
					@include size(margin-bottom, 1.6);
				}
			}
			.six.columns {
				.shop {
					display: none;
				}
				&.text {
					.shop {
						display: block;
						@include size(margin-top, 3);
						@include size(margin-bottom, 0);
					}
				}
			}
			.press-release, .related {
				ul {
					li {
						a {
							@include size(font-size, 1.2);
						}
					}
				}
			}

			.detail-panel {
				.see-more {
					@include size(margin, 1.7, 0, 0, 0);

						a {
                              @include apply-Mobile($map-main,see-more);
						}                   
				}
				.img-item {
					position: relative;
					float: left;
					width: 100%;
					.image-wrapper {
						width: 50%;
						float: left;
					}
					.grid-item-text {
						width: 50%;
						float: left;
						@include size(padding, 0, 0, 0, 1);
					}
					.tablet-hover-icons {
						position: absolute;
						right: 0;
						bottom: 2px;
						width: 50%;
						text-align: center;
						a {
							&:first-of-type {
								margin-right: 10px;
							}
						}
					}
				}
			}
			
			.more-from {
				ul {
					li {
						a {
							img {
								float: left;
								margin-right: 10px;
								width: 136px;
							}
							p {
								max-height: 85px;
								display: block;
							}
						}
					}
				}
			}
			.asset-detail-related {
				ul {
					li {
						 a {
							p{
								display: block;
							}
						 }
					}
				}
			}
			.see-all {
				text-align: center;
			}
			.media {
				div.download {
					@include size(padding, 0);
					a {
						display: block;
						@include size(padding, 1.5, 0);
						@include size(font-size, 1.4);
						@include font_bold();
						&:first-of-type {
							border-bottom: 1px dotted #d8d8d8;
						}
					}
				}
			}
			.tablet-right {
				.detail-panel:last-of-type {
					border-bottom: 1px dotted #d4d4d4;
				}
			}
		}
	}
}
@media #{$ipad} {
	.detail-pages {
		.column, .columns {
			width: auto !important;
			float: none;
		}
	}
}
@media #{$nexus} {
	.detail-panel {
		.images-videos-items {
			.tablet-hover-icons {
				a {
					img {
						width: 53px;
					}
				}
			}
		}
	}
}
@media #{$tablet} {
	.menu-opened {
		.social-bar {
			left: 365px;
		}
	}
	
	.social-bar {
		.social-buttons-fb{
			width: 18px;
		}
		max-height: 240px;
		position: fixed;
		top: 205px;
		z-index: 30;
		@include size(margin, 0, 3.2, 0, -9);
		a {
			display: block;
			@include size(margin, 2.4, 3.2, 0, 1.6);
			text-align: center;
			&:first-of-type {
				@include size(margin-left, 2);
			}
		}
		i.mobile {
			display: none;
		}
		i.tablet-up {
			display: inline-block;
		}
	}
	.amp-inner-content-wrap {
	}
	.detail-content-wpapper {
		padding-left: 75px;
	}
	.showcase-layout{
		.detail-content-wpapper {
            @include size(padding-left, 0);
            @include size(margin-top, 3.0);
		}
	}
	.detail-pages {
		.detail-header {
            @include size(padding-left, 7.5);
		}
		.detail-content {
			.press-release, .related {
				ul {
					li {
						a {
							@include size(font-size, 1.6);
						}
					}
				}
			}
			.more-from {
				ul {
					li {
						a {
							img {
								width: 59%;
							}
							p {
								max-height: 65px;
								width: 35%;
								display: inline-block;
							}
						}
					}
				}
			}
	 

			 
			.detail-content-wpapper {
				.six {
					width: 100%!important;
				}
				&.detail-asset {
					.columns {
						float: right;
					}
					.text {
						float:left!important;
					}
					.six {
						width: 50%!important;
					}
				}
				
				.detail-panel {
					.see-more {
						@include size(margin, 3.2, 0, 3.2, 0);                       
                        a {
                            @include apply-Tablet($map-main,see-more);
						}
					}
					&.contacts {
						h4 {
							@include size(margin-bottom, 3.2);
						}
					}
					.images-videos-items {
						.img-item {
							.content-wrap {
								float: left;
								width: 100%;
								.image-icon-wrapper {
									display: table;
									vertical-align: middle;
								}
							}
							.tablet-hover-icons {
								position: relative;
								width: 30%;
								text-align: center;
								display: table-cell;
								vertical-align: middle;

								a {
									padding: 0;
									margin-right: 0px;
									display: inline-block;
								}
								a:last-of-type {
									margin-top: 10px;
									display: inline-block;
								}
							}
							.image-wrapper {
								float: none;
								width: 70%;
								display: table-cell;
								.hover-icons {
									&:hover {
									}
								}

							}
							.grid-item-text {
								width: auto;
								float: none;
								display: table-row;
								//@include size(padding, 1.2, 0, 0, 0);
							}
						}
					}
				}
			
			}
			.tablet-left {
				width: 50%;
				float: left;
				padding-right: 15px;

			}
			.tablet-right {
				width: 50%;
				float: right;
				padding-left: 15px;
				.detail-panel:last-of-type {
					border-bottom: none;
				}
			}
			.see-all {
				text-align: left;
				/*@include size(margin-bottom, 3.2);*/
			}
			.asset-detail-related-title {
				ul {
					li {
						 a {
							p{
								display: inline-block;
							}
						 }
					}
				}
			}
			.media {
				div.download {
					@include size(padding, 1, 0);
					a {
						display: inline;
						@include size(padding, 1.5, 0);
						@include size(font-size, 1.4);
						@include font_bold();
						&:first-of-type {
							border-bottom: 0;
						}
					}

					a:first-of-type {
						padding-right: 10px;
					}
					a:last-of-type {
						padding-left: 10px;
					}
				}
			}
		}
	}
	.showcase-layout .detail-header .title .showcase-title{
		@include size(font-size, 4.2);
	}
	.showcase-layout{
		.detail-header {
            @include size(padding-left, 0);
			}
		.detail-content{
			.detail-content-wpapper{
				.detail-panel{
					.see-more{
						@include size(margin, 2, 0, 3, 0);	
					}
					h1{
                        @include size(margin-top, 0);
                        @include size(margin-bottom, 2.6);
					}
				}
				.productshots{
					h1{
                        @include size(margin-top, 0);
                        @include size(margin-bottom, 1.6);
					}
					}
				.contacts{
					h1{
                        @include size(margin-top, 0);
                        @include size(margin-bottom, 1.6);
					}
				}
				.more-from{
					h1{
                        @include size(margin-top, 0);
                        @include size(margin-bottom, 1.6);
					}
				}
			}
		}
	}
}

@media #{$desktop} {
.showcase-layout .detail-header .title .showcase-title{
	@include size(font-size, 4.2);
}

	.detail-content-wpapper {
        @include size(padding-left, 7.5);
	}

	.detail-pages {
		.detail-header {
			@include size(padding-left, 7.5);
		}
		.detail-content {
			.detail-content-wpapper {
				.six {
					width: 50%!important;
					&:first-of-type {
						float: left;
					}
				}
				.six.columns {
					.shop {
						display: block;
					}
					&.text {
						.shop {
							display: none;
						}
					}
				}
				.detail-panel {
					.see-more {
                     
                        a {
                            @include apply-Desktop($map-main,see-more);
						}
					}
					&.contacts {
						h4 {
							@include size(margin-bottom, 2.4);
						}
					}
					.images-videos-items {
						.img-item {
							.content-wrap {
								float: left;
								width: 100%;
								.image-icon-wrapper {
									display: block;
								}
							}
							.tablet-hover-icons {
								display: none;
							}
							.image-wrapper {
								width: 100%;
								display: block;
							}
							.grid-item-text {
								display: block;
								width: auto;
								padding-left: 0;
								//@include size(padding, 1.2, 0, 0, 0);
							}
						}
					}
				}
			}

			.tablet-left, .tablet-right {
				width: auto;
				float: none;
				padding: 0;
			}
			.tablet-right {
				.detail-panel:last-of-type {
					border-bottom: 1px dotted #d4d4d4;
				}
			}
			.media {
				div.download {
					a {
					}
				}
			}
			.more-from {
				ul {
					li {
						a {
							img {
								float: none;
								margin-right: 0;
								width:100%;
							}
							p {
								width:100%;
								@include size(margin-top, 1.6);
							}
						}
					}
				}
			}
			.press-release, .related {
				h4 {
					@include size(margin-bottom, 2.4);
				}
				ul {
					li {
						a {
						}
						p {
							margin-bottom: 0;
						}
					}
				}
			}
			.contacts {
				h4 {
					@include size(margin-bottom, 0.6);
				}
			}
		}
	}
}
.story-text, div.asset-description, div.asset-shotlist, div.asset-usagerights {
	.visible-text *:first-child {
		margin-top: 0;
		padding-top: 0;
	}
}
.detail-pages.showcase-layout{
		.detail-content-wpapper {
            @include size(padding-left, 0);
            @include size(margin-top, 3.0);
		}
		.detail-header {
			@include size(padding-left, 0);
		}
}
@media #{$mobile} { 
	.story-text, div.asset-description, div.asset-shotlist, div.asset-usagerights {
		@include size(margin-top, 0);
		@include size(margin-bottom, 0);
		@include size(padding-bottom, 2.4);
		border-bottom: 1px dotted #d4d4d4;
		.visible-text {
			height: auto;
			overflow: hidden;
			max-height: 344px;
			@include size(font-size, 1.4);
			@include size(line-height, 2.3);
		}
		.invisible-text {
			display: none;
			@include size(font-size, 1.4);
			@include size(line-height, 2.3);
		}
		.see-more {
			display: none;
			text-align: center;
			@include size(margin, 0);
			h4 {				
				@include size(margin, 3.2, 0, 0,0);
			}
            a {
                @include apply-Mobile($map-main,see-more);
            }
			.more, .less {
				display: none;
			}
		}
	}	
	.story-text {
		@include size(margin-bottom, 3.2);
		@include size(padding-bottom, 3.2);
	}

	.image-wrapper {
				 
		.asset-count {
			background: image-url("/Content/images/icons/asset-count.png") center;
			width: 50px;
			height: 50px;
			position: absolute;
			left: 0;
			bottom: 5px;
			padding: 8px;
			cursor: pointer;
			.asset-count-border1
			{
				padding: 4px;
				padding-top: 7px;
				color: #fff;
				text-align: center;	
				font-weight: bold;
			}
			&:hover {
				background: image-url("/Content/images/icons/asset-count-black.png") center;
			}
		}
	}

	.detail-pages {
		.detail-header {
			.title {
				@include size(margin-bottom, 1.6);
				@include size(margin-top, 0.8);

			}
		}
		.detail-content-wpapper {
			@include size(margin-bottom, 0);
		}
	}

	.images-videos-detail-page {
			.detail-header {
				.title {
					@include size(margin-bottom, 2.4);
					@include size(margin-top, 3.2);
				}
			}
		}

	.detail-pages.lookbook-layout {
			.detail-header {
				.title {
					@include size(margin-top, 3.2);
				}
			}
		}
	

	.detail-pages.product-layout {
			.detail-header {
				.title {
					@include size(margin, 3.2, 0, 1.6, 0);
				}
			}
		}

}
@media #{$tablet} {
	.story-text {
		.visible-text {
			max-height: 560px;
			@include size(font-size, 1.6);
			@include size(line-height, 2.3);
		}
		.invisible-text {
			@include size(font-size, 1.6);
			@include size(line-height, 2.3);
		}
	}	
	div.asset-description, div.asset-shotlist, div.asset-usagerights {
		@include size(margin-bottom, 0);
		@include size(padding-bottom, 2.1);
		border-bottom: none;		
		.visible-text {
			max-height: none;
			padding-bottom: 3px;
			@include size(font-size, 1.6);
		}
		.invisible-text {
			@include size(font-size, 1.6);
		}
	}	
	
	.detail-pages {
		.detail-header {
			.title {
				@include size(margin-bottom, 3.2);
				@include size(margin-top, 1.6);
			}
		}
	}
	.detail-pages {
		.detail-header.bio-detail-header {
			.title {
				@include size(margin, 2.5, 0, 3.2, 0);
			}
		}
	.detail-content-wpapper {
			@include size(margin-bottom, 0);
		}
	}
	.images-videos-detail-page {
			.detail-header {
				.title {                  
					@include size(margin-bottom, 4.8);
					@include size(margin-top, 3.2);
				}
			}
		}

	.detail-pages.lookbook-layout {
		.detail-header {
			.title {
				@include size(margin-top, 6.4);
			}
		}
	}

	.detail-pages.product-layout {
			.detail-header {
				.title {
					@include size(margin, 6.4, 0, 3.2, 0);
				}
			}
		}

		.detail-pages.showcase-layout {
			.detail-header {
				.title {
					@include size(margin, 3.2, 0, 3.2, 0);
				}
			}
		}
		
	.story-text{
		@include size(padding-bottom, 6.4);
		@include size(margin-bottom, 6.4);
		.see-more {
			h4 {				
				@include size(margin, 6.4, 0, 0,0);
            }
            a {
                @include apply-Tablet($map-main,see-more);
			}
		}
	}
}

@media #{$desktop} { 
	.story-text {
		@include size(margin-bottom, 0);
		@include size(padding-bottom, 3);
		border-bottom: none;		
		.visible-text {
			max-height: none;
			padding-bottom: 3px;
		}
		.see-more {
			h4 {				
				@include size(margin, 3.2, 0, 0,0);
            }
            a {
                @include apply-Desktop($map-main,see-more);
			}
		}
	}	

	.images-videos-detail-page {
			.detail-header {
				.title {
					@include size(margin-bottom, 3.2);
					@include size(margin-top, 3.2);
					@include size(padding-bottom, 3.2);
				}
			}
		}
	
	.detail-pages.lookbook-layout {
		.detail-header {
			.title {
				@include size(margin-top, 3.2);
			}
		}
	}

	.detail-pages.product-layout {
			.detail-header {
				.title {
					@include size(margin, 3.2, 0, 3.2, 0);
				}
			}
		}

		.detail-pages.showcase-layout {
			.detail-header {
				.title {
					@include size(margin, 3.2, 0, 3.2, 0);
				}
			}
			.image-wrapper {
				 
				.asset-count {
					background: image-url("/Content/images/icons/asset-count.png") center;
					width: 50px;
					height: 50px;
					position: absolute;
					left: 0;
					bottom: 5px;
					padding: 8px;
					cursor: pointer;
					.asset-count-border1
					{
						padding: 4px;
						padding-top: 7px;
						color: #fff;
						text-align: center;	
						font-weight: bold;
					}
					&:hover {
						background: image-url("/Content/images/icons/asset-count-black.png") center;
					}
				}
			}

		}
}
.document-horizontal-list {
	ul {
		li{
			padding-right: 2.5rem;
			&.active{
				a{
					font-weight: bold;
				}
			}
		}
	}
}
@media #{$nexus}{
	.detail-pages {
		.detail-content {
			.media {
				.download {
					.download-all {
						display: none;
					}
				}
			}
		}		
	}	
}

.images-videos-detail-page {
	.amp-wrapper {
		.download-buttons {
			ul {
				.more-info {
					display: none;
				}				
			}
		}
		.download-buttons-mobile {
			.more-info-container {
				display: none;
			}
		}
	}
}

.story-text {
	h1, h2, h3, h4, h5, h6, ol, p, ul{ display: block; unicode-bidi: embed }
	li { display: list-item }
	table { display: table }
	tr { display: table-row }
	thead { display: table-header-group }
	tbody { display: table-row-group }
	tfoot { display: table-footer-group }
	col { display: table-column }
	colgroup { display: table-column-group }
	td, th { display: table-cell }
	th { font-weight: bolder; text-align: center }
	h1  { font-size: 2em; margin: .67em 0 }
	h2  { font-size: 1.5em; margin: .75em 0 }
	h3 { font-size: 1.17em; margin: .83em 0 }
	h4, p, ul, ol { margin: 1.12em 0 }
	h5 { font-size: .83em; margin: 1.5em 0 }
	h6 { font-size: .75em; margin: 1.67em 0 }
	h1, h2, h3, h4,
	h5, h6, b, strong  { font-weight: bolder }
	i { font-style: italic }
	sub, sup { font-size: .83em }
	sub { vertical-align: sub }
	sup { vertical-align: super }
	table { border-spacing: 2px; }
	tbody , thead, tfoot { vertical-align: middle }
	td, tr { vertical-align: inherit }
	strike { text-decoration: line-through }
	ol, ul { margin-left: 40px }
	ol { list-style-type: decimal }
	ol ul, ul ol, ul ul, ol ol { margin-top: 0; margin-bottom: 0 }
	u { text-decoration: underline }
}
