﻿$map-detail-pages:(
    base-properties:(
        base-font:'Arial,Helvetica,Verdana,sans-serif', 
        base-color:'red'        
    ),
    onDesktop:(
				story-title:(
                        context:(css-path: '.detail-pages .detail-header .title h1' ),
                        properties: (
                        color:#00407d,
                        //color:(#ref-map,16),
                        font-style: (style: bold, font-family: "&base-font"),
						size:(font-size:3.2,line-height:3.84,margin:0)
                        )
                    ),
                asset-title:(
                        context:(css-path: '.detail-pages .detail-header .title h1' ),
                        properties: (
                        color:#000000,
                        font-style: (style: regular, font-family: "&base-font"),
					    size:(font-size:3.2,line-height:3.84)
                    )
                ),
				individual-tag:(
                        context:(css-path: '.tag' ),
                        properties: (
                        color:#ffffff,
                        font-style: (style: semi_bold),
					    background: #3cbef4,
					    text-transform: uppercase
                    )
                ),
                individual-tag-link:(
                        context:(css-path: '.tag a' ),
                        properties: (
                        color:#fafafa,
                        size:(font-size:1.2)
                    )
                ),
                press-download-link-background:(
                        context:(css-path: '.detail-pages .detail-content .press-release ul li a:hover, .detail-pages .detail-content .press-release ul li a a.active' ),
                        properties: (
                                background-color: #3cbef4,                                
                    )
                ),
                press-download-link-color:(
                        context:(css-path: '.detail-pages .detail-content .press-release ul li a:hover, .detail-pages .detail-content .press-release ul li a a.active, .detail-pages .detail-content .press-release ul li a:hover p.lang, .detail-pages .detail-content .press-release ul li a a.active p.lang' ),
                        properties: (
                                color:#ffffff,
                    )
                ),   
                related-link-background:(
                        context:(css-path: '.detail-pages .detail-content .press-release ul li a:hover, .detail-pages .detail-content .press-release ul li a a.active' ),
                        properties: (
                                background-color: #3cbef4,                                
                    )
                ),
                related-link-color:(
                        context:(css-path: '.detail-pages .detail-content .press-release ul li a:hover, .detail-pages .detail-content .press-release ul li a a.active, .detail-pages .detail-content .press-release ul li a:hover p.lang, .detail-pages .detail-content .press-release ul li a a.active p.lang' ),
                        properties: (
                                color:#ffffff,                        
                    )
                ),   
				lookbook-date:(
                    context:(css-path: '.detail-pages .detail-content .text .lookbook-date' ),
                    properties: (
						background: #0e487b,
                    )
                ),					      
            ), 
    onTablet:(              
						            
        ),
    onMobile:(
                asset-title:(
                    context:(css-path: '.detail-pages .detail-header .title h1' ),
                    properties: (
                                color:#000000,
                                font-style: (style: regular, font-family: "&base-font"),
						        size:(font-size:2,line-height:2.4)
                                )
                )		
          )    
)