﻿$map-footer:(
    base-properties:(
        base-font:'arial', 
        base-color:'red'        
    ),
    onDesktop:(
            footer-background:(
                        context:(css-path: 'footer' ),
                        properties: (
                        background-color: #ffffff
                        )
                    ),
            footer-link-color:(
                        context:(css-path: 'footer ul.footer-links li a' ),
                        properties: (
                        color: #000000,
                        font-style: (style: regular, font-family: "&base-font") 
                        )
                    ),
            footer-link-hover-color:(
                        context:(css-path: 'footer ul.footer-links li a:hover' ),
                        properties: (
                        border-bottom: 1px solid #000000,
                        color:#000000,
                        padding-bottom: 0px
                        )
                    ),
            copyright-color:(
                        context:(css-path: 'footer .copyright' ),
                        properties: (
                        color: #000000,
                        font-style: (style: regular) 
                        )
                    ),
            copyright-size:(
                        context:(css-path: 'footer .copyright' ),
                        properties: (
                        size:(font-size: 1.1,padding:(3, 0, 1.6, 0)),
                        text-align: left
                        )
                    ),
            powered-newsmarket:(
                        context:(css-path: 'footer .powered-newsmarket' ),
                        properties: (
                        background: #000000,
                        text-align: center
                        )
                    ),
            footer-border-color:(
                        context:(css-path: 'footer .footer-content .border' ),
                        properties: (
                        border-top: 1px dotted #cccccc                        
                        )
                    ),
            layout-social-link-heading-color:(
                    context:(css-path: 'ul.footer-row li h4.social-links-title' ),
                        properties: (
                        color: #000000,
                        font-style: (style: bold, font-family: "&base-font")
                        )
                ),
            layout-subscribe-heading-color:(
                    context:(css-path: 'ul.footer-row li h4.subscribe-footer-title' ),
                        properties: (
                        color: #000000,
                        font-style: (style: bold, font-family: "&base-font")
                        )
                ),  
            layout-social-link-heading-size:(
                    context:(css-path: 'ul.footer-row li h4.social-links-title' ),
                        properties: (                        
                        size:(font-size: 4.2),
                        )
                ),
             layout-subscribe-heading-size:(
                    context:(css-path: 'ul.footer-row li h4.subscribe-footer-title' ),
                        properties: (                        
                        size:(font-size: 4.2),
                        )
                ),
            layout-subscribe-input-color:(
                    context:(css-path: 'footer ul.footer-row li.subscribe div.subscribe-form .subscribe-wrapper .subscribe-input-wrapper form input' ),
                        properties: (
                        color: #000000,
                        font-style: (style: regular, font-family: "&base-font")
                        )    
                ),
            layout-subscribe-input-placeholder-color:(
                    context:(css-path: 'ul.footer-row li.subscribe div.subscribe-form .subscribe-input-wrapper form input' ),
                        properties: (
                        color: #000000,
                        font-style: (style: regular, font-family: "&base-font")
                        )
                ),
            layout-subscribe-input-size:(
                    context:(css-path: 'ul.footer-row li.subscribe div.subscribe-form .subscribe-input-wrapper form input' ),
                        properties: (
                        size:(font-size: 1.5),
                        )    
                ),            
            layout-subscribe-button-color:(
                    context:(css-path: 'footer ul.footer-row li.subscribe div.subscribe-form .subscribe-wrapper .footer-subscribe-button' ),
                        properties: (
                        color: #ffffff,
                        background:#000000,
                        font-style: (style: bold, font-family: "&base-font")
                        )
                ),            
            layout-subscribe-button-hover:(
                    context:(css-path: '.subscribe-wrapper .footer-subscribe-button:hover' ),
                        properties: (
                        color: #ffffff,
                        background:#000000
                        )
                ),
            layout-subscribe-button-size:(
                    context:(css-path: '.subscribe-wrapper .footer-subscribe-button' ),
                        properties: (
                        size:(font-size:1.6)
                        )
                ),
             layout-copyright:(
                        context:(css-path: 'ul.footer-row div.copyright' ),
                        properties: (                        
                        size:(font-size: 1.2,padding:(2, 0, 1.6, 0)),
                        text-align: right
                        )
                ),
            ), 
    onTablet:(
        copyright-size:(
                    context:(css-path: 'footer .copyright' ),
                        properties: (
                        size:(font-size: 1,padding:(3.2, 0)),
                        text-align: center
                        )
                    ),
        layout-social-link-heading-size:(
                    context:(css-path: 'ul.footer-row li h4.social-links-title' ),
                        properties: (                        
                        size:(font-size: 3.2),
                        )
                ),
        layout-subscribe-heading-size:(
                    context:(css-path: 'ul.footer-row li h4.subscribe-footer-title' ),
                        properties: (                        
                        size:(font-size: 3.2),
                        )
                ),
        layout-subscribe-input-size:(
                    context:(css-path: 'ul.footer-row li.subscribe div.subscribe-form .subscribe-input-wrapper form input' ),
                        properties: (
                        size:(font-size: 1.5),
                        )    
                ),
        layout-subscribe-button-size:(
                    context:(css-path: '.subscribe-wrapper .footer-subscribe-button' ),
                        properties: (
                        size:(font-size:1.6)
                        )
                ),
            ),
    onMobile:(
        copyright-size:(
                        context:(css-path: 'footer .copyright' ),
                        properties: (
                        size:(font-size: 1,padding:(3.2, 0)),
                        text-align: center
                        )
                    ),
        layout-social-link-heading-size:(
                    context:(css-path: 'ul.footer-row li h4.social-links-title' ),
                        properties: (                        
                        size:(font-size: 3.2),
                        )
                ),
        layout-subscribe-heading-size:(
                    context:(css-path: 'ul.footer-row li h4.subscribe-footer-title' ),
                        properties: (                        
                        size:(font-size: 3.2),
                        )
                ),
        layout-subscribe-input-size:(
                    context:(css-path: 'ul.footer-row li.subscribe div.subscribe-form .subscribe-input-wrapper form input' ),
                        properties: (
                        size:(font-size: 1.5),
                        )    
                ),
        layout-subscribe-button-size:(
                    context:(css-path: '.subscribe-wrapper .footer-subscribe-button' ),
                        properties: (
                        size:(font-size:1.6)
                        )
                ),
        layout-copyright:(
                        context:(css-path: 'ul.footer-row div.copyright' ),
                        properties: (                        
                        size:(font-size: 1.2,padding:(0, 0)),
                        text-align: center
                        )
                ),
            )    
)