/* footer */

footer {
    z-index: 50;
    position: relative;
    @include apply-Desktop($map-footer,footer-background);

    .footer-content {

        .border {
            @include apply-Desktop($map-footer,footer-border-color);
        }
    }

    ul.social-buttons {
        list-style: none;
        @include size(margin, 0);
    }

    ul.footer-links {
        list-style: none;
        @include size(margin, 0);

        li {
            a {
                @include apply-Desktop($map-footer,footer-link-color);
            }
        }
    }

    .copyright {
        @include apply-Desktop($map-footer,copyright-color);
    }

    .powered-newsmarket {
        @include apply-Desktop($map-footer,powered-newsmarket);

        a {
            position: relative;

            img {
                width: 176px;
                height: 16px;
                /*margin:16px 0 16px 21px;*/
            }
        }
    }

    ul.footer-row {
        ul.social-buttons {
            @include size(padding, 1.6, 0, 2.6, 0);
        }

        li {
            h4.social-links-title {
                @include apply-Desktop($map-footer, layout-social-link-heading-color);
            }

            h4.subscribe-footer-title {
                @include apply-Desktop($map-footer,layout-subscribe-heading-color);
            }
        }

        li.subscribe {
            div.subscribe-form {
                .subscribe-wrapper {
                    .subscribe-input-wrapper {
                        form {
                            input {
                                @include apply-Desktop($map-footer,layout-subscribe-input-color);
                            }

                            input::placeholder {
                                @include apply-Desktop($map-footer,layout-subscribe-input-placeholder-color);
                            }

                            input:-ms-input-placeholder {
                                @include apply-Desktop($map-footer,layout-subscribe-input-placeholder-color);
                            }

                            input::-ms-input-placeholder {
                                @include apply-Desktop($map-footer,layout-subscribe-input-placeholder-color);
                            }
                        }
                    }

                    .footer-subscribe-button {
                        @include apply-Desktop($map-footer,layout-subscribe-button-color);
                    }
                }
            }
        }
    }
}

.desktop {
    .footer-content {
        //padding: 0 16px; Fixed : TNMMCLITE-506
        .links-wrapper {
            overflow: hidden;
            @include size(padding, 0, 1.8, 0, 0);

            .footer-links {
                text-align: left;

                li {
                    display: inline-block;
                    @include size(padding, 2, 2, 0, 0);
                }
            }
        }

        .social-icons {
            float: right;
            max-width: 45%;
            @include size(padding, 0, 0, 0, 1.8);

            ul {
                @include size(padding, 2, 0);
                text-align: left;

                li {
                    &:last-child {
                        @include size(padding-right, 0);
                    }
                }
            }
        }

        .links {
            background-color: #A5A5A5;

            .footer-links {
                @include size(padding, 0, 1.8);

                li {
                    @include size(padding, 1.6, 1.8, 0, 1.8);

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }

        ul.linksrow {
            display: block;
            line-height: 1;
            text-align: left;
            @include size(margin, 0, 0, 0, 0);
            @include size(padding, 0.7, 0, 0.6, 0);

            li {
                display: inline-block;
                @include size(padding, 0, 0, 0, 2);

                a {
                    @include size(height, 2.3);

                    img {
                        @include size(height, 2.3);
                    }
                }

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

footer {
    .tablet {
        .columns {
            width: 100%;
        }

        .links {
            padding: 0;

            .footer-links {
                @include size(padding, 0, 1.8);

                li {
                    @include size(padding, 1.6, 1.8, 0, 1.8);

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

footer {
    .tablet {
        ul.social-buttons {
            text-align: center;
        }
    }

    .tablet {
        ul.linksrow {
            text-align: left;
            background-color: #a5a5a5;
        }
    }
}

@media #{$mobile} {
    footer {

        ul.social-buttons {
            display: block;
            line-height: 1;
            text-align: center;
            @include size(padding, 1.6, 0, 3.2, 0);

            li {
                display: inline-block;
                @include size(padding, 1.6, 1.2, 0, 1.2);
                text-align: left;

                a {
                    img {
                        @include size(height, 3.1);
                    }
                }

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }



        div.linksrowcontainerdiv {
            background-color: #A5A5A5;
        }

        ul.linksrow {
            display: block;
            line-height: 1;
            text-align: left;
            @include size(margin, 0, 0, 0, 0);
            @include size(padding, 0.7, 0, 0.6, 0);

            li {
                display: inline-block;
                @include size(padding, 0, 0, 0, 2);

                a {
                    @include size(height, 2.3);

                    img {
                        @include size(height, 2.3);
                    }
                }

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        ul.footer-links {
            line-height: 1;

            li {
                position: relative;
                text-align: center;
                @include size(padding, 0.8, 0);

                &:first-child {
                    padding-top: 0;
                }

                a {
                    display: inline-block;
                    @include size(font-size, 1.4);
                }
            }
        }

        .copyright {
            @include apply-Mobile($map-footer,copyright-size);
            /*padding-bottom: 0px;
            margin-left: 37px;
            padding-right: 97px;*/
        }

        .powered-newsmarket {
            height: 48px;
            text-align: center;

            a {
                img {
                    @include size(margin, 1.6, 0, 1.6, 0);
                }
            }
        }
        ul.footer-row.powered-by {
            margin: -20px -1000px !important;
        }

        ul.footer-row {
            ul.social-buttons {
                text-align: left;
                @include size(padding, 1.0, 0, 1.6, 3);

                li {
                    @include size(padding, 0, 0.1);
                }
            }

            ul.footer-links {
                li {
                    padding-bottom: 10px;

                    &:first-child {
                        padding-top: 0;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
}

@media #{$tablet} {
    footer {
        ul.social-buttons {
            @include size(padding, 0, 0, 1.6, 0);

            li {
                @include size(padding, 3.2, 1.8, 0, 1.8);
                text-align: left;

                a {
                    img {
                        @include size(height, 3.6);
                    }
                }
            }
        }

        ul.footer-links {
            display: block;
            text-align: center;
            width: 100%;
            line-height: 1;

            li {
                position: relative;
                display: inline-block;

                a {
                    @include size(font-size, 1.4);
                }
            }
        }

        .copyright {
            @include apply-Tablet($map-footer,copyright-size);
        }

        .powered-newsmarket {
            height: 78px;
            text-align: center;

            a {
                position: relative;

                img {
                    @include size(margin, 3.2, 0, 3.2, 0);
                }
            }
        }
        ul.footer-row.powered-by {
            margin: -20px -1000px !important;
        }

        ul.footer-row {
            ul.social-buttons {
                @include size(padding, 2.5, 0, 0, 0);

                li {
                    @include size(padding, 0,0.5);

                    a {
                        img {
                            @include size(height, 5.6);
                        }
                    }
                }
            }

            ul.footer-links {
                display: flex !important;
                padding-bottom: 0;

                li {
                    @include size(padding, 2, 1.8, 0, 0);

                    &:first-child {
                        padding-bottom: 10px;
                        padding-top: 20px !important;
                    }
                }
            }

            .copyright {
                margin-left: 0px;
                padding-right: 0px;
            }
        }
    }
}

@media #{$desktop} {
    footer {
        ul.social-buttons {
            @include size(padding, 2.5, 0, 0, 3);

            li {
                @include size(padding, 0, 1.4);
            }
        }

        ul.footer-links {
            &::before {
                display: none;
            }

            &::after {
                display: none;
            }

            line-height: 1;

            li {
                position: relative;
                @include size(padding, 2, 4.8, 0, 0);

                a {
                    @include size(font-size, 1.2);
                    padding-bottom: 2px;

                    &:hover {
                        @include apply-Desktop($map-footer,footer-link-hover-color);
                    }
                }
            }
        }

        .copyright {
            @include apply-Desktop($map-footer,copyright-size);
        }

        .tablet {
            .copyright {
                @include apply-Tablet($map-footer,copyright-size);
            }
        }

        .powered-newsmarket {
            height: 78px;
            text-align: center;

            a {
                position: relative;

                img {
                    @include size(margin, 3.2, 0, 3.2, 0);
                }
            }
        }
        ul.footer-row.powered-by {
            margin: -20px -1000px !important;
        }

        ul.footer-row {
            ul.social-buttons {
                li {
                    @include size(padding, 0, 0.5);
                    text-align: left;

                    a {
                        img {
                            @include size(height, 5.6);
                        }
                    }
                }
            }

            ul.footer-links {
                li {
                    display: flex !important;
                    padding-bottom: 0px !important;
                    @include size(padding, 2, 1.8, 0, 0);

                    &:first-child {
                        padding-bottom: 10px;
                        padding-top: 20px !important;
                    }
                }
            }

            .copyright {
                margin-left: 0px;
                padding-right: 15px;
            }
        }
    }
}


@media #{$mobile} {
    .footer-links {
        padding-bottom: 0px;
    }
    footer {  
        .subscribe-wrapper {
            .subscribe-input-wrapper {
                display: table-row;
                width: 100%;

                form {
                    margin: 0;

                    input {
                        height: 30px !important;
                        width: 97%;
                        @include size(margin, 0,0, 1.2, 0);
                        @include size(padding, 0,0,0,1.5);
                    }
                }
            }

            .subscribe-button-wrapper {
                display: table-row;
                width: 34%;
                padding-left: 0px;

                .subscribe-button {
                    min-width: 100px;
                    width: auto;
                    height: 30px;
                    line-height: 30px;
                    @include size(margin, 1,0.5);
                    @include size(padding, 0,0.5);
                }
            }

            .footer-subscribe-button {
                display: inline-block;
                height: 32px;
                text-align: center;
                vertical-align: middle;
                line-height: 30px;
                border-bottom: 0px;
                border-right: 0px;
                box-shadow: 0 0 0 0 !important;
                @include apply-Mobile($map-footer,layout-subscribe-button-size);
            }
        }

        .subscribe-form {
            padding: 0 15px !important;
        }
    }

    ul.footer-row {

        &.row-1 {
            @include apply-Desktop($map-footer,footer-background);
            padding: 16px 0px 0px 0px !important;
        }

        &.row-2 {
            margin: 7px 1px 0px !important;
        }

        &.row-3 {
            margin: -20px !important;
            padding-top: 21px !important;
        }

        li {
            &:nth-child(odd) {
                text-align: center;
            }

            &:nth-child(even) {
                text-align: center;
            }

            h4 {
                display: block;
                text-align: left;
                margin-bottom: 0px;
            }

            h4.social-links-title {
                @include apply-Mobile($map-footer,layout-social-link-heading-size);
            }

            h4.subscribe-footer-title {
                @include apply-Mobile($map-footer,layout-subscribe-heading-size);
            }

            div.subscribe-wrapper {
                display: flex;
            }
        }

        li.social-links {
            padding-left: 0;
            padding-bottom: 0;

            h4.social-links-title {
                display: block;
                padding-left: 30px;
                margin-bottom: 0;
                text-align: left;
                /*font-weight: 400;
                color: #988C7F;*/
            }

            ul.social-buttons {
                text-align: left;
                display: block;
            }
        }

        li.subscribe {
            padding-left: 31px;
            padding-right: 31PX;

            div.subscribe-form {
                padding: 0 0px !important;
                margin-bottom: 0 !important;
                text-align: left;

                .subscribe-wrapper {

                    .subscribe-input-wrapper {

                        form {
                            //margin: 0 !important;
                            input {
                                //height: 30px !important;
                                //width: 97%;
                                @include size(margin, 1.0,0, 0, 0);
                                @include apply-Mobile($map-footer,layout-subscribe-input-size);
                                //padding: 6px;
                            }
                        }
                    }
                }
            }
        }

        li.footer-links {
            ul.footer-links {
                text-align: left;
                width: 100%;
            }
        }

        li.powered-by {
            div.powered-newsmarket {
                text-align: center;
            }
        }

        li.copyright {
            margin-left: 37px;
        }

        div.copyright {
            @include apply-Mobile($map-footer,layout-copyright);
            padding-bottom: 0px;
            margin-left: 37px;
            padding-right: 97px;
        }
    }
}

@media #{$tablet} {
    footer {
        .subscribe-wrapper {
            display: table;

            .subscribe-input-wrapper {
                display: table-cell;
                @include size(padding-top, 1.8);
                /*width: 50%;*/
                .subscribe-input-wrapper form input {
                    height: 48px !important;
                    width: 97%;
                    @include size(padding, 0,0,0,1.5);
                }
            }

            .subscribe-button-wrapper {
                display: table-cell;
                width: 30%;
                padding-left: 10px;
                padding-top: 17px;
                // .subscribe-button {
                // 	/*width: 100% !important;*/
                // 	height: 48px !important;
                // 	line-height: 48px !important;
                // }
                .subscribe-button {
                    width: 86%;
                    height: 56px;
                    line-height: 56px;
                    /*padding-left: 0px !important;*/
                    padding-left: 12px;
                    padding-right: 12px;
                }
            }

            .footer-subscribe-button {
                @include apply-Tablet($map-footer,layout-subscribe-button-size);
            }
        }
    }

    ul.footer-row {
        &.row-2 {
            margin: 7px 20px 0px 15px !important;
            // &.block-grid.two-up.li {
            // 	padding: 0 1px 15px !important;
            // }
        }

        &.row-3 {
            margin: -20px -1000px !important;
        }

        li {
            /* Followign styles can be added if the row has two column layout and we want to align first item to left and second item to right and so on..
				&:nth-child(odd) {
				text-align: left;
			}

			&:nth-child(even) {
				text-align: right;
			}*/
            h4 {
                display: inline;
            }

            h4.social-links-title {
                @include apply-Tablet($map-footer,layout-social-link-heading-size);
            }

            h4.subscribe-footer-title {
                @include apply-Tablet($map-footer,layout-subscribe-heading-size);
            }

            div.subscribe-wrapper {
                display: flex;
            }
        }

        li.subscribe {
            @include size(padding-left,4.5);

            div.subscribe-form {
                padding: 40px 0px 6px 0px !important;
                margin-bottom: 0 !important;
                text-align: left;

                .subscribe-wrapper {

                    .subscribe-input-wrapper {

                        form {
                            //margin: 0 !important;
                            input {
                                //height: 30px !important;
                                width: 100% !important;
                                @include size(margin, 1.0,0, 0, 0);
                                height: 5.6rem !important;
                                @include apply-Tablet($map-footer,layout-subscribe-input-size);
                                //padding: 6px;
                            }
                        }
                    }
                }
            }
        }

        li.social-links {
            padding-left: 45px;
            padding-top: 42px;

            div.social-icons {
                display: table-row;
                text-align: left;
            }

            h4.social-links-title {
                display: inline;
                padding-right: 0px;
                margin-top: 3.2rem;
                padding-left: 0rem !important;
                margin-bottom: 0;
            }
            // h4.social-links-title {
            // 	display: inline;
            // }
            ul.social-buttons {
                text-align: inherit;
                display: table;
            }
        }

        li.footer-links {
            ul.footer-links {
                text-align: inherit;
            }
        }

        li.powered-by {
            div.powered-newsmarket {
                text-align: inherit;
            }
        }

        li.copyright {
            margin-left: 0;
        }

        div.copyright {
            text-align: left;
            margin-left: 0;
        }
    }
}

footer {
    .subscribe-wrapper {
        .subscribe-button-wrapper {
            .subscribe-button {
                @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
                    display: table-cell;
                    padding-left: 5px !important;
                }
            }
        }
    }
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
    footer {
        .subscribe-wrapper {
            .subscribe-button-wrapper {
                .subscribe-button {
                    display: table\9;
                    padding-left: 5px\9 !important;
                }
            }
        }
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    footer {
        .subscribe-wrapper {
            .subscribe-button-wrapper {
                .subscribe-button {
                    display: table;
                    padding-left: 5px !important;
                }
            }
        }
    }
}

@media #{$desktop} {
    footer {
        .subscribe-wrapper {
            display: table;

            .subscribe-input-wrapper {
                display: table-cell;
                padding-top: 1.5rem;
                /*width: 50%;*/
                form {
                    input {
                        //@include size(height, 5.6) ;
                        height: 5.6rem !important;
                        width: 100%;
                        @include size(padding, 0,0,0,1.5);
                    }
                }
            }

            .subscribe-button-wrapper {
                width: 30%;
                padding-left: 0px;
                padding-top: 15px;
                padding-right: 20px;

                .subscribe-button {
                    width: auto;
                    height: 56px;
                    line-height: 56px;
                    min-width: 100px;
                    //padding-left: 18px !important;
                }
            }

            .footer-subscribe-button {
                display: inline-block;
                height: 56px;
                text-align: center;
                vertical-align: middle;
                line-height: 56px;
                @include apply-Desktop($map-footer,layout-subscribe-button-size);
                border-bottom: 0px;
                border-right: 0px;
                box-shadow: 0 0 0 0;
                text-transform: uppercase;

                &:hover {
                    @include apply-Desktop($map-footer,layout-subscribe-button-hover);
                }
            }
        }
    }

    ul.footer-row {

        &.row-1 {
            @include apply-Desktop($map-footer,footer-background);
            padding: 60px 0px 0px 0px !important;
            /*padding-right: 1015px !important;*/
        }

        &.row-2 {
            margin: 20px 1px 0px !important;
            // &.block-grid.two-up.li {
            // 	padding: 0 1px 15px !important;
            // }
        }

        &.row-3 {
            margin: -20px -1000px !important;
        }

        li {

            h4.social-links-title {
                @include apply-Desktop($map-footer,layout-social-link-heading-size);
            }

            h4.subscribe-footer-title {
                @include apply-Desktop($map-footer,layout-subscribe-heading-size);
            }
        }

        li.footer-links {
            /*padding: 0 0 0 28px !important;
			text-align: left;*/
            padding-right: 0px !important;
            //padding-left: 10px !important;
            width: 50% !important;
        }

        li.subscribe {
            /*width: 60%;*/
            /*padding: 36px 0 !important;*/
            @include size(padding-left,1);
            @include size(padding-right,0);
            @include size(padding-bottom,0.5);

            div.subscribe-form {
                padding: 0 !important;
                margin-bottom: 0 !important;
                text-align: left;

                .subscribe-wrapper {

                    .subscribe-input-wrapper {

                        form {
                            //margin: 0 !important;
                            input {
                                //height: 30px !important;
                                width: 97% !important;
                                @include size(margin, 1.0,0, 0, 0);
                                @include apply-Desktop($map-footer,layout-subscribe-input-size);
                                //padding: 6px;
                            }
                        }
                    }
                }
            }
        }

        li.social-links {
            padding-left: 32px !important;
            padding-bottom: 0;
            padding-top: 0px !important;

            h4.social-links-title {
                display: block;
                padding-right: 0px;
                margin-top: 0px;
                padding-left: 3rem;
                margin-bottom: 0;
            }

            ul.social-buttons {
                text-align: left;
                display: block;
            }
        }

        li.copyright {
            margin-left: 0;
        }

        div.copyright {
            @include apply-Desktop($map-footer,layout-copyright);
        }
    }

    footer {
        .subscribe-wrapper {
            .subscribe-button-wrapper {
                .subscribe-button {
                    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
                        display: table-cell;
                        padding-left: 12px !important;
                        padding-right: 12px;
                    }
                }
            }
        }
    }

    @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
        footer {
            .subscribe-wrapper {
                .subscribe-button-wrapper {
                    .subscribe-button {
                        /*display: table\9;*/
                        padding-left: 12px\9 !important;
                        padding-right: 12px\9;
                    }
                }
            }
        }
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        footer {
            .subscribe-wrapper {
                .subscribe-button-wrapper {
                    .subscribe-button {
                        display: table;
                        padding-left: 12px !important;
                        padding-right: 12px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) and (-ms-high-contrast: active), only screen and (min-width: 769px) and (-ms-high-contrast: none) {
    footer {
        .subscribe-wrapper .subscribe-button-wrapper .subscribe-button {
            display: block;
            width: 100%;
        }

        *::-ms-backdrop, .subscribe-wrapper .subscribe-button-wrapper .subscribe-button {
            display: table-cell;
            padding-left: 12px !important;
            padding-right: 12px;
        }
    }
}

.home {
    .spacer {
        padding-top: 10px;
    }

    .see-all {

        h4 {
            padding-bottom: 3.1rem;
        }
    }
}

footer {
    ul.footer-links {
        display: -ms-flexbox;
    }
}
