﻿$map-foundation:(
    base-properties:(
        base-font:'Arial,Helvetica,Verdana,sans-serif', 
        base-color:'red'        
    ),
    onDesktop:(
          paging-hover:(
                        context:(css-path: 'li:not(.current):not(.arrow):not(.unavailable):hover a' ),
                        properties: (
                        color: #000000,
                        background: none
                        )
                    ),
            paging-text:(
                        context:(css-path: 'ul.pagination li a' ),
                        properties: (
                        color: #000000,                        
                        font-style: (style: bold, font-family: "&base-font")                     
                        )
                    ),
             paging-span:(
                        context:(css-path: 'ul.pagination li a span' ),
                        properties: (
                        size:(font-size:2.4), 
                        vertical-align: middle
                        )
                    ),
            paging-next:(
                        context:(css-path: 'ul.pagination li.arrow a' ),
                        properties: (
                        color: #3cbef4,
                        font-style: (style:bold,font-family: "&base-font")
                        )
                    ),
            paging-next-prev-hover:(
                        context:(css-path: 'li:not(.current):not(.arrow):not(.unavailable):hover a' ),
                        properties: (
                        color: #000000,
                        background: none
                        )
                    ),
            paging-current-page-text:(
                        context:(css-path: 'ul.pagination li.current a' ),
                        properties: (
                        color:#fff,
                        size:(font-size:1.4),
                         font-style: (font-family: "&base-font")
                        )
                    )

            ), 
    onTablet:(
        
            ),
    onMobile:(
        
            )    
)