/* breadcrumbs */
ul.breadcrumbs { display: inline-block; background: none; padding: 0px; border: none; overflow: visible; margin-left: 0; }
ul.breadcrumbs li { margin: 0; padding: 0 10px 0 0; float: left; list-style: none; }
/*ul.breadcrumbs li a, ul.breadcrumbs li span {  @include size(font-size, 1.1); @include font_bold(); color: $black; font-size: 14px;  }*/
ul.breadcrumbs li a, ul.breadcrumbs li span {  @include apply-Desktop($map-breadcrumbs,breadcrumb-anchor)  }
ul.breadcrumbs li:first-child a, ul.breadcrumbs li:first-child span { padding-left: 0; }
ul.breadcrumbs li:before { content: ">"; color: $black; font-weight: bold; @include font_bold(); color: $black; font-size: 14px;}
ul.breadcrumbs li:first-child:before { content: " "; }
ul.breadcrumbs li.current a { cursor: default; color: #333; }
ul.breadcrumbs li:hover a, ul.breadcrumbs li a:focus { text-decoration: underline; }
ul.breadcrumbs li.current:hover a, ul.breadcrumbs li.current a:focus { text-decoration: none; }
ul.breadcrumbs li.unavailable a { color: #999; }
ul.breadcrumbs li.unavailable:hover a, ul.breadcrumbs li.unavailable a:focus { text-decoration: none; color: #999; cursor: default; }
ul.breadcrumbs	li.rss:before { content: ''; }
ul.breadcrumbs	li.rss a { padding-left: 0px; }
ul.breadcrumbs li a {padding-left: 0px;}

/* pagination */
ul.pagination {
	height: auto;
	margin-bottom: 0;
	li {
		a {			
            @include apply-Desktop($map-foundation,paging-text);      
			span {
                @include apply-Desktop($map-foundation,paging-span);      			
			}
		}
	}
	li.arrow a {
        @include apply-Desktop($map-foundation,paging-next);		
	}
	li.arrow a:hover {
		@include apply-Desktop($map-foundation,paging-next-prev-hover);
	}
	li:hover a {
		background: none;
	}
	li:not(.current):not(.arrow):not(.unavailable):hover a {
        @include apply-Desktop($map-foundation,paging-hover);      		
	}
	li.current a {
		background: image-url("/Content/images/icons/paging-dot.png") center no-repeat;
		font-weight: normal;
		padding: 1px 7px 1px;
        @include apply-Desktop($map-foundation,paging-current-page-text);              
	}
	li.current  {
		&.big-number {			
			a, a:active, a:hover {
				background: image-url("/Content/images/icons/icon-big-dot.png") center no-repeat;
				padding: 10px;
			}
		}		
	}
	li.current a:active, li.current a:hover {
		background: image-url("/Content/images/icons/paging-dot.png") center no-repeat;
	}
	li.unavailable a {
		cursor: default;
		color: #999;
	}
}

@media #{$tablet} {
	ul.pagination {
		li.mobile {
			display: none;
		}
	}
}


.block-grid {
	margin: 0px -15px!important;
	margin: 0rem -1.5rem!important;
}

@media #{$nexus} {
	ul.pagination {
		li.current a {
			padding: 3px 7px 1px;
		}
	}
}
.row {
	min-width: 240px;
}

.reveal-modal-bg {
	z-index: 101;
}
.reveal-modal {
	z-index: 102;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1;
}

/*TNMMCLite-27*/
.column, .columns {
	padding: 0 15px;
}