.menu-header {
    h3 {
        color: #666666;
        display: inline-block;
        width: 90%;
        margin-top: 0px;
        @include size(margin, 0);
        padding-left: 5px;
    }

    h5 {
        @include font_regular();
        color: #777777;
        @include size(margin, 0);
        @include size(font-size, 1.2);
    }
}

/*TODO :remove this custom class , keep for reference for IBM only*/
/*.icons-IBM { 
    background-image: url("/content/images/icons/IBM.png");
    width: 80px;
    height: 32px;
    background-size: 100% 100%;
}*/

@media #{$mobile} {
    .header-top-mobile {
        display: block;
        text-align: justify; //center;
        width: 100%;
        @include size(margin-top, 1.9);
        margin-bottom: 0;
        height: 42px;
        //background-color: $header-background-color;
        @include apply-Desktop($map-main,header-background);

        &::before {
            content: '';
            display: block;
            width: 100%;
            margin-bottom: 0; /* line-height */
        }

        &::after {
            content: '';
            display: inline-block;
            width: 100%;
        }

        .open-menu {
            vertical-align: top;
            display: inline-block;
            height: 25px;
            width: 25px;
        }

        .newsroom-label-wrapper {
            position: relative;
            display: inline-block;

            .logo {
                display: table-cell;

                img {
                    height: 50%;
                }
            }

            .newsroom-label {
                @include size(font-size, 1.2);
                @include font_regular();
                display: table-cell;
                @include size(padding-left, 1);

                a {
                    /*color: $newsroom-label;*/
                    @include apply-Mobile($map-header-top,header-newsroom-label);
                }

                &.newsroom-label-alignment-vertical-top {
                    vertical-align: top;
                }

                &.newsroom-label-alignment-vertical-middle {
                    vertical-align: middle;
                }

                &.newsroom-label-alignment-vertical-bottom {
                    vertical-align: bottom;
                }

                &.newsroom-label-alignment-vertical-custom {
                    vertical-align: top;
                    @include apply-Mobile($map-header-top,header-newsroom-label-padding-top);
                }
            }
        }
    }

    .top-menu-mobile > div {
        float: left;

        img.arrow-menu {
            @include size(width, 1.2);
            display: inline-block;
            vertical-align: middle;
        }
    }

    .top-menu-mobile .two {
        text-align: right;
    }

    .logo-container {
        position: relative;
        @include size(padding, 1.6, 0.8, 0, 1.6);

        .logo-wrapper {
            .logo img {
                width: 100%;
            }
        }
    }

    .mobile-menu-link {
        display: block;
        @include apply-Mobile($map-header-top,mobile-menu-link-font-and-color);

        > span {
            @include apply-Mobile($map-header-top, mobile-menu-link-height-left-spacing);
        }
    }

    .mobile-menu-link:hover {
        @include apply-Mobile($map-header-top,mobile-menu-link-hover);
    }

    .header-bottom {
        background-color: #ffffff;
        border-bottom: 1px dotted #d4d4d4;

        .section-menu-header {
            background-color: #f1f1f1;
            border-bottom: 1px dotted #e9e9e9;
        }

        .twelve.columns.menu {
            display: none;
        }

        nav.section-menu ul {
            margin-bottom: 0;
            display: block;

            li {
                list-style: none;
                text-align: left;
                display: block;
                border-top: 1px dotted #999999;
                @include size(padding, 1.6, 0, 1.6, 3.2);

                a {
                    color: #999999;
                    @include size(font-size, 1.6);
                    display: block;
                    font-family: 'Arial';
                    line-height: 1;
                }
            }

            li.active a {
                color: #e83921;
            }

            li:first-of-type {
                border-top: none;
            }

            li.menu-more > a {
                display: none;
            }

            li.menu-more {
                padding-left: 0px;

                ul {
                    margin-left: 0;

                    li {
                        padding-left: 52px;
                    }
                }
            }
        }
    }

    .mobile.section-menu-header {
        @include size(padding, 1.2, 1.6, 1.6, 1.6);
    }
}

@media #{$tablet} {
    .header-top {
        //background-color: $header-background-color;
        @include apply-Desktop($map-main,header-background);

        .header-container {
            position: relative;
            color: $header-top-font-color;

            .top-menu-container {
                position: absolute;
                right: 0;
                bottom: 10px;
            }
        }

        .four.columns {
            float: left;
            padding-right: 0;
        }

        .eight.columns {
            background: none;
            display: block;
            width: auto;
            float: right;
        }

        div.TopHeaderRowDiv {
            display: block;
            width: 100%;
            @include apply-Desktop($map-header-top,topheaderrow-background-alignment-padding);
            @include size(padding-right,1.4);
            @include size(padding-left,1.6);

            > ul {
                list-style-type: none;
                direction: ltr;

                &::before {
                    display: none;
                }

                &::after {
                    display: none;
                }

                margin-bottom: 0px;
                line-height: 1;

                > li {
                    list-style: none;
                    @include apply-Desktop($map-header-top, topheaderrow-link-separator);
                    display: inline;

                    > a {
                        position: relative;
                        display: inline;
                        @include apply-Desktop($map-header-top,topheaderrow-link-size-color);

                        span {
                            @include apply-Desktop($map-header-top,topheaderrow-link-font-style);
                        }
                    }

                    > a:hover {
                        span {
                            @include apply-Desktop($map-header-top,topheaderrow-link-hover);
                        }
                    }

                    .tablet {
                        display: none; /*TODO: add tablet clas style baSED ON MEDIA QUERY if needed*/
                    }

                    div.search {
                        width: 22rem !important;
                        position: relative;
                        display: block;
                        min-height:32px;
                        min-width:50px;
                        input.search-placeholder {
                            padding: 6px 60px 6px 10px;
                            width: 22rem;
                            display: inline-block;
                            top: 0px;
                            right: 1px;
                            height: 32px;
                            display: inline-block;
                            border-left: 1px solid #e5e5e5;
                            position: absolute;
                        }

                        a.btn-search-desktop {
                            position: absolute;
                            top: 1px;
                            right: 0.2rem;
                            background: #f8f8f8;
                            width: 47px;
                            height: 30px;
                            display: inline-block;
                            border-left: 1px solid #e5e5e5;

                            i {
                                margin: .9rem 0 0 1.6rem;
                            }
                            /*i.icons-search-icon-desktop {
                                background-position: 0 -1643px;
                                height: 14px;
                                width: 14px;
                                margin: .9rem 0 0 1.6rem;
                            }*/
                        }

                        &.small {
                            width: auto !important;                           
                            input.search-placeholder {
                                display: none !important;
                            }                           
                        }
                    }
                }

                > li:first-of-type {
                    border-left: none;

                    a {
                        @include size(padding-left,0);
                    }
                }

                > li:last-of-type {
                    a {
                        @include size(padding-right,0);
                    }

                    div#countrydropdown_wrap {
                        @include size(padding-right, 0);
                    }
                }

                > li.left {
                    float: left !important;
                }

                > li.right {
                    float: right !important;
                }
            }
        }

        .logo-container {
            padding-top: 0;
            padding-bottom: 0;

            .logo-wrapper {
                white-space: nowrap;
                overflow: hidden;
                position: relative;
                display: table;
                @include size(padding, 1, 0);
            }

            .logo {
                display: inline-block;

                img {
                    width: auto;
                    max-width: none;
                    margin-top: 0;
                }
            }

            .newsroom-label {
                display: table-cell;
                @include size(font-size, 2.4);
                @include font_regular();
                @include size(padding-left, 1);

                a {
                    //color: $newsroom-label;
                    @include apply-Desktop($map-header-top,header-newsroom-label);
                }

                &.newsroom-label-alignment-vertical-top {
                    vertical-align: top;
                }

                &.newsroom-label-alignment-vertical-middle {
                    vertical-align: middle;
                }

                &.newsroom-label-alignment-vertical-bottom {
                    vertical-align: bottom;
                }

                &.newsroom-label-alignment-vertical-custom {
                    vertical-align: top;
                    @include apply-Desktop($map-header-top,header-newsroom-label-padding-top);
                }
            }
        }
    }

    .header-mid.hide-menu {

        .site-menu {
            visibility: hidden;
        }

        .search {
            display: block;
        }

        .btn-search.tablet {
            display: none;
        }
    }

    $top-media-cart-image: null !default;

    div.header-top-menu {
        display: block;
        /*min-width: 330px;*/
        height: 30px; //25px;
        > ul {
            float: right;

            &::before {
                display: none;
            }

            &::after {
                display: none;
            }

            margin-bottom: 0px;
            line-height: 1.5rem;

            > li {
                float: left;
                border-top: none;
                border-bottom: none;
            }

            > li.countryselector {

                @include apply-Desktop($map-header-top,header-link-seperator);
                list-style: none;

                > div#countrydropdown_wrap {
                    @include apply-Desktop($map-header-top,header-link-spacing);
                    height: 25px;
                    vertical-align: middle;
                }
            }

            > li.li-header-logreg {
                float: left;
                @include apply-Desktop($map-header-top,header-link-seperator);
                list-style: none;
            }

            > li.media-cart-drowdown {
                float: left;
                @include apply-Desktop($map-header-top,header-link-seperator);
                list-style: none;

                > a {
                    position: relative;
                    @include apply-Desktop($map-header-top,header-link-size-color-media-cart-drowdown);
                    @include apply-Desktop($map-header-top,header-link-spacing);
                    display: inline;

                    span {
                        @include apply-Desktop($map-header-top,header-link-font-style);
                    }

                    span.MediaCartCount {
                        padding-left: 3px;
                    }

                    i {
                        @include size(margin-right, 0.6);
                    }
                }
            }

            > li.headerLink-contacts {
                float: left;
                @include apply-Desktop($map-header-top,header-link-seperator);
                list-style: none;

                > a {
                    position: relative;
                    @include apply-Desktop($map-header-top,header-link-size-color-contacts);
                    @include apply-Desktop($map-header-top,header-link-spacing);
                    display: inline;

                    span {
                        @include apply-Desktop($map-header-top,header-link-font-style);
                    }

                    i {
                        @include size(margin-right, 0.6);
                    }
                }
            }

            > li.externallink {
                float: left;
                @include apply-Desktop($map-header-top,header-link-seperator);
                list-style: none;

                > a {
                    position: relative;
                    @include apply-Desktop($map-header-top,header-link-size-color-externallink);
                    @include apply-Desktop($map-header-top,header-link-spacing);
                    display: inline;

                    span {
                        @include apply-Desktop($map-header-top,header-link-font-style-externallink);
                    }

                    i {
                        @include size(margin-right, 0.6);
                    }
                }
            }

            > li.externallink:first-of-type {
                border-left: none;
            }

            li.download-queue {
                float: left;
                @include apply-Desktop($map-header-top,header-link-seperator);
                list-style: none;

                > a {
                    position: relative;
                    @include apply-Desktop($map-header-top,header-link-size-color-download-queue);
                    @include apply-Desktop($map-header-top,header-link-spacing);
                    display: inline;

                    span {
                        @include apply-Desktop($map-header-top,header-link-font-style-download-queue);
                    }

                    i {
                        @include size(margin-right, 0.6);
                    }
                }
            }

            > li:last-of-type {
                a {
                    @include size(padding-right, 0);
                }

                div#countrydropdown_wrap {
                    @include size(padding-right, 0);
                }


                ul.dynamic-menu {
                    @include size(padding-right, 0);
                }
            }



            li:first-of-type {
                border-left: none;
            }
        }

        li:first-of-type {
            border-left: none;

            ul.dynamic-menu {
                @include size(padding-left, 0);
            }
        }
    }

    div.header-top-menu:first-of-type {
        @include apply-Desktop($map-header-top,header-row1-spacing-bottom);
        padding-top: 1rem;
    }

    div.header-top-menu:last-of-type {
        @include apply-Desktop($map-header-top,header-row2-spacing-top);
    }

    @if $top-media-cart-image != null {
        div.header-top-menu .icons-media-cart {
            background: image-url($top-media-cart-image) no-repeat;
        }
    }

    $top-contacts-image: null !default;

    @if $top-contacts-image != null {
        div.header-top-menu .icons-contacts {
            background: image-url($top-contacts-image) no-repeat;
        }
    }

    $top-download-image: null !default;

    @if $top-download-image != null {
        div.header-top-menu .icons-download {
            background: image-url($top-download-image) no-repeat;
        }
    }

    div.header-top-menu {
        ul {
            li {
            }
        }

        .media-cart-drowdown {
            //position: relative;
            z-index: 40;

            .media-cart-wrapper {
                position: absolute;
                background: #ffffff;
                z-index: 99;
                width: 185px;
                left: -25px;
                top: 30px;
                webkit-box-shadow: 0px 3px 10px 0px #cccccc;
                box-shadow: 0px 3px 10px 0px #cccccc;
                display: none;

                i.arrow-media {
                    position: absolute;
                    top: -5px;
                    left: 50%;
                    margin-left: -8px;
                    display: block;
                }

                ul.media-cart-menu-items {
                    margin-top: 0px;
                    margin-left: 0px;
                    padding: 0 20px;

                    li {
                        display: block;
                        float: none;
                        border: none;
                        border-top: 1px solid #e5e5e5;
                        padding-left: 0px;
                        list-style: none;

                        a {
                            color: $black;
                            display: block;
                            @include font_semi_bold();
                            text-align: center;
                            @include size(font-size, 1.2);
                            @include size(padding, 0.6, 0);

                            .round-arrow {
                                display: none;
                            }
                        }
                    }

                    li.back-menu {
                        display: none;
                    }

                    li:last-of-type {
                        a {
                            @include font_regular();
                        }
                    }

                    li:first-of-type {
                        border-top: none;
                    }
                }
            }

            .sub-menu-btn {
                margin-right: 0px;
                background: none;
            }
        }

        .media-cart-drowdown:hover .media-cart-wrapper {
            display: block;
        }
    }

    .country-btn {
        display: block;
    }

    .header-mid {
        .site-menu-wrapper {
            display: block;
            width: 100%;

            &.short {
                nav.site-menu {
                    ul {
                        li {
                            @include size(padding, 0, 1.6, 0, 0);
                        }
                    }
                }
            }

            nav.site-menu {
                ul {
                    display: table;
                    margin-bottom: 0;

                    li {
                        @include apply-Desktop($map-mobile-menu,menu-item-site-menu);
                        //@include size(padding, 0, 4.8, 0, 0.0);
                        display: table-cell;
                        position: relative;
                        list-style: none;
                        border: none;
                        white-space: normal;
                        @include size(line-height, 4.8);
                        text-align: left;
                        list-style: none;

                        &:last-of-type {
                            padding-right: 0;
                        }

                        a {
                            @include apply-Desktop($map-mobile-menu,menu-item-link);
                            display: inline-block;
                            vertical-align: middle;
                            white-space: nowrap;

                            i {
                                @include size(margin-left, 1);
                                position: relative;
                                top: -2px;
                            }
                        }

                        .category-menu {
                            display: none;
                            position: absolute;
                            z-index: 40;
                            @include size(width, 20);
                            @include size(margin, 0);
                            @include box-shadow(0px, 5px, 10px, 0px, rgba(50,50,50,0.5));
                            max-height: $category-menu-max-height;
                            overflow-y: auto;
                            left: 0;
                            @include apply-Desktop($map-mobile-menu,menu-inner-background);

                            li {
                                display: block;
                                @include size(padding, 0);
                                @include size(margin, 0);
                                list-style: none;

                                a {
                                    @include apply-Desktop($map-mobile-menu,menu-inner-item);
                                    white-space: normal;
                                }
                            }

                            li:hover {
                                @include apply-Desktop($map-mobile-menu,menu-inner-hover-background);

                                a {
                                    @include apply-Desktop($map-mobile-menu,menu-inner-hover-item);
                                }

                                .category-submenu {
                                    display: block;
                                }
                            }

                            li.active {
                                @include apply-Desktop($map-mobile-menu,menu-inner-active-background);
                            }

                            li.active {
                                a {
                                    @include apply-Desktop($map-mobile-menu,menu-inner-active-item);
                                }
                            }
                        }

                        &.threelevelmenu .category-menu {
                            overflow-y: visible;
                            max-height: none;
                        }

                        .category-submenu {
                            display: none;
                            position: absolute;
                            left: 100%;
                            top: 0;
                            background: white;
                            //  display: block;
                            margin-left: 0;
                            min-width: 220px;
                            max-height: $category-menu-max-height;
                            @include box-shadow(0px, 5px, 10px, 0px, rgba(50,50,50,0.5));
                            overflow-y: auto;
                            @include apply-Desktop($map-mobile-menu,menu-three-level-background);

                            li {
                                a {
                                    white-space: normal;

                                    span {
                                        @include apply-Desktop($map-mobile-menu,menu-three-level-item);
                                    }
                                }
                            }

                            li:hover {
                                @include apply-Desktop($map-mobile-menu,menu-three-level-hover-background);

                                a {
                                    span {
                                        @include apply-Desktop($map-mobile-menu,menu-three-level-hover-item);
                                    }
                                }
                            }

                            li.active {
                                @include apply-Desktop($map-mobile-menu,menu-three-level-active-background);
                            }

                            li.active {
                                a {
                                    span {
                                        @include apply-Desktop($map-mobile-menu,menu-three-level-active-item);
                                    }
                                }
                            }
                        }
                    }

                    .active .icons-active-arrow {
                        display: block;
                        position: absolute;
                        top: -2px;
                    }

                    .icons-menu-right-arrow {
                        position: absolute;
                        right: 5%;
                        top: 50%;
                        margin-top: -4px;
                    }

                    li:first-of-type {
                        text-align: left;
                    }

                    li.active {
                        @include apply-Desktop($map-mobile-menu,menu-active-background);
                    }

                    li.active {
                        a {
                            @include apply-Desktop($map-mobile-menu,menu-active-item);
                        }
                    }

                    li:hover {
                        @include apply-Desktop($map-mobile-menu,menu-hover-background);
                    }

                    li:hover {
                        a span {
                            @include apply-Desktop($map-mobile-menu,menu-hover-item);
                        }
                    }

                    li.leftfortablet .category-submenu {
                        left: auto;
                        right: 100%;
                    }

                    li:hover {
                        .category-menu {
                            display: block;

                            li.active:hover {
                                .icons-menu-right-arrow {
                                    background: image-url('/Content/images/icons/menu-right-arrow.png') no-repeat;
                                    //background-position: 0 -1180px;
                                }
                            }

                            li:hover {
                                .icons-menu-right-arrow {
                                    //background-position: 0 -1170px;
                                    background: image-url('/Content/images/icons/menu-right-arrow-hover.png') no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.tablet-mode {
            .site-menu-wrapper {
                width: 95% !important;
            }

            .search {
                display: none;
            }

            .btn-search.tablet {
                display: block;
            }

            &.hide-menu {
                .site-menu-wrapper {
                    visibility: hidden;
                }

                .btn-search.tablet {
                    display: none;
                }

                .search {
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 95% !important;
                }
            }
        }
    }

    .header-mid {
        .search {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 95% !important;
            display: none;

            .btn-search {
                position: absolute;
                top: 8px;
                right: -15px;
            }
        }

        .btn-search.tablet {
            position: absolute;
            padding: 10px;
            right: 11px;
            top: 2px;
        }

        .btn-search-compact {
            position: absolute;
            padding: 10px;
            right: 11px;
            top: 2px;
            &.advance-search-show{
                right: 150px;
            }
        }
    }

    /*.header-right {
        background-color: blue !important;
        //@extend .header-mid;
        .site-menu-wrapper {
            display: block;
            width: 100%;

            &.short {
                nav.site-menu {
                    ul {
                        li {
                            @include size(padding, 0, 1.6, 0, 0);
                        }
                    }
                }
            }

            nav.site-menu {
                ul {
                    display: table;
                    margin-bottom: 0;

                    li {
                        @include size(padding, 0, 4.8, 0, 0);
                        display: table-cell;
                        position: relative;
                        list-style: none;
                        border: none;
                        white-space: normal;
                        @include size(line-height, 4.8);
                        text-align: left;
                        list-style: none;

                        &:last-of-type {
                            padding-right: 0;
                        }

                        a {
                            @include apply-Tablet($map-mobile-menu,menu-item);
                            display: inline-block;
                            vertical-align: middle;
                            white-space: nowrap;

                            i {
                                @include size(margin-left, 1);
                                position: relative;
                                top: -2px;
                            }
                        }

                        .category-menu {
                            display: none;
                            position: absolute;
                            z-index: 40;
                            @include size(width, 20);
                            @include size(margin, 0);
                            @include box-shadow(0px, 5px, 10px, 0px, rgba(50,50,50,0.5));
                            max-height: $category-menu-max-height;
                            overflow-y: auto;
                            @include apply-Tablet($map-mobile-menu,menu-inner-background);

                            li {
                                display: block;
                                @include size(padding, 0);
                                @include size(margin, 0);
                                list-style: none;

                                a {
                                    @include apply-Tablet($map-mobile-menu,menu-inner-item);
                                    white-space: normal;
                                }
                            }

                            li:hover {
                                @include apply-Tablet($map-mobile-menu,menu-inner-hover-background);

                                a {
                                    @include apply-Tablet($map-mobile-menu,menu-inner-hover-item);
                                }
                            }

                            li.active {
                                a {
                                    @include apply-Tablet($map-mobile-menu,menu-active-item);
                                }
                            }
                        }
                    }

                    .active .icons-active-arrow {
                        display: block;
                        position: absolute;
                        top: -2px;
                    }

                    li:first-of-type {
                        text-align: left;
                    }

                    li.active {
                        a {
                            @include apply-Mobile($map-mobile-menu,menu-active-item);
                        }
                    }

                    li:hover {
                        a span {
                            @include apply-Mobile($map-mobile-menu,menu-hover-item);
                        }
                    }

                    li:hover {
                        .category-menu {
                            display: block;
                        }
                    }
                }
            }
        }

        &.tablet-mode {
            .site-menu-wrapper {
                width: 95% !important;
            }

            .search {
                display: none;
            }

            .btn-search.tablet {
                display: block;
            }

            &.hide-menu {
                .site-menu-wrapper {
                    visibility: hidden;
                }

                .btn-search.tablet {
                    display: none;
                }

                .search {
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 95% !important;
                }
            }
        }
    }*/
}

@media #{$nexus} {
}

@media #{$ipad} {
}

@media only screen and (min-width: 601px) and (max-width: 870px) {
    .header-full {
        .header-mid {
            .site-menu-wrapper {
                width: 95% !important;
            }

            .btn-search.btn-search-desktop {
                display: none;
            }

            .btn-search.tablet {
                display: block;
            }

            &.hide-menu {
                .btn-search.tablet {
                    //display: none;
                }
            }
        }
    }
}

.header-full {
    .tablet-up {
        .site-menu-wrapper {
            padding-left: 0;
        }
    }
}

.header-full.tablet-view {
    .header-mid {
        &.hide-menu {
            .search.desktop {
                display: block;

                input {
                    display: block;
                    width: 100%;
                    position: static;
                }

                .btn-search.btn-search-desktop {
                    display: none;
                }
            }
        }

        .site-menu-wrapper {
            width: 95% !important;
        }

        .btn-search.tablet {
            display: block !important;
        }

        .search {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 95% !important;
            display: none;

            .btn-search {
                position: absolute;
                top: 8px;
                right: -15px;
            }
        }

        .btn-search.tablet {
            position: absolute;
            padding: 10px;
            right: 11px;
            top: 2px;
        }
    }
}

@media only screen and (min-width: 601px) and (max-width: 631px) {
    .header-full {
        .header-mid {
            .site-menu-wrapper {
                nav.site-menu {
                    ul {
                        li {
                            a {
                                @include size(font-size, 1.3);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 871px) {
    .header-mid {
        &.tablet-mode.hide-menu {
            .search form input {
                max-width: 100%;
            }

            a.btn-search {
                right: -15px;
            }
        }

        .search {
            width: 35% !important;
            position: relative;
            display: block;

            .btn-search-desktop {
                position: absolute;
                top: 1px;
                @include size(right, 0.1);
                background: #f8f8f8;
                width: 47px;
                height: 30px;
                display: inline-block;
                border-left: 1px solid #e5e5e5;

                i {
                    @include size(margin, 0.9, 0, 0, 1.6);
                }
            }

            form {
                margin-bottom: 0;
                padding-right: 30px;
                background-color: white;
                border: 1px solid #e5e5e5;

                input {
                    border: none;
                    display: block;
                    color: $darkgray;
                    @include size(font-size, 2);
                    @include size(max-width, 70);
                    @include size(padding-left, 1);
                }
            }
        }
    }
}

@media #{$desktop} {
    div.header-top-menu {
        ul {
            li {
                a:hover {
                    span {
                        @include apply-Desktop($map-header-top,header-link-bottomborder-and-textcolor-on-hover);
                    }
                }
            }
        }
    }

    .header-mid {
        .site-menu-wrapper {
            width: 65%;

            .hide-menu {
                .eight.columns {
                    .site-menu {
                        display: block;
                    }
                }
            }

            nav.site-menu {
                ul {
                    li:hover {
                        .category-menu {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

/*//**GP*/
@media #{$tablet} {
    .header-mid {
        nav.site-menu {
            ul {
                li.hide-desktop {
                    display: table-cell;
                }

                li.hide-tablet {
                    display: none;
                }

                li {
                    ul.category-menu {
                        li.hide-desktop {
                            display: table-cell;
                        }

                        li.hide-tablet {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media #{$desktop} {
    .header-mid {
        nav.site-menu {
            ul {
                li.hide-tablet {
                    display: table-cell;
                }

                li.hide-desktop {
                    display: none;
                }

                li {
                    ul.category-menu {
                        li.hide-tablet {
                            display: table-cell;
                        }

                        li.hide-desktop {
                            display: none;
                        }
                    }
                }
            }
        }
    }
     .search-iconchange{
            background-image: url(/Content/images/icons/search-icon-compact-expanded.png);            
            background-position:inherit;
    }
}
//**GP

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .header-mid {
        .site-menu-wrapper {
            nav.site-menu {
                ul {
                    li {
                        padding: 0;
                        @include size(padding-right, 4.8);
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media #{$desktop-1200} {
    .header-mid {
        .site-menu-wrapper {
            nav.site-menu {
                ul {
                    li:last-of-type {
                        padding: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

li.unbordered {
    border-bottom: none !important;
}

.mobile-rss {
    padding: 15px;
    background: #eeeeee;
    border: 1px solid #e2e2e2;
    @include box-shadow(0px, 0px, 10px, 1px, #efefef);
    position: absolute;
    width: 100% !important;
    z-index: 100;
    display: none;

    .mobile-rss-wrapper {
        position: relative;
        @include size(padding, 0.5, 0);

        label {
            @include size(margin, 1, 0);
            color: #333333;
        }

        a.close {
            position: absolute;
            top: 0px;
            right: 0px;
        }

        a.xml {
            width: 100%;
            @include size(font-size, 2);
        }
    }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #C7C4BE;
    //-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


.header-mid.compact-search {

    .search {
        display: block;
    }

    .btn-search-compact {
        display: block;
    }

    .search-placeholder {
        display: none;
    }

    &.expand-search {

        .search-placeholder {
            z-index: 999;
            display: block;

            &.small {
                width: 40rem;
                position: absolute;
                right: 40px;
                top: 0px;
            }

            &.full {
                width: 100%;
                position: static;
            }
        }

        .search {
            &.full {
                width: 96% !important;
                position: absolute;
                 &.advance-search-bar{
                    width: 83% !important;
                }
            }
        }
    }
}

.icons-search-icon-compact {
    @include apply-Desktop($map-header-top,compact-search-icon);
}

.header-mid-container {
    .header-top-menu {
        position: absolute;
        right: 64px;
        top: 16px;

        &.searchpage {
            right: 16px;
        }
    }
}

div.TopHeaderRowDiv {

    > ul {
        list-style-type: none;

        li {
            /*height: 50px;*/
            border-left: none !important;
            position: relative;
            /*.icons-IBM {
                height: 40px;
                width: 100px;
                background-size: 100%;
            }*/
            a {
                padding: 0px;
            }
        }

        > li.media-cart-drowdown {
            padding-left: 5px;
            padding-right: 5px;
        }

        > li.download-queue {
            padding-left: 5px;
            padding-right: 5px;
        }

        > li.search-panel {
            padding-left: 5px;
            padding-right: 5px;

            &.small{ /*can be used for styling search icon(left psacing, border etc..) in compact mode*/ 
                /*border-left: solid 2px green !important; */

                div {
                    /*margin-left: 10px;*/
                }
            }
        }

        > li.left {
            float: left !important;
        }

        > li.right {
            float: right !important;
        }        
    }
}

.header-top-menu.left {
    position: static;
    float: left;
}

.eight.columns.site-menu-wrapper.right {
    float: right;
    width:auto !important;
    .site-menu {
        float: right;
    }
}
