﻿$map-header-top:( base-properties:(
        base-font:'Arial,Helvetica,Verdana,sans-serif',       
        base-color:'#000000'        
    ),
    onDesktop:(       
        topheaderrow-background-alignment-padding:(
            context:(css-path: '.header-top  div.TopHeaderRowDiv' ),
            properties:(                     
            background-color: #ffffff,           
            size:(padding-top:0.5,padding-bottom:0.5),
            text-align:left
            )
        ),        
        topheaderrow-link-size-color:(
            context:(css-path: '.header-top  div.TopHeaderRowDiv ul li a' ),
            properties:(            
            size:(padding:(0, 1.2),font-size:1.6, line-height: 1),                                                                      
            color: #000000                        
            )
        ),        
        topheaderrow-link-font-style:(
            context:(css-path: '.header-top  div.TopHeaderRowDiv ul li a span' ),
            properties:( 
            font-style: (style:regular,font-family: "&base-font")
            )
        ),    
        topheaderrow-link-hover:(
            context:(css-path: '.header-top  div.TopHeaderRowDiv ul li a:hover' ),
            properties:(
            color: #000000,
            border-bottom: 1px solid #000000
            /*text-decoration: underline*/
            )
        ),
        topheaderrow-link-separator:(       
            context:(css-path: '.header-top  div.TopHeaderRowDiv ul li' ),             
            properties: (
            border-left: 1px solid #000000
            )
        ),            
        header-link-bottomborder-and-textcolor-on-hover:(   
            context:(css-path: '.header-top  .eight.columns  div.header-top-menu  ul  li a:hover  span' ),
            properties:(                     
            border-bottom: 1px solid #000000,
            color:#000000
            )  
        ),
        header-link-size-color:(       
            context:(css-path: '.header-top  .eight.columns  div.header-top-menu  ul  li a' ),                 
            properties: (               
            size:(line-height:1, font-size:1.4),
            color: #000                       
            )
        ),
        
        header-link-size-color-media-cart-drowdown:(       
            context:(css-path: '.header-top  .eight.columns  div.header-top-menu  ul  li a' ),                 
            properties: (               
            size:(line-height:1, font-size:1.4),
            color: #000                       
            )
        ),
        header-link-size-color-contacts:(       
                context:(css-path: '.header-top  .eight.columns  div.header-top-menu  ul  li a' ),                 
                properties: (               
                size:(line-height:1, font-size:1.4),
                color: #000                       
                )
            ),
        header-link-size-color-externallink:(       
            context:(css-path: '.header-top  .eight.columns  div.header-top-menu  ul  li a' ),                 
            properties: (               
            size:(line-height:1, font-size:1.4),
            color: #000                       
            )
        ),
        header-link-size-color-download-queue:(       
            context:(css-path: '.header-top  .eight.columns  div.header-top-menu  ul  li a' ),                 
            properties: (               
            size:(line-height:1, font-size:1.4),
            color: #000                      
            )
        ),
        header-link-font-style:(                        
            context:(css-path: '.header-top  .eight.columns  div.header-top-menu  ul  li a span' ),
            properties: (   
            font-style: (style:regular,font-family: "&base-font"),                                                                  
            )
        ),                
        header-link-font-style-externallink:(                        
            context:(css-path: '.header-top  .eight.columns  div.header-top-menu  ul  li a span' ),
            properties: (   
            font-style: (style:regular,font-family: "&base-font"),                                                                  
            )
        ),      
        header-link-font-style-download-queue:(                        
            context:(css-path: '.header-top  .eight.columns  div.header-top-menu  ul  li a span' ),
            properties: (   
            font-style: (style:regular,font-family: "&base-font"),                                                                  
            )
        ),          
        header-link-seperator:(       
            context:(css-path: '.header-top  .eight.columns  div.header-top-menu  ul  li' ),             
            properties: (
            border-left: 1px solid #000000 ,
            size:(height:1.5)           
            )
        ),          
        header-link-spacing:(
            context:(css-path: '.header-top  .eight.columns  div.header-top-menu  ul  li a' ),
            properties:(           
            size:(padding:(0,1.6))
            )
        ),
        header-row1-spacing-bottom:(
            context:(css-path: '.header-top  .eight.columns  div.header-top-menu:first-of-type' ),
            properties:(
            size:(margin-bottom:(0.8))
            )
        ),
        header-row2-spacing-top:(
            context:(css-path: '.header-top  .eight.columns  div.header-top-menu:last-of-type' ),    
            properties:(
            size:(padding-top:(1.0))
            )
        ),
        header-newsroom-label:(
            context:(css-path: '.newsroom-label a' ),    
            properties:(
            font-style: (style:bold,font-family: "&base-font"),
            size:(font-size:2.4),
            color: #000000,    
            )
        ),
        header-newsroom-label-padding-top:(
            context:(css-path: '.newsroom-label newsroom-label-alignment-vertical-custom' ),    
            properties:(                
                size:(padding-top:0.2)     
            )
        ),
        compact-search-icon:(
            context:(css-path: '.header-mid.compact-search-small .btn-search-compact icon icons-search-icon-compact' ),
            properties: (
                    background:  url("/Content/images/icons/search-icon-compact.png"),
                    height: 25px,
                    width: 25px,
                )
        )               
    ),
    onTablet:(
       
    ),          
    onMobile:(
        mobile-menu-link-font-and-color:(  
            context:(css-path: '.mobile-menu-link' ),                         
            properties: (                                                                    
            size:(line-height:1, padding:(1.7,0,1.7,2.4),font-size:1.6),
            color: #000,
            font-style: (style:regular, font-family: "&base-font"),
            background-color: #f1f1f1   ,
            border-bottom: 1px solid #D4D4D3          
            )
        ),   
        mobile-menu-link-height-left-spacing:(  
            context:(css-path: '.mobile-menu-link span' ),                                              
            properties: (                                                                    
            size:(line-height:1.7, padding-left:0.2)
            )
        ),
        mobile-menu-link-hover:(      
            context:(css-path: '.mobile-menu-link hover' ),                             
            properties: (                                                                    
                color: #000,
                text-decoration:underline
            )
        ),
        header-newsroom-label:(
            context:(css-path: '.newsroom-label a' ),    
            properties:(
                font-style: (style:bold,font-family: "&base-font"),
                size:(font-size:2.4),
                color: #000000, 
                
            )
        ),
        header-newsroom-label-padding-top:(
            context:(css-path: '.newsroom-label newsroom-label-alignment-vertical-custom'),    
            properties:(
                size:(padding-top:0.2)     
            )
        )      
    )
)


