.home {
	@media #{$mobile} {
		.images-videos {
			.images-videos-items {
				.tablet-hover-icons {
					display: none;
				}
				.image-wrapper {
					width: 100%;
					float: none;
					display: block;
				}
				.grid-item-text {
					float: none;
					width: 100%;
					display: block;
					@include size(margin, 1.6, 0, 0, 0);
					@include size(padding, 0);
				}
			}
		}
	}
	@media #{$tablet} {
		.images-videos {
			.images-videos-items {
				.image-wrapper {
					width: 100%;
				}
			}
		}
	}
}

html:not(.lt-ie9) {
	@media #{$mobile} {
		.landing-pages, .detail-pages, .mediacart, .home {
			.img-item {
				.image-wrapper {
					.hover-icons {
						.col3 {
							img.transparent {
								display: inline-block;
							}
							img.normal {
								display: none;
							}
						}
						.col3 {
							span:hover {
								img.transparent {
									@include opacity(0);
									display: none;
								}
								img.normal {
									display: inline-block;
								}									
							}
						}
						.info-icon, .download-icon, .media-icon, .delete-icon {
							@include opacity(0);
						}
					}
				}
			}
		}
		.mediacart {
			.img-item {
				.image-wrapper {
					.hover-icons {
						
					}
				}
			}
		}
	}

	@media #{$tablet} {
		.mediacart {
			.img-item {
				.image-wrapper {
					.hover-icons {
						.glass-icon, .play-icon {
							@include opacity(1);
							text-align: center;
						}
					}
				}
			}
		}
		.received {
			.img-item {
				.image-wrapper {
					.hover-icons {
						.glass-icon, .play-icon {
							@include opacity(1);
						}
					}
				}
			}
		}
	}

	@media #{$desktop} {
		.landing-pages, .detail-pages, .mediacart, .home {
			.img-item {
				.image-wrapper {
					.hover-icons {
						.info-icon, .download-icon, .media-icon {
							@include opacity(0);
						}
					}
					&:hover {
						.info-icon, .download-icon, .media-icon {
							@include opacity(1);
						}
					}
				}
			}
		}
		.mediacart {
			.img-item {
				.image-wrapper {
					.hover-icons {
						.delete-icon {
							text-align: left;
						}
					}
					&:hover {
						.download-icon, .delete-icon {
							@include opacity(1);
						}
					}
				}
			}
		}
		.received {
			.img-item {
				.image-wrapper {
					.hover-icons {
						.glass-icon, .play-icon {
							@include opacity(1);
						}
					}
					&:hover {
						.download-icon{
							@include opacity(1);
						}
					}
				}
			}
		}
	}
}
