﻿.vehicleFilterRow{
	/*display: block !important;*/
	background: #FAFAFA;
	margin-left: 0;
	@include size(padding-left, 2);
	border-bottom: 1px solid #DBE1E9;
	li{
		display: inline-block !important;
		&:hover{
			background: none !important;
			a{
				color: #000 !important;
			}
		}
	}
}
.header-full .tablet-up.vehicleFilterRow{
	background-image: none;
	width: 100%;
	height: 40px;
	background-color: #FAFAFA;
}
.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu.vehiclesfiltermenu{
	width: 960px;
	background-image: none; 
	max-height: none;
}
.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu.vehiclesfiltermenu li{
	label{
		background-image: url("/Content/images/icons/radio-input.png");
		background-position: left center;
		background-repeat: no-repeat;
		&.active-lable{
			background-image: url("/Content/images/icons/radio-input-active.png");
		}
	}
	input{
		visibility: hidden;
	}
}
 .header-mid .site-menu-wrapper nav.site-menu ul li .category-menu.vehiclesfiltermenu li:hover {
        background-color: transparent; 
        a{
   			color: #666;     	
        }
    }

.filter-li .vehicleFilterRow.tablet-up li{
	padding-right: 12px !important;
}
.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.vehicleFilter{
	width: 20%;
	float: left;
	min-height: 176px;
	border-bottom: 1px solid #DBE1E9;
	border-right: 1px solid #DBE1E9;
	.context-header{
		text-align: center;
			a{
				padding-bottom:16px !important;
				padding-top: 0;
				font-weight: bold;
				@include size(font-size, 1.4);
				@include size(line-height, 1.4);
				color: #010101;
				&:hover{
					color: #bb162b;
				}
			}
	}
	.grid-item-text{
		margin-top:0;
	}
	.img-wrap a{
		padding-bottom: 0;
	}
	.img-wrap img{
		width: 100%;
	}
	&:hover{
		background: none !important;
		a{
			color: #bb162b;
		}
	}
}

.desktop-1 .vehicleFilterRow.mobile.mobileFilter,
.tablet-1 .vehicleFilterRow.mobile.mobileFilter{
	display: none !important;
}
.desktop-1 .vehicleFilter:nth-child(5n+1),
.tablet-1 .vehicleFilter:nth-child(5n+1){
	/*clear: left;*/
}
.tablet-1 .header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.vehicleFilter{
	width: 25%;

}
.mobile-menu>ul.menu>li ul.category-menu li.vehicleFilter{
	width:50%;
	@include size(padding-left, 1.2);
	@include size(padding-right, 1.2);
	float: left;
	&:nth-child(2n){
		clear: left;
	}
	a{
		padding-bottom:0;
	}
	.context-header{
		text-align: center;
		a{
			padding:0;
			@include size(font-size, 1.4);
			font-weight: bold;
		}
	} 
}
.mobile-menu>ul.menu>li .vehiclesfiltermenu{
	padding-left: 0;
	.vehicleFilterRow li{
		padding-left: 0;
		@include size(padding-top, 1.2);
		@include size(padding-bottom, 1.2);
		label{
		@include size(font-size, 1);
		}
	}
	.vehicleFilterRow li input{
		visibility: hidden;
		width:1px;
		margin: 0;
	}
}
.mobile-menu .vehicleFilterRow{
	padding-left: 0;
	background:#fff;
	background-image: none;
}
 .mobile-menu>ul.menu>li ul.category-menu li.filter-li{
        padding-left: 0;
    }
    .vehiclesfiltermenu {
        background-color: #fff;
    }
    .vehicleFilterRow.mobileFilter{
        width: 100%;
    }
	.mobile-menu>ul.menu>li .vehiclesfiltermenu .vehicleFilterRow.mobileFilter li{
        padding: 1px 8px;
        background-color: #fafafa;
        display: block !important;
        float: left;
        height: 64px;
        width: 50px;
		border-right: 1px solid #eaeaea;
		border-bottom: 1px solid #eaeaea;
		&:nth-child(2) a,
		&:nth-child(3) a,
		&:nth-child(5) a

		{
			@include size(padding-top, 2.2);
		}
    }
    .mobile-menu>ul.menu>li .vehiclesfiltermenu .vehicleFilterRow.mobileFilter li:first-child{
    	width: 60px;
    }
    .mobile-menu>ul.menu>li .vehiclesfiltermenu .vehicleFilterRow.mobileFilter li:last-child{
    	word-wrap: break-word;
    	word-break: break-word;
	    width: 58px;

    }
	.mobile-menu>ul.menu>li .vehiclesfiltermenu .vehicleFilterRow.mobileFilter li.active-li-filter{
		background:#fff;
		border-bottom: 0 none;
	}
	
    .vehicleFilterRow.mobileFilter li a{
        /*font-size: 12px;*/
        @include size(font-size, 1.1);
        text-align: center;
        @include size(line-height, 1.4);
    }
    .mobile-menu>ul.menu>li ul.category-menu li.vehicleFilter:nth-child(2n) {
        clear: none;
    }
    .mobile-menu>ul.menu>li ul.category-menu li.vehicleFilter:nth-child(2n+1) {
        clear: none;
    }
    .mobile-menu>ul.menu>li ul.category-menu li.vehicleFilter.even{
        clear: left;
    }
    
    .header-mid .site-menu-wrapper nav.site-menu ul.mobile{
    	
    }