.landing-pages {
	h1 {
		margin: 0px;
	}
	.pagination-centered {
		@include size(padding, 0, 0, 3.2, 0);
	}
	ul.athletes-items {
		@include size(padding-bottom, 1.6);
	}
}

@media #{$mobile} {
	.landing-pages, .mediacart, .home  {
		ul.block-grid {
			> li {
				@include size(padding, 1.6);
				.image-wrapper {
					> a {
						img {
						}
					}
				}
			}
		}
	}

	/*TNMMcLite-27*/
		.latest-news, .lookbooks, .products, .showcasecategorylisting, .athletes-ambassadors {
			ul.block-grid {
				@include size(padding-bottom, 0.8);
				> li {
					@include size(padding, 1.6);
				}
			}
		}

	
}
@media #{$tablet} {
	/*TNMMCLITE-22*/
	.landing-pages {
		.pagination-centered {
			@include size(padding, 0, 0, 6.4, 0);
		}
		ul.athletes-items {
		@include size(padding-bottom, 3.2);
	}
	}

	.landing-pages, .mediacart {
		ul.block-grid {
			> li {
				@include size(padding, 3.2, 1.6, 3.2, 1.6);
			}
		}
	}

	/*TNMMcLite-27*/
	.latest-news, .images-videos, .lookbooks, .products, .showcasecategorylisting, .athletes-ambassadors {
		ul.block-grid {
			@include size(padding-bottom, 1.6);
			> li {
				@include size(padding, 3.2, 1.6, 3.2, 1.6);
			}
		}
	}


}
@media #{$desktop} {
	.landing-pages, .mediacart {
		ul.block-grid {
			> li {
				@include size(padding, 3.2, 1.5, 3.2, 1.5);
			}
		}
	}

	.landing-pages {
		ul	{
			&.block-grid {			
					@include size(padding-bottom, 3.2);
			}
		}
	}

	/*TNMMcLite-27*/
	.latest-news, .images-videos, .lookbooks, .products, .showcasecategorylisting, .athletes-ambassadors {
		ul.block-grid {
			@include size(padding-bottom, 0.4);
			> li {
				@include size(padding, 3.2, 1.5, 3.2, 1.5);
			}
		}
	}


}

.images-videos-items {
	li {
		.img-item {
			.image-wrapper {
				position: relative;
				.hover-icons {
					position: absolute;
					height: 100%;
					width: 100%;
					top: 0;
					left: 0;
					img {
					}
					.col1 {
						width: 100%;
						height: 100%;
						display: table;
						text-align: center;
						vertical-align: middle;
						a {
							vertical-align: middle;
							display: table-cell;
							cursor: pointer;
						}
					}
					.col3 {
						width: 33.33333%;
						height: 100%;
						float: left;
						display: table;
						text-align: center;
						vertical-align: middle;
						a {
							vertical-align: middle;
							display: table-cell;
							cursor: pointer;
						}
					}
					.media-icon, .download-icon, .info-icon {
						text-align: right;
					}
					.media-icon, .info-icon {
						text-align: left;
					}
                    .info-icon-left
                        {
                        text-align: left !important;
                    }
                    .info-icon-right
                        {
                        text-align: right !important;
                    }
				}
				.video-type, .audio-type {
					.col1.glass-icon, .col3.glass-icon {
						display: none;
					}
					.col1.play-icon, .col3.play-icon {
						display: table;
					}
					.media-type {
						.col3.info-icon {
							display: none;
						}
					}
				}
				.img-type {
					.col1.glass-icon, .col3.glass-icon {
						display: table;
						}
					.col1.play-icon, .col3.play-icon {
						display: none;
					}
					.media-type {
						.col3.info-icon {
							display: none;
						}
					}
				}
				.media-type {
					.col3.glass-icon, .col3.play-icon {
						text-align: left;
					}
				}
				> a > img {
					@include box-shadow(0px, 0px, 8px, $listing-img-container-shadow);
				}
			}
		}
		.img-item:hover {
			.image-wrapper {
				> a {
					img {
						@include box-shadow(0px, 0px, 8px, $listing-img-container-shadow-hover);
					}
				}
			}
		}
	}
}

.showcase-layout .images-videos-items li .img-item .image-wrapper > a > img{
    @include size(width, 33.6);
}

.lt-ie9 .images-videos-items li .img-item .image-wrapper > a > img {
	filter:
        progid:DXImageTransform.Microsoft.Shadow(color='#f3f3f3', Direction=45, Strength=10)
        progid:DXImageTransform.Microsoft.Shadow(color='#f3f3f3', Direction=135, Strength=10)
        progid:DXImageTransform.Microsoft.Shadow(color='#f3f3f3', Direction=225, Strength=10)
        progid:DXImageTransform.Microsoft.Shadow(color='#f3f3f3', Direction=315, Strength=10);
        position: relative;
        top: -20px;
        left: -20px;
        zoom: 1;
}

.lt-ie9 .images-videos-items li .img-item:hover .image-wrapper > a > img {
	filter:
        progid:DXImageTransform.Microsoft.Shadow(color='#e4e4e4', Direction=45, Strength=10)
        progid:DXImageTransform.Microsoft.Shadow(color='#e4e4e4', Direction=135, Strength=10)
        progid:DXImageTransform.Microsoft.Shadow(color='#e4e4e4', Direction=225, Strength=10)
        progid:DXImageTransform.Microsoft.Shadow(color='#e4e4e4', Direction=315, Strength=10);
        position: relative;
        top: -20px;
        left: -20px;
        zoom: 1;
}

.filters {
	@include size(margin, 0, 0, 0.8, 0);
	h1{
		@include size(margin-top,0);
	}
	ul {
		border-top: 1px dotted #cccccc;
		border-bottom: 1px dotted #cccccc;
		li {
			list-style: none;
			color: $filters-color;
			&:hover {
				a {
					b {
						text-decoration: underline;
					}
				}
			}
			&.active {
				a {
					b {
						@include font_bold();
					}
				}
			}
			a {
				@include size(font-size, 1.2);
				@include font_regular();
				color: $filters-color;
				cursor: pointer;
				b {
					font-weight: normal;
				}
				p {
					@include size(font-size, 1.2);
				}
			}
			a:hover {
				color: $filters-hover-color;
				span {
					text-decoration: underline;
				}				
			}
		}
	}	
}

.landing-pages{
	.filters {
		@include size(margin, 3.2, 0, 0, 0);
		ul {
			@include size(margin-bottom, 0);
		}
	}
	
}
.global-news-wrapper {
	h1 {
		@include size(margin, 3.2, 0, 0, 0);
	}
	.global-news {
		li {
			@include size(padding, 2.4, 1.6, 2.4, 1.6);
		}
	}
}
.filters {
	ul {
		li {
			position: relative;
		}
	}
}

@media #{$mobile} {
	.landing-pages, .mediacart, .home {
		.img-item {
			position: relative;
			float: left;
			width: 100%;
			.image-wrapper {
				width: 50%;
				float: left;
			}
			.grid-item-text {
				width: 50%;
				float: left;
				@include size(padding, 0, 0, 0, 1);
			}
			.tablet-hover-icons {
				position: absolute;
				right: 0;
				bottom: 2px;
				width: 50%;
				text-align: center;
				a {
					&:first-of-type {
						margin-right: 10px;
					}
				}
			}
		}
	}
	.mediacart {
		.img-item {
			.tablet-hover-icons {
				.play {
					display: none;
				}
			}
		}
	}
	.filters {
		ul {
			display: table;
			width: 100%;
			@include size(padding, 1, 0);
			li {
				display: table-cell;
				border-right: 1px solid #cccccc;
				padding: 0 5px;
				position: relative;
				text-align: center;
				&.active {
					background-image: none;
					i {
						display: inline-block;
						position: absolute;
						left: 50%;
						margin-left: -9.5px;
						bottom: -10px;
					}
				}
				&:last-of-type {
					border-right: 0;
				}
				&:before {
					content: "";
				}
				i {
					display: none;
				}
				a {
					padding: 0;
					line-height: 1;
					b {
						display: block;
					}
					p {
						display: block;
						@include size(margin, 0);
					}
					
				}
			}
			li:first-child {
				p {
					
					border-left:none;
				}
				
			}
		}
	}
	.hover-icons {
		.col1 {
			a {
				img {
					@include size(width, 5.4);
				}
			}
		}
		.col1 {
			a {
				img {
					@include size(width, 5.4);
				}
			}
		}
	}
}
@media #{$tablet} {
	.landing-pages, .mediacart, .home {
		.img-item {
			.content-wrap {
				float: left;
				width: 100%;
				.image-icon-wrapper {
					display: table;
				}
			}
			.tablet-hover-icons {
				position: relative;
				width: 25%;
				text-align: center;
				display: table-cell;
				vertical-align: middle;
				@include size(left, 1);
				a {
					padding: 0;
				}
				a:last-of-type {
					margin-top: 10px;
					display: inline-block;
				}
			}
			.image-wrapper {
				float: none;
				width: 75%;
				display: table-cell;
			}
			.grid-item-text {
				width: auto;
				float: none;
				display: table-row;
				@include size(padding-left, 0);
			}
		}
	}
	.mediacart {
		.img-item {
			.tablet-hover-icons {
				.delete {
					display: none;
				}
			}
			&.img-type {
				.tablet-hover-icons {
					.play .video-audio {
						display: none;
					}
				}
			}
			&.video-type, &.audio-type {
				.tablet-hover-icons {
					.play .image {
						display: none;
					}
				}
			}
		}
	}

	.news-item {
		.grid-item-text {
			.news-footer {
				position: inherit;
				bottom: auto;
				width: auto;
			}
		}
	}
	.filters {
		ul {
			display: block;
			padding: 0;
			li {
				@include size(padding, 0.8, 2, 1, 0);
				display: inline-block;
				border: none;
				i {
					display: none;
				}
				a {
					@include size(padding, 0, 0, 0, 2.5);
					b {
						display: inline;
					}
					p {
						display: inline;
						@include size(margin-top, 0);
						@include size(padding-left, 0.5);
					}
				}
			}
			li.active {
				background: image-url("/Content/images/icons/active-arrow-filters.png") center bottom no-repeat;
				i {
					display: none;
				}
				a {
					color: $filters-active-color;
				}
				a:hover {
					span {
						text-decoration: none;
					}
				}
			}
			li:before {
				content: '|';
			}
			li:first-child {
				&:before {
					content: ' ';
				}
			}		
		}
	}
	.hover-icons {
		.col1 {
			a {
				img {
					width: auto;
				}
			}
		}
		.col1 {
			a {
				img {
					width: auto;
				}
			}
		}
	}
}
@media #{$desktop} {
	.filters {
			ul {
				li {
					@include size(padding, 1.6, 2, 1, 0);
					}
			}
	}

	.images-videos-items {
		li {
			.img-item {
				.content-wrap {
					.image-icon-wrapper {
						display: block;
					}
				}
				.image-wrapper {
					width: 100%;
					display: block;
				}
				.grid-item-text {
					display: block;
					@include size(margin-top, 0.6);
				}
				.tablet-hover-icons {
					display: none;
				}
				.content-wrap {
					width: auto;
					float: none;
				}
			}
		} 
	}
}
