﻿$map-logreg-header:( base-properties:(
        base-font:'Arial,Helvetica,Verdana,sans-serif',       
        base-color:'#000000'        
    ),
    onDesktop:(
       logreg-menu-border:(   
                context:(css-path: 'ul.logged-in-dropdown-menu' ),
                properties:(                     
                border-radius: 0rem
                )
        ),           
        logreg-header-active-font-style:(   
                context:(css-path: 'div.header-top-menu ul.dynamic-menu a' ),
                properties:(                     
                font-style: (font-family: "&base-font"),  
                text-decoration: none
                )
        ),            
        logreg-header-active-font-size-color:(
                context:(css-path: 'div.header-top-menu ul.dynamic-menu li.postLogin-header-link a.active , li.preLogin-header-link a.Lnk-Login' ),
                properties:(
                size:(font-size:1.4),
                color: #000000,
                background-color:inherit,
                line-height: 1,
                padding: 0rem 1.6rem
                )
        ),
         logreg-header-item-text-style:(
                context:(css-path: 'div.header-top-menu ul.dynamic-menu ul.logged-in-dropdown-menu li a' ),
                properties:(
                size:(padding:(0),font-size:1.2),//padding:(1.6, 2.0)
                font-style: (style: regular, font-family: "&base-font"),
                color: #000000
                )
        ),   
        logreg-header-item-text-color-hover:(
                 context:(css-path: 'div.header-top-menu ul.dynamic-menu ul.logged-in-dropdown-menu li:hover a span' ),
                properties:(
                color:#ffffff !important
                )
        ),                  
        logreg-header-item-background-width:(
                context:(css-path: 'div.header-top-menu ul.dynamic-menu ul.logged-in-dropdown-menu li' ),
                properties:(
                background-color: #ffffff  ,
                width: 200px   ,
                size:(padding:(1.6, 2.0))
                )
        ),            
        logreg-header-item-background-hover:(
                context:(css-path: 'div.header-top-menu ul.dynamic-menu ul.logged-in-dropdown-menu li:hover' ),
                properties:(
                background-color: #000000                
                )
        ),    
        logreg-header-media-cart-image:(
                context:(css-path: 'div.header-top-menu ul.dynamic-menu ul.logged-in-dropdown-menu li icons-mediacart' ),
                properties:(
                background: image-url("/Content/images/logreg/media-cart.png") no-repeat,
                height: 15px,
                width: 13px
                )
        ),  
        logreg-header-media-cart-hover-image:(
                context:(css-path: 'div.header-top-menu ul.dynamic-menu ul.logged-in-dropdown-menu li:hover icons-mediacart' ),
                properties:(
                background: image-url("/Content/images/logreg/media-cart-hover.png") no-repeat,
                height: 15px,
                width: 13px                
                )
        ),     
        logreg-header-download-queue-image:(
                context:(css-path: 'div.header-top-menu ul.dynamic-menu ul.logged-in-dropdown-menu li icons-download-login' ),
                properties:(
                background: image-url("/Content/images/logreg/download.png") no-repeat,
                height: 14px,
                width: 11px    
                )
        ),             
        logreg-header-download-queue-hover-image:(
                context:(css-path: 'div.header-top-menu ul.dynamic-menu ul.logged-in-dropdown-menu li:hover icons-download-login' ),
                properties:(
                background: image-url("/Content/images/logreg/download-hover.png") no-repeat,
                height: 14px,
                width: 11px          
                )
        ),        
        logreg-header-login-link-hover-color-underline:(
                context:(css-path: 'div.header-top-menu ul.dynamic-menu li.preLogin-header-link a.Lnk-Login:hover span' ),
                properties:(                
                color:#000, 
                border-bottom:  1px solid #000000 
                )
        ),
        logreg-header-user-link-hover-color-underline:(
                context:(css-path: 'div.header-top-menu ul.dynamic-menu li.preLogin-header-link a.Lnk-Login:hover span' ),
                properties:(
                color:#000,                
                border-bottom:  0px solid #000
                )
        )
    ),
    onTablet:(
         
    ),          
    onMobile:(
     logreg-menu-border:(   
                context:(css-path: 'ul.logged-in-dropdown-menu' ),
                properties:(                     
                border-radius: 0
                )
        ),    
        logreg-header-bottom-border:(
                context:(css-path: 'ul.dynamic-menu'),
                properties:(
                border-bottom:1px solid #f1f1f1 
                )
        ),
        logreg-header-active-item:(
                context:(css-path: 'li.postLogin-header-link a.active' ),
                properties:(
                background-color: #f1f1f1,
                color: 000000,               
                border-bottom:1px solid #D4D4D3 ,
                font-style: (style: regular, font-family: "&base-font"),                                                                            
                size:(padding-left:(2.4),font-size:1.6)  
                )
            ),
        logreg-header-item-font-and-border:(
                context:(css-path: 'ul.logged-in-dropdown-menu li a' ),
                properties:(
                size:(font-size:1.6),
                font-style: (style: regular, font-family: "&base-font"), 
		        color:#000                
                )
            ),  
        logreg-header-item-background-and-padding:(
                context:(css-path: 'ul.logged-in-dropdown-menu li' ),
                properties:(
                background-color: #f1f1f1 
                )
        ) ,    
        logreg-myaccount-font-and-border:(
                context:(css-path: 'ul.logged-in-dropdown-menu li a' ),
                properties:(
                size:(font-size:1.6),
                font-style: (style: regular, font-family: "&base-font"),                                    
                color:#000                
                )
            ),
        logreg-myaccount-background-and-padding:(
                context:(css-path: 'ul.logged-in-dropdown-menu li' ),
                properties:(
                background-color: #f1f1f1
                )
        ) ,
      
        logreg-download-queue-font-and-border:(
                context:(css-path: 'ul.logged-in-dropdown-menu li a' ),
                properties:(
                size:(font-size:1.6),
                font-style: (style: regular, font-family: "&base-font"),                                    
                color:#000                
                )
            ), 
       logreg-download-queue-background-and-padding:(
                context:(css-path: 'ul.logged-in-dropdown-menu li' ),
                properties:(
              background-color: #f1f1f1
                )
        ) ,
        logreg-signout-font-and-border:(
                context:(css-path: 'ul.logged-in-dropdown-menu li a' ),
                properties:(
                size:(font-size:1.6),
                font-style: (style: regular, font-family: "&base-font"),                                    
                color:#000                
                )
            ), 
         logreg-signout-background-and-padding:(
                context:(css-path: 'ul.logged-in-dropdown-menu li' ),
                properties:(
                background-color: #f1f1f1 
                )
         ) ,       
           logreg-mediacart-font-and-border:(
                context:(css-path: 'ul.logged-in-dropdown-menu li a' ),
                properties:(
                size:(font-size:1.6),
                font-style: (style: regular, font-family: "&base-font"),                                    
                color:#000                
                )
            ), 
         logreg-mediacart-background-and-padding:(
                context:(css-path: 'ul.logged-in-dropdown-menu li' ),
                properties:(
                background-color: #f1f1f1 
                )
         ) ,    
        logreg-header-media-cart-image:(
                context:(css-path: 'ul.logged-in-dropdown-menu li icons-mediacart' ),
                properties:(
                background: image-url("/Content/images/logreg/media-cart-mobile.png") no-repeat,
                height: 14px,
                width: 12px              
                )
        ),  
       logreg-header-media-cart-hover-image:(
                context:(css-path: 'div.header-top-menu ul.dynamic-menu ul.logged-in-dropdown-menu li:hover icons-mediacart' ),
                properties:(
                background: image-url("/Content/images/logreg/media-cart-mobile-hover.png") no-repeat,
                height: 14px,
                width: 12px              
                )
        ),    
        logreg-header-download-queue-image:(
                context:(css-path: 'div.header-top-menu ul.dynamic-menu ul.logged-in-dropdown-menu li icons-download-login' ),
                properties:(
                background: image-url("/Content/images/logreg/download-mobile.png") no-repeat,
                height: 14px,
                width: 9px
                )
        ) ,  
        logreg-header-download-queue-hover-image:(
                context:(css-path: 'div.header-top-menu ul.dynamic-menu ul.logged-in-dropdown-menu li icons-download-login' ),
                properties:(
                background: image-url("/Content/images/logreg/download-mobile-hover.png") no-repeat,
                height: 14px,
                width: 9px           
                )
        )    
    )    
)


