.header-top-menu .logged-in-dropdown-menu {
  display: none;
  position: absolute;
  list-style: none;
  z-index: 1000;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
  overflow-y: auto;
  background-color: #fff;
  color: #000;
  li {
		float: none;
		white-space: nowrap;
		background-color: #ffffff;
		width: 190px;
		padding: 1.6rem 2rem;
		a{
		  white-space: normal;
		  color: #000;
		  text-transform: none;
		}
	}
}
ul.dynamic-menu {
     list-style: none;
     position: relative;
     @include size(margin, 0);
     @include size(padding-left, 1.6);
     @include size(padding-right, 1.6);
     border-bottom: none;

    a {
        display: block;
        @include apply-Desktop($map-logreg-header,logreg-header-active-font-style);
    }

    li.postLogin-header-link {
        position: relative;
        padding-bottom: 2.0rem;

        a.active {
            @include apply-Desktop($map-logreg-header,logreg-header-active-font-size-color);
            border-bottom: none;
        }

        ul.logged-in-dropdown-menu-outer {
            display: none;
        }

        &:hover {
            ul.logged-in-dropdown-menu {
                display: block;
            }
        }
    }

    li.preLogin-header-link {
        a.Lnk-Login {
            @include apply-Desktop($map-logreg-header,logreg-header-active-font-size-color);

            &:hover {
                // border-bottom: none;
                span {
                    color: red;
                }
            }
        }
    }
}

ul.dynamic-menu li.postLogin-header-link a.active:hover {
    span {
        @include apply-Desktop($map-logreg-header,logreg-header-user-link-hover-color-underline);
    }
}

ul.dynamic-menu li.preLogin-header-link a.Lnk-Login:hover {
    span {
        @include apply-Desktop($map-logreg-header,logreg-header-login-link-hover-color-underline);
    }
}

//div.header-top-menu ul.dynamic-menu li.postLogin-header-link a.active:hover span
.logged-in-dropdown-menu {
    // margin-left:-50px; //*GP added this attribute for centering the dropdown under the my accoutn link
    // display: none;
    // position: absolute;
    // list-style: none;
    // z-index: 1000;
    // @include size(margin, 1.5rem,0,0,0);

    // @include box-shadow(0px, 5px, 10px, 0px, rgba(50,50,50,0.5));
    // overflow-y: auto;
    // /*border-radius: 0.5rem;*/
    //  @include apply-Desktop($map-logreg-header,logreg-menu-border);


    li {
        text-align: left;
        float: none;
        white-space: nowrap;
        border-left: none !important;
        //@include apply-Desktop($map-logreg-header,logreg-header-item-background-width);

        .icon {
            @include size(margin-right, 0.5rem);
        }

        .icons-download-login {
            /*background: image-url("/content/images/logreg/download.png") no-repeat;
                height: 17px;
                width: 12px;*/
            @include apply-Desktop($map-logreg-header,logreg-header-download-queue-image);
        }



        &:hover {
            @include apply-Desktop($map-logreg-header,logreg-header-item-background-hover);

            a span {
                @include apply-Desktop($map-logreg-header,logreg-header-item-text-color-hover);
            }

            .icons-download-login {
                @include apply-Desktop($map-logreg-header,logreg-header-download-queue-hover-image);
                /*background: image-url("/content/images/logreg/download-hover.png") no-repeat;
                    height: 14px;
                    width: 9px;*/
            }
        }

        li.media-cart-drowdown {
            .icons-mediacart {
                /*background: image-url("/content/images/logreg/media-cart.png") no-repeat;
                height: 17px;
                width: 12px;*/
                @include apply-Desktop($map-logreg-header,logreg-header-media-cart-image);
            }

            &:hover {
                .icons-media-cart {
                    @include apply-Desktop($map-logreg-header,logreg-header-media-cart-hover-image);
                    /*background: image-url("/content/images/logreg/media-cart-hover.png") no-repeat;
                    height: 14px;
                    width: 9px;*/
                }
            }
        }

        a:hover {
            span {
                border-bottom: none !important;
            }
        }
    }

    a {
        //  white-space: normal;
        span {
            @include apply-Desktop($map-logreg-header,logreg-header-item-text-style);
        }
    }
}

.mobile-menu ul.dynamic-menu {
    @include apply-Mobile($map-logreg-header,logreg-header-bottom-border);
}

.mobile-menu ul.logged-in-dropdown-menu {
    display: block;
    @include apply-Mobile($map-logreg-header,logreg-menu-border);

    li {
        @include apply-Mobile($map-logreg-header,logreg-header-item-background-and-padding);

        a {
            @include apply-Mobile($map-logreg-header,logreg-header-item-font-and-border);
            //border-bottom: none;
        }
    }

    li.myaccount {
        @include apply-Mobile($map-logreg-header,logreg-myaccount-background-and-padding);

        a {
            span {
                @include apply-Mobile($map-logreg-header,logreg-myaccount-font-and-border);
            }
            //border-bottom: none;
        }
    }

    li.download-queue-login {
        @include apply-Mobile($map-logreg-header,logreg-download-queue-background-and-padding);

        a {
            span {
                @include apply-Mobile($map-logreg-header,logreg-download-queue-font-and-border);
            }
            //border-bottom: none;
        }

        .icons-download-login {
            @include apply-Mobile($map-logreg-header,logreg-header-download-queue-image);
        }

        &:hover {
            .icons-download-login {
                @include apply-Mobile($map-logreg-header,logreg-header-download-queue-hover-image);
            }
        }
    }

    li.signout {
        @include apply-Mobile($map-logreg-header,logreg-signout-background-and-padding);

        a {
            span {
                @include apply-Mobile($map-logreg-header,logreg-signout-font-and-border);
            }
            //border-bottom: none;
        }
    }

    li.media-cart-drowdown {
        @include apply-Mobile($map-logreg-header,logreg-mediacart-background-and-padding);

        a {
            span {
                @include apply-Mobile($map-logreg-header,logreg-mediacart-font-and-border);
            }
            //border-bottom: none;
        }

        .icons-media-cart {
            @include apply-Mobile($map-logreg-header,logreg-header-media-cart-image);
        }

        &:hover {
            .icons-media-cart {
                @include apply-Mobile($map-logreg-header,logreg-header-media-cart-hover-image);
            }
        }
    }
}

.mobile-menu li.postLogin-header-link {
    a.active {
        @include apply-Mobile($map-logreg-header,logreg-header-active-item);
    }
}

.mobile-menu .icons-download-login {
    @include apply-Mobile($map-logreg-header,logreg-header-download-queue-image);
}

.mobile-menu .icons-mediacart {
    @include apply-Mobile($map-logreg-header,logreg-header-media-cart-image);
}

@media #{$desktop} {
    ul.dynamic-menu {
        list-style: none;
        position: relative;
        @include size(margin, 0);
        @include size(padding-left, 1.6);
        @include size(padding-right, 1.6);
        border-bottom: none;

        a {
            display: block;
            @include apply-Desktop($map-logreg-header,logreg-header-active-font-style);
        }

        li.postLogin-header-link {
            position: relative;

            a.active {
                @include apply-Desktop($map-logreg-header,logreg-header-active-font-size-color);
                border-bottom: none;
            }

            ul.logged-in-dropdown-menu-outer {
                display: none;
            }

            &:hover {
                ul.logged-in-dropdown-menu {
                    display: block;
                }
            }
        }

        li.preLogin-header-link {
            a.Lnk-Login {
                @include apply-Desktop($map-logreg-header,logreg-header-active-font-size-color);
            }
        }
    }

    .logged-in-dropdown-menu{
        margin-left:-50px; //*GP added this attribute for centering the dropdown under the my accoutn link
        display: none;
        position: absolute;
        list-style: none;
        z-index: 1000;
        @include size(margin, 1.5rem,0,0,0);

        @include box-shadow(0px, 5px, 10px, 0px, rgba(50,50,50,0.5));
        overflow-y: auto;
        /*border-radius: 0.5rem;*/
        @include apply-Desktop($map-logreg-header,logreg-menu-border);
    }

    ul.logged-in-dropdown-menu {
        display: none;
        position: absolute;
        list-style: none;
        z-index: 1000;
        @include size(margin, 0);
        @include box-shadow(0px, 5px, 10px, 0px, rgba(50,50,50,0.5));
        overflow-y: auto;
        @include apply-Desktop($map-logreg-header,logreg-menu-border);

        li {
            text-align: left;
            float: none;
            white-space: nowrap;
            @include apply-Desktop($map-logreg-header,logreg-header-item-background-width);

            .icons-download-login {
                @include apply-Desktop($map-logreg-header,logreg-header-download-queue-image);
            }

            .icons-mediacart {
                @include apply-Desktop($map-logreg-header,logreg-header-media-cart-image);
            }

            &:hover {
                @include apply-Desktop($map-logreg-header,logreg-header-item-background-hover);

                a span {
                    @include apply-Desktop($map-logreg-header,logreg-header-item-text-color-hover);
                }

                .icons-download-login {
                    @include apply-Desktop($map-logreg-header,logreg-header-download-queue-hover-image);
                }

                .icons-media-cart {
                    @include apply-Desktop($map-logreg-header,logreg-header-media-cart-hover-image);
                }
            }
        }

        a {
            white-space: normal;
            @include apply-Desktop($map-logreg-header,logreg-header-item-text-style);
        }
    }
}

ul.static-menu, liprelogin, lipostlogin {
    display: none;
}

@media #{$mobile-max} {

    .mobile-menu ul.dynamic-menu {
        @include apply-Mobile($map-logreg-header,logreg-header-bottom-border);
    }

    .mobile-menu ul.logged-in-dropdown-menu {
        display: block;
        @include apply-Mobile($map-logreg-header,logreg-menu-border);

        li {
            @include apply-Mobile($map-logreg-header,logreg-header-item-background-and-padding);

            a {
                @include apply-Mobile($map-logreg-header,logreg-header-item-font-and-border);
                //border-bottom: none;
            }
        }
    }

    .mobile-menu li.postLogin-header-link {
        a.active {
            @include apply-Mobile($map-logreg-header,logreg-header-active-item);
        }
    }

    .mobile-menu .icons-download-login {
        /*background: image-url("/content/images/logreg/download-mobile.png") no-repeat;
        height: 17px;
        width: 12px;*/
        @include apply-Mobile($map-logreg-header,logreg-header-download-queue-image);
    }

    .mobile-menu .icons-mediacart {
        /*background: image-url("/content/images/logreg/media-cart-mobile.png") no-repeat;
        height: 17px;
        width: 12px;*/
        @include apply-Mobile($map-logreg-header,logreg-header-media-cart-image);
    }
}

.mobile-menu ul li.li-header-logreg.right {
    float: none;
}

.mobile-menu {
    &.topdown {
        ul.logged-in-dropdown-menu {
            position: relative;
        }
    }
}

@media #{$mobile} {
    ul.dynamic-menu {
       @include size(padding-left, 0);
       @include size(padding-right, 0);
     
       li.postLogin-header-link {
            padding-bottom: 0rem;
        }
		li.preLogin-header-link{
			a.Lnk-Login{
				padding: 1.7rem 0 1.7rem 2.4rem
			}
		} 
    }    
}
@media #{$tablet} {
    ul.dynamic-menu {
		li.preLogin-header-link{
			a.Lnk-Login{
				padding: 0rem 1.6rem
			}
		} 
    }    
}