﻿@import "settings";
@import "variables";


@media #{$mobile} {

    .LogregWrapper, .RegWrapper, .TryNewEmailPopup, .AccountSummary-popup {
        width: 100%;


        .divLogin, .divRegister, .divForgotPassword, .divTrynewEmail, .AccountSummary-EditBtn {
            padding: 0 1.5rem;
            width: 100%;

            .btn {
                display: block;
                height: 35px;
                width: 100%;
                background-color: #e9e9e9;
            }
        }

        .divRegisterstep2, .divAccountEdit {
            .six, .columns {
                width: 100% !important;
                float: left;
            }

            .lblHeader {
                margin-left: 15px;
            }

            .btn {
                width: 44%;
                margin-right: 15px;
            }

            .btn#btnCancel, .btn#btnPrevious {
                float: left;
                margin-left: 15px;
            }

            .btn#btnNext, .btn#btnFinish {
                float: right;
                margin-right: 0;
            }

            .separatordiv {
                width: 10%;
            }

            .form-group {
                margin-right: 1.5rem;
            }

            .first-column {
                padding-right: 1.5rem;
                padding-left: 1.5rem;
            }

            .second-column {
                padding-right: 1.5rem;
            }

            .SectionHeading {
                margin-left: 1.5rem;
            }

            .divOrgDetails {
                .twelve {
                    padding: 0 1.5rem;
                }
            }
        }
    }

    .recaptcha_widget {
        #recaptcha_image {
            width: 100% !important;
        }
    }

    .divtxt #recaptcha_widget_div {
        display: none;
    }

    #contactus-popup {
        .first-column {
            @include size(padding, 0);
        }

        .second-column {
            @include size(padding, 0);
        }

        .send-wrapper {
            div {
                position: relative;
            }

            .send {
                width: 100%;
                @include size(margin-top, 2.4);
            }
        }

        .contact-info {
            .name, .email, .position, .phone, .address {
                @include size(margin-bottom, 1);
            }
        }
    }

    .statusMegssage {
        color: $Error-color;
        padding: 0 1.5rem;
    }

    .RequiredFields {
        clear: both;
        float: left;
        color: #999;
        font-size: 12px;
        margin-top: -5px;
        padding: 0 1.5rem;
    }
}

@media #{$tablet} {
    .LogregWrapper, .RegWrapper, .TryNewEmailPopup, .AccountSummary-popup {
        background: none repeat scroll 0 0 white;
        max-width: 322px;
        width: 100%;
        padding-bottom: 2.8rem;
        padding-top: 2.8rem;


        .divLogin, .divRegister, .divForgotPassword {
            margin: auto;
            width: 256px;
            padding: 0;

            .btn {
                display: block;
                height: 35px;
                width: 256px;
                background-color: #e9e9e9;
            }
        }

        .divRegisterstep2, .divAccountEdit {
            .six, .columns {
                width: 50% !important;
                float: left;
            }

            .lblHeader {
                margin-left: 0;
            }

            .btn {
                width: 124px;
                margin-right: 10px;
                margin-top: 15px;
            }

            .btn#btnCancel, .btn#btnPrevious {
                float: left;
                margin-left: 0px;
            }

            .btn#btnNext, .btn#btnFinish {
                float: left;
                margin-left: 15px;
            }

            .first-column {
                padding: 0 2.5rem 0 0;
            }

            .second-column {
                padding-right: 0;
            }

            .SectionHeading {
                margin-left: 0;
            }

            .divOrgDetails {
                .twelve {
                    padding: 0;
                }
            }
        }
    }

    .recaptcha_widget {
        #recaptcha_image {
            width: 256px !important;
        }
    }

    .divtxt #recaptcha_widget_div {
        display: none;
    }

    .RegWrapper {
        max-width: 642px;
    }

    .TryNewEmailPopup {
        max-width: 365px;

        .divTrynewEmail {
            width: 280px;

            .form-group {
                clear: both;
            }

            .btn {
                width: 280px;
            }
        }
    }

    .AccountSummary-popup {
        width: 320px;
    }

    #contactus-popup {
        .six {
            width: 50% !important;
        }

        .columns {
            float: left;
        }

        .first-column {
            @include size(padding, 0, 1.6, 0, 0);
        }

        .second-column {
            @include size(padding, 0, 0, 0, 1.6);
        }

        .send-wrapper {
            div {
                position: absolute;
            }

            .send {
                width: 190px;
                @include size(margin-top, 0);
            }
        }

        .contact-info {
            .address {
                @include size(margin-bottom, 0);
            }
        }
    }

    .statusMegssage {
            color: $Error-color;
            padding:0;
        }

        .RequiredFields {
            clear: both;
            float: left;
            color: #999;
            font-size: 12px;
            margin-top: -5px;
            padding:0;
        }
}

@media #{$desktop} {

    .LogregWrapper, .RegWrapper, .TryNewEmailPopup, .AccountSummary-popup {
        background: none repeat scroll 0 0 white;
        max-width: 322px;
        width: 100%;
        padding-bottom: 2.8rem;
        padding-top: 2.8rem;

        .btn {
            width: 256px;
        }

        .statusMegssage {
            color: $Error-color;
            padding:0;
        }

        .RequiredFields {
            clear: both;
            float: left;
            color: #999;
            font-size: 12px;
            margin-top: -5px;
            padding:0;
        }

        .divLogin, .divRegister, .divForgotPassword, .divTrynewEmail {
            margin: auto;
            width: 256px;
            padding: 0;
        }

        .divRegisterstep2, .divAccountEdit {
            width: 582px;
            overflow-y: auto;

            .lblHeader {
                margin-left: 0;
            }

            .btn {
                margin-top: 15px;
            }

            .btn#btnCancel, .btn#btnPrevious {
                float: left;
                margin-left: 0px;
            }

            .btn#btnNext, .btn#btnFinish {
                float: left;
                margin-left: 15px;
            }

            .SectionHeading {
                margin-left: 0;
            }
        }
    }

    .RegWrapper {
        max-width: 642px;
    }

    .TryNewEmailPopup {
        max-width: 345px;

        .divTrynewEmail {
            width: 280px;

            .form-group {
                clear: both;
            }

            .btn {
                width: 280px;
            }
        }
    }

    .AccountSummary-popup {
        width: 320px;
    }

    .recaptcha_widget {
        #recaptcha_image {
            width: 256px !important;
        }
    }

    #contactus-popup {
    }
}

#contactus-popup {
    .popup-close {
        position: absolute;
        @include size(right, 3.2);
        @include size(top, 3.2);
        z-index: 2;
    }

    .validation-summary {
        display: none;
        @include size(margin-top, 1.2);
        color: #ff0000;
    }

    input {
        @include size(margin, 0);
        color: $black-color;
    }

    .invalid-message {
        display: none;
        color: #ff0000;
        @include size(margin-top, 0.5);
    }

    .invalid {
        > input, > textarea, select {
            background: #FEF1EC;
            border: 1px solid #CD0A0A;
        }

        .invalid-message {
            display: block;
        }
    }

    .contact-info {
        @include size(margin, 0);
        @include size(padding-bottom, 1.6);
        border-bottom: 1px dotted #cccccc;
    }

    .message-wrapper {
        textarea {
            /*min-height: 78px;*/
            @include size(margin-bottom, 0);
        }
    }

    label {
        @include size(margin-top, 2.4);
        @include size(margin-bottom, 0.6);
        /*@include font_semi_bold();*/
        font-weight: bold;
        color: $black;
        @include size(font-size, 1.4);
    }

    select {
        padding: 6px 0;
    }

    .inquirylable {
        label {
            margin-top: 5px;
        }
    }

    .remember-me {
        display: inline-block;
        @include size(margin-top, 0);
        @include size(font-size, 1.2);
        font-weight: normal;
        position: relative;
        top: -2px;
    }

    .send-wrapper {
        position: relative;
        margin: 24px auto 0 auto;
        @include size(padding-top, 2.4);
        border-top: 1px dotted #cccccc;
        text-align: center;

        input {
            margin: 0 auto;
        }

        label {
            margin-bottom: 0;
        }

        .send {
            height: 32px;
        }
    }

    .lblHeader {
        font-family: arial;
        font-size: 32px;
        font-weight: bold;
        border-bottom: 1px dotted #ccc;
        padding-bottom: 1.2rem;
        margin-bottom: 1.4rem;
        color: $logreg-layer-header-color;
    }
}

.popup.one-wide {
    width: 100%;
    max-width: 640px;
}

.popup.two-wide {
    width: 100%;
    max-width: 640px;
}

.popup.one-narrow {
    width: 100%;
    max-width: 320px;
}

.field-validation-error {
    color: $Error-color;
}


#frmOrgEdit, #frmAccountEdit {
    margin: 0;
}

.LogregWrapper, .RegWrapper, .TryNewEmailPopup, .AccountSummary-popup {
    background: none repeat scroll 0 0 white;

    label {
        cursor: default;
    }

    a.popup-close {
        float: right;
        margin-right: 10px;
        margin-top: 5px;

        i.icon-cross {
            background: url("/Content/images/icons/cross.png?1424782439") no-repeat scroll center top rgba(0, 0, 0, 0);
            display: block;
            height: 16px;
            width: 16px;
        }
    }

    .lblHeader {
        font-family: arial;
        font-size: 32px;
        font-weight: bold;
        border-bottom: 1px dotted #ccc;
        padding-bottom: 1.2rem;
        margin-bottom: 1.4rem;
        color: $logreg-layer-header-color;
    }

    fieldset {
        border: 0px;
        padding: 0px;
        margin: 0pc;

        .field-validation-error {
            color: $Error-color;
        }

        label#lblStatus {
            color: $Error-color;
            font-size: 12px;
            margin-top: 5px;
            clear: both;
            padding-top: 0.5rem;
        }

        label#lblReg1Status {
            color: $Error-color;
            font-size: 12px;
            margin: 1rem 0 1rem 0;
        }

        label#lblReg2Status {
            color: $Error-color;
            font-size: 12px;
            margin: 0px 0px 0px 1.5rem;
        }
    }

    .lbl {
        margin-bottom: 0.6rem;
        float: left;

        label {
            font-family: arial;
            font-size: 16px;
            font-weight: bold;
            margin-top: 1.1rem;
            color: $black-color;
        }
    }

    .details {
        font-weight: normal;
    }

    .txt {
        input {
            border: 1px solid #ccc;
            height: 3.2rem;
            width: 100%;
            margin-top: 0.2rem;
            margin-bottom: 0.4rem;
            color: $black-color;
        }

        select {
            height: 3.2rem;
            border: 1px solid #ccc;
            color: #100E0E;
            font-size: 15px;
            font-family: arial;
        }
    }

    .ddlUserTypes {
        span.field-validation-error {
            margin: 1rem 0 1rem 0;
            float: left;
        }
    }

    .btn {
        display: block;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        line-height: 32px;
        box-shadow: 1px 1px 2px 0px #9f9f9f;
        -webkit-box-shadow: 1px 1px 2px 0px #9f9f9f;
        -moz-box-shadow: 1px 1px 2px 0px #9f9f9f;
        background-color: #e9e9e9;
        margin: 6px auto;
        float: left;
        font-family: arial;
        cursor: pointer;
        color: $black-color;
    }

    .lblHeaderForgotPassword {
        font-family: arial;
        font-size: 32px;
        font-weight: bold;
        border-bottom: 1px dotted #ccc;
        height: 7.3rem;
        margin-bottom: 1.4rem;
        color: $logreg-layer-header-color;
    }

    .lblHeaderTryNewEmail {
        font-family: arial;
        font-size: 32px;
        font-weight: bold;
        border-bottom: 1px dotted #ccc;
        height: 7rem;
        margin-bottom: 1.4rem;
        color: $logreg-layer-header-color;
    }
}

.divLogin, .divRegister, .divForgotPassword, .divTrynewEmail {

    .lblinfo {
        font-family: arial;
        font-size: 12px;
        margin-bottom: 1.3rem;
        color: $logreg-layer-text-color;

        span {
            color: $Error-color;
        }
    }

    .lblAccessDenied {
        font-size: 14px;

        a {
            color: $logreg-layer-text-color;
            margin-left: 5px;
        }
    }

    .lblinfoTrynewEmail {
        font-family: arial;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 1.3rem;
        color: $logreg-layer-text-color;
    }

    .lblForgotPasswordinfo {
        font-family: arial;
        font-size: 16px;
        margin-bottom: 1.3rem;
        font-weight: bold;
        color: $logreg-layer-text-color;
    }

    .lblRememberMe {
        input {
            font-family: arial;
            font-size: 12px;
            float: left;
        }
    }

    .divRegister {
        margin-top: 1.5rem;
        height: 15px;
        font-size: 12px;
        color: $logreg-layer-text-color;

        a {
            color: $black-color;
            cursor: pointer;
            margin-left: 5px;
            text-decoration: none;
        }

        .img-arrow {
            margin-left: 5px;
            vertical-align: text-bottom;
        }
    }

    .divContact {
        color: #999;
        margin-top: 0.9rem;
        font-size: 12px;
        float: left;

        a {
            color: $black-color;
            cursor: pointer;
            margin-left: 5px;
            text-decoration: none;
        }
    }

    .divReminderForgotPwd {
        margin-top: 0.3rem;

        input {
            margin-top: 0;
            margin-left: 0px;
            margin-right: 0.5rem;
            float: left;
        }

        .divForgotPwd {
            a {
                color: #999;
                float: right;
                font-size: 12px;
            }
        }

        label {
            float: left;
            font-size: 12px;
            color: $logreg-layer-text-color;
        }
    }

    .recaptcha_widget {
        ul {
            padding: 0px;

            li {
                a {
                    color: #d00000;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }
        }

        .SecurityCheck {
            color: #000;
            font-size: 2.4rem;
            margin-top: .5rem;
            border-top: 1px dotted #ccc;
            padding-top: 1rem;
            margin-bottom: .5rem;
            font-weight: bold;
        }

        .cantread {
            color: #000;
            font-size: 1.2rem;
        }

        .enterwordsabove {
            color: #000;
            font-size: 1.1rem;
        }

        #recaptcha_image {
            height: 65px !important;
            border: solid;
            border-width: 1rem;
            border-color: gray;
        }

        #recaptchOptionsDiv {
            padding: 0px;

            a {
                color: #d00000;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        .recaptcha_widget {
            ul {
                padding: 0px;

                li {
                    a {
                        color: $Error-color;
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                }
            }

            .SecurityCheck {
                color: $black-color;
                font-size: 2.4rem;
                margin-top: .5rem;
                border-top: 1px dotted #ccc;
                padding-top: 1rem;
                margin-bottom: .5rem;
                font-weight: bold;
            }

            .cantread {
                color: $black-color;
                font-size: 1.2rem;
            }

            .enterwordsabove {
                color: $black-color;
                font-size: 1.1rem;
            }

            #recaptcha_image {
                width: 256px !important;
                height: 65px !important;
                border: solid;
                border-width: 1rem;
                border-color: gray;
            }

            #recaptchOptionsDiv {
                padding: 0px;

                a {
                    color: $Error-color;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }
        }

        #recaptcha_response_field {
            margin: 0px;
        }
    }
}

.divLogin {
    .divRegister {
        border-bottom: 1px dotted #ccc;
        padding-bottom: 20px;
    }
}

.divRegisterstep2, .divAccountEdit {
    margin: auto;
    overflow-y: auto;

    .btn {
        width: 124px;
    }

    .SectionHeading {
        color: $black-color;
        font-size: 24px;
        font-weight: bold;
        margin-top: 16px;
        clear: both;
        float: left;
        padding-bottom: 12px;
    }



    .first-column {
        clear: both;
    }

    .Lineseparator {
        display: block;
        margin-top: 5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: dotted;
    }

    .form-group {
        clear: both;
    }

    .ddlCountry {
        select {
            margin-bottom: 1rem;
        }
    }

    .divOrgDetails {
        .ddlPosition select, .ddlMediaType select, .ddlVideoFormat select {
            margin-bottom: 5px;
        }

        .twelve {
            width: 100% !important;
            padding: 0;

            .AboutYourOrg {
                textarea {
                    height: 128px;
                }
            }
        }

        label#Reg2Status {
            color: $Error-color;
            font-size: 12px;
            margin: 0px 0px 0px 1.5rem;
        }
    }
}

.AccountSummary-popup {
    padding: 30px;

    .details {
        line-height: 1.25em;
    }

    a.popup-close {
        margin-right: 0px;
    }

    .lblHeader {
        height: auto;
        padding-bottom: 12px;
        margin-bottom: 0;
    }

    .sectionName {
        font-weight: bold;
        font-size: 16px;
    }

    .AccountSummarySectionTitle {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 11px;
        margin-top: 29px;
        border-bottom: 1px dotted #ccc;
        color: $logreg-layer-header-color;
    }

    .AccountSummary-Details, .AccountSummary-Email, .AccountSummary-Password {
        font-family: arial;
        font-weight: normal;
        margin-top: 1.1rem;
        color: #000;
    }

    .btn {
        margin: 20px auto;
    }

    .AccountSummary-EditBtn {
        padding: 0;

        a.btn-default {
            width: 100%;
            float: none;
            margin-bottom: 0;
        }
    }
}

.logreg-spinner {
    background: #ffffff;
    position: absolute;
    width: auto;
    text-align: center;
    color: #000;
    border-radius: 10px;
    border-radius: 1rem;
    display: none;
    padding: 3rem;

    .spinner-text {
        font-size: 19px;
        font-weight: bold;
        display: inline;
        position: relative;
        float: right;
        margin-top: 1px;
        margin-left: 5px;
    }

    .signing-in, .loading {
        display: none;
    }

    img {
        height: 20px;
        width: 20px;
    }

    .spinner-icon {
        float: left;
        position: relative;
    }
}

.logreg-loading-icon {
    position: absolute;
    width: auto;
    color: #000;
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    border-radius: 1rem;
    display: none;
    padding: 3rem;

    img {
        height: 20px;
        width: 20px;
    }
}

.logreg-hide {
    display: none;
    border-width: 0;
}

.icons-user {
    background: image-url("/Content/images/logreg/user-icon.png") no-repeat;
    height: 14px;
    width: 14px;
}

.icons-user:hover {
	background: image-url("/Content/images/logreg/user-icon-hover.png") no-repeat;
}

.divLogin {
    form#frmLogin {
        margin: 0px;
    }

    div#divSignInNotRegister {
        margin-top: 0.5rem;
        padding-bottom: 2.7rem;
    }

    .divContact {
        margin-top: 1.6rem;
    }

    .divReminderForgotPwd {
        margin-top: 0.9rem;
    }
}

.mobile-menu li.li-header-logreg ul.dynamic-menu li.postLogin-header-link .non-mobile {
    display: none;
}

.mobile-menu .dynamic-menu .icons-user {
    background: image-url("/Content/images/logreg/user-icon-mobile.png") no-repeat;
    height: 14px;
    width: 14px;
}

/*.mobile-menu .dynamic-menu .icons-download-login {
    background: image-url("/content/images/logreg/media-cart-download.png") no-repeat;
    height: 17px;
    width: 12px;
}

.mobile-menu .dynamic-menu .icons-media-cart {
    background: image-url("/content/images/logreg/media-cart.png") no-repeat;
    height: 15px;
    width: 12px;
}*/
