@media #{$mobile} {
    .tablet, .desktop {
        display: none;
    }

    .tablet-up {
        display: none;
    }

    .tablet-down {
        display: block;
    }

    .mobile {
        display: block;
    }

    .search-mobile {
        position: relative;
        display: none;

        input {
            display: inline-block;
            margin-bottom: 0px;
            color: #555555;
            @include font_cond_bold();
            @include size(font-size, 2);
        }
    }

    .wrap {
        display: table-cell;
        vertical-align: middle;

        img {
            @include size(height, 2);
            @include size(width, 1.2);
            @include size(margin-right, 1.6);
        }
    }

    .pagination .tablet-up {
        display: none;
    }

    .pagination.mobile {
        display: block;
    }

    .newsroom-info {
        h3 {
            @include size(margin, 3.2, 0);
        }

        .about-this-newsroom-title {
            @include apply-Mobile($map-main,about-title);
        }

        .about-this-newsroom-description {
            /*TNMMCLITE-3556*/
            @include size(font-size, 1.2);
            @include size(line-height, 1.6);
            @include size(margin, 0);
            @include size(padding, 1.6, 0, 3.2, 0);
            border-bottom: 1px dotted #cccccc;
        }

        .contact-us-wrapper {
            .columns {
                @include size(padding, 0);
            }

            .see-all {
                h4 {
                    @include size(padding, 0);
                    @include size(margin, 2.4, 0, 0, 0);
                    border-bottom: none;

                    a {
                        @include apply-Mobile($map-main,see-all);
                    }
                }
            }
        }

        .contact-us-title {
            @include apply-Mobile($map-main,contact-title);
        }

        .contacts-content {
            @include size(margin-top, 1.6);
        }
    }

    .lookbooks-items {
        .lookbook-item {
            .grid-item-text {
                .grid-context {
                    h5.context-header {
                        a {
                            @include size(font-size, 1.2);
                            @include size(line-height, 1.4);
                        }
                    }
                }

                .lookbook-footer {
                    .country {
                        @include size(font-size, 0.8);

                        a {
                            color: $listing-event-date-color;
                        }
                    }

                    .date {
                        @include size(font-size, 1.2);
                        @include font_bold();

                        a {
                            color: $listing-event-date-color;
                        }
                    }
                }
            }
        }
    }

    .main-content .columns h3 {
        @include size(margin, 3.2, 0, 0, 0);
    }

    .expired {
        margin-top: 20%;

        h2 {
            @include size(font-size, 2.4);
        }

        p {
            @include size(font-size, 1.6);
        }
    }
}

@media #{$tablet} {

    .desktop, .mobile {
        display: none;
    }

    .tablet-up {
        display: block;
    }

    .tablet-down {
        display: block;
    }

    .tablet {
        display: block;
    }

    .pagination .tablet-up {
        display: inline-block;
    }

    .pagination.mobile {
        display: none;
    }

    .newsroom-info {
        h3 {
            @include size(margin, 6.4, 0, 3.2, 0);
        }

        .about-this-newsroom-title {            
            @include apply-Tablet($map-main,about-title);
        }

        .about-this-newsroom-description {
            /*TNMMCLITE-3556*/
            @include size(font-size, 1.4);
            @include size(line-height, 2.0);
            @include size(margin, 0);
            @include size(padding, 3.2, 0, 6.4, 0);
            border-bottom: 1px dotted #cccccc;
        }

        .contact-us-wrapper {
            .six {
                width: 50% !important;
            }

            .six.columns {
                @include size(padding, 0);
                float: left;

                .contacts-content {
                    @include size(padding-top, 0);
                    @include size(margin-top, 3.2);
                }
            }

            .see-all {
                h4 {
                    @include size(padding, 0);
                    @include size(margin, 4.8, 0, 0, 0);
                    border-bottom: none;

                    a {
                        @include apply-Tablet($map-main,see-all);
                    }
                }
            }
        }

        .contact-us-title {
            @include apply-Tablet($map-main,contact-title);
        }
    }

    .lookbooks-items {
        .lookbook-item {
            .grid-item-text {
                .grid-context {
                    h5.context-header {
                        a {
                            @include size(font-size, 2);
                            @include size(line-height, 2.25);
                        }
                    }
                }

                .lookbook-footer {
                    .country {
                        color: $listing-event-country-color;
                        @include size(font-size, 1.2);
                    }

                    .date {
                        color: $listing-event-date-color;
                        @include size(font-size, 1.6);
                    }
                }
            }
        }
    }

    .main-content .columns h3 {
        /*TNMMCLITE-22*/
        @include size(margin-top, 6.4);
    }

    .images-videos-items.tablet-two-up > li {
        width: 50%;
    }

    footer {
        clear: both;
        overflow: hidden;
    }

    .spacer {
        @include size(padding-top, 6.4);
    }

    .expired {
        margin-top: auto;

        h2 {
            @include size(font-size, 4);
        }

        p {
            @include size(font-size, 1.6);
        }
    }
}

@media #{$tablet-max} {
    .newsroom-info {
        .six.columns {
            width: auto;
            float: none;
        }
    }
}

@media #{$desktop} {

    .tablet, .mobile {
        display: none;
    }

    .tablet-up {
        display: block;
    }

    .tablet-down {
        display: none;
    }

    .desktop {
        display: block;
    }

    .newsroom-info {
        h3 {
        }

        .about-this-newsroom-title {
            @include apply-Desktop($map-main,about-title);
        }

        .about-this-newsroom-description {
            /*TNMMCLITE-3556*/
            @include size(font-size, 1.4);
            @include size(line-height, 2.0);
            @include size(padding-bottom, 0);
            border-bottom: none;
        }

        .contact-us-wrapper {
            float: right;

            .columns {
                @include size(padding, 0);
            }

            .see-all {
                @include size(margin, 2.3, 0, 0, 0);

                h4 {
                    @include size(padding, 0);
                    @include size(margin, 3.6, 0, 0, 0);
                    border-bottom: none;

                    a {
                        @include apply-Desktop($map-main,see-all);                        
                    }
                }
            }
        }

        .contact-us-title {
            @include apply-Desktop($map-main,contact-title);
        }
    }

    .lookbooks-items {
        .lookbook-item {
            .grid-item-text {
                .grid-context {
                    h5.context-header {
                        a {
                            @include size(font-size, 1.6);
                            @include size(line-height, 2);
                        }
                    }
                }

                .lookbook-footer {
                    .country {
                        @include size(font-size, 1.6);
                        @include size(line-height, 2);
                        @include size(height, 2);

                        a {
                            color: $listing-event-date-color;
                        }
                    }

                    .date {
                        @include size(font-size, 2.4);
                        @include size(line-height, 2.4);
                        @include size(height, 2.4);

                        a {
                            color: $listing-event-date-color;
                        }
                    }
                }
            }
        }
    }

    .showcase-latestnews .block-grid.three-up li:nth-child(n+4) {
        display: none;
    }

    .block-grid.three-up > li {
        width: 33.33333%;
    }

    .block-grid.four-up > li {
        width: 25%;
    }

    footer {
        clear: both;
        overflow: hidden;
    }

    .expired {
        max-width: 775px;

        h2 {
            @include font_bold();
            color: #555555;
        }

        p {
            @include font_regular();
            color: #555555;
        }
    }
}

@import "header";

@media #{$tablet-max} {
    .block-grid.tablet-one-up > li {
        width: 100%;
    }

    .block-grid.tablet-one-up > li {
        clear: both;
    }

    .block-grid.tablet-two-up > li {
        width: 50%;
    }

    .block-grid.tablet-two-up > li:nth-child(3n+1) {
        clear: none;
    }

    .block-grid.tablet-two-up > li:nth-child(2n+1) {
        clear: both;
    }

    .block-grid.tablet-three-up > li {
        width: 33.33333%;
    }

    .block-grid.tablet-three-up > li:nth-child(3n+1) {
        clear: both;
    }

    .block-grid.tablet-three-up > li:nth-child(2n+1) {
        clear: none;
    }

    .block-grid.tablet-four-up > li {
        width: 25%;
    }

    .block-grid.tablet-four-up > li:nth-child(4n+1) {
        clear: both;
    }

    .block-grid.five-up > li:nth-child(5n+1) {
        clear: none;
    }

    .showcase-latestnews .block-grid.tablet-two-up li:nth-child(n+5) {
        display: none;
    }
}

@media #{$nexus} {
    .block-grid.tablet-two-up > li {
        width: 50% !important;
    }

    .block-grid.tablet-two-up > li:nth-child(2n+1) {
        clear: both !important;
    }

    .block-grid.tablet-two-up > li:nth-child(3n+1) {
        clear: none;
    }

    .block-grid.tablet-three-up > li {
        width: 33.33333% !important;
    }

    .block-grid.tablet-three-up > li:nth-child(3n+1) {
        clear: both !important;
    }

    .block-grid.tablet-three-up > li:nth-child(2n+1) {
        clear: none !important;
    }

    .block-grid.tablet-four-up > li {
        width: 25% !important;
    }

    .block-grid.tablet-four-up > li:nth-child(4n+1) {
        clear: both;
    }

    .block-grid.five-up > li:nth-child(5n+1) {
        clear: none;
    }

    .showcase-latestnews .block-grid.tablet-two-up li:nth-child(n+5) {
        display: none;
    }
}

@media #{$mobile-max} {
    .block-grid.mobile-one-up > li {
        width: 100%;
    }

    .block-grid.mobile-two-up > li {
        width: 50%;
    }

    .block-grid.mobile-two-up > li:nth-child(2n+1) {
        clear: both;
    }

    .block-grid.tablet-three-up > li:nth-child(3n+1) {
        clear: none;
    }

    .showcase-latestnews .block-grid.tablet-two-up li:nth-child(n+4) {
        display: none;
    }
}

.spacer {
    display: block;
    @include size(padding-top, 6.4);
}
.top-border{

    border-top: dotted 1px #cccccc;

}

@media #{$mobile} {
    div.page-wrapper.overlay {
        padding-bottom: 0px;
        background: #444444;
    }

    footer {
        overflow: hidden;
    }

    .spacer {
        @include size(padding-top, 3.2);
    }
}
