﻿$map-mediacart:(
    base-properties:(
        base-font:'Arial,Helvetica,Verdana,sans-serif', 
        base-color:'red'        
    ),
    onDesktop:(
        mediacart-sub-header-h4:(
                        context:(css-path: '.mediacart .sub-header h4' ),
                        properties: (
                        color:#00407d,
                        size:(font-size:2.4,margin:(0, 0, 0.5, 0)), 
                        font-style: (style: bold, font-family: "&base-font") 
                        )
                    ),
        mediacart-sub-header-h3:(
                        context:(css-path: '.mediacart .sub-header h3' ),
                        properties: (
                        color:#00407d,
                        line-height:1,
                        size:(font-size:4.8,margin: 0), 
                        font-style: (style: bold, font-family: "&base-font") 
                        )
                    ),
        mediacart-button:(
                        context:(css-path: '.mediacart .send-wrapper a.send-mediacart' ),
                        properties: (
                                color: #ffffff,
                                background: #000000, 
                                font-style: (style: bold, font-family: "&base-font") 
                        )
                    ),
        mediacart-button-hover:(
                        context:(css-path: '.mediacart .send-wrapper a.send-mediacart:hover' ),
                        properties: (
                                color: #000000,
                                background: #ffffff,
                        )
                    ),  
        mediacart-disclaimer-heading:(
                        context:(css-path: '.mediacart .send-wrapper a.send-mediacart' ),
                        properties: (
                                color: #000000,                                
                                size:(font-size:1.6),     
                                font-style: (style: regular, font-family: "&base-font") 
                        )
                    ),
        mediacart-disclaimer-content:(
                        context:(css-path: '.mediacart .send-wrapper a.send-mediacart' ),
                        properties: (
                                color: #000000,
                                size:(font-size:1.2),     
                                line-height:14px,
                                font-style: (style: regular, font-family: "&base-font") 
                        )
                    ),
        
        ),        
    onTablet:( 
        mediacart-sub-header-h4:(
                        context:(css-path: '.mediacart .sub-header h4' ),
                        properties: (
                        color:#00407d,
                        size:(font-size:2.4,margin:(0, 0, 0.5, 0)),
                        font-style: (font-family: "&base-font")              
                        )
                    ),
        mediacart-sub-header-h3:(
                        context:(css-path: '.mediacart .sub-header h3' ),
                        properties: (                                                
                        color:#00407d,
                        size:(font-size:4.8,margin: 0),                        
			            font-style: (font-family: "&base-font")
                        )
                    ),
        mediacart-disclaimer-heading:(
                        context:(css-path: '.mediacart .send-wrapper a.send-mediacart' ),
                        properties: (
                                color: #000000,                                
                                size:(font-size:1.6),     
                                font-style: (style: regular, font-family: "&base-font") 
                        )
                    ),
        mediacart-disclaimer-content:(
                        context:(css-path: '.mediacart .send-wrapper a.send-mediacart' ),
                        properties: (
                                color: #000000,
                                size:(font-size:1.2),     
                                line-height:14px,
                                font-style: (style: regular, font-family: "&base-font") 
                        )
                    ),          
        ),
    onMobile:(
        mediacart-sub-header-h4:(
                        context:(css-path: '.mediacart .sub-header h4' ),
                        properties: (                        
                        color:#00407d,
                        size:(font-size:1.6,margin:(0, 0, 0.5, 0)),
			            font-style: (font-family: "&base-font")
                        )
                    ),
        mediacart-sub-header-h3:(
                        context:(css-path: ' .mediacart .sub-header h3' ),
                        properties: (                                                
                        color:#00407d,
                        size:(font-size:3.2,margin: 0),           
                        font-style: (font-family: "&base-font")                       
                        )
                    ),
        mediacart-disclaimer-heading:(
                        context:(css-path: '.mediacart .send-wrapper a.send-mediacart' ),
                        properties: (
                                color: #000000,                                
                                size:(font-size:1.6),     
                                font-style: (style: regular, font-family: "&base-font") 
                        )
                    ),
        mediacart-disclaimer-content:(
                        context:(css-path: '.mediacart .send-wrapper a.send-mediacart' ),
                        properties: (
                                color: #000000,
                                size:(font-size:1.0),
                                line-height:12px,
                                font-style: (style: regular, font-family: "&base-font") 
                        )
                    ),                  
        )    
)