@media #{$mobile} {
	.cart-empty {
		.empty-title {
			@include size(font-size, 4.8);
			@include size(margin, 4, 0, 1.6, 0);
		}

		.how-to-use {
			.caption-wrapper {
				@include size(padding, 1.3, 0);

				.caption {
					float: none;
					width: 100%;
					text-align: center;
					@include size(font-size, 1.6);
				}

				.nav {
					float: none;
					width: 100%;
					text-align: center;
					padding-top: 13px;

					.rsBullets {
						.rsBullet {
							width: 25px;
							height: 25px;
							margin: 0 8px;
						}
					}

					.rsArrowLeft, .rsArrowRight {
						width: 25px;
						height: 25px;
						margin: 0 8px;
					}

					.rsArrowLeft {
						background: image-url("/Content/images/mediacart/prev-mobile.png") center no-repeat;
					}

					.rsArrowRight {
						background: image-url("/Content/images/mediacart/next-mobile.png") center no-repeat;
					}
				}
			}

			#mediaCartSlider * {
				-webkit-backface-visibility: hidden;
				-webkit-transform: translateZ(0);
			}

			#mediaCartSlider {
				min-height: 400px;

				.rsOverflow {
					height: 400px !important;
				}

				.slider-item {
					@include size(padding, 2.3, 2);

					.left {
						width: 100%;

						h4 {
							margin: 0px;
							margin-left: 45px;
							padding-top: 6px;
							@include size(font-size, 2);
						}

						p {
							margin: 12px 0 0 45px;
							@include size(font-size, 1.4);
						}
					}

					.right {
						width: 100%;
						position: relative;

						p {
							@include size(font-size, 1.4);
							position: absolute;
						}

						i.icon.icons-btn-media-cart {
							position: absolute;
							margin: 0px;
						}
					}
				}

				.item1 {
					height: 225px;

					.right {
						height: 128px;

						p {
							width: 100%;
							bottom: 0;
							margin-left: 7px;
						}

						i.icon.icons-btn-media-cart {
							margin-top: 20px;
							left: 50%;
							margin-left: -22px;
						}
					}
				}

				.item2 {
					img.mobile {
						margin: 21px auto 23px auto;
					}
				}

				.item3 {
					.top {
						.right {
							img {
								margin-top: 15px;
							}
						}
					}

					.separator-wrapper {
						margin: 23px 0 17px 0;
					}

					.bottom {
						.right {
							height: 128px;

							p {
								width: 100%;
								bottom: 0;
								@include size(font-size, 1.4);
								margin-bottom: 21px;
							}

							i.icon.icons-btn-download {
								margin-top: 15px;
								left: 50%;
							}
						}
					}
				}
			}
		}
	}
}

@media #{$tablet} {
	.cart-empty {
		.empty-title {
			@include size(font-size, 6.4);
			@include size(margin, 9, 0, 2.8, 0);
		}

		.how-to-use {
			.caption-wrapper {
				@include size(padding, 1.8, 0);

				.caption {
					float: left;
					width: 70%;
					text-align: left;
					@include size(font-size, 2.4);
					padding-left: 13px;
				}

				.nav {
					float: right;
					width: 30%;
					text-align: right;
					padding-top: 5px;
					padding-right: 11px;

					.rsArrowLeft, .rsArrowRight {
						width: 15px;
						height: 15px;
						margin: 0 4px;
					}

					.rsArrowLeft {
						background: image-url("/Content/images/icons/arrow-prev.png") center no-repeat;
					}

					.rsArrowRight {
						background: image-url("/Content/images/icons/arrow-next.png") center no-repeat;
					}

					.rsBullets {
						.rsBullet {
							width: 15px;
							height: 15px;
							margin: 0 4px;
						}
					}
				}
			}

			#mediaCartSlider {
				min-height: 350px;

				.rsOverflow {
					height: 350px !important;
				}

				.slider-item {
					@include size(padding, 3.2);

					.left {
						width: 60%;
						float: left;

						h4 {
							margin: 2px 0 13px 49px;
							width: 250px;
							@include size(font-size, 2.4);
						}

						p {
							margin: 0 0 0 49px;
							width: 240px;
							@include size(font-size, 1.6);
						}
					}

					.right {
						width: 40%;
						float: right;

						p {
							margin: 6px 0 0 21px;
							position: static;
							@include size(font-size, 1.2);

							i {
								margin-right: 7px;
							}
						}

						i.icon.icons-btn-media-cart-transparent {
							margin: 12px 0 0 30px;
							position: static;
						}
					}
				}

				.item1 {
					height: 165px;
				}

				.item2 {
					height: 225px;

					.left {
						width: 55%;

						h4 {
							margin-bottom: 9px;
						}
					}

					.right {
						width: 45%;

						img.mobile {
							display: none;
						}

						img {
							margin-left: 20px;
							margin-top: 6px;
						}
					}
				}

				.item3 {
					height: 350px;

					.top {
						.right {
							img {
								margin-top: 7px;
								margin-left: 51px;
							}
						}
					}

					.separator-wrapper {
						margin: 33px 0;
					}

					.bottom {
						overflow: hidden;

						.right {
							p {
								margin: 6px 0 0 49px;
								@include size(font-size, 1.2);
								width: auto;
							}

							i.icon.icons-btn-download {
								margin-left: 52px;
								margin-top: 15px;
							}
						}
					}
				}
			}
		}
	}
}

@media #{$desktop} {
}


.cart-empty {
	.sub-header {
		border-top: none;

		h4 {
			@include font_cond_bold();
			color: #999999;
			@include size(margin, 0, 0, 0.5, 0);
		}

		h3 {
			@include font_cond_bold();
			@include size(margin, 0);
		}
	}

	.empty-title {
		@include font_bold();
		color: $empty-cart-header;
		text-align: center;
	}

	.how-to-use {
		max-width: 580px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 100px;

		.caption-wrapper {
			overflow: hidden;
			border-bottom: 1px dotted #cccccc;
			border-top: 1px dotted #cccccc;

			.caption {
				@include font_semi_bold();
				color: $how-to-use-media-cart-color;
			}

			.nav {
				.rsArrowLeft, .rsArrowRight {
					display: inline-block !important;
				}

				.rsArrowLeft {
					margin-left: 0;
				}

				.rsArrowRight {
					margin-right: 0;
				}

				.rsBullets {
					display: inline-block;

					.rsBullet {
						background: #999999;
						border-radius: 50%;
						display: inline-block;
						cursor: pointer;

						&.rsNavSelected {
							background: $black;
						}
					}
				}
			}
		}

		#mediaCartSlider {
			width: 100%;

			> .slider-item:not(.item1) {
				display: none;
			}

			.slider-item {
				background: #f1f1f1;
				width: 100%;
				color: #727272;

				.left {
					.dot {
						position: absolute;
						@include font_bold();
						@include size(font-size, 2.4);
						background: $black;
						width: 32px;
						height: 32px;
						border-radius: 50%;
						padding: 4px 9px;
						color: #dcdcdc;
						top: 5px;
					}

					h4 {
						@include font_regular();
						color: $black;
						line-height: 1;
					}

					p {
						color: $black;
						@include font_regular();
						line-height: 1.1;
					}
				}

				.right {
					text-align: center;

					p {
						@include font_semi_bold();
						color: $black;

						i {
							margin-right: 7px;
						}
					}
				}
			}

			.item3 {
				.top {
					overflow: hidden;
				}

				.separator-wrapper {
					position: relative;

					.media-separator {
						border-top: 1px dotted #cccccc;
					}

					p.or {
						@include font_bold();
						position: absolute;
						@include size(font-size, 1.6);
						color: $black;
						background: #f1f1f1;
						width: 35px;
						left: 50%;
						padding: 0 5px;
						top: -10px;
						text-transform: uppercase;
						margin: 0 0 0 -15px;
					}
				}

				.bottom {
					overflow: hidden;

					.right {
						p {
							@include font_semi_bold();
							color: $black;
						}
					}
				}
			}
		}
	}
	/* preload */
	#mediaCartSlider {
		> .rsArrow, > .rsNav {
			display: none !important;
		}
	}
}
