.mediacart-tip,
.detail-pages .detail-panel .mediacart-tip {
    position: absolute;
    width: auto;
    @include size(padding, 1.5, 3.2);
    text-align: center;
    color: #fff;
    border: 2px solid #555555;
    @include size(border-radius, 1);
    box-shadow: #000 0 0 10px;
    @include opacity(0.75);
    background: #000;
    display: none;
    z-index: 30;

    .icon {
        @include size(margin-right, 0.8);
        display: inline-block;

        &.spinner {
            width: 17px;
            height: 17px;
            background: url("/Content/images/spinner_light.gif") 0 0 no-repeat;
        }

        &.spinner-dark {
            width: 17px;
            height: 17px;
            background-image: url("/Content/images/spinner_dark.gif");
        }
    }

    h4 {
        margin: 0;
        color: #fff;
        @include size(font-size, 2);
        line-height: 1;

        span {
            @include font_bold();
            position: relative;
            top: -1px;
        }
    }

    &.light {
        color: #000;
        background: #fff;
        border-color: #fff;

        h4 {
            color: #000;
        }
    }
}

.lt-ie9 .mediacart-tip,
.lt-ie9 .detail-pages .detail-panel .mediacart-tip {
}

.mediacart .filters {
    margin-top: 0;

    ul {
        border-top: none;
        margin: 0;
    }
}

.mediacart {
	.send-wrapper {
		background: #f1f1f1;
		border-top: 1px solid #c6c6c6;

		.border {
			border-top: 1px solid #ffffff;
		}

		.twelve.colums {
			padding: 17px 15px;
		}

		.actions {
			a {
				@include font_bold();
				@include size(font-size, 1.4);
				color: $black;
				@include size(padding, 1.5, 0);
				width: 100%;
				text-align: center;
				display: block;

				&.download-all {
					border-top: 1px solid #ededed;
				}

				i {
					margin-right: 8px;
				}
			}
		}

		a.send-mediacart {
			@include apply-Desktop($map-mediacart,mediacart-button);
			/*color: $mediacart-button-color;
            background: $mediacart-button-bg;*/
			text-align: center;
			/*@include font_bold();*/
			i {
				position: relative;

				&.icons-arrow-next {
					display: none;
				}
			}

			&:hover {
				/*color: $mediacart-button-bg;
                background: $mediacart-button-color;*/
				@include apply-Desktop($map-mediacart,mediacart-button-hover);

				i {
					&.icons-arrow-next {
						display: inline-block;
					}

					&.icons-white-arrow-right {
						display: none;
					}
				}
			}
		}
	}
}

.send-wrapper {
    &.fixed-panel {
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 30;
    }
}

@media #{$mobile} {
    .mediacart-tip,
    .detail-pages .detail-panel .mediacart-tip {
        @include size(padding, 1.5);

        h4 {
            @include size(font-size, 1.5);
        }
    }

    .mediacart {
        .cart-content {
            @include size(margin-bottom, 4);
        }

        .sub-header {
            h4 {
                @include apply-Mobile($map-mediacart,mediacart-sub-header-h4);
            }

            h3 {
                @include apply-Mobile($map-mediacart,mediacart-sub-header-h3);
            }

            @include size(padding-bottom, 3.2);
        }

        .filters {
            @include size(margin, 0);

            ul {
                border-top: none;
                margin: 0;
            }
        }



        .send-wrapper {
            .actions {
                display: none;
                clear: both;

                a {
                    @include font_bold();
                    @include size(font-size, 1.4);
                    @include size(padding, 1.5, 0);
                    width: 100%;
                    text-align: center;
                    display: block;

                    &.download-all {
                        border-top: 1px solid #ededed;
                    }

                    i {
                        margin-right: 8px;
                    }
                }
            }

            .mobile-send-media-cart-wrapper {
                display: table;
                width: 100%;
            }

            a.send-mediacart {
                display: table-cell;
                @include size(padding, 1.5, 2);
                text-align: center;
                @include size(font-size, 1.4);
                @include font_bold();
                @include box-shadow(1px, 1px, 3px, 0px, #8a8a8a);

                &:hover {
                    i {
                        &.icons-arrow-next {
                            display: inline-block;
                        }

                        &.icons-white-arrow-right {
                            display: none;
                        }
                    }
                }

                i {
                    position: relative;
                    top: 2px;
                    margin-left: 10px;

                    &.icons-arrow-next {
                        display: none;
                    }
                }
            }

            .send-mediacart-mobile-separator {
                display: table-cell;
                width: 5px;
            }

            .media-more {
                display: table-cell;
                background: #e9e9e9;
                padding: 17.5px 15px;
                @include box-shadow(1px, 1px, 3px, 0px, #8a8a8a);
                @include size(font-size, 1.2);
                @include font_bold();
                color: #333333;
                position: relative;
                vertical-align: middle;
                white-space: nowrap;
                text-align: center;

                &.more {
                    i.icons-arr-more {
                        display: none;
                    }

                    i.icons-arr-less {
                        display: inline-block;
                    }
                }

                &.less {
                    i.icons-arr-more {
                        display: inline-block;
                    }

                    i.icons-arr-less {
                        display: none;
                    }
                }
            }
        }

       
        .img-item {
            .grid-item-text {
                .context-header {
                    min-height: 25px;
                }
            }
        }

        .columns {
            .disclaimer {
                p {
                    @include apply-Mobile($map-mediacart,mediacart-disclaimer-heading);
                    @include size(padding-top, 1.6);
                    border-top: 1px dotted #cccccc;
                }

                span {
                    @include apply-Mobile($map-mediacart,mediacart-disclaimer-content);
                }
            }
        }
    }

    .received {
        .text {
            @include size(margin-bottom, 2.4);
        }

        .sub-header {
            /*h4 {
                @include size(font-size, 1.6);
            }

            h3 {
                @include size(font-size, 2.4);
            }*/
            h4 {
                @include apply-Mobile($map-mediacart,mediacart-sub-header-h4);
            }

            h3 {
                @include apply-Mobile($map-mediacart,mediacart-sub-header-h3);
            }
        }

        .filters {
            border-top: 1px dotted #cccccc;
        }

        p {
            @include size(margin, 1.6, 0, 1.6, 0);
            line-height: 1.3;
            @include size(font-size, 1.4);
        }
        .disclaimer{
            p{
                @include size(margin, 1.4, 0, 1.2, 0);
            }
        }
        div.download {
            @include size(padding, 0);

            a {
                display: block;
                @include size(padding, 1.5, 0);
                @include size(font-size, 1.2);
                @include font_bold();
                color: #000000;

                &:first-of-type {
                    border-bottom: 1px dotted #d8d8d8;
                }
            }
        }
    }
}

@media #{$tablet} {
    .mediacart-tip,
    .detail-pages .detail-panel .mediacart-tip {
        @include size(padding, 1.5);

        h4 {
            @include size(font-size, 2);
        }
    }

	.mediacart {
		.sub-header {
			h4 {
				@include apply-Tablet($map-mediacart,mediacart-sub-header-h4);
			}

			h3 {
				@include apply-Tablet($map-mediacart,mediacart-sub-header-h3);
			}
		}

		.filters {
		}

		.send-wrapper {
			.actions {
				float: right;
				display: block;
				clear: none;
				a {
					display: inline-block;
					width: auto;
					@include size(font-size, 1.4);
 
					&.download-all {
						margin-right: 15px;
						border-top: none;
					}
				}
			}

			.mobile-send-media-cart-wrapper {
				display: block;
			}

			a.send-mediacart {
				display: block;
				float: left;
				width: 100%;
				max-width: 317px;
				margin-right: 0;
				@include size(font-size, 2);
				@include size(padding, 1.5, 0);

				i {
					top: 0px;
					left: 5px;
				}
			}

			.send-mediacart-mobile-separator {
				display: none;
			}

			.media-more {
				display: none;
			}
		}

		.img-item {
			.grid-item-text {
				.context-header {
					min-height: 36px;
				}
			}
		}

		.account {
			.sub-header {
				@include size(padding, 2.4, 0);

				h3 {
					@include size(font-size, 3.2);
					color: #555;
				}

				p {
					@include size(font-size, 1.6);
					color: #666;
				}
			}

			form {
				@include size(padding-top, 2.4);

				p {
					color: #999999;
				}

				input {
					width: 100%;
				}
			}

			p, label {
				@include size(font-size, 1.6);
			}

			.custom-button {
				@include size(padding, 0, 3.5);
				width: auto;
				@include size(margin, 1.5, 0);
			}

			.columns-wrapper {
				display: table;
				width: 100%;
			}

			.first-column, .second-column {
				float: none;
				width: 50%;
				display: table-cell;
			}

			.first-column {
				@include size(padding-right, 1.6);
			}

			.second-column {
				@include size(padding-left, 1.6);
			}

			&.done, &.error {
				margin: 0 auto;
				max-width: 580px;
			}

			.steps-list {
				h5 {
					margin-bottom: 0;
					@include size(font-size, 1.6);
				}

				ul {
					li {
						@include size(font-size, 1.6);
					}
				}
			}

			p.tip {
				@include size(font-size, 1.2);
			}

			&.error {
				h2 {
					@include size(font-size, 3.2);
				}
			}
		}
		.columns {
			.disclaimer {
				p {
					@include apply-Tablet($map-mediacart,mediacart-disclaimer-heading);
					@include size(padding-top, 1.6);
					border-top: 1px dotted #cccccc;
				}
		span{
					@include apply-Tablet($map-mediacart,mediacart-disclaimer-content);
				}
			}
		}
	}

    .received {
        .six {
            width: 100%;
        }

        .column {
            float: none;
        }

        .sub-header {
            h4 {
                @include apply-Tablet($map-mediacart,mediacart-sub-header-h4);
            }

            h3 {
                @include apply-Tablet($map-mediacart,mediacart-sub-header-h3);
            }
        }

        p {
            @include size(margin, 2.4, 0, 0, 0);
            line-height: 1.3;
            @include size(font-size, 1.6);
        }
        .disclaimer{
            p{
                @include size(margin, 1.4, 0, 1.2, 0);
            }
        }
        div.download {
            @include size(padding, 1, 0);

            a {
                display: inline;
                @include size(padding, 1.5, 0);
                @include font_semi_bold();

                &:first-of-type {
                    border-bottom: 0;
                }
            }

            a:first-of-type {
                padding-right: 10px;
            }

            a:last-of-type {
                padding-left: 10px;
            }
        }
    }
}

.received {
    .text {
        .received-contact {
            @include size(margin-top, 0.5);
            span {
                color: #222222;
            }
        }
    }
    div.download {
        background: #f8f8f8;
        text-align: center;
        a {
            i {
                @include size(margin-right, 0.5);
            }
        }
    }

}
@media #{$desktop} {
    .mediacart {
        .sub-header {
            border-top: none;

            h4 {
                @include apply-Desktop($map-mediacart,mediacart-sub-header-h4);
            }

            h3 {
                @include apply-Desktop($map-mediacart,mediacart-sub-header-h3);
            }
        }

        .send-wrapper {
            a.send-mediacart {
                float: left;
                width: auto;
                max-width: 50%;
                margin-right: 0;
                @include size(padding, 1.5, 2);
            }
        }

        .account {
            max-width: 580px;

            form {
                input {
                    width: 275px;
                }
            }

            .first-column, .second-column {
            }
        }

        .columns {
            .disclaimer {
                p {
                     @include apply-Desktop($map-mediacart,mediacart-disclaimer-heading);
                    @include size(padding-top, 1.6);                    
                    border-top: 1px dotted #cccccc;
                }
                span{
                    @include apply-Desktop($map-mediacart,mediacart-disclaimer-content);
                }
            }
        }
    }

    .received {
        .text {
            @include size(margin-bottom, 0);
        }

        .six {
            width: 50%;
        }

        .column {
            float: right;
        }
        .filters {
            border-top: none;
        }
        p {
            line-height: 1.3;
            @include size(font-size, 1.6);
        }
    }
}

@media #{$nexus} {
    .received {
        .download {
            .download-all {
                display: none;
            }
        }
    }
}
