﻿$map-mobile-menu:(
    base-properties:(
        base-font:'Arial,Helvetica,Verdana,sans-serif', 
        base-color:'red'        
    ),
    onDesktop:(        
        menu-item:(// for menu background
                        context:(css-path: '.header-mid' ),
                        properties: (  
                        background:#ed1b2e,
                        )
                    ),
       menu-item-link:(
                        context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li a' ),
                        properties: (                        
                        color:#ffffff,
                        line-height:1.6,
                        size:(font-size:1.4), 
                        font-style: (style: regular, font-family: "&base-font") 
                        )
                    ),              
       menu-inner-item:(
                        context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li a' ),
                        properties: (          
                        color:#000000,
                        size:(font-size:1.2,padding:(1.6, 2)), 
                        font-style: (style: regular, font-family: "&base-font")                    
                        )
                    ),
        //for the item normal text
        menu-three-level-item:(
                        context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li a' ),
                        properties: (          
                        color:#000000,
                        size:(font-size:1.2,padding:(1.6, 0)), 
                        font-style: (style: regular, font-family: "&base-font"),
                        border-bottom: 0px
                        )
                    ),
        menu-inner-background:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu' ),
                    properties: (          
                    background:#ffffff
                    )
                ),
        menu-three-level-background:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu' ),
                    properties: (          
                    background:#ffffff
                    )
                ),
        // Inner menu
        menu-inner-hover-background:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li:hover' ),
                    properties: (          
                    background:#00c3f7                   
                    )
                ),
        menu-inner-hover-item:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li:hover a' ),
                    properties: (                                      
                    color:#ffffff
                    )
                ),

        menu-inner-active-background:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.active a' ),
                    properties: (                  
                        background:#ffffff,
                    )
                ),
        menu-inner-active-item:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.active a' ),
                    properties: (
                    color:#ffffff,                    
                    font-style: (style: regular, font-family: "&base-font")                     
                    )
                ),
        // Three Level
         menu-three-level-hover-background:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-submenu li:hover' ),
                    properties: (          
                    background:#000000    
                                    
                    )
                ),
         menu-three-level-hover-item:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-submenu li:hover a span' ),
                    properties: (                                      
                    color:#ffffff,
                    border-bottom: 0px solid #000000 
                    )
                ),
        menu-three-level-active-background:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.active a' ),
                    properties: (                  
                        background:#ffffff,
                    )
                ),
        menu-three-level-active-item:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.active a' ),
                    properties: (
                    color:#000000,                
                    font-style: (style: bold, font-family: "&base-font")                     
                    )
                ),
        // Top Menu
        menu-active-background:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.active a' ),
                    properties: (                    
                    background:none,  
                    //font-style: (style: bold, font-family: "&base-font")                                       
                    )
                ),
        menu-active-item:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.active a' ),
                    properties: (
                    color:#ffffff,                    
                    font-style: (style: regular, font-family: "&base-font")                     
                    )
                ),
        menu-hover-background:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li:hover a span' ),
                    properties: (                    
                    background:none,
                    )
                ),     
        menu-hover-item:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li:hover a span' ),
                    properties: (
                    color:#ffffff,                      
                    border-bottom: 1px solid #ffffff  
                    )
                ),  
        menu-item-site-menu:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li:last-of-type, .header-mid .site-menu-wrapper nav.site-menu ul li' ),
                    properties: (
                        size:(padding: (0, 4.8, 0, 0.0)) // To place then at center 0, 2.4, 0, 2.4
                    )
                ),      
        /*logo:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li:last-of-type, .header-mid .site-menu-wrapper nav.site-menu ul li' ),
                    properties: (                        
                        size:(padding: (0, 2.4, 0, 2.4))
                    )
                ),*/                      
            ),    
    onMobile:(
         other-title:(// For download and media cart
                        context:(css-path: '.mobile-menu ul.mc li a span' ),
                        properties: (
                        color:#000000,
                        size:(font-size:1.6),       
                        font-style: (style: regular, font-family: "&base-font")
                        )
                    ),
        download-header:(// For download
                        context:(css-path: '.mobile-menu ul.mc li a span' ),
                        properties: (
                        color:#000000,
                        size:(font-size:1.6),       
                        font-style: (style: regular, font-family: "&base-font")
                        )
                    ),
        mediacart-header:(// For media cart
                        context:(css-path: '.mobile-menu ul.mc li a span' ),
                        properties: (
                        color:#000000,
                        size:(font-size:1.6),       
                        font-style: (style: regular, font-family: "&base-font")
                        )
                    ),
         logreg-header:(// For logreg signin
                        context:(css-path: '.mobile-menu ul.mc li a span' ),
                        properties: (
                        color:#000000,
                        size:(font-size:1.6),       
                        font-style: (style: regular, font-family: "&base-font")
                        )
                    ),
         back-link:(// For back to home
                        context:(css-path: '.mobile-menu ul.mc li a span' ),
                        properties: (
                        color:#000000,
                        size:(font-size:1.6),       
                        font-style: (style: regular, font-family: "&base-font")     
                        )
                    ),
        back-link-background:(// For back to background
                        context:(css-path: '.mobile-menu ul.mc li a span' ),
                        properties: (
                        background-color: #f1f1f1,  
                        )
                    ),    
        mobile-menu-link-hover:(
                    context:(css-path: '.mobile-menu ul.mc li a span' ),
                    properties: (
                    text-decoration: none,
                        )
                    ),
        menu-toptitle:(
                    context:(css-path: '.mobile-menu > ul.menu > li > a' ),
                    properties: (
                    color:#000000,
                    size:(font-size:1.6),       
                    font-style: (style: regular, font-family: "&base-font")
                        )
                    ),
         menu-title:(
                        context:(css-path: '.mobile-menu ul li a' ),
                        properties: (
                        color:#000000,
                        size:(font-size:1.6),       
                        font-style: (style: regular, font-family: "&base-font")
                        )
                    ),
        menu-title-preLogin-header-link:(
                        context:(css-path: '.mobile-menu ul li a' ),
                        properties: (
                        color:#000000,
                        size:(font-size:1.6),       
                        font-style: (style: regular, font-family: "&base-font")
                        )
                    ),
        menu-title-media-cart-drowdown:( // No effects
                        context:(css-path: '.mobile-menu ul li a' ),
                        properties: (
                        color:#000000,
                        size:(font-size:1.6),       
                        font-style: (style: regular, font-family: "&base-font")
                        )
                    ),
         menu-item:(// for menu background and menu color
                        context:(css-path: '.mobile-menu ul li' ),
                        properties: (
                        background-color:#f7f7f7,
                        //color:#000000                         
                        )
                    ),
        menu-item-preLogin-header-link:(// for menu background
                        context:(css-path: '.mobile-menu ul li' ),
                        properties: (
                        background-color:#f1f1f1,
                        )
                    ),
        menu-item-media-cart-drowdown:(// for menu background // To remove added none for that
                        context:(css-path: '.mobile-menu ul li' ),
                        properties: (
                        background-color:none,
                        )
                    ),
        menu-active-background:(
                    context:(css-path: 'mobile-menu ul li.active' ),
                    properties: (                    
                    background-color:none,
                    font-style: (style: bold, font-family: "&base-font")                     
                    )
                ),
         menu-active-item:(
                        context:(css-path: '.mobile-menu ul li.active > a' ),
                        properties: (
                        color:none,
                        font-style: (style: regular, font-family: "&base-font")                     
                        )
                    ),
         
         menu-inner-background:(
                        context:(css-path: '.mobile-menu ul li.active > a' ),
                        properties: (    
                            background: #ffffff                  
                        )
                    ),
        menu-inner-active-background:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.active a' ),
                    properties: (                  
                        background:#3cbef4,
                    )
                ),
        menu-inner-active-item:(
                    context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.active a' ),
                    properties: (
                    color:#ffffff,                    
                    font-style: (style: regular, font-family: "&base-font")                     
                    )
                ),
         menu-mobile-search-item:(
                        context:(css-path: '.mobile-menu .search' ),
                        properties: (
                             background:#ed1b2e,                         
                             padding:1.4rem,
                             border-bottom: 0px solid #d4d4d3
                         )
                  ),
        menu-mobile-search-icon:(
                        context:(css-path: '.mobile-menu .search .search-wrapper input[type="button"]' ),
                        properties: (
                             background: #f8f8f8 url("../images/icons/search-icon-desktop.png") center no-repeat
                         )
                  ),
     menu-inner-active-hover-text:(
                        context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.active:hover a' ),
                        properties: (
                            color:#000
                        )
                ),
        menu-inner-active-hover-bg:(
                        context:(css-path: '.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.active:hover' ),
                        properties: (
                            background-color:#fff
                        )
                )
          )    
)