.full-wrapper {
    height: 100%;
}

.menu-opened {
    .mobile-menu {
        position: fixed;
        height: 100%;
        display: block;
        overflow-y: scroll;
        z-index: 1000;
        border-left: 1px solid $mobile-menu-category-border-color;
    }
    .mobile-menu.mobile-right {
        right: 0px;

    }

    .mobile-menu .icons-dropdown-arrow
        {
        background-image:url(/content/images/icons/dropdown-arrow-old.png);
        background-position: 0 0px;
    }

    .full-wrapper {
        position: fixed;
        left: 270px;
        width: 100%;
    }
    .full-wrapper.mobile-left {
        left: 270px;
    }
    .full-wrapper.mobile-right {
        left: -270px;
    }
}

.mobile-search-icon {
    display: inline-block;
    vertical-align: top;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

$mobile-media-cart-image: null !default;

@if $mobile-media-cart-image != null {
    .mobile-menu .mc .icons-media-cart {
        background: image-url($mobile-media-cart-image) no-repeat;
    }
}

$mobile-download-image: null !default;

@if $mobile-download-image != null {
    .mobile-menu .mc .icons-download {
        background: image-url($mobile-download-image) no-repeat;
    }
}

.mobile-menu {
    border-right: 1px solid $mobile-menu-category-border-color;
    /*background: $mobile-menu-bg;*/
    @include apply-Mobile($map-country-dd,country-dd-wrapper-bg);
    display: none;

    .search {
        @include apply-Mobile($map-mobile-menu,menu-mobile-search-item);

        .search-wrapper {
            position: relative;

            input[type="text"] {
                width: 24rem;
            }

            input[type="button"] {
                position: absolute;
                right: 0;
                top: 0;
                height: 3.2rem;
                width: 3.2rem;
                @include apply-Mobile($map-mobile-menu,menu-mobile-search-icon);
                //background: $search-btn-bg url("../images/icons/search-icon-desktop.png") center no-repeat;
            }
        }
    }

    ul {
        margin: 0;
        li {
            list-style: none;
            @include apply-Mobile($map-mobile-menu,menu-item);
            &.active {
                > a {
                        span{
                        @include apply-Mobile($map-mobile-menu,menu-active-item);
                    }
                }
            }

            a {
                padding: 1.7rem 0;
                display: block;
                @include apply-Mobile($map-mobile-menu,menu-title);
            }
        }

        li.preLogin-header-link  {
            list-style: none;
            @include apply-Mobile($map-mobile-menu,menu-item-preLogin-header-link);

            a {
                padding: 1.7rem 0;
                display: block;
                @include apply-Mobile($map-mobile-menu,menu-title-preLogin-header-link);
            }
        }

        li.media-cart-drowdown  {
            list-style: none;
            @include apply-Mobile($map-mobile-menu,menu-item-media-cart-drowdown);

            a {
                padding: 1.7rem 0;
                display: block;
                @include apply-Mobile($map-mobile-menu,menu-title-media-cart-drowdown);
            }
        }
    }

    > ul.menu {
        //border-bottom: 2px solid $section-color;
        > li {
            //background: $mobile-menu-bg;
            @include apply-Mobile($map-mobile-menu,menu-item);
            max-width: 268px;

            &:last-of-type {
                a {
                    //border-bottom: 1px solid $mobile-menu-category-border-color;
                }
            }

            > a {
                position: relative;
                padding-left: 2.4rem;
                border-bottom: 1px solid $mobile-menu-category-border-color;
                //background-color: $header-mid-background;
                @include apply-Mobile($map-mobile-menu,menu-toptitle);
                span {
                    padding-right: 28px;
                }

                i {
                    position: absolute;
                    right: 2rem;
                    top: 50%;
                    margin-top: -4px;
                }
            }

            &.open {
                ul.category-menu {
                    display: block;

                                       >li{
                        ul.category-submenu {
                            display:none;
                        }
                    }
                }
            }

            ul.category-menu {
                display: none;
                li {
                    padding-left: 4.8rem;
                    @include apply-Mobile($map-mobile-menu,menu-inner-background);
                }
                li.active{
                    @include apply-Mobile($map-mobile-menu,menu-inner-active-background);
                }
                li.active {
                    a {
                        @include apply-Mobile($map-mobile-menu,menu-inner-active-item);
                    }
                                &:hover
                        {
                        @include apply-Mobile($map-mobile-menu,menu-inner-active-hover-bg);
                        a {
                            @include apply-Mobile($map-mobile-menu,menu-inner-active-hover-text);
                        }
                    }
                }
                 i{
                &.icon{
                    &.icons-menu-right-arrow {
                        display: none;
                    }
                }

                }
            }
        }
              li.active
        {
            @include apply-Mobile($map-mobile-menu,menu-active-background);
        }
    }

    ul.mc {
        li {
            a {
                border-bottom: 1px solid $mobile-menu-category-border-color;
                padding-left: 2.4rem;
                text-transform: none;
                @include apply-Mobile($map-mobile-menu,menu-toptitle);
                span {
                    padding-left: 2px;
                    @include apply-Mobile($map-mobile-menu,other-title);
                }

                i {
                    position: relative;
                }
            }
        }
   .download-queue{
            a{ span{
                   @include apply-Mobile($map-mobile-menu,download-header);
               }
            }            
        }
        .media-cart-drowdown
        {
            a{ span{
                   @include apply-Mobile($map-mobile-menu,mediacart-header);
               }
            }   
        }
        .li-header-logreg
        {
            a{ span{
                   @include apply-Mobile($map-mobile-menu,logreg-header);
               }
            }   
        }       
    }
  .mobile-menu-link{
             @include apply-Mobile($map-mobile-menu,back-link-background);
            span{
                   @include apply-Mobile($map-mobile-menu,back-link);
               }             
     }    
    .mobile-menu-link:hover {
                @include apply-Mobile($map-mobile-menu,mobile-menu-link-hover);
                }
}

/*//**GP */
@media #{$mobile} {
    .mobile-menu {
        ul.menu {
            li.hide-tablet {
                display: table-cell;
            }

            li.hide-mobile {
                display: none;
            }

            li {
                ul.category-menu {
                    li.hide-tablet {
                        display: table-cell;
                    }

                    li.hide-mobile {
                        display: none;
                    }
                }
            }
        }
    }
}

@media #{$tablet} {
    .mobile-menu {
        ul.menu {
            li.hide-mobile {
                display: table-cell;
            }

            li.hide-tablet {
                display: none;
            }

            li {
                ul.category-menu {
                    li.hide-mobile {
                        display: table-cell;
                    }

                    li.hide-tablet {
                        display: none;
                    }
                }
            }
        }
    }
}
