.news-footer {
    a {
        color: #999999;
    }

    .date {
        float: right;
    }
}

.home > .row:last-of-type {
    .see-all h4 {
        border-bottom: none;
    }
}

@media #{$mobile} {

    .home {
        .latest-news-items {
            > li:nth-child(n+5) {
                display: none;
            }
        }

        .images-videos-items {
            > li:nth-child(n+5) {
                display: none;
            }
        }

        .lookbooks-items {
            > li:nth-child(n+3) {
                display: none;
            }
        }

        .products-items {
            > li:nth-child(n+3) {
                display: none;
            }
        }

        .showcasecategorylistings-items {
            > li:nth-child(n+3) {
                display: none;
            }
        }

        .athletes-items {
            > li:nth-child(n+5) {
                display: none;
            }
        }
    }

    .latest-news-items {
        .news-item {
            display: block;
            overflow: hidden;

            .img-wrap {
                float: left;
                width: 44%;
                /*margin: 8px;*/
            }

            .grid-item-text {
                float: left;
                width: 50%;

                .grid-context {
					.category-marker{
						background-color: #ffb300;
						color: white !important;
						padding: 1px 4px;
						border-radius: 5px;
					}
                    h5.context-header {
                        @include size(margin, 0);
                        height: 80px;

                        a {
                            @include size(font-size, 1.2);
                        }
                    }

                    p {
                        display: none;
                    }
                }

                .news-footer {
                    position: absolute;
                    bottom: 0px;
                    width: 47%;
                    border-top: 1px dotted #d4d4d4;
                    @include size(padding-top, 0);

                    .date {
                        @include size(font-size, 0.8);
                        @include size(padding-top, 0.3);
                        @include size(padding-right, 0.3);
                        color: $listing-news-footer-date-color;
                        float: right;
                    }
                }
            }
        }
    }

    .images-videos-items {
        .img-item {
            .grid-item-text {
                width: 100%;

                .grid-context {
                    h5.context-header {
                        height: 40px;

                        a {
                            @include size(font-size, 1.2);

                            &:hover {
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

    .content-wrap:hover {
        .grid-item-text .grid-context h5.context-header a {
            text-decoration: underline;
        }
    }

    .home {
        > .row:last-of-type {
            .see-all {
                h4 {
                    //border-bottom: none;
                }
            }
        }

        .img-item {
            .image-wrapper {
                width: 100%;
            }
        }
    }

    .lookbooks-items {
        .lookbook-item {
            display: table;
            width: 100%;

            .img-wrap {
                display: table-cell;
                vertical-align: top;
                width: 50%;
            }

            .grid-item-text {
                display: table-cell;
                vertical-align: top;

                .grid-context {
                    h5.context-header {
                        height: 55px;

                        a {
                            @include size(font-size, 1.6);
                        }
                    }
                }

                .lookbook-footer {
                    position: absolute;
                    bottom: 5px;
                    width: 47%;
                    border-top: 1px dotted #d4d4d4;
                }
            }
        }
    }

    .products-items {
        display: table;
        @include size(padding-bottom, 1.6);

        .product-item {
            .img-wrap {
                display: table-cell;
                width: 50%;

                a {
                }
            }
        }

        .grid-item-text {
            display: table-cell;
            vertical-align: top;
			.category-marker{
				background-color: #ffb300;
				color: white !important;
				padding: 1px 4px;
				border-radius: 5px;
			}
            .grid-context {
                h5.context-header {
                    height: 80px;
                    min-height: 1.2em;

                    a {
                        @include size(font-size, 1.2);
                    }
                }
            }

            .product-footer {
                position: absolute;
                bottom: 0px;
                width: 47%;
                @include size(padding-top, 0);
            }
        }
    }

    // filter new mobile

    .landing-pages ul.filterList > li, .filterList {
        padding: 16px;
    }

    .landing-pages ul.filterList > li.filterSubmit {
        list-style-type: none;
        padding: 0;
    }

    .filterSubmit input {
        width: 100%;
        display: block;
        padding: 2px;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        border: 1px solid #000;
    }

    .filterLi {
        @include size(padding, 1, 0, 1, 0);
        list-style-type: none;

        &.submit-li {
            input {
                display: block;
                width: 100%;
                background-color: #000000;
                color: #FDD214;
                @include size(padding, 0.6, 1.6, 0.6, 1.6);
                @include size(font-size, 1.4);
                font-weight: bold;
                text-transform: uppercase;
                border: 1px solid #000000;
                cursor: pointer;
            }
        }
    }

    .filter-items {
        //display: table;
        @include size(padding-bottom, 1.6);

        .filter-item {
            .filter {
                // display: table-cell;
                // width: 100%;
                label {
                    display: inline;
                    @include size(padding, 0, 0.8, 0, 0);
                    background: none;
                    font-weight: bold;
                }

                select {
                    display: inline;
                    width: auto;
                    @include size(padding, 0, 2.2, 0, 0);
                }
            }
        }
    }

    .showcasecategorylistings-items {
        display: table;
        @include size(padding-bottom, 1.6);

        .showcasecategorylisting-item {
            .img-wrap {
                display: table-cell;
                width: 50%;

                a {
                }
            }
        }

        .grid-item-text {
            display: table-cell;
            vertical-align: top;

            .grid-context {
                h5.context-header {
                    height: 80px;
                    min-height: 1.2em;

                    a {
                        @include size(font-size, 1.2);
                    }
                }
            }

            .product-footer {
                position: absolute;
                bottom: 0px;
                width: 47%;
                @include size(padding-top, 0);
            }
        }
    }

    .athletes-item {
        .grid-context {
            h5.context-header {
                a {
                    @include size(font-size, 1.2);
                }
            }
        }
    }
}

@media #{$tablet} {

    .home {
        .latest-news-items {
            > li:nth-child(n+5) {
                display: none;
            }
        }

        .images-videos-items {
            > li:nth-child(n+5) {
                display: none;
            }
        }

        .lookbooks-items {
            > li:nth-child(n+3) {
                display: none;
            }
        }

        .products-items {
            > li:nth-child(n+3) {
                display: block;
            }

            > li:nth-child(n+5) {
                display: none;
            }
        }

        .showcasecategorylistings-items {
            > li:nth-child(n+3) {
                display: block;
            }

            > li:nth-child(n+5) {
                display: none;
            }
        }

        .athletes-items {
            > li:nth-child(n+5) {
                display: block;
            }

            > li:nth-child(n+7) {
                display: none;
            }
        }
    }

    .latest-news-items {
        li {
            .news-item {
                display: block;
                overflow: visible;

                .img-wrap {
                    display: block;
                    width: auto;
                    float: none;
                    overflow: none;
                    border-right: none;
                }

                .grid-item-text {
                    display: block;
                    width: auto;
                    float: none;

                    .grid-context {
                        height: 100px;
                        position: relative;

                        h5.context-header {
                            height: 45px;
                            z-index: 5;
                            position: relative;

                            a {
                                @include size(font-size, 1.6);
                                @include size(line-height, 2);
                                width: 100%;
                            } 
                        }

                        p {
                            display: inline-block;
                            position: absolute;
                            overflow: hidden;
                            visibility: hidden;
                            height: 100%;
                            width: 100%;
                            top: 0;
                            margin-bottom: 0;
                            @include size(font-size, 1.2);
                            @include size(line-height, 1.8);
                        }
                    }

                    .news-footer {
                        position: static;
                        bottom: auto;
                        width: 100%;
                        @include size(padding-top, 1.2);

                        .date {
                            @include size(font-size, 1.2);
                            @include size(line-height, 1.8);
                            @include size(padding-top, 0);
                        }
                    }
                }
            }
        }
    }

	.latest-news-items.tag-items {
        li {
            .news-item {
                .grid-item-text {
                    .grid-context {
                        height: 142px;
						.category-marker{
							background-color: #ffb300;
							color: white !important;
							padding: 1px 4px;
							border-radius: 5px;
						}
					}
				}
			}
		}
	}

    .images-videos-items {
        .img-item {
            .grid-item-text {
                width: 100%;

                .grid-context {
                    h5.context-header {
                        height: 48px;
                        min-height: 20px !important;

                        a {
                            @include size(font-size, 1.6);
                            @include size(line-height, 2);
                        }
                    }
                }
            }
        }
    }

    .lookbooks-items {
        .lookbook-item {
            display: block;
            width: auto;

            .img-wrap {
                display: block;
                vertical-align: top;
                width: auto;
                border-right: none;

                a {
                    img {
                        width: 100%;
                    }
                }
            }

            .grid-item-text {
                display: block;
                vertical-align: top;

                .grid-context {
                    @include size(padding-bottom, 1.6);

                    h5.context-header {
                        height: 75px;
                    }
                }

                .lookbook-footer {
                    position: static;
                    bottom: auto;
                    width: 100%;
                }
            }

            .lookbook-footer {
                border-top: 1px dotted #d4d4d4;
                @include size(padding-top, 1.6);

                .date {
                    @include size(margin-bottom, 1.6);
                }
            }
        }
    }

    .products-items {
        display: block;
        @include size(padding-bottom, 3.2);

        .product-item {
            display: block;
            width: auto;

            .img-wrap {
                display: block;
                vertical-align: top;
                width: auto;
                border-right: none;
            }

            .grid-item-text {
                display: block;
                vertical-align: top;

                .grid-context {
                    @include size(padding-bottom, 1.6);

                    h5.context-header {
                        height: 45px;

                        a {
                            @include size(font-size, 1.6);
                            @include size(line-height, 2);
                        }
                    }
                }

                .product-footer {
                    position: static;
                    bottom: auto;
                    width: 100%;
                    @include size(padding-top, 1.2);
                }
            }
        }
    }

    .products-items.tag-items {
        .product-item {
            .grid-item-text {
                .grid-context{
                    @include size(padding-bottom, 3.8);
                }
            }
        }
        .tag-items-li{
         .grid-item-text {
                .grid-context{
                    @include size(padding-bottom, 1.6);
                }
            }   
        }
    }
    .filter-items {
        padding: 12px 0;
        margin-top: 12px !important;
        clear: both;
        display: block;
        border-top: 1px dotted #666;
        border-bottom: 1px dotted #666;

        .filterLi {
            min-width: 135px;
            border-right: 1px solid black;
            display: inline-block;
            padding-right: 16px;
            list-style-type: none;
            margin-right: 10px;

            &.submit-li {
                min-width: 60px;
                padding-left: 12px;
                border-right: 0 none;
                display: inline-block;
                list-style-type: none;
            }

            label {
                display: inline;
                font-weight: bold;
            }

            select {
                display: inline;
                width: 138px;
                height: 26px;
            }


            .filter-item {
                display: block;
                width: auto;

                .filter {
                    display: block;
                    vertical-align: top;
                    width: auto;
                    border-right: none;

                    .labelContainer {
                        float: left;

                        label {
                            @include size(padding, 0, 0.8, 0, 0);
                            background: none;
                            font-weight: bold !important;
                            color: #000 !important;
                            font-size: 12px !important;
                            line-height: 2.2em;
                        }
                    }

                    .selectContainer {
                        float: left;

                        select {
                            height: 2.5rem;
                            border: 1px solid #ccc;
                            color: #000;
                            font-size: 13px;
                            font-family: arial;
                            min-width: 185px;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    .showcasecategorylistings-items {
        display: block;
        @include size(padding-bottom, 3.2);

        .showcasecategorylisting-item {
            display: block;
            width: auto;

            .img-wrap {
                display: block;
                vertical-align: top;
                width: auto;
                border-right: none;
            }

            .grid-item-text {
                display: block;
                vertical-align: top;

                .grid-context {
                    @include size(padding-bottom, 1.6);

                    h5.context-header {
                        height: 45px;

                        a {
                            @include size(font-size, 1.6);
                            @include size(line-height, 2);
                        }
                    }
                }

                .product-footer {
                    position: static;
                    bottom: auto;
                    width: 100%;
                    @include size(padding-top, 1.2);
                }
            }
        }
    }

    /*TNMMCLITE-22*/
    .athletes-items {
        /*.grid-context {
			h5.context-header {
				a {
					@include size(font-size, 1.6);
				}
			}
		}*/
        li {
            .athletes-item {
                display: block;
                overflow: visible;

                .img-wrap {
                    display: block;
                    width: auto;
                    float: none;
                    overflow: none;
                    border-right: none;
                }

                .grid-item-text {
                    display: block;
                    width: auto;
                    float: none;

                    .grid-context {
                        height: 100px;
                        position: relative;

                        h5.context-header {
                            height: 45px;
                            z-index: 5;
                            position: relative;

                            a {
                                @include size(font-size, 1.6);
                                @include size(line-height, 2);
                                width: 100%;
                            }
                        }

                        p {
                            display: inline-block;
                            position: absolute;
                            overflow: hidden;
                            visibility: hidden;
                            height: 100%;
                            width: 100%;
                            top: 0;
                            margin-bottom: 0;
                            @include size(font-size, 1.2);
                            @include size(line-height, 1.8);
                        }
                    }

                    .news-footer {
                        position: static;
                        bottom: auto;
                        width: 100%;
                        @include size(padding-top, 1.2);

                        .date {
                            @include size(font-size, 1.2);
                            @include size(line-height, 1.8);
                            @include size(padding-top, 0);
                        }
                    }
                }
            }
        }
    }
}

@media #{$desktop} {

    .home {
        .latest-news-items {
            > li:nth-child(n+5) {
                display: block;
            }
        }

        .images-videos-items {
            > li:nth-child(n+5) {
                display: block;
            }
        }

        .lookbooks-items {
            > li:nth-child(n+3) {
                display: block;
            }
        }

        .products-items {
            > li:nth-child(n+3) {
                display: block;
            }
        }

        .showcasecategorylistings-items {
            > li:nth-child(n+3) {
                display: block;
            }
        }

        .athletes-items {
            > li:nth-child(n+7) {
                display: block;
            }
        }
    }

    .latest-news-items {
        li {
            .news-item {
                .grid-item-text {
                    .grid-context {
                        height: 153px;
                        position: relative;

                        &:hover {
                            cursor: pointer;
                        }

                        h5.context-header {
                            height: 60px;

                            a {
                            }
                        }

                        p {
                        }
                    }
                }
            }
        }
    }

	.latest-news-items.tag-items {
        li {
            .news-item {
                .grid-item-text {
                    .grid-context {
                        height: 175px;
						.category-marker{
							background-color: #ffb300;
							color: white !important;
							padding: 1px 4px;
							border-radius: 5px;
						}
					}
				}
			}
		}
	}

    .images-videos-items {
        .img-item {
            .grid-item-text {
                width: 100%;

                .grid-context {
                    h5.context-header {
                        height: 40px;
                        min-height: 40px !important;
                    }
                }
            }
        }
    }

    .lookbooks-items {
        .lookbook-item {
            .grid-item-text {
                .grid-context {
                    h5.context-header {
                    }
                }

                .lookbook-footer {
                }
            }

            .lookbook-footer {
                .date {
                }
            }
        }
    }

    .products-items {
        .product-item {
            .grid-item-text {
                .grid-context {
                    h5.context-header {
                        a {
                        }
                    }
                }

                .product-footer {
                }
            }
        }
    }

    .showcasecategorylistings-items {
        .showcasecategorylisting-item {
            .grid-item-text {
                .grid-context {
                    h5.context-header {
                        a {
                        }
                    }
                }

                .product-footer {
                }
            }
        }
    }
}

@media #{$mobile} {
    .global-news {
        display: none;
    }
}

@media #{$tablet} {
    .global-news {
        display: block;

        .see-all {
            h4 {
                border-bottom: none;
            }
        }

        .global-news-items {
            li {
                > a {
                    p {
                        color: #333333;
                        @include size(font-size, 1.6);
                        @include size(line-height, 1.92);
                        @include size(margin-bottom, 0);
                        @include font_semi_bold();
                        height: 60px;
                    }

                    img {
                        @include box-shadow(0px, 0px, 10px, 1px, #efefef);
                    }
                }

                &:hover {
                    > a {
                        img {
                            @include box-shadow(0px, 0px, 10px, 2px, #d6d6d6);
                        }

                        p {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    body.culture-global {
        .global-news {
            display: none;
        }
    }

    .filter-items {
        padding: 12px 0;
        margin-top: 12px !important;
        clear: both;
        display: block;
        border-top: 1px dotted #666;
        border-bottom: 1px dotted #666;

        .filterLi {
            min-width: 135px;
            border-right: 1px solid black;
            display: inline-block;
            @include size(padding, 0, 1.6, 0, 0);
            list-style-type: none;

            &.submit-li {
                min-width: 60px;
                padding-left: 12px;
                border-right: 0 none;
                display: inline-block;
                list-style-type: none;

                input {
                    float: left;
                    display: block;
                    background-color: #000000;
                    color: #fff;
                    @include size(padding, 0.6, 1.6, 0.6, 1.6);
                    text-transform: uppercase;
                    border: 1px solid #000000;
                    cursor: pointer;
                }
            }

            label {
                display: inline;
                font-weight: bold;
            }

            select {
                display: inline;
                min-width: 124px;
                height: 26px;
            }


            .filter-item {
                display: block;
                width: auto;

                .filter {
                    display: block;
                    vertical-align: top;
                    width: auto;
                    border-right: none;

                    .labelContainer {
                        float: left;

                        label {
                            @include size(padding, 0, 0.8, 0, 0);
                            background: none;
                            font-weight: bold !important;
                            color: #000 !important;
                            font-size: 12px !important;
                            line-height: 2.2em;
                        }
                    }

                    .selectContainer {
                        float: left;

                        select {
                            height: 2.5rem;
                            border: 1px solid #ccc;
                            color: #000;
                            font-size: 13px;
                            font-family: arial;
                            min-width: 124px;
                        }
                    }
                }
            }
        }
    }
}

@media #{$mobile} { 
	.landing-pages ul.block-grid.filterList{
		padding-bottom: 10px;
	}
	.landing-pages ul.block-grid.filterList > li {
	    padding: 10px;

	    .labelContainer{
	    	font-weight: bold;
	    	white-space: nowrap;
	    	display: table-cell;
			label{
				font-weight: bold;
				color:#262626;
			 }
	    }
	    .selectContainer{
		    display: table-cell;
		    width: 100%;
		    padding-left: 12px;
			select{
				padding:2px 0;
				border:1px solid #ABABAB;
			}
	    }
	}
	.landing-pages ul.block-grid.filterList.filterListSubmit{
		padding-top: 0;	
		li {
			padding-top: 0;
			input
			{
				padding: 8px;
			}
				input{
					background-color:#000;
					color:#fff;
				    padding: 8px 20px;
					border: 0px none;
					font-size: 14px;
					text-transform: uppercase;
					font-weight: bold;
					width: 100%;
				}
		}
	}
}

@media #{$tablet} { 
	.landing-pages ul.block-grid.filterList.filterListSubmit{
		padding-top: 16px;	
		padding-left: 0;	
		li {
			padding-left: 0;
			padding-top: 10px;	
			input{
				padding: 4px 16px;
				}
			}
		}	
}
@media #{$desktop} { 
	.global-news {
		.global-news-items {
		
		}
	}
	// filter new 
	.landing-pages ul.block-grid.filterList{
		height:74px;
		padding-bottom: 10px;
		padding-right:0;
	}
	.landing-pages ul.block-grid.filterList.filterListSubmit{
		padding-top: 16px;
		padding-right: 16px;		
		padding-left: 0;	
		li {
			padding-left: 0;
			padding-top: 10px;	
			padding-bottom: 10px;	
			input{
					background-color:#000;
					color:#fff;
				    padding: 4px 20px;
					border: 0px none;
					font-size: 14px;
					text-transform: uppercase;
					font-weight: bold;
					max-width: 120px;
				}
			}
		}
	
	.landing-pages ul.block-grid.filterList > li {
	    padding: 10px;
		padding-left:0;
		border-top: 1px solid #666;
		border-bottom: 1px solid #666;
		height:100%;
	    .labelContainer{
	    	font-weight: bold;
	    	white-space: nowrap;
			border-left: 1px solid #999;
			padding-left:12px;
	    	 display: table-cell;
			 label{
				font-weight: bold;
				color:#262626;
			 }
	    }
		&:first-child  {
			.labelContainer{
				border-left: 0 none;
				padding-left:0;
			}
		}
	    .selectContainer{
		    display: table-cell;
		    width: 100%;
		    padding-left: 12px;
		    padding-right: 6px;
		    
			select{
				padding:2px 0;
				border:1px solid #ABABAB;
			}
	    }
		
	}
}
@media #{$nexus} { 
	.landing-pages ul.block-grid.filterList.filterListSubmit{
		padding-left:16px;
		li{
			padding-left:10px;
		}
	}
}