.popup-bg {
    background: $popup-shadow-color;
    @include opacity(0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    cursor: pointer;
}

.popup {
    background: $popup-bg-color;
    display: none;
    z-index: 41;
    @include size(padding, 3.2);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

    .popup-close {
        float: right;

        &:after {
            clear: boath;
        }
    }
}

@media #{$mobile} {
    .popup {
        @include size(padding, 3.2, 1.6);

        &.amp {
            min-height: 378px;
            @include size(padding, 1.6, 0, 3.2, 0);

            .popup-close {
                z-index: 1;
                position: relative;
                @include size(padding-right, 1.6);
            }

            .top-tools {
                display: none;
            }

            .amp-popup-wrapper {
                @include size(margin-top, 0);

                .content {
                    min-height: 220px;
                }
            }

            &.has-carousel {
                min-height: 550px;
                @include size(padding, 3.2, 0);

                .amp-popup-wrapper {
                    @include size(margin-top, 0);

                    .content {
                        min-height: 280px;
                    }
                }
            }
            .rsDefaultInv .rsGCaption.sdGCaption-top div{
	color: #000000;
	font-size: 20px;
	line-height: 22.5px;
	font-family: 'Arial,Helvetica,Verdana,sans-serif';
	font-weight: 400;
    font-style:normal;

}
        }
    }
}

@media #{$tablet} {
    .popup {
        @include size(padding, 3.2);

        &.amp {
            min-height: 490px;
            @include size(padding, 4, 3.2, 4, 3.2);

            .popup-close {
                @include size(padding-right, 0);
            }

            .amp-popup-wrapper {
                @include size(margin-top, 1.6);

                .content {
                    min-height: 340px;
                }
            }

            &.has-carousel {
                min-height: 628px;
                @include size(padding, 3.2, 3.2, 4, 3.2);

                .amp-popup-wrapper {
                    @include size(margin-top, 1.6);

                    .content {
                        min-height: 405px;
                    }
                }
            }
            .rsDefaultInv .rsGCaption.sdGCaption-top div{
	color: #000000;
	font-size: 20px;
	line-height: 22.5px;
	font-family: 'Arial,Helvetica,Verdana,sans-serif';
	font-weight: 400;
    font-style:normal;

}
        }
    }
}

@media #{$desktop} {
    .popup {
        &.amp {
            @include size(padding, 3.2, 3.2, 3.2, 3.2);

            .amp-popup-wrapper {
                @include size(margin-top, 1.6);
            }

            &.has-carousel {
                @include size(padding, 3.2, 3.2, 4, 3.2);

                .amp-popup-wrapper {
                    @include size(margin-top, 1.2);
                }
            }

            .rsDefaultInv .rsGCaption.sdGCaption-top div{
	color: #000000;
	font-size: 20px;
	line-height: 22.5px;
	font-family: 'Arial,Helvetica,Verdana,sans-serif';
	font-weight: 400;
    font-style:normal;

}
        }
    }
}

.popup.one-wide {
    width: 100%;
    max-width: 640px;
}

.popup.two-wide {
    width: 100%;
    max-width: 640px;
}

.popup.one-narrow {
    width: 100%;
    max-width: 320px;
}


@media only screen and (max-width: 640px) {
    .popup {
        left: auto;
        margin-left: auto;

        &.one-narrow {
            left: 50% !important;
            margin-left: -160px !important;
        }
    }
}

@media only screen and (max-width: 760px) {
    .popup.amp-popup {
        left: auto !important;
        margin-left: auto !important;
    }
}


#single-asset-download-popup {
    .content-row {
        @include size(margin-bottom, 1.6);
    }

    h3 {
        @include size(font-size, 3.2);
        color: $black;
        border-bottom: 1px dotted #dddddd;
        @include size(margin, 0, 0, 1.6, 0);
        @include size(padding-bottom, 1.6);
    }

    img {
        width: 80px;
        height: 60px;
        float: left;
        @include size(margin-right, 1.6);
    }

    .title {
        @include font_semi_bold();
        @include size(margin, 0);
        color: $black;
    }

    p.id {
        @include size(font-size, 1.2);
        margin-bottom: 0;
        @include size(margin, 0.4, 0, 0, 0);
        color: $black;
        display: inline-block;
    }

    div {
        h5 {
            @include size(padding, 1.6, 0, 2.4, 0);
            margin: 0;
            @include font_bold();
            color: $gray;
        }

        ul {
            list-style: none;
            @include size(margin-bottom, 0);

            li {
                @include size(margin, 0.8, 0);

                p {
                    color: #999999;
                    @include font_regular();
                    @include size(margin-bottom, 0);
                    @include size(margin-left, 2.2);
                }

                a {
                    @include size(margin-top, 0.5);
                    color: #222222;
                    @include font_semi_bold();

                    &:hover {
                        color: #e83921;
                        cursor: pointer;

                        i.popup-download-icon-popup {
                            display: none;
                        }

                        i.popup-download-arrow-active {
                            display: inline-block;
                        }
                    }

                    i {
                        @include size(margin-right, 0.8);

                        &.popup-download-arrow-active {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .close-reveal-modal {
        top: 35px;
        right: 35px;
    }
}

@media #{$mobile} {
    #single-asset-download-popup {
        .columns {
            @include size(padding, 0);
        }

        .title {
            @include size(font-size, 1.6);
        }

        div {
            h5 {
                @include size(font-size, 1.2);
            }

            ul {
                li {
                    a {
                        @include size(font-size, 1.2);
                    }

                    p {
                        @include size(font-size, 1);
                    }
                }
            }
        }
    }
}

@media #{$tablet} {
    #single-asset-download-popup {
        .six.columns {
            width: 50% !important;
            float: left;
        }

        .title {
            @include size(font-size, 2);
        }

        div {
            h5 {
                @include size(font-size, 1.4);
            }

            ul {
                li {
                    a {
                        @include size(font-size, 1.6);
                    }

                    p {
                        @include size(font-size, 1.2);
                    }
                }
            }
        }
    }
}

#single-asset-download-popup.no-columns {
    .columns {
        float: none !important;
    }
}

#asset-download-usage-restrictions-popup {
    h3 {
        @include size(margin-top, 0);
    }

    h4 {
        @include size(margin-top, 0);
        color: $black;
    }

    p {
        @include size(min-height, 5.2);
        @include size(margin-bottom, 0);
        border: 1px solid #e7e7e7;
        background: #f5f5f5;
        @include font_regular();
        @include size(font-size, 1.2);
        @include size(line-height, 1.4);
    }

    h6 {
        color: $black;
        @include size(font-size, 1.4);
        @include font_semi_bold();
        border-top: 1px dotted #cecece;
    }

    .agree-link {
        width: 100%;
        margin: 16px auto 0px auto;
    }
}

@media #{$mobile} {
    #asset-download-usage-restrictions-popup {
        h4 {
            @include size(margin-bottom, 0.6);
            @include size(font-size, 1.2);
            line-height: 1;
        }

        h3 {
            @include size(font-size, 2.4);
            @include size(padding-bottom, 1.6);
            @include size(margin,0);
            word-wrap: break-word;
        }

        h6 {
            @include size(margin,0);
            @include size(padding, 1.2, 0, 1.2, 0);
        }

        p {
            @include size(padding, 1.2);
            max-height: none;
        }
    }
}

@media #{$tablet} {
    #asset-download-usage-restrictions-popup {
        h4 {
            @include size(margin-bottom, 0.8);
            @include size(font-size, 1.6);
            line-height: 1;
        }

        h3 {
            @include size(font-size, 3.2);
            @include size(margin-bottom, 0);
            @include size(padding-bottom, 1.6);
            max-width: 240px;
        }

        h6 {
            @include size(margin, 0);
            @include size(padding, 1.6, 0, 1.6, 0);
        }

        p {
            @include size(padding, 0.8);
            max-height: 252px;
        }
    }
}

@media #{$desktop} {
    #asset-download-usage-restrictions-popup {
    }
}

#copy-code-popup {
    h3 {
        @include size(margin, 0);
        @include size(padding, 0, 0, 1.6, 0);
        @include size(font-size, 3.2);
        color: $copy-popup-title-color;
        border-bottom: 1px dotted #dddddd;
    }

    div {
        position: relative;

        .copy {
            width: 100%;
        }

        .zclip {
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
        }
    }

    p, textarea {
        @include size(margin, 1.6, 0, 1.6, 0);
        height: 82px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
        border: 1px solid #e4e4e4;
        resize: none;
        word-wrap: break-word;
        @include size(font-size, 1.2);
        line-height: 1.3;
        @include box-shadow(white,0,0,0,0);
        @include border-radius(0);
        -webkit-appearance: none;
    }

    .copied {
        text-align: center;
        @include size(margin-top, 1);
    }

    .copy-message {
        @include size(font-size, 1.2);
    }

    .close-reveal-modal {
        margin-top: 20px;
        margin-right: 20px;
    }
}

#download-format-options-popup {
    max-width: 380px;

    h2 {
        @include size(padding-bottom, 1.6);
        color: $black;
        border-bottom: 1px dotted #cccccc;
        line-height: 0.8;
    }

    h4 {
        @include size(margin, 0, 0, 0.8, 0);
        color: $black;
        line-height: 1;
    }

    form {
        @include size(margin, 0);

        div {
            ul {
                list-style: none;
                @include size(margin, 0);
                line-height: 1;

                li {
                    @include size(margin, 0);

                    input {
                        @include size(margin, 0, 0.8, 0, 0);
                    }

                    label {
                        @include size(margin, 0);
                        @include font_semi_bold();
                        color: $black;
                    }

                    span {
                        @include font_regular();
                        color: $black;
                        @include size(font-size, 1.2);
                    }
                }
            }
        }
    }

    label {
        display: inline-block;
    }

    .settings {
        @include size(padding-top, 1.6);
        border-top: 1px dotted #cccccc;
        text-align: center;

        label {
            @include size(font-size, 1.2);
            @include size(margin, 0);
            @include font_regular();
            color: $black;
        }
    }

    .download {
        @include size(margin, 1.6, 0, 0, 0);
        text-align: center;
    }

    .download:hover {
        cursor: pointer;
    }
}

@media #{$mobile} {
    #download-format-options-popup {
        h2 {
            @include size(font-size, 2.4);
            @include size(margin, 0, 0, 1.2, 0);
        }

        h4 {
            @include size(font-size, 1.2);
        }

        form {
            @include size(padding-bottom, 1.2);

            div {
                ul {
                    li {
                        @include size(padding, 1.2, 0);

                        label {
                            @include size(font-size, 1.6);
                        }
                    }
                }
            }
        }

        .download {
            width: 100%;
        }
    }
}

@media #{$tablet} {
    #download-format-options-popup {
        h2 {
            @include size(font-size, 3.2);
            @include size(margin, 0, 0, 1.8, 0);
        }

        h4 {
            @include size(font-size, 1.6);
        }

        form {
            @include size(padding-bottom, 1.8);

            div {
                ul {
                    li {
                        @include size(padding, 0.6, 0);

                        label {
                            @include size(font-size, 1.4);
                        }
                    }
                }
            }
        }
    }
}

@media #{$desktop} {
    #download-format-options-popup {
    }
}

#download-additional-steps-required-popup {
    h3 {
        @include size(margin, 0);
        @include size(font-size, 3.2);
        color: $black;
    }

    h6 {
        @include size(margin, 0, 0, 0.9, 0);
        @include size(font-size, 1.2);
    }

    .steps-wrapper {
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;

        .download-additional-steps-buttons {
            text-align: center;
            @include size(padding-bottom, 1.2);
            border-left: 1px solid #e4e4e4;
            border-right: 1px solid #e4e4e4;

            .validation-message {
                position: relative;
                width: 95%;
                min-height: 34px;
                margin: 0px auto 10px auto;
                background: #d72e2e;
                color: #ffffff;
                @include font_semi_bold();

                p {
                    @include size(font-size, 1.3);
                    line-height: 2.6;
                }
            }
        }

        .steps {
            border-left: 1px solid #e4e4e4;
            border-right: 1px solid #e4e4e4;
            @include size(padding-left, 1.2);
            @include size(padding-right, 1.2);

            p {
                @include size(padding-top, 1);
                @include size(padding-bottom, 1);
                @include font_semi_bold();
                color: $darkgray;
                border-bottom: 1px solid #d4d4d4;

                span {
                    font-weight: bold;
                    color: $black;
                }
            }

            .checked {
                .step-content {
                    border: 1px solid #599f1b;

                    .step-icon {
                        background: image-url('popup/check-icon.png') #74c031 center no-repeat;
                        border: 1px solid #599f1b;
                    }

                    .add-asset-back-box {
                        display: none;
                    }

                    .remove-asset {
                        display: block;
                    }
                }
            }

            .exclamation {
                .step-content {
                    border: 1px solid #b82020;

                    .step-icon {
                        background: image-url('popup/exclamation-icon.png') #d72e2e center no-repeat;
                        border: 1px solid #b82020;
                    }

                    .add-asset-back-box {
                        display: none;
                    }

                    .remove-asset {
                        display: block;
                    }
                }
            }

            .removed {
                .step-content {
                    border: 1px solid #999999;

                    .step-icon {
                        background-color: #cccccc;
                        border: 1px solid #999999;
                    }

                    .removed-step {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: grey;
                        @include opacity(0.5);
                        z-index: 1;
                    }

                    .remove-asset {
                        display: none;
                    }

                    .add-asset-back-box {
                        display: block;
                    }
                }
            }

            .step {
                position: relative;
                overflow: hidden;

                .additional-steps-popup-button {
                    text-align: center;

                    p {
                        @include size(margin, 0);
                        border-bottom: 0px;
                    }
                }

                .step-icon {
                    position: absolute;
                    width: 27px;
                    height: 62px;
                    top: -1px;
                    left: -27px;
                }

                .step-content {
                    position: relative;
                    float: right;
                    @include size(margin-bottom, 1.2);

                    .description-wrapper {
                        @include size(padding-bottom, 1);
                        border-bottom: 1px dotted #d4d4d4;
                        @include size(margin-left, 1.2);
                        @include size(margin-right, 1.2);
                    }

                    img {
                        position: relative;
                        float: left;
                        width: 80px;
                        height: 60px;
                        @include size(margin-top, 1.2);
                    }

                    .description {
                        @include size(margin, 0, 0, 0, 11.2);
                        border-bottom: none;
                        @include font_semi_bold();
                        color: $darkgray;
                        line-height: 1.3;
                    }

                    .remove-button {
                        font-size: 12px;
                        position: relative;
                        z-index: 2;
                        margin: 0 auto 10px auto;
                    }

                    .add-button {
                        font-size: 12px;
                        position: relative;
                        z-index: 2;
                    }

                    h6 {
                        color: $black;
                        @include size(font-size, 1.2);
                        @include font_semi_bold();
                        @include size(margin, 0.8, 0);
                    }

                    label {
                        display: inline;
                    }

                    .usage-rights {
                        @include size(margin, 1, 1.2, 1, 1.2);
                        @include size(padding-bottom, 1);
                        border-bottom: 1px dotted #d4d4d4;

                        div {
                            width: 100%;
                            min-height: 38px;
                            @include size(margin-bottom, 1.2);
                            @include size(padding, 1);
                            border: 1px solid #e7e7e7;
                            background: #f5f5f5;
                            @include font_semi_bold();
                            @include size(font-size, 1.2);
                            line-height: 1;
                        }
                    }

                    .format-change {
                        @include size(margin, 1, 1.2, 1.2, 1.2);
                        border-bottom: 1px dotted #d4d4d4;

                        form {
                            margin-bottom: 0px !important;

                            ul {
                                list-style: none;
                                @include size(margin-bottom, 0);
                            }
                        }
                    }
                }
            }
        }
    }
}

#download-additional-steps-required-popup {
    .validation-message {
        display: none;
    }

    &.invalid {
        .validation-message {
            display: block;
        }

        .continue {
            color: #d72e2e;
        }
    }
}

@media #{$mobile} {
    #download-additional-steps-required-popup {
        .steps-wrapper {
            width: 100%;

            .download-additional-steps-buttons {
                .cancel {
                    width: 90%;
                    height: 35px;
                    @include size(line-height, 3.5);
                }

                .continue {
                    width: 90%;
                    height: 35px;
                    @include size(margin-top, 1.5);
                    @include size(line-height, 3.5);
                }
            }

            .step {
                .step-content {
                    width: 85%;

                    .remove-button {
                        width: 90%;
                        height: 32px;
                        @include size(line-height, 3.2);

                        i {
                            @include size(margin-right, 0.8);
                        }
                    }

                    .add-button {
                        width: 90%;
                        height: 32px;
                        @include size(line-height, 3.2);

                        i {
                            @include size(margin-right, 0.8);
                        }
                    }
                }
            }
        }
    }
}

@media #{$tablet} {
    #download-additional-steps-required-popup {
        .steps-wrapper {
            width: 100%;
            max-height: 550px;
            min-height: 400px;
            overflow-y: auto;

            .download-additional-steps-buttons {
                .cancel {
                    width: 127px;
                    height: 35px;
                }

                .continue {
                    width: 139px;
                    height: 35px;
                    @include size(margin-left, 1.8);
                    @include size(margin-top, 0);
                }
            }

            .step {
                .step-content {
                    width: 93%;

                    .remove-button {
                        @include size(padding, 0, 1.6);
                        width: auto;
                        max-width: 50%;
                        height: 22px;
                        line-height: 1.8;
                    }

                    .add-button {
                        @include size(padding, 0, 1.6);
                        width: auto;
                        max-width: 50%;
                        height: 22px;
                        line-height: 1.8;
                    }
                }
            }
        }
    }
}

@media #{$desktop} {
    #download-additional-steps-required-popup {
        .steps-wrapper {
            width: 575px;
            max-height: 550px;
            min-height: 400px;
            overflow-y: auto;

            .download-additional-steps-buttons {
            }

            .step {
                .step-content {
                    width: 505px;
                }
            }
        }
    }
}

#asset-more-info-popup {
    .close-reveal-modal {
        top: 30px;
        right: 30px;
    }

    .content-row {
        @include size(margin-bottom, 1.6);
    }

    > h4 {
        @include size(font-size, 3.2);
        color: $more-info-popup-title-color;
        border-bottom: 1px dotted #dddddd;
        @include size(margin, 0, 0, 1.6, 0);
        @include size(padding-bottom, 1.6);
    }

    img {
        width: 80px;
        height: 60px;
        float: left;
        @include size(margin-right, 1.6);
    }

    h5 {
        @include size(margin, 1.6, 0, 0.8, 0);
        @include font_bold();
        color: $black;
    }

    p {
        @include size(margin-bottom, 1.6);
        color: $black;
    }

    .see-all-details h4 {
        @include size(margin, 1.6, 0, 0, 0);

        a {
            @include apply-Desktop($map-popup,more-info-see-more);
        }
    }

    .asset-title {
        @include font_semi_bold();
        @include size(margin, 0);
        color: $black;
    }

    p.asset-id {
        @include size(font-size, 1.2);
        margin-bottom: 0;
        color: $black;
        display: inline-block;
    }

    p.asset-id-title {
        @include size(font-size, 1.2);
        margin-bottom: 0;
        color: $black;
        display: inline-block;
    }
}

@media #{$mobile} {
    #asset-more-info-popup {
        .asset-title {
            @include size(font-size, 1.6);
            line-height: 1;
        }

        h5 {
            @include size(font-size, 1.2);
        }

        p {
            @include size(font-size, 1.2);
        }

        .see-all-details h4 {
            @include size(font-size, 2);
        }
    }
}

@media #{$tablet} {
    #asset-more-info-popup {
        .asset-title {
            @include size(font-size, 2);
        }

        h5 {
            @include size(font-size, 1.4);
        }

        p {
            @include size(font-size, 1.4);
        }

        .see-all-details h4 {
            @include size(font-size, 2.4);
        }
    }
}

@media #{$desktop} {
}

#asset-share-popup {
    > h4 {
        @include size(font-size, 3.2);
        color: $asset-share-popup-title-color;
        border-bottom: 1px dotted #dddddd;
        @include size(margin, 0, 0, 1.6, 0);
        @include size(padding-bottom, 1.6);
    }

    img {
        width: 80px;
        height: 60px;
        float: left;
        @include size(margin-right, 1.6);
    }

    .asset-title {
        @include font_semi_bold();
        @include size(margin, 0);
        @include size(font-size, 1.6);
        line-height: 1.6;
        color: $black;
    }

    p.asset-id {
        @include size(font-size, 1.2);
        margin-bottom: 0;
        color: $black;
        display: inline-block;
    }

    p.asset-id-title {
        @include size(font-size, 1.2);
        margin-bottom: 0;
        color: $black;
        display: inline-block;
    }

    div.content-row {
        @include size(padding-bottom, 1.6);
        border-bottom: 1px dotted #dddddd;

        > div {
            padding-left: 96px;
        }
    }

    div {
        .addthis_toolbox {
            ul {
                margin-bottom: 0;
                text-align: center;
            }

            @include size(margin-top, 1.6);

            .mobile, .share-email {
                display: none !important;
            }

            li {
                list-style: none;
                display: inline-block;
                @include size(margin, 0, 0.6);

                &:first-of-type {
                    margin-left: 0;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}

#contact-inquiry-popup {
    .popup-close {
        position: absolute;
        @include size(right, 3.2);
        @include size(top, 3.2);
        z-index: 2;
    }

    .validation-summary {
        display: none;
        @include size(margin-top, 1.2);
        color: #ff0000;
    }

    input {
        @include size(margin, 0);
    }

    .invalid-message {
        display: none;
        color: #ff0000;
        @include size(margin-top, 0.5);
    }

    .invalid {
        > input, > textarea, select {
            background: #FEF1EC;
            border: 1px solid #CD0A0A;
        }

        .invalid-message {
            display: block;
        }
    }

    .contact-info {
        @include size(margin, 0);
        @include size(padding-bottom, 1.6);
        border-bottom: 1px dotted #cccccc;
    }

    .message-wrapper {
        textarea {
            min-height: 78px;
            @include size(margin-bottom, 0);
        }
    }

    label {
        @include size(margin-top, 2.4);
        @include size(margin-bottom, 0.6);
        @include font_semi_bold();
        color: $black;
        @include size(font-size, 1.4);
    }

    select {
        padding: 6px 0;
    }

    .remember-me {
        display: inline-block;
        @include size(margin-top, 0);
        @include size(font-size, 1.2);
        font-weight: normal;
        position: relative;
        top: -2px;
    }

    .send-wrapper {
        position: relative;
        margin: 24px auto 0 auto;
        @include size(padding-top, 2.4);
        border-top: 1px dotted #cccccc;
        text-align: center;

        input {
            margin: 0 auto;
        }

        label {
            margin-bottom: 0;
        }

        .send {
            height: 32px;
        }
    }

    .lblHeader {
        font-family: arial;
        font-size: 32px;
        font-weight: bold;
        color: $logreg-layer-header-color;
    }
}

@media #{$mobile} {
    #contact-inquiry-popup {
        .first-column {
            @include size(padding, 0);
        }

        .second-column {
            @include size(padding, 0);
        }

        .send-wrapper {
            div {
                position: relative;
            }

            .send {
                width: 100%;
                @include size(margin-top, 2.4);
            }
        }

        .contact-info {
            .name, .email, .position, .phone, .address, .mobile-phone {
                @include size(margin-bottom, 1);
            }
        }
    }
}

@media #{$tablet} {
    #contact-inquiry-popup {
        .six {
            width: 50% !important;
        }

        .columns {
            float: left;
        }

        .first-column {
            @include size(padding, 0, 1.6, 0, 0);
        }

        .second-column {
            @include size(padding, 0, 0, 0, 1.6);
        }

        .send-wrapper {
            div {
                position: absolute;
            }

            .send {
                width: 190px;
                @include size(margin-top, 0);
            }
        }

        .contact-info {
            .address {
                @include size(margin-bottom, 0);
            }
        }
    }
}

@media #{$desktop} {
    #contact-inquiry-popup {
    }
}

/* language popup */
.language-popup {
    h5, h2 {
        @include font_cond_bold();
    }

    h5 {
        @include size(margin-bottom, 0);
        color: $darkgray;
    }

    h2 {
        @include size(margin-top, 0);
        color: $black;
    }

    .global {
        @include size(margin-top, 1.5);
        @include size(padding-bottom, 1.5);
        display: block;
        color: $black;
        @include font_semi_bold();
        border-bottom: 1px solid #e5e5e5;

        img {
            @include size(margin-left, 0.5);
            position: relative;
            @include size(top, 0.1);
        }

        i.icons-see_all_arrow {
            top: 3px;
        }
    }

    .global:hover {
        color: #e83921;
    }

    .global.active {
        color: #c1c1c1;
    }

    .cultures-wrapper {
        @include size(margin, 1, -1.5, 0, -1.5);
    }

    .close-reveal-modal {
        top: 35px !important;
        right: 35px !important;
    }

    div.item {
        list-style: none;
        border-bottom: 1px solid #e5e5e5;

        a {
            display: block;
            line-height: 35px;
            @include font_semi_bold();
            color: $black;
        }

        a:hover {
            color: #e83921;
        }

        a.active {
            color: #c1c1c1;
        }
    }
}

@media #{$mobile} {
    .language-popup {
        .cultures-wrapper {
            .six.columns:last-of-type {
                .item:last-of-type {
                    border-bottom: none;
                }
            }
        }
    }
}

@media #{$tablet} {
    .language-popup {
        .cultures-wrapper {
            .six.columns {
                .item:last-of-type {
                    border-bottom: none;
                }
            }
        }
    }
}

@media #{$nexus} {
    .language-popup {
        .cultures-wrapper {
            .six.columns {
                .item:last-of-type {
                    border-bottom: 1px solid #e5e5e5;
                }
            }

            .six.columns:last-of-type {
                .item:last-of-type {
                    border-bottom: none;
                }
            }
        }
    }
}

#user-send-cart-popup {
    h2 {
        @include size(margin-top, 0);
        @include size(padding-bottom, 1.2);
        border-bottom: 1px dotted #cccccc;
        line-height: 1;
    }

    h4 {
        @include size(margin, 0);
        color: $black;
        line-height: 1;
    }

    p {
        @include size(margin, 0);
        color: #666666;
    }

    .clear-field-wrapper {
        h4 {
            @include apply-Desktop($map-popup,clear-item);
            white-space: nowrap;
        }
    }

    label {
        @include size(margin-top, 2.2);
        @include size(margin-bottom, 0.6);
        @include font_semi_bold();
        color: $black;

        span {
            color: #999999;
            @include font_regular();
        }
    }

    label.error {
        color: red;
        display: inline-block;
        padding-left: 0;
        @include font_regular();
        @include size(font-size, 1.2);
        @include size(margin-top, 0.6);
    }

    label.required-field-message {
        @include font_regular();
        color: #666666;
        @include size(margin-top, 1);
    }

    .email-field {
        @include size(margin-top, 1.4);
    }

    input {
        @include size(margin-left, 0);
    }

    textarea {
        @include size(margin, 0);
    }

    .disclaimer {
        h3 {
            @include size(margin-top, 2.2);
            @include size(margin-bottom, 0.6);
            @include font_bold();
            color: $black;
        }
    }

    .send-media-kit-wrapper {
        @include size(padding-bottom, 2.4);
        border-bottom: 1px dotted #cccccc;

        .send-copy-message {
            display: inline-block;
            @include size(margin-top, 0);
            @include size(font-size, 1.2);
            position: relative;
            top: -2px;
        }

        label {
            @include size(margin, 0);
        }

        .send-media-kit {
            @include size(margin-top, 1.4);
        }
    }
}

@media #{$mobile} {
    #user-send-cart-popup {
        form {
            @include size(margin, 0);
        }

        .first-column {
            @include size(padding, 0);
        }

        .second-column {
            @include size(padding, 0);
        }

        h2 {
            @include size(font-size, 2.4);
            @include size(margin-bottom, 1);
        }

        h3 {
            @include size(margin-top, 2.2);
            @include size(margin-bottom, 0.6);
            @include size(font-size, 2);
        }

        h4 {
            @include size(font-size, 1.2);
        }

        .clear-field-wrapper {
            position: static;
            float: none;

            h4 {
                //@include size(font-size, 1.4);
                @include apply-Desktop($map-popup,clear-item);
            }
        }

        label {
            @include size(font-size, 1.4);
            @include size(margin-top, 2);
            @include size(margin-bottom, 0.6);
        }

        label.required-field-message {
            @include size(font-size, 0.8);
        }

        textarea {
            min-height: 193px;
        }

        .send-media-kit-wrapper {
            @include size(margin-top, 1.2);

            .send-media-kit {
                width: 100%;
            }
        }

        p {
            @include size(font-size, 1);
            line-height: 1.2;
        }
    }
}

@media #{$tablet} {
    #user-send-cart-popup {
        .six {
            width: 50% !important;
        }

        .columns {
            float: left;
        }

        .first-column {
            @include size(padding, 0, 1.6, 0, 0);
        }

        .second-column {
            @include size(padding, 0, 0, 0, 1.6);
        }

        h2 {
            @include size(font-size, 3.2);
            @include size(margin-bottom, 1.4);
        }

        h3 {
            @include size(margin-top, 2.2);
            @include size(margin-bottom, 0.6);
            @include size(font-size, 2.4);
        }

        h4 {
            @include size(font-size, 1.6);
        }

        .clear-field-wrapper {
            position: absolute;
            right: 32px;

            h4 {
                //@include size(font-size, 1.6);
                @include apply-Desktop($map-popup,clear-item);
            }
        }

        .clear-field-wrapper:hover {
            cursor: pointer;
        }

        label {
            @include size(font-size, 1.6);
            @include size(margin-top, 2.2);
            @include size(margin-bottom, 0.6);
            cursor: text;
        }

        label.required-field-message {
            @include size(font-size, 1.2);
        }

        textarea {
            min-height: 132px;
        }

        .send-media-kit-wrapper {
            @include size(margin-top, 1.6);

            .send-media-kit {
                width: auto;
                max-width: 78%;
                @include size(padding, 0, 1.6);
            }
        }

        p {
            @include size(font-size, 1.4);
        }
    }
}

@media #{$desktop} {
    #user-send-cart-popup {
    }
}

#disable-cookies-popup {
    h2 {
        @include size(margin-top, 0);
        @include size(padding-bottom, 1.2);
        border-bottom: 1px dotted #cccccc;
    }
}

@media #{$mobile} {
    #disable-cookies-popup {
        h2 {
            @include size(font-size, 2.4);
            @include size(margin-bottom, 1);
        }

        p {
            @include size(margin, 0);
        }
    }
}

@media #{$tablet} {
    #disable-cookies-popup {
        h2 {
            @include size(font-size, 3.2);
            @include size(margin-bottom, 1.4);
        }
    }
}

@media #{$desktop} {
    #disable-cookies-popup {
    }
}

#send-card-popup {
    h1 {
        @include font_bold();
    }

    h2 {
        @include size(margin-top, 0);
        @include size(padding-bottom, 1.2);
        border-bottom: 1px dotted #cccccc;
    }

    h4 {
        @include size(margin, 0);
        color: $black;
    }

    p {
        @include size(margin, 0);
        @include font_semi_bold();
        color: $black;
    }

    ul {
        list-style: none;
        overflow-y: auto;
        @include size(margin-bottom, 0);

        li {
            color: $black;
        }
    }
}

@media #{$mobile} {
    #send-card-popup {
        h1 {
            @include size(font-size, 2);
            @include size(margin-top, 2.2);
            @include size(margin-bottom, 0);
        }

        h2 {
            @include size(font-size, 2.4);
            @include size(margin-bottom, 1);
        }

        h4 {
            @include size(font-size, 1.2);
        }

        p {
            @include size(font-size, 1.2);
        }

        ul {
            height: 147px;
            line-height: 1.2;
            @include size(margin-top, 1.2);

            li {
                @include size(font-size, 1);
            }
        }
    }
}

@media #{$tablet} {
    #send-card-popup {
        h1 {
            @include size(font-size,3.2);
            @include size(margin-top, 1.8);
            @include size(margin-bottom, 0);
        }

        h2 {
            @include size(font-size, 3.2);
            @include size(margin-bottom, 1.4);
        }

        h4 {
            @include size(font-size, 1.6);
        }

        p {
            @include size(font-size, 1.6);
        }

        ul {
            line-height: 1.3;
            height: 148px;
            @include size(margin-top, 1.2);

            li {
                @include size(font-size, 1.4);
                word-break: break-all;
            }
        }
    }
}

@media #{$desktop} {
    #send-card-popup {
    }
}

#expired-media-cart-popup {
    h3 {
        @include size(margin-top, 0);
        border-bottom: 1px dotted #dddddd;
    }

    .expired-assets-message {
        @include font_regular();
        line-height: 1.3;
        border-bottom: 1px dotted #dddddd;
        @include size(margin-bottom, 0);
    }

    .block-grid.three-up {
        margin: 0 -4px !important;

        li {
            padding: 16px 4px 0px;
        }
    }

    ul {
        li {
            p {
                @include font_semi_bold();
                line-height: 1;
            }
        }
    }
}


@media #{$mobile} {
    #expired-media-cart-popup {
        h3 {
            @include size(font-size, 2.4);
            @include size(padding-bottom, 1);
            @include size(margin-bottom, 1.2);
        }

        .expired-assets-message {
            @include size(font-size, 1.4);
            @include size(padding-bottom, 1.2);
        }

        ul {
            li {
                p {
                    @include size(font-size, 1);
                    @include size(margin-bottom, 0);
                    height: 30px;
                }

                span {
                    @include size(font-size, 1);
                }
            }
        }
    }
}

@media #{$tablet} {
    #expired-media-cart-popup {
        h3 {
            @include size(font-size, 3.2);
            @include size(padding-bottom, 1);
            @include size(margin-bottom, 1.2);
        }

        .expired-assets-message {
            @include size(font-size, 1.6);
            @include size(padding-bottom, 1.2);
        }

        ul {
            li {
                p {
                    @include size(font-size, 1.2);
                    height: 36px;
                }

                span {
                    @include size(font-size, 1.2);
                }
            }
        }
    }
}

@media #{$desktop} {
    #expired-media-cart-popup {
    }
}

@media #{$tablet} {
    #expired-media-cart-popup {
        h3 {
            @include size(font-size, 3.2);
            @include size(padding-bottom, 1);
            @include size(margin-bottom, 1.2);
        }

        .expired-assets-message {
            @include size(font-size, 1.6);
            @include size(padding-bottom, 1.2);
        }

        ul {
            li {
                p {
                    @include size(font-size, 1.2);
                    height: 36px;
                }

                span {
                    @include size(font-size, 1.2);
                }
            }
        }
    }
}

@media #{$desktop} {
    #expired-media-cart-popup {
    }
}

@media #{$mobile} {
    #confirmation-contact-popup, #expired-popup {
        h2 {
            @include font_bold();
            @include size(font-size, 2.4);
            color: #333333;
            @include size(margin, 0, 0, 1.6, 0);
        }

        p {
            @include size(margin, 0, 0, 1.6, 0);
            @include font_regular();
            color: #333333;
            @include size(font-size, 1.4);
            @include size(line-height, 1.6);
        }

        a.custom-button {
            width: 100%;
        }
    }
}

#preview-popup {
    display: none;
    background: $preview-popup-background;
    @include opacity(0.75);

    h1 {
        color: $preview-popup-title-color;
        @include opacity(1);
        text-align: center;
        @include size(margin, 0);
        @include font_bold();
        line-height: 1;
    }

    div {
        text-align: center;
    }

    p {
        @include size(margin-bottom, 0);
        color: $preview-popup-description-color;
    }

    a {
        color: $preview-popup-description-color;
    }

    .preview-button {
        display: block;
        margin: 0 auto;
        background: $preview-popup-button-background;
        color: $preview-popup-button-color;
        border: none;
        cursor: pointer;
        @include font_bold();
    }
}

@media #{$mobile} {
    #preview-popup {
        width: 222px;
        @include size(padding, 1.4, 2);

        h1 {
            @include size(font-size, 1.4);
        }

        p {
            white-space: normal;
            @include size(font-size, 1.2);
            line-height: 1.4;
        }

        a {
            @include size(font-size, 1.2);
        }

        .preview-button {
            width: 48px;
            height: 16px;
            @include size(margin-top, 1);
            @include size(font-size, 1);
        }
    }
}

@media #{$tablet} {
    #preview-popup {
        width: 444px;
        @include size(padding, 3.2);

        h1 {
            @include size(font-size, 2.6);
        }

        p {
            white-space: nowrap;
            @include size(font-size, 1.2);
            line-height: 1.6;
        }

        a {
            @include size(font-size, 1.2);
        }

        .preview-button {
            width: 96px;
            height: 28px;
            @include size(margin-top, 1);
            @include size(font-size, 1.4);
        }
    }
}

@media #{$desktop} {
}

#asset-download-tell-us-about-you-popup {
    &.invalid {
        .popup-content-wrapper {
            .download-links-wrapper {
                .validation-popover {
                    display: block;
                }
            }
        }
    }

    h3 {
        @include size(font-size, 2.4);
        @include size(margin, 0);
        @include size(padding-bottom, 1.6);
        @include apply-Desktop($map-popup,download-title);
    }

    .content-wrapper {
        position: relative;
    }

    .popup-content-wrapper {
        .line.header {
            h4 {
                @include size(margin, 0);
            }

            p {
                @include size(margin, 0);
            }
        }

        .line {
            @include size(margin-bottom, 1.6);

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .tell-us-form {
            label {
                @include size(margin-bottom, 0.6);
                @include font_semi_bold();
                color: $black;
                @include size(font-size, 1.4);
            }

            select {
                padding: 6px 0;
                border: 1px solid #cccccc;
            }

            input, select {
                @include size(margin-bottom, 0)
            }

            input.input-validation-error,
            select.input-validation-error {
                background: #FEF1EC;
                border: 1px solid #CD0A0A;
            }

            .line.remember-me {
                input, label {
                    display: inline-block;
                    margin: 0;
                }

                label {
                    @include size(font-size, 1.2);
                    @include font_regular();
                    position: relative;
                    top: -3px;
                }
            }
        }

        .download-links-wrapper {
            h5 {
                @include size(margin, 0, 0, 1.3, 0);
                @include font_bold();
            }

            .download-links {
                @include size(margin-bottom, 2.4);

                &:last-of-type {
                    @include size(margin-bottom, 0);
                }
            }

            ul {
                list-style: none;
                @include size(margin-bottom, 0);

                li {
                    @include size(margin, 0.8, 0);

                    p {
                        color: #999999;
                        @include font_regular();
                        @include size(margin-bottom, 0);
                        @include size(margin-left, 2.2);
                    }

                    a {
                        @include size(margin-top, 0.5);
                        color: #222222;
                        @include font_semi_bold();

                        &:hover {
                            cursor: pointer;

                            i.popup-download-icon-popup {
                                display: none;
                            }

                            i.popup-download-arrow-active {
                                display: inline-block;
                            }

                            span {
                                text-decoration: underline;
                            }
                        }

                        i {
                            @include size(margin-right, 0.8);

                            &.popup-download-arrow-active {
                                display: none;
                            }
                        }
                    }
                }
            }

            .validation-popover {
                display: none;
                position: absolute;
                height: 100%;
                right: 0;
                top: 0;

                i {
                    position: absolute;
                }

                .bg {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: #000000;
                    @include opacity(0.6)
                }

                h2 {
                    position: absolute;
                    color: #ffffff;
                    line-height: 1.2;
                }
            }
        }
    }
}

@media #{$mobile} {
    #asset-download-tell-us-about-you-popup {
        h3 {
            @include size(font-size, 2.4);
        }

        .popup-content-wrapper {
            display: block;
            width: 100%;

            .line.header {
                @include size(margin, 2.4, 0, 2.4, 0);

                h4 {
                    @include size(font-size, 1.8);
                    display: inline-block;
                }

                p {
                    @include size(font-size, 0.8);
                    display: inline-block;
                }
            }

            .tell-us-form {
                display: block;
                width: 100%;
                @include size(padding-right, 0);
                border-right: none;

                .line.remember-me {
                    text-align: center;
                }
            }

            .download-links-wrapper {
                display: block;
                width: 100%;
                position: relative;
                @include size(padding-left, 1.6);

                h5 {
                    @include size(font-size, 1.2);
                    @include size(margin, 0, 0, 1.3, 0);
                }

                .download-links {
                    @include size(margin-bottom, 2.4);

                    &:last-of-type {
                        @include size(margin-bottom, 0);
                    }
                }

                ul {
                    list-style: none;
                    @include size(margin-bottom, 0);

                    li {
                        @include size(margin, 0.8, 0);

                        p {
                            @include size(margin-bottom, 0);
                            @include size(margin-left, 2.2);
                            @include size(font-size, 1);
                        }

                        a {
                            @include size(margin-top, 0.5);

                            &:hover {
                                cursor: pointer;

                                i.popup-download-icon-popup {
                                    display: none;
                                }

                                i.popup-download-arrow-active {
                                    display: inline-block;
                                }

                                span {
                                    text-decoration: underline;
                                }
                            }

                            i {
                                @include size(margin-right, 0.8);

                                &.popup-download-arrow-active {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .validation-popover {
                    width: 100%;

                    h2 {
                        @include size(font-size, 1.6);
                        @include size(margin, 3.2, 1.6);
                    }

                    .icons-validation-arrow-mobile {
                        display: inline-block;
                    }

                    .icons-validation-arrow {
                        display: none;
                    }

                    i {
                        left: 50%;
                        top: -13px;
                    }
                }
            }
        }
    }
}

@media #{$tablet} {
    #asset-download-tell-us-about-you-popup {
        h3 {
            @include size(font-size, 3.2);
        }

        .popup-content-wrapper {
            display: table;
            width: 100%;
            @include size(margin-top, 3.2);

            .line.header {
                @include size(margin, 0, 0, 2.4, 0);

                h4 {
                    @include size(font-size, 2.4);
                    display: block;
                }

                p {
                    @include size(font-size, 1.2);
                    display: block;
                }
            }

            .tell-us-form {
                display: table-cell;
                width: 55%;
                @include size(padding-right, 3.2);
                border-right: 1px dotted #cccccc;

                .line.remember-me {
                    text-align: left;
                }
            }

            .download-links-wrapper {
                display: table-cell;
                width: 45%;
                position: static;
                @include size(padding-left, 3.2);

                .line.header {
                    @include size(padding-top, 0);
                }

                h5 {
                    @include size(font-size, 1.4);
                    @include size(margin, 0, 0, 1.3, 0);
                }

                .download-links {
                    @include size(margin-bottom, 2.4);

                    &:last-of-type {
                        @include size(margin-bottom, 0);
                    }
                }

                ul {
                    list-style: none;
                    @include size(margin-bottom, 0);

                    li {
                        @include size(margin, 0.8, 0);

                        p {
                            @include size(margin-bottom, 0);
                            @include size(margin-left, 2.2);
                            @include size(font-size, 1.2);
                        }

                        a {
                            @include size(margin-top, 0.5);

                            &:hover {
                                cursor: pointer;

                                i.popup-download-icon-popup {
                                    display: none;
                                }

                                i.popup-download-arrow-active {
                                    display: inline-block;
                                }

                                span {
                                    text-decoration: underline;
                                }
                            }

                            i {
                                @include size(margin-right, 0.8);

                                &.popup-download-arrow-active {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .validation-popover {
                    width: 45%;

                    h2 {
                        @include size(font-size, 2);
                        @include size(margin, 3.2);
                    }

                    .icons-validation-arrow-mobile {
                        display: none;
                    }

                    .icons-validation-arrow {
                        display: inline-block;
                    }

                    i {
                        left: -13px;
                        top: 32px;
                    }
                }
            }
        }
    }
}

@media #{$desktop} {
}

#multiple-assets-download-tell-us-about-you-popup {
    h3 {
        @include apply-Desktop($map-popup,download-all-title);
    }

    .popup-content-wrapper {
        .left, .right {
            float: none;
        }

        .line.header {
            h4 {
                @include size(margin, 0);
                @include size(font-size, 1.8);
            }

            p {
                @include size(margin, 0);
                @include size(font-size, 1.2);
            }
        }

        .line {
            @include size(margin-bottom, 1.6);

            label {
                @include size(margin-bottom, 0.6);
                @include font_semi_bold();
                color: $black;
                @include size(font-size, 1.4);
            }

            select {
                padding: 6px 0;
                border: 1px solid #cccccc;
            }

            input, select {
                @include size(margin-bottom, 0)
            }
        }

        .line.remember-me {
            input, label {
                display: inline-block;
                margin: 0;
            }

            label {
                @include size(font-size, 1.2);
                @include font_regular();
                position: relative;
                top: -3px;
            }
        }
    }
}

@media #{$mobile} {
    #multiple-assets-download-tell-us-about-you-popup {
        h3 {
            @include size(font-size, 1.6);
            @include size(padding-bottom, 1.4);
        }

        .popup-content-wrapper {
            @include size(padding-top, 2.1);
            display: block;
            width: 100%;

            .left, .right {
                width: 100%;
                display: block;
            }

            .line {
                select {
                    font-weight: 700;
                    font-size: 14px;
                }
            }

            .line.remember-me {
                text-align: center;
            }

            .line.header {
                h4 {
                    display: inline-block;
                }

                p {
                    display: inline-block;
                }
            }

            .line {
                .download {
                    @include apply-Desktop($map-popup,download-button);
                    -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
                    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
                    display: block;
                    transition: none;

                    i {
                        top: 3px;
                        margin-left: 0;
                        position: relative;

                        &.icons-white-arrow-right {
                            display: none;
                        }
                    }

                    &:hover {
                        @include apply-Desktop($map-popup,download-button-hover);

                        .icons-white-arrow-right {
                            display: inline-block;
                        }

                        .icons-arrow-next {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media #{$tablet} {
    #multiple-assets-download-tell-us-about-you-popup {
        h3 {
            @include size(font-size, 2.3);
            @include size(padding-bottom, 1.6);
        }

        .popup-content-wrapper {
            @include size(padding-top, 3.2);
            display: table;
            width: 100%;

            .line {
                &:last-of-type {
                    margin-bottom: 0;
                }

                label {
                    display: block;
                }

                select {
                    font-weight: 400;
                }
            }

            .line.remember-me {
                text-align: left;
            }

            .line.header {
                h4 {
                    display: block;
                }

                p {
                    display: block;
                }
            }

            .left, .right {
                width: 50%;
                display: table-cell;
            }

            .left {
                padding-right: 12px;
            }

            .right {
                padding-left: 12px;
                border-left: 1px #cccccc dotted;
            }
        }
    }
}

#multiple-assets-download-tell-us-about-you-popup, #asset-download-tell-us-about-you-popup {
    .line {
        span.invalid-message {
            display: none;
        }
    }

    .line.invalid {
        span.invalid-message {
            display: block;
            color: #CD0A0A;
            @include size(margin-top, 0.5);
        }

        input, select {
            background: #FEF1EC;
            border: 1px solid #CD0A0A;
        }
    }
}


#messageContainer-popup {
    .close-reveal-modal {
        top: 30px;
        right: 30px;
    }

    .content-row {
        @include size(margin-bottom, 1.6);
    }

    > h4 {
        @include size(font-size, 3.2);
        color: $more-info-popup-title-color;
        border-bottom: 1px dotted #dddddd;
        @include size(margin, 0, 0, 1.6, 0);
        @include size(padding-bottom, 1.6);
    }

    p {
        @include size(margin-bottom, 1.6);
        color: $black;
    }
}

@media #{$mobile} {
    #messageContainer-popup {
        p {
            @include size(font-size, 1.2);
        }
    }
}

@media #{$tablet} {
    #messageContainer-popup {
        p {
            @include size(font-size, 1.4);
        }
    }
}

#download-all-message-popup {
    max-width: 400px;

    h2 {
        @include size(font-size, 3.2);
        @include size(margin-bottom, 1.4);
        border-bottom: 1px dotted #cccccc;
        line-height: 1;
        margin-top: 0;
        padding-bottom: 12px;
    }

    h3 {
        /*@include size(margin-top, 2.2);*/
        @include size(padding-bottom, 1.6);
        @include size(font-size, 2.3);
        border-bottom: 1px dotted #cccccc;
        color: #000000;
        margin: 0;
        /*font-family: Arial,Helvetica,Verdana,sans-serif;*/
    }

    p#divMessage {
        font-family: inherit;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 0;
    }

    h4 {
        @include size(font-size, 1.6);
        margin-bottom: 0;
    }

    .modal-download-content {
        padding-bottom: 1.2rem;
        padding-top: 1.2rem;
    }

    .btn-div {
        border-top: 1px dotted #cccccc;
        padding-top: 1.2rem;

        .btn {
            display: block;
            height: 35px;
            width: 100%;
            background-color: #e9e9e9;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            line-height: 32px;
            box-shadow: 1px 1px 2px 0px #9f9f9f;
            -webkit-box-shadow: 1px 1px 2px 0px #9f9f9f;
            -moz-box-shadow: 1px 1px 2px 0px #9f9f9f;
            background-color: #e9e9e9;
            margin: 6px auto;
            float: left;
            font-family: arial;
            cursor: pointer;
            color: #000000;
        }
    }

    .mc-download-all {
        box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
        color: #000;
        border: 1px solid #efefef;
        color: #000;
        background: #eeeeee;
        display: block;
        width: 100%;
        transition: none;

        .icons-arrow-next {
            display: inline-block;
            top: 3px;
            margin-left: 0;
            position: relative;
            /*width: 16px;
            height: 16px;*/
        }

        .icons-white-arrow-right {
            display: none;
            top: 3px;
            margin-left: 0;
            position: relative;
            /*width: 16px;
            height: 16px;*/
        }

        &:hover {
            color: #eeeeee;
            background: #000000;
            border: 1px solid #000000;

            .icons-arrow-next {
                display: none;
            }

            .icons-white-arrow-right {
                display: inline-block;
            }
        }
    }
}
