﻿$map-popup:(
    base-properties:(
        base-font:'Arial,Helvetica,Verdana,sans-serif', 
        base-color:''        
    ),
    onDesktop:(        
        clear-item:(
                        context:(css-path: '#user-send-cart-popup .clear-field-wrapper h4' ),
                        properties: (                          
			                    color: #000000,
                                font-style: (style: semi_bold, font-family: "&base-font"),
                                size:(font-size:1.6)
                        )
                    ),
        download-all-title:(
                        context:(css-path: '#multiple-assets-download-tell-us-about-you-popup h3' ),
                        properties: (
                                size:(margin:0),
		                        border-bottom: 1px dotted #cccccc,
			                    color: #000000,
                                font-style: (font-family: "&base-font")
                        )
                    ),
        download-title:(
                        context:(css-path: '#asset-download-tell-us-about-you-popup h3' ),
                        properties: (
                            	border-bottom: 1px dotted #cccccc,
			                    color: #000000,
                                font-style: (font-family: "&base-font")
                        )
                    ),
        download-button:(
                        context:(css-path: '#multiple-assets-download-tell-us-about-you-popup .popup-content-wrapper .line .download' ),
                        properties: (
                            	background: #eeeeee,
					            color: #000000,
					            border: 1px solid #efefef,
                        )
                    ),
        download-button-hover:(
                        context:(css-path: '#multiple-assets-download-tell-us-about-you-popup .popup-content-wrapper .line .download:hover' ),
                        properties: (
                                color: #eeeeee,
						        background: #000000,
						        border: 1px solid #000000,                            	
                        )
                    ),
        more-info-see-more:(
                        context:(css-path: '#asset-more-info-popup .see-all-details h4 a' ),
                        properties: (
                                color: #3cbef4,
                                font-style: (font-family: "&base-font"),                           	
                                size:(font-size:2.4)
                        )
                    ),        
            ),
    onMobile:(
      
          )    
)