@media #{$print} {
	/* Common elements style */
	 a[href]:after {
		content: none !important;
	 }
	.mobile {
		display: none;
	}
	.tablet {
		display: none;
	}
	
	/* Header and Navigation */
	.header-mid {
		position: relative;
		.site-menu-wrapper {
			nav.site-menu {
				ul {
					display: table;
					margin-bottom: 0;
					.category-menu {
						display: none;
					}
					li {
						@include size(padding, 0, 3, 0, 0);
						display: table-cell;
						position: relative;
						list-style: none;
						border: none;
						white-space: normal;
						@include size(line-height, 4.4);
						text-align: left;
						list-style: none;
						&:last-of-type {
							padding-right: 0;
						}
						a {                            
							@include font_regular();
							color: $section-color;
							@include size(font-size, 1.3);
							@include size(line-height, 1.4);
							display: inline-block;
							vertical-align: middle;
							white-space: nowrap;
						}
					}
				}
			}
		}
		.search {
			display: none;
		}
	}
	
	.top-menu-container {
		display: none;
	}
	.header-top {
		.logo-container {
			.logo-wrapper {
				white-space: nowrap;
				overflow: hidden;
				position: relative;
				display: table;
				@include size(padding, 1, 0);
			}
			.newsroom-label {
				display: table-cell;
				@include size(font-size, 2.4);
				@include font_regular();
				@include size(padding-left, 1);
				a {
					text-decoration: none;
				}
			}
		}
	}

	/* Slider */
	.slider-wrapper {
		display: none;
	}

	/* Landing page content */
	.main-content {
		.columns {
			h3 {
				@include size(margin, 3.2, 0, 1.6, 0);
				a {
					text-decoration: none;
				}
			}
		} 
	} 

	.latest-news-items {
		li {
			.news-item {
				.grid-item-text {
					.icons {
						display: none;
					}
					.news-footer {
						position: static;
						bottom: auto;
						width: 100%;
						@include size(padding-top, 1.2);
						.date {
							@include size(font-size, 1.2);
							@include size(line-height, 1.8);
							@include size(padding-top, 0);
						}
					}
					.grid-context {
						height: 153px;
						position: relative;
						h5.context-header {
							@include size(margin, 0);
							height: 60px;
							overflow: hidden;
						}
						p {
							display: inline-block;
							position: absolute;
							overflow: hidden;
							visibility: hidden;
							height: 100%;
							width: 100%;
							top: 0;
							margin-bottom: 0;
							@include size(font-size, 1.2);
							@include size(line-height, 1.8);
						}
					}
				}
			}
		}
	}
	.see-all {
		h4 {
			@include size(margin, 0);
			@include size(padding-bottom, 3.2);
			border-bottom: 1px dotted #cccccc;
		}
		 a {
			text-decoration: none;
			@include size(font-size, 1.8);
		}
	}

	.images-videos-items {
		.img-item {
			.grid-item-text {
				.grid-context {
					h5.context-header {
						height: 43px;
						overflow: hidden;
					}
				}
			}
		}
		li {
			.img-item {
				.image-wrapper {
					.hover-icons {
						display: none;
					}
				}
			}
		}
	}
	.tablet-hover-icons {
		display: none;
	}
	.lookbooks-items {
		.lookbook-item {
			.grid-item-text {
				.grid-context {
					h5.context-header {
						height: 60px;
						overflow: hidden;
					}
				}
				.lookbook-footer {
					position: static;
					bottom: auto;
					width: 100%;
					.country {
						@include size(font-size, 1.6);
						@include size(line-height, 2);
						@include size(height, 2);
					}
					.date {
						@include size(font-size, 2.4);
						@include size(line-height, 2.4);
						@include size(height, 2.4);
						@include size(margin-top, 1);
					}
				}
			}
		}
	}
	.products-items {
		.grid-item-text {
			.grid-context {
				h5.context-header {
					height: 37px;
					overflow: hidden;
				}
			}
		}
		.product-item {
			.grid-item-text {
				.product-footer {
					display: none;
				}
			}
		}
	}

    .showcasecategorylistings-items {
		.grid-item-text {
			.grid-context {
				h5.context-header {
					height: 37px;
					overflow: hidden;
				}
			}
		}
		.showcasecategorylisting-item {
			.grid-item-text {
				.product-footer {
					display: none;
				}
			}
		}
	}

	.athletes-items {
		li {
			.athletes-item {
				.grid-item-text {
					.context-header {
						height: 40px;
						overflow: hidden;
					}
				}
			}
		}
	}

	.home  {
		ul.block-grid {
			> li {
				@include size(padding, 2, 1.6, 1.6, 1.6);
				.image-wrapper {
					> a {
						img {
						}
					}
				}
			}
		}
	}

	/* Contact*/
	.contact-us-wrapper {
		.six {
			width: 100%!important;
			.contacts-content {
				@include size(margin-top, 1);
			}
		}
	}

	div.email {
		span {
			@include size(margin-left, 0);
		}
	}
	i.icons-phone-icon {
		margin-right: -8px;
	}

	/* Footer */
	footer {
		.desktop {
			display: none;
		}
		.tablet {
			display: block;
		}
		ul.social-buttons {
			display: block;
			line-height: 1;
			text-align: center;
			@include size(padding, 3.2, 0, 1.6, 0);
			li {
				display: inline-block;
				@include size(padding, 0, 1.8);
				a {
					img {
						@include size(height, 3.6);
					}
				}
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
				}
			}
		}
		ul.footer-links {
			display: block;
			text-align: center;
			width: 100%;
			line-height: 1;
			li {
				position: relative;
				display: inline-block;
				a {
					@include size(font-size, 1.2);
					text-decoration: none;
				}
			}
		}
		.copyright {
			@include size(font-size, 1.1);
			text-align: center;
			@include size(padding, 0);
		}
	}

	/* Cookies disclaimer */
	.cookies-message {
		display: none!important;
	}

	/* Listing pages */
	.filters {
		@include size(margin, 0, 0, 0.8, 0);
		ul {
			display: block;
			padding: 0;
			li {
				@include size(padding, 1, 2, 1, 0);
				display: inline-block;
				border: none;
				i {
					display: none;
				}
				a {
					@include size(padding, 0, 0, 0, 2.5);
					b {
						display: inline;
					}
					p {
						display: inline;
						@include size(margin-top, 0);
						@include size(padding-left, 0.5);
					}
				}
			}
			li:before {
				content: '|';
			}
			li:first-child {
				&:before {
					content: ' ';
				}
			}		
		}
	}
	.pagination {
		&.mobile {
			display: none;
		}
	}

	/* Story detail */
	.detail-pages {
		.detail-header {
			.title {
				@include size(margin-bottom, 0);
			}
		}
		.detail-content {
			.media {
				div.download {
					display: none;
				}
			}
		}
		.contacts {
			.block-grid.two-up > li {
				width: 100%;
			}
		}
		table {
			width: 320px!important;
		}
	}

	.tag {
		@include size(margin-top, 1.6);
	}
	
	.amp-wrapper {
		max-width: 640px;
		.amp {
			@include size(padding, 0);
			.amp-inner-content-wrap {
				.download-buttons {
					display: none!important;
				}
				.download-buttons-mobile {
					display: none;
				}
			}
		}
	}
	.related {
		&.tablet-down {
			display: none;
		}
	}
	.top-tools {
		position: relative;
		.button-text {
			ul {
				display: none;
			}
			.paging {
				position: relative;
			}
		}
	}

	/* Asset detail page */
	.images-videos-detail-page {
		.detail-header {
			.title {
				@include size(padding, 1.6, 0);
			}
		}
		.amp-wrapper {
			.amp {
				@include size(padding, 3.2, 3.2, 4, 3.2);
			}
		}
	}

	.detail-content {
		.detail-asset {
			.text {
				h6 {
					@include font_bold();
					@include size(font-size , 1.6);
					@include size(margin, 2.4, 0, 0, 0);
				}
				p {
					@include font_regular();
					@include size(font-size , 1.6);
					@include size(margin-bottom, 0);
					line-height: 1;
				}
			}		
		}
	}
	.addthis_toolbox {
		display: none;
	}

	/* Media cart */
	.mediacart{
		.send-wrapper {
			display: none;
		}
	}

	/* Rss listing page */
	.rss-listing {
		.block-grid.two-up > li {
			width: 100%;
		}
		.filters-mobile {
			display: none;
		}
		label {
			@include size(font-size, 1.6);
		}
		.xml-button {
			display: table-cell;
			width: 70px;
			height: 33px;
		}
	}
	.rss-item-wrapper {
		display: table;
		width: 100%;
	}
	div.rss-input-wrapper {
		display: table-cell;
		@include size(padding-right, 0.8);
		input {
			@include size(margin, 0);
		}
	}

	/* Search */
	.search-results {
		.search-item {
			@include size(padding, 3.2, 0, 3.2, 1.6);
			width: 100%;
			display: table;
			.search-separator {
				display: table-cell;
				width: 9px;
			}
			.search-content {
				display: table-cell;
				vertical-align: top;
				.title {
					height: 37px;
					overflow: hidden;
					@include size(font-size, 1.8);
					@include font_semi_bold();
					line-height: 1;
					a {
						text-decoration: none;
					}
				}
				.description {
					@include size(font-size, 1.2);
					height: 40px;
					overflow: hidden;
				}
			}
			.search-img {
				display: table-cell;
				img {
					width: 120px;
				}
				
			}
		}
	}
	/* Popups */
	#asset-amp-popup, #asset-more-info-popup, #asset-share-popup, #copy-code-popup, #single-asset-download-popup, #asset-download-usage-restrictions-popup, #asset-download-tell-us-about-you-popup, #download-format-options-popup, #download-additional-steps-required-popup, #multiple-assets-download-tell-us-about-you-popup, #contact-inquiry-popup, #user-send-cart-popup, #send-card-popup, #disable-cookies-popup, #confirmation-contact-popup, #expired-popup {
		display: none!important;
	}
}




