#contact-inquiry-popup {
    .rememberme-ignore-recaptcha {
        display: inline-block;
        @include size(margin-top, 0);
        @include size(font-size, 1.2);
        font-weight: normal;
        position: relative;
        //top: -2px;
    }

    .rememberme-recaptcha {
        text-align: left;
    }

    .rememberme-recaptcha .remember-me {
        display: inline-block;
        @include size(margin-top, 2.4);
        @include size(margin-bottom, 0);
        @include size(font-size, 1.2);
        font-weight: normal;
        position: relative;
        top: -2px;
    }

    .send-wrapper-recaptcha {
        position: relative;
        margin: 24px auto 0 auto;
        @include size(padding-top, 2.4);
        border-top: 1px dotted #cccccc;
        text-align: center;

        input {
            margin: 0 auto;
        }

        label {
            margin-bottom: 0;
        }

        .send {
            height: 32px;
        }
    }
}

@media #{$mobile} {
    #Logreg-popup{
        #recaptcha_widget
            {
                width:180px;
               .recaptcha-holder {
                    @include scale(0.85);
                    transform-origin: 0;
            }
        }
    }

    #contact-inquiry-popup {
        .rememberme-recaptcha {
            text-align: center;
        }

        .send-with-recaptcha {
            .send-two {
                width: 100%;
                @include size(margin-top, 2.4);
            }

            .recaptcha-holder {
                @include scale(0.95);
                transform-origin: 0;
            }

            .error {
                border: 1px solid;
                border-color: $alertColor;
                background-color: rgba($alertColor, 0.1);
            }
        }
    }
}

@media #{$tablet} {
    #contact-inquiry-popup {
        .rememberme-recaptcha {
            text-align: left;
        }

        .send-with-recaptcha {
            .send-two {
                @include size(height, 4.4);
                @include size(width, 19);
                @include size(margin-top, 1.4);
                @include size(padding-top, 0.8);
            }

            .recaptcha-holder {
                @include scale(0.9);
                transform-origin: 0;
            }

            .error {
                border: 1px solid;
                border-color: $alertColor;
                background-color: rgba($alertColor, 0.1);
            }
        }
    }
}

@media #{$desktop} {
    #Logreg-popup{
        #recaptcha_widget
            {
                width:220px;
               .recaptcha-holder {
                    @include scale(0.84);
                    transform-origin: 0;
            }
        }
    }

    #contact-inquiry-popup {
        .rememberme-recaptcha {
            text-align: left;
        }

        .send-with-recaptcha {
            .send-two {
                width: 100%;
                @include size(height, 4.4);
                @include size(margin-top, 1.4);
                @include size(padding-top, 0.8);
            }

            .recaptcha-holder {
                @include scale(0.9);
                transform-origin: 0;
            }

            .error {
                border: 1px solid;
                border-color: $alertColor;
                background-color: rgba($alertColor, 0.1);
            }
        }
    }
}


@media #{$mobile} {

    

    #user-send-cart-popup {
        .send-copy-message-for-recaptcha {
            .send-copy-message {
                @include size(padding, 0.5);
                @include size(margin-top, 1);
                display: inline-block;
                @include size(font-size, 1.2);
                position: relative;
                top: -2px;
            }
        }

        .send-media-kit-wrapper {
            .send-media-kit-with-recaptcha {
                @include size(padding-top, 1.2);
                border-top: 1px dotted #cccccc;

                .recaptcha-holder {
                    @include scale(0.95);
                    transform-origin: 0;
                }

                .error {
                    border: 1px solid;
                    border-color: $alertColor;
                    background-color: rgba($alertColor, 0.1);
                }
            }
        }

        .send-media-kit-wrapper.no-disclaimer {
            border-bottom:none
        }
    }
}

@media #{$tablet} {
    #user-send-cart-popup {

        .send-media-kit-wrapper {
            .send-media-kit.has-recaptcha {
                width: 100%;
                max-width: 100%;
                @include size(padding, 0.8, 1.6);
                @include size(height, 4.4);
            }

            .send-copy-message-for-recaptcha {
                .send-copy-message {
                    @include size(padding, 0.5);
                    @include size(margin-top, 1.2);
                    display: inline-block;
                    @include size(font-size, 1.2);
                    position: relative;
                    top: -2px;
                }
            }

            .send-media-kit-with-recaptcha {
                border-top: 1px dotted #cccccc;
                @include size(padding-top, 1.2);

                .recaptcha-holder {
                    @include scale(0.9);
                    transform-origin: 0;
                }

                .error {
                    border: 1px solid;
                    border-color: $alertColor;
                    background-color: rgba($alertColor, 0.1);
                }
            }
        }

        .send-media-kit-wrapper.no-disclaimer {
            border-bottom:none
        }

    }
}

@media #{$desktop} {
    #user-send-cart-popup {
        .send-media-kit.has-recaptcha {
            width: 100%;
            max-width: 100%;
            @include size(padding, 0.8, 1.6);
            @include size(height, 4.4);
        }

        .send-copy-message-for-recaptcha {
            .send-copy-message {
                @include size(padding, 0.5);
                @include size(margin-top, 1);
                display: inline;
                @include size(font-size, 1.2);
                position: relative;
                top: -2px;
            }
        }

        .send-media-kit-with-recaptcha {
            border-top: 1px dotted #cccccc;

            .recaptcha-holder {
                @include scale(0.9);
                transform-origin: 0;
            }

            .error {
                border: 1px solid;
                border-color: $alertColor;
                background-color: rgba($alertColor, 0.1);
            }
        }

        .send-media-kit-wrapper.no-disclaimer {
            border-bottom:none
        }
    }
}