/* slider */
.slider-wrapper {
    @include apply-Desktop($map-rotator,rotator-background);

    #home-rotator {
        @include apply-Desktop($map-rotator,rotator-background);

        .slider-item {
            width: 100%;

            .row {
                .eight {
                    text-align: center;
                }
            }
        }

        .rsOverflow {
        }

        .rsNav.rsBullets {
            background: transparent;
            border-top: 0;
            position: relative;
            @include size(padding, 1.6, 0);
            @include apply-Desktop($map-rotator,rotator-bottom-border);

            .rsBullet {
                padding: 0 6px;
                width: auto;
                height: auto;
                cursor: pointer;

                span {
                    @include apply-Desktop($map-rotator,rotator-circle);
                    @include size(height, 1);
                    @include size(width, 1);
                }
            }

            .rsBullet.rsNavSelected {
                span {
                    @include apply-Desktop($map-rotator,rotator-circle-active);
                }
            }
        }
    }

    .rotatorV2 #home-rotator {
        @include apply-Desktop($map-rotator,rotator-background);

        .slider-item {
            width: 100%;

            .row {
                .eight {
                    text-align: center;
                }
            }
        }

        .rsOverflow {
        }

        .rsNav.rsBullets {
            background: transparent;
            border-top: 0;
            position: relative;
            display: none;
            @include size(padding, 1.6, 0);
            @include apply-Desktop($map-rotator,rotator-bottom-border);

            .rsBullet {
                padding: 0 6px;
                width: auto;
                height: auto;
                cursor: pointer;

                span {
                    @include apply-Desktop($map-rotator,rotator-circle);
                    @include size(height, 1);
                    @include size(width, 1);
                }
            }

            .rsBullet.rsNavSelected {
                span {
                    @include apply-Desktop($map-rotator,rotator-circle-active);
                }
            }
        }
    }

    & > .slider-item.first {
        display: none;
    }

    & > .slider-item {
        display: none;
    }

    .rotator-header {
        align-content: center;
        @include size(margin-top, 4);
    }
}

@media #{$mobile} {
    #home-rotator {
        width: 100%;

        .rsArrow {
            display: none !important;
        }

        @include size(padding-top, 1.6);

        > .slider-item:not(.first) {
            display: none;
        }

        .slider-item {
            .twelve {
                img {
                    max-height: 219px;
                    max-width: 100%;
                    display: block;
                    margin: auto;
                }
            }

            .row {
                @include size(margin, 0, -1.6);

                .eight {
                    text-align: center;

                    img {
                        max-height: 219px;
                        max-width: 100%;
                    }
                }

                .four {
                    .slide-text {
                        h2 {
                            height: 45px;
                            min-height: 20px;
                            text-align: center;
                            overflow: hidden;
                            @include size(margin, 1.6, 0, 0, 0);
                            @include apply-Mobile($map-rotator,rotator-title);

                            a {
                                @include apply-Mobile($map-rotator,rotator-title);
                                display: block;
                            }
                        }

                        p {
                            overflow: hidden;
                            display: none;

                            a {
                                @include apply-Mobile($map-rotator,rotator-desc);
                            }
                        }

                        p.livedate {
                            text-align: center;
                            display: block;
                            @include apply-Tablet($map-rotator,rotator-desc);
                            margin-bottom: 0px;
                            height: 25px;
                            word-wrap: break-word;
                            min-height: 20px !important;
                        }

                        a.read-more {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .slider-wrapper {
        @include apply-Mobile($map-rotator,rotator-background);

        #home-rotator {
            @include apply-Mobile($map-rotator,rotator-background);
        }
    }

    .rotator-header {
        @include size(margin-top, 1);
    }
}

@media only screen and (max-device-width: 600px) and (min-device-width: 540px) {
    #home-rotator .slider-item .row .eight img.rsImg {
        max-height: 340px;
        max-width: 100%;
    }

    #home-rotator .slider-item .twelve img.rsImg {
        max-height: 340px;
        max-width: 100%;
    }
}

@media #{$tablet} {
    #home-rotator {
        @include size(padding-top, 3.2);

        .rsArrow {
            display: block !important;
        }

        .slider-item {
            .twelve {
                width: 100%;

                img {
                    max-height: 543px;
                    margin: auto;
                    display: block;
                }
            }

            .row {
                .eight {
                    width: 100%;

                    img {
                        max-height: 543px;
                    }
                }

                .four {
                    width: 100%;

                    .slide-text {
                        h2 {
                            @include size(margin, 3.2, 0, 3.2, 0);
                            @include apply-Tablet($map-rotator,rotator-title);
                            height: 80px;
                            text-align: center;
                            word-wrap: break-word;

                            a {
                                @include apply-Tablet($map-rotator,rotator-title);
                                min-height: 35px;
                            }
                        }

                        p.ellipsis {
                            text-align: center;
                            display: block;
                            @include apply-Tablet($map-rotator,rotator-desc);
                            margin-bottom: 0px;
                            height: 25px;
                            word-wrap: break-word;
                            min-height: 20px !important;

                            a {
                                @include apply-Tablet($map-rotator,rotator-desc);
                            }
                        }

                        p.livedate {
                            text-align: center;
                            display: block;
                            @include apply-Tablet($map-rotator,rotator-desc);
                            margin-bottom: 0px;
                            height: 25px;
                            word-wrap: break-word;
                            min-height: 20px !important;
                        }

                        a.read-more {
                            display: none;
                        }
                    }
                }
            }
        }

        .rsArrow {
            width: 28px;

            .rsArrowIcn {
                width: 28px;
                height: 44px;
                @include apply-Desktop($map-rotator,rotator-image);
                //@include opacity(0.3);
                /*&:hover {
					@include opacity(1);
				}*/
            }

            &.rsArrowLeft {
                @include size(left, 2.8);

                .rsArrowIcn {
                    background: image-url("/Content/images/royalslider/left-arrow.png") no-repeat;
                    margin-left: 0;

                    &:hover {
                        @include apply-Desktop($map-rotator,rotator-leftimage-hover);
                    }
                }
            }

            &.rsArrowRight {
                @include size(right, 2.8);

                .rsArrowIcn {
                    background: image-url("/Content/images/royalslider/right-arrow.png") no-repeat;
                    margin-left: -16px;

                    &:hover {
                        @include apply-Desktop($map-rotator,rotator-rightimage-hover);
                    }
                }
            }
        }
    }

    .slider-wrapper {
        @include apply-Tablet($map-rotator,rotator-background);

        #home-rotator {
            @include apply-Tablet($map-rotator,rotator-background);

            .rsNav.rsBullets {

                @include size(padding, 3.2, 0);
            }
        }

        .slider-item-content-wrapper .rotator-text {
            clear: both;
            float: none;
        }
    }
}

@media #{$desktop} {
    #home-rotator {
        .slider-item {
            .twelve {
                width: 100% !important;
                @include size(padding, 0, 1.6, 0, 0);

                a {
                    img {
                        max-width: 100%;
                        max-height: 1200px;
                        display: block;
                        margin: auto;
                    }
                }
            }

            .row {
                .slider-item-content-wrapper {
                    @include size(margin, 0, 10);
                }

                .eight {
                    width: 50% !important;
                    @include size(padding, 0, 1.6, 0, 0);

                    a {
                        img {
                            max-width: 100%;
                            max-height: 360px;
                        }
                    }
                }

                .four {
                    width: 50% !important;
                    @include size(padding, 0, 0, 0, 1.6);
                    @include size(padding, 0, 0, 0, 1.6);

                    .slide-text {
                        h2 {
                            max-height: 210px;
                            height: auto;
                            @include apply-Desktop($map-rotator,rotator-title);
                            text-align: left;

                            a {
                                min-height: 42px;
                                max-height: 220px;
                                @include apply-Desktop($map-rotator,rotator-title);
                            }
                        }

                        p.ellipsis {
                            text-align: left;
                            @include apply-Desktop($map-rotator,rotator-desc);
                            height: 110px;
                            overflow: hidden;
                            min-height: 20px !important;

                            a {
                                @include apply-Desktop($map-rotator,rotator-desc);
                                font-weight: $menu-font-weight;
                            }
                        }

                        p.livedate {
                            text-align: left;
                            @include apply-Desktop($map-rotator,rotator-desc);
                            height: 25px;
                            overflow: hidden;
                            min-height: 20px !important;
                        }

                        a.read-more {
                            display: block;
                            @include apply-Desktop($map-rotator,rotator-readmore);
                        }
                    }
                }
            }
        }

        .rsArrow {
            &.rsArrowLeft {
                .rsArrowIcn {
                    margin-left: -16px;
                }
            }

            &.rsArrowRight {
                .rsArrowIcn {
                    margin-left: -16px;
                }
            }
        }
    }

    .no-touch {
        #home-rotator {
            .slider-item {
                a.read-more:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .slider-wrapper {
        @include apply-Desktop($map-rotator,rotator-background);

        #home-rotator {
            @include apply-Desktop($map-rotator,rotator-background);

            .rsNav.rsBullets {
                @include size(padding, 1.6, 0);
            }
        }

        .slider-item-content-wrapper .rotator-text {
            clear: none;
            float: left;
        }
    }
}
@media #{$desktop} { 
	.rotatorV2{
		#home-rotator{
			 @include size(padding-top, 1.2);
			.slider-item{
				.twelve{
					a{
						img{
							 max-height: 450px;
						} 
					} 
				} 
			} 
		} 
	}
}
/*
TNMMCLITE-3124
@media #{$desktop} { 
	#home-rotator .rsOverflow {
		height: 400px !important;
	}
}
@media #{$tablet} {
	#home-rotator .rsOverflow {
		height: 360px !important;
	}
}
@media #{$mobile} {
	#home-rotator .rsOverflow {
		height: 300px !important;
	}
}
*/
