﻿$map-rotator:(
    base-properties:(
        base-font:'Arial,Helvetica,Verdana,sans-serif', 
        base-color:""        
    ),
    onDesktop:(
        rotator-background:(
                        context:(css-path: '.slider-wrapper,.slider-wrapper #home-rotator' ),
                        properties: (
                            background-color:#f1f1f1,
                        )
                    ),
        rotator-circle:(
                        context:(css-path: '.slider-wrapper #home-rotator .rsNav.rsBullets .rsBullet span' ),
                        properties: (
                            background: #aaaaaa,
                        )
                    ),
        rotator-bottom-border:(
                        context:(css-path: '.slider-wrapper #home-rotator .rsNav.rsBullets .rsBullet span' ),
                        properties: (
                            border-bottom: 1px dotted #d4d4d4
                        )
                    ),
        rotator-circle-active:(
                        context:(css-path: '.slider-wrapper #home-rotator .rsNav.rsBullets .rsBullet.rsNavSelected span' ),
                        properties: (
                            background: #000000,
                        )
                    ),
        rotator-title:(
                        context:(css-path: ' #home-rotator .slider-item .row .four .slide-text h2,#home-rotator .slider-item .row .four .slide-text h2 a' ),
                        properties: (
                            color:#00407d,                          
                            size:(font-size: 4, line-height:4.8,margin: (0, 0, 2.4, 0)),
                            font-style: (style: bold, font-family: "&base-font")
                        )
                   ),
        rotator-desc: (
                        context:(css-path: '#home-rotator .slider-item .row .four .slide-text p.ellipsis, #home-rotator .slider-item .row .four .slide-text p.ellipsis a' ),
                        properties: ( 
                            color:#000000,
                            size:(font-size: 1.4, line-height:2) ,
			                font-style: ( style:bold,font-family: "&base-font") 
                        )
                    ),
        rotator-readmore: (
                        context:(css-path: '#home-rotator .slider-item .row .four .slide-text a.read-more' ),
                        properties: (    
                            color: #3cbef4,  
                            font-style: (style: bold, font-family: "&base-font"),
                            size:(padding-top: 2.4,font-size:1.6)  
                            )
                        ),
        rotator-image:(context:(css-path: '#home-rotator .rsArrow.rsArrowRight .rsArrowIcn, #home-rotator .rsArrow.rsArrowLeft .rsArrowIcn' ),// For rotator landing image, if image is to be displayed with out opacity comment the line.
                        properties: (    
                            //opacity: 0.3,
                            )
                        ),
        rotator-leftimage-hover: (
                        context:(css-path: '#home-rotator .rsArrow.rsArrowLeft .rsArrowIcn:hover' ),
                        properties: (    
                            opacity:1,
                            background: image-url("/Content/images/royalslider/left-arrow-hover.png") no-repeat
                            )
                        ),
        rotator-rightimage-hover: (
                        context:(css-path: '#home-rotator .rsArrow.rsArrowRight .rsArrowIcn:hover' ),
                        properties: (    
                            opacity:1,
                            background: image-url("/Content/images/royalslider/right-arrow-hover.png") no-repeat
                            )
                        ),
            ), 
    onTablet:(
        rotator-background:(
                        context:(css-path: '.slider-wrapper,.slider-wrapper #home-rotator' ),
                        properties: (
                            background-color:#f1f1f1
                        )
                    ),
        rotator-title:(
                        context:(css-path: '#home-rotator .slider-item .row .four .slide-text h2,#home-rotator .slider-item .row .four .slide-text h2 a' ),
                        properties: (    
                            color:#00407d,
                            size:(font-size: 4, line-height:4.8),
                            font-style: (style: bold, font-family: "&base-font")
                        )
                    ),
        rotator-desc: (
                        context:(css-path: '#home-rotator .slider-item .row .four .slide-text p.ellipsis, #home-rotator .slider-item .row .four .slide-text p.ellipsis a' ),
                        properties: (  
                            color:#000000,
                            font-style: (style: regular, font-family: "&base-font"), 
                            size:(font-size: 1.4, line-height:2)  
                        )
                    ),
        rotator-readmore: (
                            context:(css-path: '#home-rotator .slider-item .row .four .slide-text a.read-more' ),
                            properties: (      
                                        )
                    )
        ),
    onMobile:(
        rotator-background:(
                        context:(css-path: '.slider-wrapper,.slider-wrapper #home-rotator' ),
                        properties: (
                            background-color:#f1f1f1
                        )
                    ),
        rotator-title:(
                context:(css-path: '#home-rotator .slider-item .row .four .slide-text h2,#home-rotator .slider-item .row .four .slide-text h2 a' ),
                properties: (
                    color:#00407d,
                    font-style: (style: bold , font-family: "&base-font"),
                    size:(font-size: 2, line-height:2)  
            )
          ),
        rotator-desc: (
            context:(css-path: '#home-rotator .slider-item .row .four .slide-text p.ellipsis, #home-rotator .slider-item .row .four .slide-text p.ellipsis a' ),
            properties: (     
                color:#000000,
                font-style: ( style:bold,font-family: "&base-font") 
            )
        ),
        rotator-readmore: (
            context:(css-path: '#home-rotator .slider-item .row .four .slide-text a.read-more' ),
            properties: (      
                size:(font-size: 4, line-height:4.8)  
            )
        )
    )
)