.rss-listing {	
	 h4 {
		@include font_semi_bold();
		color: $rss-title-color;
		@include size(margin, 0);
	}
	h5 {
		@include font_regular();		
		color: $darkgray;
	}
	label {
		@include font_bold();
		color: $black;
		display: table-row;
		@include size(margin-bottom, 0.8);
	}
	.xml-button {		
		@include font_bold();
		@include size(font-size, 1.8);
		color: #333;		
		text-align: center;
		background-color: #e9e9e9;
		border-bottom: 1px solid #9c9c9c;
		border-right: 1px solid #9c9c9c;
		@include box-shadow(1, 15, 5, 0, #dbdbdb);
		vertical-align: middle;
		text-decoration: none;
	}
	.sub-header {
		border-bottom: none;
	}
}

.rss-popup {
	position: absolute;
	display: none;
	z-index:3;
	background: #eeeeee;
	border:1px solid #e2e2e2;
	width: 525px;	
	text-align: left;
	padding: 10px;
	@include box-shadow(0px, 5px, 10px, rgba(50,50,50,0.5));
	top: 46px;
	left: 50%;
	h2 {
		@include size(margin, 0, 0 , 0.5, 0);
		font-size: 14px;
		@include font_regular();
		color: #333333;
		text-align: left;
	}
	input {
		display: inline-block;
		background: #ffffff;
		width: 423px;
		border: 1px solid #e5e5e5;
		@include size(padding, 0.9, 1);
		height: auto;
		cursor: text;
		margin: 0;
		color: #000000;
		vertical-align: top;
	}
	a.xml-button {
		display: inline-block;
		height: 35px;
		vertical-align: top;
		@include font_bold();
		@include size(margin-left, 0.5);
		@include size(font-size, 1.8);
		@include size(line-height, 3.5);			
		color: #333;		
		text-align: center;
		background-color: #e9e9e9;
		border-bottom: 1px solid #9c9c9c;
		border-right: 1px solid #9c9c9c;
		@include box-shadow(1, 15, 5, 0, #dbdbdb);
		vertical-align: middle;
		text-decoration: none;
		padding: 0;
	}
}
.rss-first-section-popup {
	@extend .rss-popup;
}
@media #{$tablet} {
	.rss-popup {
		width: 425px;
		margin-left: -212px;
		input {
			width: 323px;
		}
	}
}
@media #{$desktop} {
	.rss-popup {
		width: 525px;
		margin-left: -262px;
		input {
			width: 423px;
		}
	}
	.rss-first-section-popup {
		width: 525px;
		margin-left: -62px;
		input {
			width: 423px;
		}
	}
}
.rss-content {
	.block-grid {
		display: none;
		&.active {
			display: block;
		}
	}
}
@media #{$mobile} {
	.rss-listing {
		h4 {
			@include size(font-size, 2);
		}
		h5 {
			@include size(margin, 1.6, 0, 0, 0);
			@include size(font-size, 1.4);
			line-height: 1.2;
			color: $rss-title-color;
		}
		label {
			@include size(font-size, 1.2);
		}
		.xml-button {
			display: block;
			width: 100%;
			height: 33px;
		}
		.page-header {
            @include apply-Mobile($map-rss-page,rss-title);			
		}
		.sub-header {
			@include size(padding-top, 1.2);
		}
		.filters {
			display: none;			
		}
		.filters-mobile {
			display: block;
			@include size(padding-top, 2.4);
			border-top: 1px dotted #cccccc;
			select {
				height: 32px;
				color: $darkgray;
				@include font_cond_bold();
				@include size(font-size, 1.6);
			}
		}
		div.rss-input-wrapper {
			display: block;
			@include size(padding-right, 0);
			input {
				@include size(margin-bottom, 0.8);
			}
		}
		.rss-content {
			@include size(margin, 2, 0, 0.4, 0);
			.block-grid {
				li {
					@include size(padding, 0, 1.5, 2.8);
				}
			}
		}
	}
}

@media #{$tablet} {	
	.rss-listing {
		h4 {
			@include size(font-size, 2.4);
		}
		h5 {
			@include size(margin, 3.2, 0, 0, 0);
			@include size(font-size, 1.6);
			line-height: 1.1;
		}
		label {
			@include size(font-size, 1.6);
		}
		.xml-button {
			display: table-cell;
			width: 70px;
			height: 33px;
		}
		.page-header {			
            @include apply-Tablet($map-rss-page,rss-title);
		}
		.sub-header {
			@include size(padding, 2.4, 0, 4.8, 0);
		}
		.filters {
			display: block;
			@include size(margin, 0, 0, 0.6, 0);
			ul {
				li {
				@include size(padding, 1.1, 1, 1.1, 0);
					&.active {
						a {
							@include font_bold();
							color: $filters-color;
						}
					}
					&:hover {
						> a {
							text-decoration: underline;
						}
					}
					> a {
						@include size(padding, 0, 0, 0, 1);
						@include font_light();
						@include size(font-size, 1.4);
						color: $filters-color;
					}
				}
			}
		}
		.filters-mobile {
			display: none;
		}
		.rss-item-wrapper {
			display: table;
			width: 100%;
		}
		div.rss-input-wrapper {
			display: table-cell;
			@include size(padding-right, 0.8);
			input {
				@include size(margin, 0);
			}
		}
		.rss-content {
			@include size(margin, 3, 0, 3.8, 0);
			.block-grid {
				li {
					@include size(padding, 0, 1.5, 2.6);
				}
			}
		}
	}	
}

@media #{$desktop} {
	.rss-listing {
        .page-header {			
            @include apply-Desktop($map-rss-page,rss-title);
              &.above-bc {
                @include apply-Desktop($map-rss-page,rss-title-bc)    
            }
		}
		h5 {
			@include size(margin, 0);
		}
		.filters {
			ul {
				li {
				@include size(padding, 1.1, 2.4, 1.1, 0);
					> a {
						@include size(padding, 0, 0, 0, 1.5);
					}
					&.active {
						.rss-popup {
							display: block;
						}
					}
					
				}
			}
		}
		.rss-content {
			.block-grid {
				&.empty {
					//display: none;
                    visibility:hidden;
				}
			}
		}
	}
	div.rss-input-wrapper {
		@include size(padding-right, 1.2);
		input {
			
		}
	}	
}

@media #{$nexus} {
	.rss-listing{ 
		.filters {
			ul {
				li {
					a {
						@include size(font-size, 1.2);
					}
				}
			}
		}
	}
}