﻿$map-rss-page:(
    base-properties:(
        base-font:'Arial,Helvetica,Verdana,sans-serif', 
        base-color:'red'        
    ),
    onDesktop:(
				rss-title:(
                        context:(css-path: '.rss-listing .page-header' ),
                        properties: (                                               
                            color: #00407d,
                            line-height: 1,
                            font-style: (style:bold,font-family: "&base-font"),  
						    size:(font-size:4.8,margin:(6.4, 0, 2.4, 0))
                        )
                    ),		
                rss-title-bc:(context:(css-path: '.rss-listing .page-header '),
                        properties: (                                                                            
						    size:(margin:(3.2, 0, 2.4, 0))
                        ))				      
            ), 
    onTablet:(
                 rss-title:(
                        context:(css-path: '.rss-listing .page-header' ),
                        properties: (   
                            line-height: 1,
                            color: #00407d,
                            font-style: (style:bold,font-family: "&base-font"),  
						    size:(font-size:4.8,margin:(6.4, 0, 2.4, 0))
                        )
                    ),	            
        ),
    onMobile:(
                rss-title:(
                        context:(css-path: '.rss-listing .page-header' ),
                        properties: (      
                            color: #00407d,                                              
						    size:(font-size:3.2,margin:(3.2, 0, 1.2, 0)),
			                font-style: (style:bold,font-family: "&base-font"), 
                            line-height: 1
                        )
                    ),				
          )    
)