.main-content {
		.search-page {
			h3 {
				@include font_bold();
				color: $search-count-result-color;
			}
			.refine-mobile-button {
				@include size(margin-bottom, 1.6);
			}
		}
	}	
@media #{$mobile} {	
	.main-content {
		.search-page {
			h3 {
				@include size(font-size, 2);				
				@include size(margin, 0, 0, 0.3, 0);
			}
			.twelve {
				.refine-mobile-button {
					display: none;
				}
			}
			.nine {
				.refine-mobile-button {
					display: block;
				}
			}
		}
	}		
}
@media #{$tablet} {
	.main-content {
		.search-page {
			h3 {
				@include size(font-size, 3.2);
				@include size(margin, 0, 0, 1, 0);
			}
			.twelve {
				.refine-mobile-button {
					display: none;
				}
			}
			.nine {
				.refine-mobile-button {
					display: none;
				}
			}
		}
	}
}
@media #{$desktop} {   
}
#search-refine-result {
	.done-button {
		width: 100%;
		&.top-button{
			@include size(margin-bottom, 1);
		}
	}
}
.search-page, .refine-section {
	.refine-wrapper {
		position: relative;
		border-bottom: 1px dotted #cccccc;
		@include size(padding-bottom, 0.3);
		h3 {
			@include font_bold();
			@include size(font-size, 3.2);
			color: $refine-by-color;
			@include size(margin, 0);
		}
		span {
			/*position: absolute;
			float: right;
			bottom: 6px;			
			right: 0;*/
			color: #6e6e6e;
			@include size(font-size, 1.2);
			@include font_semi_bold();
			cursor: pointer;
		}
	}
	.search-filters {
		h4 {
			@include size(margin, 2, 0, 1.2, 1.2);
			@include font_semi_bold();
			@include size(font-size, 1.8);
			color: $search-panel-filter-category-color;
			line-height: 1;
		}
		ul {
			list-style: none;
			background: $search-panel-background;
			li {				
				@include size(padding, 0.4, 0);
				border-bottom: 1px dotted #cccccc;
				input {
					display: none;
				}
				label {
					@include size(margin, 0);
					@include size(padding, 0.2, 0, 0.2);
					a {
						display: inline-block;
						@include font_semi_bold();
						@include size(font-size, 1.2);
						line-height: 1.6;
						color: $search-panel-item-color;
						@include size(padding-left, 1.2);
					}
				}
			}
			li.active {
				label {
					background: $search-panel-active-item-background;
					a {
						color: $search-panel-active-item-color;
					}
				}
			}
			li:first-child {				
				border-top: 1px dotted #cccccc;
			}
		}
	}
}

@media #{$mobile} {	
	.search-filters-wrapper {
		display: none;
	}
	.refine-section {
		.refine-wrapper {
			position: relative;
			@include size(padding-bottom, 0.3);
			h3 {
				border-bottom: none;
			}
			span {
				position: absolute;
				float: right;
				bottom: 6px;			
				right: 0;
			}
		}
	}	
}
@media #{$tablet} {
	.search-filters-wrapper {
		display: none;
		&.three {
			width: 25% !important;
		}
		&.columns {
			float: left;
		}	
	}
	.nine {
		width: 75% !important;
		&.columns {
			float: right !important;
		}
	}
	.refine-section {
		.refine-wrapper {
			position: relative;
			span {
				position: relative;
				float: none;
				bottom: 0;			
				right: 0;
			}
		}
	}	
}
@media #{$desktop} { 
	.refine-section {
		.refine-wrapper {
			position: relative;
			@include size(padding-bottom, 1);
			h3 {
				border-bottom: none;
				@include size(padding-bottom, 0);
				@include size(margin-bottom, 0);
			}
			span {
				position: absolute;
				float: right;
				bottom: 6px;			
				right: 0;
			}
		}
	}
}
.search-menu {
	background-color: #d4d4d4;
	margin-top: 2px;
	border-bottom: 1px dotted #c9c9c9;
	position: relative;
	input {
		border: 1px solid #e5e5e5;
		outline: none;
		@include size(margin, 0.5, 0);
	}
	a.btn-search {
		position: absolute;
		top: 12px;
		right: 20px;
	}
}
.tag-menu {
	background-color: #d4d4d4;
	margin-top: 2px;
	border-bottom: 1px dotted #c9c9c9;
	@include size(padding, 0.8, 0, 0.5, 0);
	.tag-search-item {
		height: 32px;
		color: #fafafa;
		background: #555555;
		position: relative;
		display: inline-block;
		padding: 0px 10px;
		border-bottom-left-radius: 3px;
		border-top-left-radius: 3px;
		@include font_semi_bold();
		@include size(font-size, 2.3);
		@include size(line-height, 3);
		text-transform: uppercase;
		.icons-search-tag {
			position: absolute;
			right: -27px;
			top: 0px;
		}
	}
}



.search {
	.results-count {
		background: #f1f1f1;
		p {
			@include font_bold();
			display: inline-block;
			@include size(margin, 1, 0);
			span {
				@include font_semi_bold();
				display: inline-block;
			}
		}
	}

	.sort {
		ul {
			border-top: 1px dotted #999999;
			border-bottom: 1px dotted #999999;
			@include size(margin, 3, 0);
			li {
				display: inline-block;
				list-style: none;
				@include size(margin, 1, 0);
				a {
					padding-right: 5px;
					position: relative;
					top: 2px;
					@include font_semi_bold();
					color: #828282;
					@include size(font-size, 1.2);
				}
			

			}
			li.active {
				a {
					color: #333333;
				}
			}
			li:hover {
				a {
					color: #333333;
				}
			}
			li:after {
				content: "|";
				color: #999999;
			}
			li:last-of-type:after {
				content: "";
			}
			li:first-of-type {
				@include size(margin-left, 1);
			 
			}
		}
	}

	.results {
		.result {
			@include size(padding, 3, 1);
			@include size(margin-bottom, 3);
			border-bottom: 1px dotted #cccccc;
			display: table;
			.img-wrap {
				display: table-cell;
				padding-right: 10px;
				width: 60px;
			}
			.text-result {
				vertical-align: top;
				display: table-cell;
				h4 {
					@include size(font-size, 1.8);
					@include size(margin, 0);
					@include font_semi_bold();
					color: #1c1c1c;
				}
				.text, .date {
					@include size(font-size, 1.2);
					@include font_regular();
					@include size(margin-top, 0.5);
				}
				.text {
					color: #444444;
				}
				.date {
					color: #999999;	
					text-transform: uppercase;	
				}
			}
		}
		.pagination-centered {
			p {
				@include size(font-size, 1.2);
				color: #d0d0d0;
				@include font_regular();
				text-transform: uppercase;
			}
		}
	}

	@media #{$mobile} { 
		.results {
			width: 100%;
		}
	}
	@media #{$tablet} {
	}
	@media #{$desktop} { 
		.results {
			width: 60%;
		}
	}
}


/* for google search markup */
.GoogleCSEMain {
	background-color: #d4d4d4;
	border-bottom: 1px dotted #c9c9c9;
}

.gsc-search-box {
	margin: 0;
}
table.gsc-search-box {
	background-color: #d4d4d4;
	margin-top: 2px;
	position: relative;
	width: 100%;
	margin: 0;
	border: none;
	.gsc-input-active, .gsc-input {
		width: 100%;
		padding: 0;
		padding-right: 15px;
		input {
			@include size(margin, 0.5, 0);
			@include size(padding, 0.6);
			height: 32px;
			background-image:none!important;
			color: $darkgray;
			@include size(font-size, 2);
		}
	}
	.gsc-search-button {
		right: 3px;
		padding: 0;
		position: relative;
		vertical-align: middle;
	}
	input[type="button"].gsc-search-button {
		background:transparent image-url('icons/search-icon.png') no-repeat;
		border: none;
		font-size: 0px;
		height: 20px;
		width: 20px;
		cursor: pointer;
	}
}

@media #{$ipad} { 
	table.gsc-search-box {
		.gsc-search-button {
			top: 0px;
		}
	}
	.search-page, .refine-section {
		.refine-wrapper {
			@include size(padding-bottom, 1.7);
			h3 {
				@include size(font-size, 2.5);
			}
		}
	}
}

.results-count {
	@include size(margin-bottom, 3.2);
	.gsc-result-info {
		@include font_bold();
		@include size(margin, 1, 0);
	}
}
.gsc-above-wrapper-area {
	table {
		width: 100%;
		border: none;
		background: transparent;
		margin-bottom: 0;
		.gsc-orderby-container {
			padding: 0;
			width: 100%;
			border-top: 1px dotted #999999;
			border-bottom: 1px dotted #999999;
			display: block;
		}
	}
}

.gsc-orderby-label, .gsc-branding, .gsc-clear-button, .gsc-tabsAreaInvisible, .gsc-selected-option-container, .gsc-resultsHeader, .gs-watermark  {
	display: none;
}
.gsc-option-menu-invisible, .gsc-option-menu {
	.gsc-option-menu-item {
		display: inline-block;
		@include size(margin, 1, 0);
		.gsc-option {
			padding-right: 3px;
			padding-left: 3px;
			position: relative;
			color: #828282;
			text-transform: uppercase;
			display: inline-block;
			@include size(font-size, 1.2);
			cursor: pointer;
		}
		.gsc-option:hover {
			color: #333333;
		}
	}
	.gsc-option-menu-item:first-of-type {
		@include size(margin-left, 1);
	}
	.gsc-option-menu-item:before {
		content: "|";
		color: #999999;
	}
	.gsc-option-menu-item:first-child {
		&:before {
			content: ' ';
		}
	}

	.gsc-option-menu-item-highlighted {
		.gsc-option {
			color: #333333;
		}
	}
}

@media #{$mobile} {
	.gs-webResult-custom {
		> table {
			.gs-title-new {
				@include size(font-size, 1.2);
				@include size(padding-bottom, 0);
			}
			.gs-snippet-custom {
				@include size(font-size, 0.8);
				@include size(line-height, 1.2);
			}
		}
	}	
}
@media #{$tablet} {
	.gs-webResult-custom {
		> table {
			.gs-title-new {
				@include size(font-size, 1.8);
				@include size(padding-bottom, 0.5);
			}
			.gs-snippet-custom {
				@include size(font-size, 1.2);
				@include size(line-height, 1.8);
			}
		}
	}
}
@media #{$desktop} {
	.gs-webResult-custom {
		> table {
			.gs-title-new {
				@include size(font-size, 1.8);
				@include size(padding-bottom, 0);
			}
		}
	}
}

.gs-webResult-custom {
	width: 60%;
	> table {
		background: transparent;
		border: none;
		@include size(padding, 3.2, 1);
		margin-bottom: 0;
		border-bottom: 1px dotted #cccccc;
		td {
			padding: 0;
		}
		.gs-image-box {
			padding-right: 10px;
			width: 60px;
			img {
				width: 100%;
			}
		}
		.gs-title-new {
			@include size(margin, 0);
			@include font_semi_bold();
			color: #1c1c1c;
			font-weight: bold;
		}
		.gs-snippet-custom {
			@include font_regular();
			color: #444444;
		}
		.gs-url-parent {
			a {
				color: #999999;
			}
		}
	}
}
.gs-result.gs-no-results-result {
	.gs-snippet {
		color: #dddddd;
		@include font_semi_bold();
		text-align: center;
		@include size(padding, 10, 0);
		@include size(font-size, 4.8);
	}
}

.gsc-cursor {
	text-align: center;
    @include size(margin-top, 3.2);
	.gsc-cursor-page {
		display: inline-block;
		height: 24px;
		font-size: 14px;
		margin-left: 5px;
		padding: 1px 7px 1px;
		color: #999999;
		line-height: 22px;
		outline: none;
		cursor: pointer;
	}
	.gsc-cursor-page:hover {
		color: #e83921;
	}
	.gsc-cursor-page.gsc-cursor-current-page {
		background: image-url("icons/paging-dot.png") center no-repeat;
		color: #ffffff;
	}
}

.gcsc-branding {
	table {
		border: none;
		background: transparent;
		margin: 0 auto;
		div {
			@include size(font-size, 1.2);
			color: #d0d0d0;
			text-transform: uppercase;
		}
	}
}

@media #{$mobile} { 
	.gs-webResult-custom {
		width: 100%;
	}
}
@media #{$tablet} {
}
@media #{$desktop} { 
	.gs-webResult-custom {
		width: 60%;
	}
	.gs-webResult-custom {
		> table {
			.gs-snippet-custom {
				@include size(margin-top, 0.5);
			}
		}
	}
}

.search input::-webkit-input-placeholder { 
    //color:$search-input;	
    @include apply-Desktop($map-main,search-placeholder);
}

.search input::-moz-placeholder { 
    //color:$search-input;
    @include apply-Desktop($map-main,search-placeholder);
	@include opacity(1);	
}

.search input:-moz-placeholder { 
    //color:$search-input;
    @include apply-Desktop($map-main,search-placeholder); 
	@include opacity(1);	
}

.search input:-ms-input-placeholder { 
    //color:$search-input;
    @include apply-Desktop($map-main,search-placeholder);
}
.search-placeholder {
	//color: $search-input;
    @include apply-Desktop($map-main,search-placeholder);
    /*font-family:$header-top-menu-font-family;
	font-size: $header-promo-panel-menu-size !important;    
	@include font_regular();
    font-weight:$menu-font-weight;*/
}
.gsc-input-active input::-webkit-input-placeholder {
	//color:$search-input;
    @include apply-Desktop($map-main,search-placeholder);
}
.gsc-input-active input:-moz-placeholder {
	//color:$search-input;
    @include apply-Desktop($map-main,search-placeholder);
}
.gsc-input-active input::-moz-placeholder {
	//color:$search-input;
    @include apply-Desktop($map-main,search-placeholder);
}
.gsc-input-active input:-ms-input-placeholder {
	//color:$search-input;
    @include apply-Desktop($map-main,search-placeholder);
}

// Tag Search
.tag-search, .search-page {
	.pagination-centered {
		@include size(padding, 2.4, 0, 4.4, 0);
	}
}
.tag-search-item {
	.row {
		.columns {
			.tag-search-separator {
				border-top: 1px dotted #cccccc;
                   &.hide-border {
                    border-top: none;
                }   
			}
		}
	}
	@include size(margin-top, 0.2);
	.tag {
		@include size(margin, 0.7, 0, 0.3, 0);
        @include apply-Desktop($map-detail-pages,individual-tag);			
		position: relative;
		display: inline-block;		
	}		
}
.count-result-info {
	@include font_bold();
	@include size(margin, 1.2, 0, 0, 0);
}
.result-info {	
	.relevance-panel {
		&.simple-search {
			display: none;
		}
		&.hide-sort-type-panel {
			display: none;
		}
		border-top: 1px dotted #cccccc;
		border-bottom: 1px dotted #cccccc;
		@include size(padding, 1, 0);
		.filter-item {
			display: inline-block;
			input {
				display: none;
			}
			a {
				color: $search-filter-item-color;
			}
			&.active {
				a {
					color: $search-active-filter-item-color;
				}
			}
		}
		.filter-item:before {
			content: " |";
			color: $search-filter-item-separator-color;
		}
		.filter-item:first-child:before {
			content: " ";
		}
		span {
			@include size(padding, 0, 1.5);
			position: relative;
			@include font_semi_bold();
			text-transform: uppercase;
			display: inline-block;
			cursor: pointer;
			@include size(font-size, 1.2);
		}		
	}
}
.search-results {
	.search-item {
		@include size(padding, 3.2, 0, 3.2, 1.6);
		width: 60%;
		border-bottom: 1px dotted #cccccc;
		.search-img {
			display: table-cell;
			img {
				max-width: 62px;
			}		
		}
		.search-separator {
			display: table-cell;
			width: 9px;
		}
		.search-content {
			display: table-cell;
			vertical-align: top;
			p {
				@include size(margin-bottom, 0);
			}
			.title {
				@include size(margin, 0);				
				a {
					color: $search-result-item-title-color;
				}
			}
			.description {
				@include font_regular();
				color: $search-result-item-description-color;
			}
			.date {
				a {
					color: $search-result-item-date-color;
				}
			}
			.category {
				@include font_regular();
				color: $search-result-item-category-color;
				@include size(font-size, 1.2);
				max-height: 60px;
			}
		}
	}
}
@media #{$mobile} {
	.tag-search, .search-page {
		.pagination-centered {
			width: 100%;
			@include size(padding, 3.2, 0, 2.7, 0);
		}
	}
	.tag-search-item {
		.tag {
			@include size(margin, 0.7, 0, 0.3, 0);
			height: 25px;
			font-size: 12px;
			line-height: 25px;
			padding: 0px 10px;
			.icons-listing-tag {
				display: none;
			}
			.icons-listing-tag-mobile {
				position: absolute;
				top: 0;
				right: -19px;
			}
		}	
	}
	.search-results {
		.search-item {
			width: 100%;
			.search-content {
				.title {
					@include size(font-size, 1.2);
					@include font_bold();
					line-height: 1;
					max-height: 28px;
				}
				.search-title {
					max-height: 30px;
				}
				.description {
					@include size(font-size, 0.8);
					max-height: 25px;
				}
				.date {
					@include size(font-size, 0.8);
				}
			}
		}
	}
	.result-info {	
		.relevance-panel {
			text-align: center;
		}
	}
}
@media #{$tablet} {
	.tag-search {
		.pagination-centered {
			@include size(padding, 3, 0, 6.2, 0);
		}
	}
	.tag-search-item {
		.tag {
			@include size(margin, 0.7, 0, 0.3, 0);
			height: 32px;
			font-size: 23px;
			line-height: 30px;
			padding: 0px 6px 0px 8px;
			.icons-listing-tag {
				display: inline-block;
				position: absolute;
				top: 0;
				right: -24px;
			}
			.icons-listing-tag-mobile {
				display: none;
			}
		}	
	}
	.search-results {
		.search-item {
			.search-content {
				.title {
					@include size(font-size, 1.8);
					@include font_semi_bold();
					max-height: 38px;
				}
				.search-title {
					/*height: 20px;*/
					max-height: 40px;
				}
				.description {
					@include size(font-size, 1.2);
					max-height: 40px;
				}
				.date {
					@include size(font-size, 1.2);
				}
			}
		}
	}
	.result-info {	
		.relevance-panel {
			text-align: left;
		}
	}
}

@media #{$nexus} {
	.refine-section  {
		.refine-wrapper {
			h3 {
				@include size(font-size, 2.4);
			}
		}
	}
	.main-content {
		.search-page {
			h3 {
				@include size(font-size, 2.4);
				@include size(margin, 0, 0, 0.4, 0);
			}
		}
	}
}
@media #{$desktop} {
	.tag-search, .search-page{
		.pagination-centered {
			width: 80%;
		}
	}
	.search-results {
		.search-item {
			width: 80%;
			.search-content {
			}
		}
	}
}

// Advanced Search
.top-search-panel {
    @include apply-Desktop($map-main,top-search-panel);
	.search-wrapper {
		position: relative;
		@include apply-Desktop($map-main,search-wrapper-border);
		.search-input-wrapper {
			margin-right: 30px;
			.search-input {
				@include size(margin, 0.8, 0);
				@include size(padding, 0.6);
				height: 40px;
                @include apply-Desktop($map-main,top-search-panel-search-text);   
                width: 95%;             
                &.advance-search-show{
                width:83%;
            }
			}		
            
		}
		.search-button {
			top: 18px;
			right: 0px;
			position: absolute;          
            &.advance-search-show{
                right:150px;
            }
		}
		input[type="button"].search-button {
			background:transparent image-url('icons/search-page-icon.png') no-repeat;
			border: none;
			font-size: 0px;
			height: 25px;
			width: 25px;
			cursor: pointer;            
		}
	}
	
	
	input::-webkit-input-placeholder { 
		color:$darkgray;
	}
	input::-moz-placeholder { 
		color:$darkgray;
		@include opacity(1);
	}
	input:-moz-placeholder { 
		color:$darkgray;
		@include opacity(1);
	}
	input:-ms-input-placeholder { 
		color:$darkgray;
	}
	.search-placeholder {
		color: $darkgray;
        font-family:$header-top-menu-font-family;
		font-size: $header-promo-panel-menu-size !important;
        font-weight:$menu-font-weight;
	}
	
}
.checked-filters {
	@include size(margin-bottom, 3.2);
	.checked-filter-item {
		display: inline-block;		
		background: $search-checked-filter-item-background;
		height: 30px;
		line-height: 28px;
		@include size(padding, 0, 1);
		@include size(margin, 0.8, 1, 0.8, 0);
		.filter-text {
			color: $search-checked-filter-item-color;
			@include font_regular();
			@include size(font-size, 1.6);
		}
		.cross-icon-wrapper {
			width: 25px;
			height: 28px;
			display: inline-block;
		}
		i.icon-search-cross {
			display: inline-block;
			vertical-align: text-top;
			@include size(margin-left, 0.6);
		}
		i.icon-search-cross:hover{
			cursor: pointer;
		}	
	}
}