 

footer.simple-footer {
	overflow: hidden;
	position: relative;
}

.simple-body {
	.simple-header {
		text-align: center;
		@include size(margin-top, 1.9);
		a {
			display: inline-block;
		}
	}
}
.simple {
	height: 100%;
	.header-top .four.columns {
		border-bottom: none;
	}
	.main-content {
		height: 94%;
		width: 100%;
		display: table;
		.row {
			display: table-cell;
			position: relative;
			vertical-align: middle;
		}
	}
}

.simple {
    .logo {
        img {
            width: auto;
            max-width: none;
            float: left;
            margin-top: 0;
            @include size(padding, 1.6, 0);
        }
    }
}

@media #{$mobile} {
	div.page-wrapper.simple {
		padding-bottom: 40px;
	}

	footer.simple-footer {
		margin: -40px auto 0!important;
		height: 40px;
		overflow: hidden;
		position: relative;
	} 
	.simple {
		.main-content {
			height: 83%;
		}
	}
}

@media #{$tablet} {
	div.page-wrapper.simple {
		padding-bottom: 48px;
	}

	footer.simple-footer {
		margin: -48px auto 0!important;
		height: 48px;
		overflow: hidden;
		position: relative;
	} 
	.simple {
		.main-content {
			.row {
				.twelve.columns {
					.columns {
						width: 70%!important;
					}	
				}
			}
		}
	}
}


@media #{$desktop} {
	.simple {
		.main-content {
			.row {
				.twelve.columns {
					.columns {
						width: 50%!important;
					}	
				}
			}
		}
	}
}

#desktop_tablet, #mobile_table {
	width: 100%;
	display: table;
    border: 0;
    border-spacing: inherit;
}
@media #{$mobile} { 
	#mobile_table {
        .date-td{
          width:30%;
       }
		.title-td {
			width: 70%;
		}
    }
	#mobile_table{
		display: table;
	}
	#desktop_tablet{
		display: none;
	}
}
@media #{$tablet} { 
	#desktop_tablet {
        .date-td{
          width:20%;
       }
		.title-td {
			width: 60%;
		}
		.download-td {
			width: 20%;
		} 
    }
	#mobile_table{
		display: none;
	}
	#desktop_tablet{
		display: table;
	}
}
@media #{$desktop} { 
	#desktop_tablet {
        .date-td{
          width:15%;
       }
		.title-td {
			width: 70%;
		}
		.download-td {
			width: 15%;
		}
    }
	#mobile_table{
		display: none;
	}
	#desktop_tablet{
		display: table;
	}
}