.media-for-story {
	&.show-more {
		.see-more {
			.more {
				display: inline;
			}
		}
	}
	&.show-less {
		.see-more {
			.less {
				display: inline;
			}
		}
	}
	.download {
		a {
			color: #6c6c6c;
		}
	}
	.see-more {
		.less, .more {
			display: none;
		}
	}

	
}
.hidden-media-items {
	display: none;
}