.subscribe-page {
    @include size(font-size, 1.6);

    h1 {
        color: #000;
        font-family: "Helvetica", sans-serif;
        font-weight: normal;
        margin-bottom: 0;
        border-bottom: 1px dotted #cccccc;
        line-height: 1;
    }

    h5 {
        margin-bottom: 0;
        border-bottom: 1px dotted #cccccc;
    }

    .subscribe-legend {
        margin: 20px 0 16px 0;
        font-family: $otherpage-font-family;
        //color: $darkgray;
        font-size: 16px;
        padding-left: 15px;
    }

    .subscribe-content {
        li {
            @include size(padding, 2.2, 2.0, 0, 1.2);
            line-height: 16px;

            div {
                /*padding-bottom: 23px !important;*/
                /*@include size(padding-bottom, 2.3);*/
                border-bottom: 1px dotted #cccccc;
            }
        }

        li:nth-last-child(-n+2) div {
            /*border-bottom: none;*/
        }
    }

    .subscribe-email, .subscribe-heading {
        /*@include size(padding-top, 2.0);*/
        @include size(padding-bottom, 0.6);
        @include size(line-height, 2);

        input {
            display: block;
            @include size(width, 25);
        }

        span {
            display: block;
        }

        label {
            @include font_bold();
            cursor: default;
            line-height: 0.8;
            padding-bottom: 8px;
        }

        label.error {
            @include font_regular();
            @include size(font-size, 1.2);
            cursor: default;
            color: #e40000;
        }
    }

    .subscribe-heading {
        @include size(padding-top, 0);
    }

    .subscribe-to-all {
        //@include size(padding, 2);
        //border-bottom: 1px dotted #cccccc;
        .subscribe-to-all-chk {
            /*@include size(padding-bottom, 2);*/
            /*border-bottom: 1px dotted #cccccc;*/
        }
    }

    .news-alerts {
        @include size(padding-bottom, 0);
        border-top: 1px dotted #cccccc;

        .news-alerts-title {
            @include size(padding-bottom, 2);
            border-bottom: 1px dotted #cccccc;
            @include size(line-height, 2.0);

            label {
                @include font_bold();
                @include size(font-size, 1.6);
            }

            div {
                @include size(padding-left, 2.4);
            }
        }
    }

    .tips-n-tricks {
        @include size(padding-top, 2);
        @include size(padding-bottom, 2);
        border-bottom: 1px dotted #cccccc;
        @include size(line-height, 2.0);

        .tips-n-tricks-title {
            label {
                @include font_bold();
                @include size(font-size, 1.6);
            }
        }

        .tips-n-tricks-details {
            @include size(padding-left, 2.4);
        }
    }

    .daily-digest {
        @include size(padding-top, 2);
        @include size(padding-bottom, 2);
        border-bottom: 1px dotted #cccccc;
        @include size(line-height, 2.0);

        .daily-digest-title {
            label {
                @include font_bold();
                @include size(font-size, 1.6);
            }
        }
    }

    .unsubscribe-email {
        @include size(padding-top, 1.6);
        @include size(margin-top, 0.4);
        @include size(padding-bottom, 2);
        @include size(line-height, 2);

        input {
            display: block;
            @include size(width, 25);
        }

        span {
            display: block;
        }

        label {
            @include font_bold();
            @include size(font-size, 1.6);
            cursor: default;
        }
    }

    .subscribe-note {
        @include size(padding-top, 2.4);
        @include size(font-size, 1.2);
        color: #555555;
    }

    .agree-note {
        @include size(margin-top, 4.0);
        @include size(font-size, 1.2);
        color: #555555;
    }

    .agree-checkbox {
        margin-top: 5px;
        display:table;
        input, label{ display:table-cell;vertical-align:middle;}
        label.normal {
            @include size(font-size, 1.2);
            color: #555555;
        }

        label.error {
            @include size(font-size, 1.2);
            color: #ff0000;
        }
    }

    .subscribe-legend > p {
        line-height: 1.5;
    }

    label {
        font-family: $header-top-font-family;
        color: $black;
        @include size(margin-bottom, 0);
        display: inline-block;
    }

    #email {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #email.input-validation-error {
        border-color: red;
    }

    .custom.dropdown {
        width: 100% !important;

        .current {
            height: 32px;
            line-height: 30px !important;
            border-color: #cccccc !important;
        }

        .selector {
            height: 32px !important;
            border-left: none !important;
            border-color: #cccccc !important;
        }
    }

    .subscribe-text {
        p {
            font-family: $otherpage-font-family;
            @include size(margin-bottom, 0);
            @include size(line-height, 2.0);
        }

        p.regards {
            @include size(line-height, 1.6);
        }
    }

    .pwc {
        .six {

            > div {
                border-bottom: 1px dotted #cccccc;
                @include size(padding, 2, 0);
                font-family: $header-top-font-family;

                label {
                    display: inline-block;
                }
            }

            > div:last-of-type {
            }
        }
    }

    .select-all {
        @include size(padding, 2, 0, 1, 0);
        font-family: $header-top-font-family;

        label {
            display: inline-block;
        }
    }

    .note {
        margin-top: 10px;
        color: #555555;
        font-family: $otherpage-font-family;
    }
}

.unsubscribeemailwidth {
    width: 64% !important;
}

label.chkSubscribe-error, label.email-error, label.error {
    @include font_regular();
    @include size(font-size, 1.2);
    cursor: default;
    color: #e40000;
}

.subscribe-page {
    .subscribe-form {
        a.subscribe-btn {
            @include size( padding-left, 3.2);
            @include size(padding-right, 3.2);
        }
    }
}

.subscribe-form.custom2 {
    padding: 0;
}

form.subscribe-form.custom {
    padding-left: 0px;
}

@media #{$mobile} {
    .subscribe-page {
        h1 {
            @include size(font-size, 3.2);
            @include size(padding-top, 0.8);
            @include size(padding-bottom, 1.2);
            //@include size(margin-bottom, 1.2);
            font-weight: bold;
        }

        h5 {
            @include size(font-size, 2);
            padding-bottom: 14px;
        }

        .subscribe-content {
            li {

                div {
                    @include size(padding-bottom, 2.1);
                }
            }
        }

        .label-email {
            @include size(font-size, 2);
            @include size(margin, 0, 0, 0.3, 0);
        }

        #subscribe-email {
            @include size(margin, 0);
        }

        .subscribe-email, .subscribe-heading {
            @include size(padding-top, 2.2);

            label {
                font-size: 20px !important;
            }

            label.error {
                font-size: 12px !important;
            }
        }

        .subscribe-heading {
            @include size(margin-top, -3.5);
            @include size(padding-bottom, 1.6);
        }

        .subscribe-text {
            margin: 22px 0 0 0;

            p {
                @include size(font-size, 1.4);
            }

            p.regards {
                @include size(margin-top, 1.8);
            }
        }

        .subscribe-form {
            .six {
                .custom.dropdown ul {
                    width: 100% !important;
                }

                label {
                    &.mobile {
                        display: inline-block;
                    }

                    &.tablet-up {
                        display: none;
                    }
                }
            }

            label.chkSubscribe-error, label.email-error {
                display: inline;
                padding-left: 0;
                font-family: $header-top-font-family;
                @include size(font-size, 1.2);
                @include size(margin-top, 0.6);
                font-weight: normal;
            }
        }

        .subscribe-btn {
            @include size(margin, 2.4,0,0,0);


            button {
                visibility: hidden;
                @include size(height, 3.5);
                @include size(width, 19.2);
                @include size(font-size, 1.6);
                @include size(line-height, 3.2);
                /*@include size(margin-top, 2);*/
                font-weight: bold;
                text-align: center;
                /*margin: 6px auto;*/
            }
        }

        .btn-subscribe {
            @include size(margin, 0.5,0,0,0);
            @include size(padding-left, 3.2);
            @include size(padding-right, 3.2);

            button {
                visibility: hidden;
                @include size(height, 3.5);
                @include size(width, 19.2);
                @include size(font-size, 1.6);
                @include size(line-height, 3.2);
                /*@include size(margin-top, 2);*/
                font-weight: bold;
                text-align: center;
                /*margin: 6px auto;*/
            }
        }

        span.error {
            padding-left: 0px;
        }

        .pwc {
            div.six {
                input[type=checkbox] {
                    display: inline-block !important;
                }

                span.custom {
                    display: none !important;
                }
            }
        }
    }
}

@media #{$tablet} {
    .subscribe-form.custom2 {
        padding: 0;
    }

    .subscribe-page {
        h1 {
            @include size(font-size, 4.2);
            @include size(padding-top, 1.5);
            @include size(padding-bottom, 3.2);            
            font-family: Arial, sans-serif;
            font-weight: bold;
            line-height: 0.8;
        }

        h5 {
            @include size(font-size, 1.6);
            padding-bottom: 14px;
        }
        .subscribe-content {
            li {             

                div {                    
                    @include size(padding-bottom, 2.3);                    
                }
            }            
        }
        .label-email {
            @include size(font-size, 1.6);
            @include size(margin, 0.2, 0, 0.4, 0);
        }

        .note {
            @include size(margin-bottom, 2.4);
            line-height: 1.1;
        }

        .subscribe-text {
            margin: 30px 0 0 0;
            p {            
                @include size(font-size, 1.6);   
            }
            p.regards {
                @include size(margin-top, 2.8);         
            }
            .confirm-subscription-message {
                @include size(margin-top, 0);
            }
        }
        .subscribe-email {
            @include size(padding-top, 3.2);
        }
        .subscribe-heading {
            @include size(padding-top, 2.4);
            @include size(margin-top, 0);
            @include size(padding-bottom, 0.5);
         }
         .subscribe-email, .subscribe-heading {            

            label {
                font-size: 16px !important;
            }            
        }
        .subscribe-form {

            input[type=email] {
                display: block;
                width: 580px;
                height: 32px;
                margin: 0;
            }

            label.email-error, label.chkSubscribe-error {
                display: inline-block;
                font-weight: normal;
            }

            .subscribe-wrapper {
                width: 100%;

                .six {
                    width: 50% !important;
                    float: left !important;

                    label {
                        &.mobile {
                            display: none;
                        }

                        &.tablet-up {
                            display: inline-block;
                        }
                    }

                    input[type=checkbox] {
                        display: inline-block !important;
                    }

                    span.custom {
                        display: none !important;
                    }
                }
            }
        }

        .subscribe-button {
            padding: 0 10px; 
        }

        span.error {
            padding-left: 10px;
        }

        .pwc {
            div.six {
                > div {
                }

                > div:last-of-type {
                    border: none;
                }
            }
        }

        .select-all {
            border-top: 1px dotted #cccccc;
        }
    }

    .calculator {
        @include size(min-height, 56.7);

        .subscribe-form {
            input#fieldEmail {
                @include size(margin, 0, 0, 0.3, 0);
            }

            .subscribe-btn {
                @include size(margin, 0);
            }

            .subscribe-email {
                @include size(padding-bottom, 0);
            }
        }
    }
}

@media #{$desktop} {
    .subscribe-form {
        .custom2 {
            padding: 0;
        }
    }

    .subscribe-page {
         .subscribe-content {
            li {             

                div {                    
                    @include size(padding-bottom, 2.3);                    
                }
            }            
        }
         .subscribe-heading {}
        .subscribe-email {
            @include size(padding-top, 3.2);
            @include size(padding-bottom, 0.6);
            @include size(line-height, 2);
            @include size(margin-top, 0);
            input {
                display: block;
                @include size(width, 25);
            }

            span {
                display: block;
            }

            label {
                @include font_bold();
                font-size: 16px !important;
                //@include size(font-size, 1.6);
                cursor: default;
                line-height: 0.8;
                padding-bottom: 8px;
            }

            label.error {
                @include font_regular();
                @include size(font-size, 1.2);
                cursor: default;
                color: #e40000;
            }
        }
        .subscribe-text {
            p {            
                @include size(font-size, 1.6);   
            }
            p.regards {
                @include size(margin-top, 2.8);         
            }
        }
        .subscribe-form {

            a.subscribe-btn {
                @include size(padding-left, 3.2);
                @include size(padding-right, 3.2);
                @include size(margin-top, 2.4);
            }

            .subscribe-wrapper {
                width: 50%;
                min-width: 550px;

                .six {
                    width: 100% !important;
                    float: left !important;

                    input[type=checkbox] {
                        display: inline-block !important;
                    }

                    span.custom {
                        display: none !important;
                    }
                }
            }
        }
    }

    .no-category-subscription {
        @include size(min-height, 56.7);

        .subscribe-form {
            input#fieldEmail {
                @include size(margin, 0, 0, 0.3, 0);
            }

            .subscribe-btn {
                @include size(margin, 0);
            }

            .subscribe-email {
                @include size(padding-bottom, 0);
            }
        }
    }
    #subscribe-newsletter-popup .subscribe-wrapper .subscribe-input-wrapper form input {
        height: 3rem !important;
        width:191px;
    }

    #subscribe-newsletter-popup .subscribe-form {
        padding: 0px !important;
        margin-top: -10px !important;
        margin-right: -1px;
    }
 }

@media #{$desktop} {
    #subscribe-newsletter-popup {
        padding-top: 27px;
        padding-bottom: 5px;
        max-width: 375px !important;

        .popup.two-wide {
            /*width: 100%;*/
        }

        background-color: #DDB320;

        h3 {
            color: #ffffff;
            @include size(padding-bottom, 1.0);
            border-bottom: 1px dotted #ffffff;
            font-family: $ubuntu_bold;
            @include size(font-size, 3.2);
            @include size(margin-top, 0);
        }

        .custom-button {
            display: inline-block;
            @include size(height, 2.9);
            color: #ffffff !important;
            text-align: center;
            background-color: #000000;
            border-bottom: 1px solid #000000;
            border-right: 1px solid #000000;
            @include box-shadow(1px, 1px, 5px, 0px, #000000);
            vertical-align: middle;
            @include size(line-height, 3.0);
            font-family: $ubuntu_bold;
            @include size(font-size, 1.6);
        }

        .popup-close {
            color: #ffffff;
        }

        .subscribe-input {
            font-family: $ubuntu_regular;
            @include size(font-size, 1.4);
        }

        .subscribe-input {
            outline: none;
            display: inline-block !important;
        }

        .subscribe-form {
            @include size(margin-top, 1.4);
        }

        .subscribe-input-wrapper {
            padding-right: 3px !important;
        }

        i.icon-cross:hover {
            background: image-url("icons/cross.png") top no-repeat !important;
        }
    }

    .footer-content input#footer-subscribe-input
    {
        width:97%;
    }
    .subscribe-input-wrapper 
    {
        padding-top:15px;
    }
    .subscribe-button-wrapper {
        padding-top: 15px;
    }
  }


@media #{$tablet} {
    #subscribe-newsletter-popup {
        padding-top: 27px;
        padding-bottom: 5px;
        max-width: 375px !important;

        .popup.two-wide {
            /*width: 100%;*/
        }

        background-color: #DDB320;

        h3 {
            color: #ffffff;
            @include size(padding-bottom, 1.0);
            border-bottom: 1px dotted #ffffff;
            font-family: $ubuntu_bold;
            @include size(font-size, 3.2);
            @include size(margin-top, 0);
        }

        .custom-button {
            display: inline-block;
            @include size(height, 3.2);
            color: #ffffff !important;
            text-align: center;
            background-color: #000000;
            border-bottom: 1px solid #000000;
            border-right: 1px solid #000000;
            @include box-shadow(1px, 1px, 5px, 0px, #000000);
            vertical-align: middle;
            @include size(line-height, 3.0);
            font-family: $ubuntu_bold;
            @include size(font-size, 1.6);
        }

        .popup-close {
            color: #ffffff;
        }

        .subscribe-input {
            font-family: $ubuntu_regular;
            @include size(font-size, 1.4);
        }

        .subscribe-input {
            outline: none;
            display: inline-block !important;
        }

        .subscribe-form {
            @include size(margin-top, 1.4);
        }

        .subscribe-input-wrapper {
            @include size(padding-right, 0.8);
        }

        i.icon-cross:hover {
            background: image-url("icons/cross.png") top no-repeat !important;
        }
    }
}

@media #{$mobile} {
    #subscribe-newsletter-popup {
        padding-top: 27px;
        padding-bottom: 5px;
        max-width: 375px !important;

        .popup.two-wide {
            /*width: 100%;*/
        }

        background-color: #DDB320;

        h3 {
            color: #ffffff;
            @include size(padding-bottom, 1.0);
            border-bottom: 1px dotted #ffffff;
            font-family: $ubuntu_bold;
            @include size(font-size, 3.2);
            @include size(margin-top, 0);
        }

        .custom-button {
            display: inline-block;
            @include size(height, 2.9);
            color: #ffffff !important;
            text-align: center;
            background-color: #000000;
            border-bottom: 1px solid #000000;
            border-right: 1px solid #000000;
            @include box-shadow(1px, 1px, 5px, 0px, #000000);
            vertical-align: middle;
            @include size(line-height, 3.0);
            font-family: $ubuntu_bold;
            @include size(font-size, 1.6);
            @include size(padding, 0 , 1);
        }

        .popup-close {
            color: #ffffff;
        }

        .subscribe-input {
            font-family: $ubuntu_regular;
            @include size(font-size, 1.4);
        }

        .subscribe-input {
            outline: none;
            display: inline-block !important;
        }

        .subscribe-form {
            @include size(margin-top, 1.4);
        }

        .subscribe-input-wrapper {
            @include size(padding-right, 0.8);
        }

        i.icon-cross:hover {
            background: image-url("icons/cross.png") top no-repeat !important;
        }
    }
}

#subscribe-newsletter-popup {
    .subscribe-wrapper {
        display: table;

        .subscribe-input-wrapper {
            display: table-cell;
            padding-top: 1.5rem;
            /*width: 50%;*/
        }

        .subscribe-button-wrapper {
            width: 30%;
            padding-left: 0px;
            padding-top: 16px;
            padding-right: 0px;

            .subscribe-button {
                width: auto;
                min-width: 100px;
                //padding-left: 18px !important;
            }
        }

        .custom-button {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            /*@include apply-Desktop($map-footer,layout-subscribe-button-size);*/
            border-bottom: 0px;
            border-right: 0px;
            box-shadow: 0 0 0 0;
        }
    }
 }