﻿#threelevel_wrap {
    ul {
        list-style: none;
        position: relative;
        @include size(margin, 1.2,0,0,0);
        @include size(padding, 0);

        a {
            display: block;
            @include apply-Mobile($map-threelevelmenu,threelevelmenu-dd-active-font-style);

            i.icon {
                margin-bottom: 0px;

                icons-culture-dropdown-arrow {
                    @include size(margin-left,0.6);
                    @include size(margin-bottom,0.2);
                }
            }
        }

        li {
            position: relative;
            //float: left;
            @include size(padding, 0,0,0,0);            
            a.active {
                @include apply-Mobile($map-threelevelmenu,threelevelmenu-dd-active-font-size-color);
            }

            &:hover {
            }
        }

        li:hover > ul {
            z-index: 9999;
            display: block;
            width: 100%;
        }

        ul {
            display: none;
            position: absolute;
            z-index: 40;
            @include size(margin, 0,0,0,0);
            @include box-shadow(0px, 5px, 10px, 0px, rgba(50,50,50,0.5));
            overflow-y: auto;

            li {
                float: none;
                //width: 150px;
                white-space: nowrap;
                //@include size(padding, 2,0);
                @include apply-Mobile($map-threelevelmenu,threelevelmenu-dd-item-background);
                   
                 line-height:1.2;
                 font-size:1.2px;

                &:hover {
                    @include apply-Mobile($map-threelevelmenu,threelevelmenu-dd-item-background-hover);

                    a {
                        @include apply-Mobile($map-threelevelmenu,threelevelmenu-dd-item-text-color-hover);
                    }
                }

                a:hover {
                    @include apply-Mobile($map-threelevelmenu,threelevelmenu-dd-item-text-color-hover);
                }
            }

            a {
                @include apply-Mobile($map-threelevelmenu,threelevelmenu-dd-item-text-style);
                line-height:1.2;
                white-space: normal;
            }          
        }
    }
}

.threelevel-mobile-menu-filter {
    > ul.threeleveldd {

        @include apply-Mobile($map-threelevelmenu,threelevelmenu-dd-size-and-bottom-border);

        > li {
            //max-width: 268px;

            &:last-of-type {
                a {
                }
            }

            > a {
                position: relative;                
                i {
                    position: absolute;
                    right: 2rem;
                    top: 50%;
                    @include size( margin-top, -0.4);
                }
            }

            .active {
                @include apply-Mobile($map-threelevelmenu,threelevelmenu-dd-active-item);                
            }

            &.open {
                ul.category-threelevelmenu {
                    display: block;
                }
            }
        }
    }
}
