﻿$map-threelevelmenu:( base-properties:(
        base-font:'Arial,Helvetica,Verdana,sans-serif',       
        base-color:'#000000'        
    ),
    onDesktop:(
        
                                
    ),
    onTablet:(
         
    ),          
    onMobile:(
        threelevelmenu-dd-active-font-style:(   
                context:(css-path: '#threelevel_wrap ul a' ),
                properties:(                     
                font-style: (font-family: "&base-font"),  
                text-decoration: none
                )
        ),            
        threelevelmenu-dd-active-font-size-color:(
                context:(css-path: '#threelevel_wrap ul li a.active' ),
                properties:(
                size:(font-size:1.4,line-height: 1.4),
                color: #000000                              
                )
        ), 
        threelevelmenu-dd-item-text-style:(
                context:(css-path: '#threelevel_wrap ul ul a' ),
                properties:(
                size:(padding:(1.5, 2),font-size:1.2,line-height:1.2),                
                font-style: (style: regular, font-family: "&base-font"),
                color: #000000
                )
        ),  
        threelevelmenu-dd-size-and-bottom-border:(
                context:(css-path: '.threelevel-mobile-menu-filter ul.threeleveldd' ),
                properties:(
                border-bottom:1px solid #f1f1f1, 
		        width:auto,
                margin:0
                )
        ),
        threelevelmenu-dd-active-item:(
                context:(css-path: '.threelevel-mobile-menu-filter ul.threeleveldd li a' ),
                properties:(
                background-color: #f1f1f1,
                color: #000000,               
                border-bottom:1px solid #D4D4D3 ,
                font-style: (style: regular, font-family: "&base-font"),                                                                            		 
                size:(padding-left:(2.4),padding-top:(1.7),padding-bottom:(1.7),font-size:1.6,line-height:1.6 )                               
                )
            ),   
        threelevelmenu-dd-item-font-and-height:(
                context:(css-path: '.threelevel-mobile-menu-filter ul.threeleveldd li ul.category-threelevelmenu li a' ),
                properties:(                
		        size:(font-size:1.6,padding-top:1.7,padding-bottom:1.7,  line-height:1.6), 
                font-style: (style: regular, font-family: "&base-font")                
                )
            ), 
        threelevelmenu-dd-item-background:(
                context:(css-path: '.threelevel-mobile-menu-filter ul.threeleveldd li ul.category-threelevelmenu li' ),
                properties:(
                background-color: #fff       
                )
        ),
        threelevelmenu-dd-item-text-color-hover:(
                context:(css-path: '#threelevel_wrap ul ul li a:hover'),
                properties:(
                color:#ffffff
                )
        ),     
        threelevelmenu-dd-item-background-hover:(
                context:(css-path: '.threelevel-threelevel-mobile-menu-filter-filter ul.threeleveldd li ul.category-threelevelmenu , .threelevel-mobile-menu-filter ul.threeleveldd li ul.category-threelevelmenu li:hover' ),
                properties:(
                background-color:#000000                
                )
        ),
	    threelevelmenu-dd-item-color:(
                context:(css-path: '.threelevel-mobile-menu-filter ul.threeleveldd li ul.category-threelevelmenu li a' ),
                properties:(
                color:#000
                )
        ), 
        threelevelmenu-dd-item-color-hover:(
                context:(css-path: '.threelevel-mobile-menu-filter ul.threeleveldd li ul.category-threelevelmenu li:hover a' ),
                properties:(
                color:#ffffff
                )
        ),        
        threelevelmenu-dd-item-left-padding:(
                context:(css-path: '.threelevel-mobile-menu-filter ul.threeleveldd li ul.category-threelevelmenu li' ),
                properties:(                    
                size:(padding-left:4.8)		        
                )
	    )               
    )    
)


