
/*This is top bar*/
.topdown-menu-holder {
    //position: relative;
    .header-bottom {
        border-bottom: 0 none;

        .section-menu-header {
            &.menu-header {
                background-color: #393939;
                border-bottom: 0 none;

                @media #{$mobile} {
                    @include size(padding,2.6, 1.6,1.6,1.4);
                }
                @media #{$tablet} {
                    @include size(padding,1.6, 1.6,1.6,1.4);
                }
            }

            .category-menu {
                div {
                    @include size(width,32);
                    @include size(margin-top,0);
                    float: left;
                }

                h3 {
                    font-family: $header-top-font-family;
                    color: #fff;
                    i {
                        @include size(margin-right,1.0);
                        vertical-align: middle;
                    }
                }

                &.active {
                    h3 {
                        color: red;
                    }
                }
            }
        }

        /*@media #{$mobile} {
            .drop-accordian-menu#popup-topdown-menu {
                @include size(top, 9);
            }
        }

        @media #{$tablet} {
            .drop-accordian-menu#popup-topdown-menu {
                @include size(top, 13.6);
            }
        }*/
    }
}

/*This is for top down menu popup*/
.mobile-menu.topdown {
    width: 100%;
    border-right: 0 none;

    .topdown-menu-wrapper {
        .header-bottom {
            border-bottom: 0px;

            .drop-accordian-menu {
                background-color: #cccccc;
                width: 100% !important;
                @include size(padding,0);

                &.show {
                    display: block;
                }

                nav.section-menu {
                    ul.accordion {
                        border-bottom: 0px none;

                        li.level-1 {
                            @include size(padding, 0);
                            @include size(margin, 0, 1.6, 0, 1.6);
                            border-top: 0px;
                            background-color: #cccccc;

                            i {
                                @include size(margin-right,0.6);
                            }

                            a {
                                @include size(padding, 1.4, 0, 1.4, 0);
                                @include size(font-size, 1.6);
                                font-family: $header-top-font-family;
                                @include size(line-height,1.4);
                                color: #393939;
                                font-weight: normal;
                            }

                            &.active {
                                a {
                                    color: #ff0000;
                                    font-weight: normal;
                                }
                            }

                            &:first-of-type {
                                @include size(padding-top, 0);
                            }

                            &:last-of-type {
                                @media #{$mobile} {
                                    @include size(padding-bottom, 1.4);
                                    border-bottom: 1px solid #fff;
                                }
                                @media #{$tablet} {                                
                                    @include size(padding-bottom, 1.4);
                                    border-bottom: 0 none;
                                }
                            }

                            ul.inner.level-1 {
                                li {
                                    @include size(padding, 0, 1.6, 0, 2.8);
                                    background-color: #cccccc;

                                    a {
                                        @include size(padding, 1.4, 0, 1.4, 0);
                                        color: #393939;
                                        font-weight: normal;
                                    }

                                    &.active {
                                        a {
                                            color:#ff0000;
                                            font-weight: normal;
                                        }
                                    }
                                }
                            }

                            &.show {
                            }

                            //Second level menu
                            li.level-2 {
                                @include size(padding, 0);
                                @include size(margin, 0, 1.6, 0, 1.6);
                                border-top: 0px;
                                background-color: #cccccc;

                                i {
                                    @include size(margin-right,0.6);
                                }

                                a {
                                    @include size(padding, 1.4, 0, 1.4, 0);
                                    @include size(font-size, 1.6);
                                    font-family: $header-top-font-family;
                                    @include size(line-height,1.4);
                                    color: #393939;
                                    font-weight: normal;
                                }

                                &.no-children {
                                    @include size(margin, 0, 1.6, 0, 3.3);
                                }

                                &.active {
                                    a {
                                        color: #ff0000;
                                        font-weight: normal;
                                    }
                                }

                                &:first-of-type {
                                    @include size(padding-top, 0);
                                }

                                &:last-of-type {
                                    @media #{$mobile} {
                                        @include size(padding-bottom, 1.4);
                                        border-bottom: 1px solid #fff;
                                    }
                                    @media #{$tablet} {                                
                                        @include size(padding-bottom, 1.4);
                                        border-bottom: 0 none;
                                    }
                                }

                                ul.inner.level-2 {
                                    li {
                                        @include size(padding, 0, 1.6, 0, 2.8);
                                        background-color: #cccccc;

                                        a {
                                            @include size(padding, 1.4, 0, 1.4, 0);
                                            color: #393939;
                                            font-weight: normal;
                                        }

                                        &.active {
                                            a {
                                                color:#ff0000;
                                                font-weight: normal;
                                            }
                                        }
                                    }
                                }

                                &.show {
                                }

                                //Second level menu
                                li.level-3 {
                                    @include size(padding, 0);
                                    @include size(margin, 0, 1.6, 0, 1.6);
                                    border-top: 0px;
                                    background-color: #cccccc;

                                    i {
                                        @include size(margin-right,0.6);
                                    }

                                    a {
                                        @include size(padding, 1.4, 0, 1.4, 0);
                                        @include size(font-size, 1.6);
                                        font-family: $header-top-font-family;
                                        @include size(line-height,1.4);
                                        color: #393939;
                                        font-weight: normal;
                                    }

                                    &.active {
                                        a {
                                            color: #ff0000;
                                            font-weight: normal;
                                        }
                                    }

                                    &:first-of-type {
                                        @include size(padding-top, 0);
                                    }

                                    &:last-of-type {
                                        @media #{$mobile} {
                                            @include size(padding-bottom, 1.4);
                                            border-bottom: 1px solid #fff;
                                        }
                                        @media #{$tablet} {                                
                                            @include size(padding-bottom, 1.4);
                                            border-bottom: 0 none;
                                        }
                                    }

                                    ul.inner.level-3 {
                                        li {
                                            @include size(padding, 0, 1.6, 0, 2.8);
                                            background-color: #cccccc;

                                            a {
                                                @include size(padding, 1.4, 0, 1.4, 0);
                                                color: #393939;
                                                font-weight: normal;
                                            }

                                            &.active {
                                                a {
                                                    color:#ff0000;
                                                    font-weight: normal;
                                                }
                                            }
                                        }
                                    }

                                    &.show {
                                    }
                                }

                            }
                        }
                    }
                }
            }

            .inner {
                overflow: hidden;
                display: none;

                &.show {
                }
            }
        }
    }

    ul {
        &.mc {
            li.media-cart-drowdown {
                @include size(padding, 2.5, 1.6, 1.4, 1.6);
                text-align: center;
                background-color: #cccccc;

                a {
                    border-bottom: 0 none;
                    @include size(padding, 0);

                    span {
                        /*font-family: 'GeogrotesqueMedium';*/
                        color: #393939;
                    }
                }
            }

            li.download-queue {
                @include size(padding, 0.7, 1.6, 1.4, 1.6);
                text-align: center;
                background-color: #cccccc;

                a {
                    @include size(padding, 0);
                    border-bottom: 0 none;

                    span {
                        /*font-family: 'GeogrotesqueMedium';*/
                        color: #393939;
                    }
                }
            }
        }
    }

    div.search {
        background-color: #cccccc;
        border-bottom: 0 none;
        @include size(padding, 0.7, 1.6, 2.8, 1.6);

        .search-wrapper {
            @include size(width,20);
            @include size(padding,0);
            margin: 0 auto;
            @include size(height,3);

            .search-placeholder {
                display: inline;
                @include size(width,19);
                float: left;
                border-bottom-left-radius: 6px !important;
                border-top-left-radius: 6px !important;
                @include size(height,3);
                font-family: $header-top-font-family;
            }

            .search-btn {
                display: inline;
                @include size(width,3.6);
                float: left;
                border-bottom-left-radius: 0px !important;
                border-top-left-radius: 0px !important;
                border-bottom-right-radius: 6px !important;
                border-top-right-radius: 6px !important;
                border: 0 none;
                @include size(height,3);
                background: url("/Content/images/icons/topdown-search-icon-mobile.png") center center no-repeat#ff0000;
            }
        }
    }
}


.popup-bg.topdown-menu {
    @include opacity(0)
}

@media #{$mobile} {
      /*//**GP */
    .mobile-menu.topdown {      
        .tablet-down {
            .header-bottom {
                .drop-accordian-menu {
                    nav.section-menu {
                        ul.accordion {
                            li.tablet {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    } /*//**GP */
}

@media #{$tablet} {

    /*Hide desktop menu when topdown menu is set*/
    .header-full .header-mid .site-menu-wrapper{
        nav.site-menu {
               ul.menu.desktop {
                display:none;
            }
        }
    }

      /*//**GP */
    .mobile-menu.topdown {      
        .tablet-down {
            .header-bottom {
                .drop-accordian-menu {
                    nav.section-menu {
                        ul.accordion {
                            li.mobile {
                                display: none;
                            }
                            li.tablet {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }  /*//**GP */
}

@media #{$desktop} {
    .header-full .header-mid .site-menu-wrapper{
        nav.site-menu {
            ul.menu.desktop {
                display:block;
            }
        }
    }
}
