/* Global variables */
$html-background: #ffffff;
$html-color: #000000;
$body-background: #ffffff;
$body-color: #000000;

$ubuntu_bold: #{"ubuntu_bold, Arial, Helvetica, Serif"};
$ubuntu_italic: #{"ubuntu_italic, Arial, Helvetica, Serif"};
$ubuntu_light: #{"ubuntu_light, Arial, Helvetica, Serif"};
$ubuntu_medium: #{"ubuntu_medium, Arial, Helvetica, Serif"};
$ubuntu_regular: #{"ubuntu_regular, Arial, Helvetica, Serif"};


$see-all-color: #000000;

/* Log-Reg Variables */
$Error-color: #d00000;
$black-color: #000000;
$category-color-hover: #1d94da;

/* Header variables */
//$header-top: #ffffff; //old - #ffffff; // new - #282828
$header-top-font-color: #000000; // new - #ffffff
//$header-background-color: #ffffff; // new - #282828
$header-top-menu: #000000; //old - #000000; //new - #ffffff;
$header-top-font-family: Arial,Helvetica,Verdana,sans-serif; //'gatorade-black';
$header-top-menu-font-family: Times new roman; //'plexespro-medium';
//In map
//$header-promo-panel-desc-size: 1.4; //1.7;
$header-promo-panel-menu-size: 1.4; // 1.7;
$header-line-color: #555555; //old - #555555; // new - #ffffff;
$header-top-space-heading: 30px;

//In map
//$header-promo-panel-submenu-size: 1.2; // 1.7;
//$header-promo-panel-readmore-size: 1.6; //1.7;
//$mobile-menu-font-weight: normal; //new - bold; old - normal
//$mobile-menu-font-size: 1.6;

//$mobile-page-title-size: 3.2;
//$mobile-asset-title-size: 2;
//$mobile-contact-about-font-size: 2.8;
$mobile-media-cart-image: "/Content/images/icons/media-cart-mobile.png";
$mobile-download-image: "/Content/images/icons/download-mobile.png";
$mobile-contacts-image: "/Content/images/icons/contact-header-mobile.png";
$top-media-cart-image: null;
$top-download-image: null;
$top-contacts-image: null;
//In map
//$rotator-title-size: 4;

$page-title-size: 4.2;
//$detailpage-title-size: 3.2;
$menu-font-weight: normal; // new - bold;  old - normal;
//$otherpage-title-size: 4.8;
//In map
//$otherpage-subtitle-size: 2.4;
//$otherpage-font-family: Arial,Helvetica,Verdana,sans-serif;

$header-top-menu-hover: #000000;
/*$newsroom-label: #000000;*/
//In map
//$header-mid-background: #ffffff; //old - #ffffff; // new  - #f47d30
//$site-menu-wrapper-background: #ffffff; //old - #ffffff; //new - #f47d30

$section-color: #000000; //new - #ffffff; old - #000000;
//$section-color-active: #000000; //new - #ffffff; old - #000000;
//$section-color-hover: #000000; //new - #ffffff; old - #000000;

//In map
//$category-menu-background: #aaaaaa; //old- #ffffff; new - #282828
//$category-menu-background-active: #000000; //old - #000000; //new - #f47d30;
//not in use
//$category-submenu-forecolor: blue; //old - #000000; //new - #ffffff;
//$category-menu-forecolor: #000000; //new - #ffffff
$category-menu-max-height: 500px;

//$category-color: #000000;
//$category-color-active: #000000;
//$category-color-hover: #ffffff;

/* mobile-menu */
$mobile-menu-bg: #f1f1f1;
$search-btn-bg: #f8f8f8;
//In map
//$mobile-menu-category-color: #000000; //new - #ffffff; old - #000000;
$mobile-menu-category-bg: #000000; //new - #f47d30;  old - #000000;

//$mobile-menu-search-bg: #FFFFFF;

$mobile-menu-category-border-color: #d4d4d3;
//$mobile-menu-subcategory-bg: #ffffff; //new - #282828; old - #ffffff;
//$mobile-menu-subcategory-hover-bg: #000000; //new - #f47d30; old - #000000;
$mobile-menu-subcategory-hover-color: #ffffff; //Done

/* Search */
//$search-input: red;
$refine-by-color: #cccccc;
$search-panel-filter-category-color: #000000;
$search-panel-background: #f1f1f1;
$search-panel-active-item-background: #000000;
$search-panel-active-item-color: #ffffff;
$search-panel-item-color: #000000;
//in map
$search-count-result-color: #cccccc;
//$search-page-input-color: #000000;
$search-checked-filter-item-color: #ffffff;
$search-checked-filter-item-background: #000000;

/* Rotator */
//In map
//$rotator-title-color: #010101; //old - #010101; new - #231f20
//$rotator-description-color: #000000; //old - #000000; new - #231f20;
//$rotator-read-more-color: #000000; //old - #000000; new - #231f20;
//In map
//$rotator-circle-color: #aaaaaa; //old - #aaaaaa; new - #282828;
//$rotator-circle-active-color: #000000; //old - #000000; new - #f47d30

//Extra defined for rotator background
//In map
//$rotator-background-color: #ffffff; //new - #B1B0B1; Default - #ffffff
/* About this newsroom */
//$about-this-newsroom-title-color: #000000;

/* Contact */
//In map
//$contact-us-title-color: #000000;
$contact-name-color: #000000;
$contact-name-hover: #000000;
$contact-detail-color: #000000;

/* Footer */
//$footer-background: #ffffff;
//$powered-newsmarket-background: #f1f1f1; //old - #f1f1f1; new - #282828;
//$footer-link-color: #000000;
//$footer-link-hover-color: #000000;
//$copyright-color: #000000;

/* AMP */
$amp-background: #ffffff;
$amp-popup-background: #ffffff;
$amp-side-button-text-color: #000000;

/* Tag */
//$tag-background: #000000; //new - #f47d30;  old - #000000;
//$tag-color: #ffffff;

/* Story Detail */
$top-tool-button-color: #000000;
$top-tool-paging: #000000;
$media-tool-button-background: #fafafa;
$media-tool-button-color: #000000;
$related-link-fb-hover-background: #3b5998;
$related-link-tw-hover-background: #00aced;
$related-link-yt-hover-background: #ff3333;
$related-link-hover-background: #000000;
$related-link-gplus-hover-background: #dd4b38;
$related-link-pint-hover-background: #cc2127;
$related-link-inst-hover-background: #3f6d94;
$related-link-flickr-hover-background: #1e75ce;
$related-link-tumblr-hover-background: #436077;
$related-link-eshop-hover-background: #ffae00;
//$related-link-doc-hover-background: #000000;
//$related-link-hover-color: #ffffff;
$story-sharing-background: #ffffff;
// in map
//$see-more-button-color: #000000; //new - #f47d30;  old - #000000;
/* lookbook */
$lookbook-date-background: #484848;
$lookbook-date-color: #ffffff;

/* Home Listing */
/* Listing pages */
$listing-title-color: #000000;
$listing-item-title-color: #000000;
$listing-news-footer-date-color: #aaaaaa;
$listing-news-footer-number-color: #aaaaaa;
$category-description-color: #676767;
// in map
$listing-see-all-color: #000000; //new - #f47d30;  old - #000000;
$listing-img-container-shadow: rgba(0,0,0, 0.1);
$listing-img-container-shadow-hover: rgba(0,0,0, 0.3);
$listing-event-date-color: #aaaaaa;
$listing-event-country-color: #aaaaaa;

/* Filters */
$filters-color: #000000;
$filters-hover-color: #000000;
$filters-active-color: #000000;

//In Map
/* Pagination */
//$pagination-color: #000000;

/* Cookies page */
$cookies-page-item-title-background: #000000;
$cookies-page-item-description-background: #ebebeb;

/* Cookies message */
//$cookies-message-background: #000000;
//$cookies-on-message-color: #ffffff;
//$cookies-site-message-color: #ffffff;
//$cookies-policy-message-color: #ffffff;
//$read-cookies-policy-message-color: #ffffff;
//$cookies-ok-button-color: #ffffff;

/* Popup */
$copy-popup-title-color: #000000;
$more-info-popup-title-color: #000000;
$asset-share-popup-title-color: #000000;
$popup-bg-color: #ffffff;
$popup-shadow-color: #333333;
$preview-popup-background: #000000;
$preview-popup-title-color: #ffffff;
$preview-popup-description-color: #ffffff;
$preview-popup-button-background: #ffffff;
$preview-popup-button-color: #000000;


/* mediacart */
$mediacart-button-bg: #000000;
$mediacart-button-color: #ffffff;

/* Custome button */
/*$custom-button-color: #000000;
$custom-button-background: #e9e9e9;
$custom-button-hover-color: #ffffff;
$custom-button-hover-background: #000000;*/

$black: #000000;
$gray: #333333;
$darkgray: #555555;
$lightgray: #d4d4d4;

$mobile-screen: 0px;
$mobile-screen-max: 640px;
$tablet-screen: 601px;
$tablet-screen-max: 768px;
$desktop-screen: 769px;
$desktop-large-screen: 1200px;

/* contacts */
$contacts-border-color: #cccccc;

/* mediacart */
$empty-cart-header: #dadada;
$how-to-use-media-cart-color: #000000;

/* rss */
$rss-title-color: #000000;

/* Tag search */
/*$tag-search-item-background: #000000;
$tag-search-item-color: #ffffff;*/

/* Error page*/
$error-title-color: #000000;
$error-text-color: #000000;

/* Commmon search elements */
$search-filter-item-color: #828282;
$search-active-filter-item-color: #000000;
$search-filter-item-separator-color: #cccccc;
$search-result-item-title-color: #000000;
$search-result-item-description-color: #000000;
$search-result-item-date-color: #aaaaaa;
$search-result-item-category-color: #aaaaaa;

/* Detail pages */
$detail-panel-title-color: #cccccc;
$asset-details-title-color: #000000;
$asset-details-description-color: #000000;

/*LOGREG*/
$logreg-layer-header-color: #000000;
$logreg-layer-text-color: #000000;

$screen: "only screen";
$mobile: "only screen and (min-width: #{$mobile-screen}), (min-device-width: 320px) and (max-device-width: 641px) and (-webkit-device-pixel-ratio: 2) and (orientation : landscape)";
$mobile-max: "only screen and (max-width: #{$mobile-screen-max})";

$tablet: "only screen and (min-width: #{$tablet-screen}) and (-webkit-max-device-pixel-ratio: 1),          only screen and (min-width: #{$tablet-screen}),          only screen and (min-width: #{$tablet-screen-max}),          (min-width: #{$tablet-screen}) and (orientation : landscape) and (-webkit-max-device-pixel-ratio: 1.4),          (min-device-width : 600px) and (max-device-width : 966px) and (-webkit-max-device-pixel-ratio: 1.4) and (orientation : portrait),          (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-device-pixel-ratio: 2)";
$tablet-max: "only screen and (max-width: #{$tablet-screen-max})";
$desktop: "only screen and (min-width: #{$desktop-screen})";
$desktop-970: "only screen and (min-width : 970px)";
$desktop-1200: "only screen and (min-width: #{$desktop-large-screen})";

$nexus: "(min-device-width : 600px) and (max-device-width : 966px) and (-webkit-min-device-pixel-ratio: 1.3) and (-webkit-max-device-pixel-ratio: 1.5) and (orientation : portrait)";
$ipad: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-device-pixel-ratio: 1)";
$print: "print";

$testcolor: blue;

$otherpage-title-size:4.8;
$otherpage-subtitle-size:2.4;
$otherpage-font-family:Arial,Helvetica,Verdana,sans-serif;


@function strip-unit($num: 10) {
    @return $num / ($num * 0 + 1);
}

@mixin size-list($property, $values) {
    //@debug type-of($values);
    $max: length($values);
    $pxValues: '';
    $remValues: '';

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $pxValues: #{$pxValues + $value*10}px;

        @if $i < $max {
            $pxValues: #{$pxValues + " "};
        }
    }

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $remValues: #{$remValues + $value}rem;

        @if $i < $max {
            $remValues: #{$remValues + " "};
        }
    }

    #{$property}: $pxValues;
    #{$property}: $remValues;
}

@mixin size($property, $values...) {
    $max: length($values);
    $pxValues: '';
    $remValues: '';

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $pxValues: #{$pxValues + $value*10}px;

        @if $i < $max {
            $pxValues: #{$pxValues + " "};
        }
    }

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $remValues: #{$remValues + $value}rem;

        @if $i < $max {
            $remValues: #{$remValues + " "};
        }
    }

    #{$property}: $pxValues;
    #{$property}: $remValues;
}

%secondary-heading {
    font-size: scut-em(16px);
    font-weight: 700;
    line-height: scut-em(22px, 16px);
}

@mixin changewidth {
    @extend %secondary-heading;
}

@mixin color-style($base-map,$property, $values) {
    #{$property}: $testcolor;
}

@mixin font-style($base-map,$property, $values) {

    $setvalue: '';

    @if map-has-key(map-get($base-map, "base-properties"), "base-font") {
        $setvalue: map-get(map-get($base-map, "base-properties"), "base-font");
    }

    @if $property==font-family {
        @include font-check($base-map,$property, $values)
    }
    @elseif $property == style {
        @if $setvalue!= '' {
            @if $values == semi_bold {
                @include font_semi_bold($setvalue);
            }
            @elseif $values == bold {
                @include font_bold($setvalue);
            }
            @elseif $values == regular {
                @include font_regular($setvalue);
            }
        }
        @else {
            @if $values == semi_bold {
                @include font_semi_bold();
            }
            @elseif $values == bold {
                @include font_bold();
            }
            @elseif $values == regular {
                @include font_regular();
            }
        }
    }
    @else {
        #{$property}: $values;
    }
}

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@mixin font-check1($base-map,$property,$values,$base-value) {
    $setvalue: '';

    @if map-has-key(map-get($base-map, "base-properties"), str-replace($base-value, '&', '')) {
        $setvalue: map-get(map-get($base-map, "base-properties"), str-replace($base-value, '&', ''));
    }

    @debug $values;
    @debug $setvalue;

    @if $values!=$setvalue {
        @if $values!= $base-value {
            $setvalue: $values;
        }
    }

    #{$property}: unquote($setvalue);
}

@mixin font-check($base-map,$property,$values) {
    $setvalue: '';

    @if map-has-key(map-get($base-map, "base-properties"), "base-font") {
        $setvalue: map-get(map-get($base-map, "base-properties"), "base-font");
    }

    @if $values!=$setvalue {
        @if $values!="&base-font" {
            $setvalue: $values;
        }
    }

    #{$property}: unquote($setvalue);
}

@mixin box-shadow($top, $left, $blur, $color, $inset: "") {
    -webkit-box-shadow: $top $left $blur $color #{$inset};
    -moz-box-shadow: $top $left $blur $color #{$inset};
    box-shadow: $top $left $blur $color #{$inset};
}


@mixin opacity($number) {
    $calculatedNumber: $number * 100;
    filter: alpha(opacity=$calculatedNumber);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$calculatedNumber})";
    -moz-opacity: $number;
    -khtml-opacity: $number;
    opacity: $number;
}


@function map-deep-get($map, $keys...) {
    //  @debug type-of($keys);
    $value: $map;

    @each $key in $keys {
        $value: map-get($value, $key);
    }

    @return $value;
}

@function set-styles1($property) {
    @debug $property;
    @return $property;
}

@mixin set-styles($property) {
    $target-map: map-deep-get($map-common-style, $property);
    @debug $target-map;
    @include apply-Map($map-common-style,$target-map);
}

@mixin apply-Mobile($key, $property) {
    @include apply($key,onMobile,$property);
}

@mixin apply-Desktop($key, $property) {
    @include apply($key,onDesktop,$property);
}

@mixin apply-Tablet($key, $property) {
    @include apply($key,onTablet,$property);
}

@mixin apply($key,$platform, $property) {
    $target-map: map-deep-get($key,$platform, $property, properties);
    @include apply-Map($key,$target-map);
}

@mixin applySizeList($size-map) {
    @each $property, $value in $size-map {
        @include size-list($property, $value)
    }
}

@mixin applyFontList($base-map,$font-map) {
    @each $property, $value in $font-map {
        @include font-style($base-map,$property, $value)
    }
}

@mixin applyColorList($base-map,$color-map) {
    @each $property, $value in $color-map {
        @include color-style($base-map,$property, $value)
    }
}

@mixin apply-Map($base-map,$declarations) {
    @each $property, $value in $declarations {
        // @debug $value;
        @if $property == size {
            @include applySizeList($value)
        }
        @else if $property == font-style {
            @include applyFontList($base-map,$value)
        }
        @else if nth($value, 1) == "#ref-map" {
            $checkvalue: nth($value, 2);
            /*@debug nth($checkvalue, 2);*/
            $map-value: map-deep-get($map-common-style,onDesktop, nth($checkvalue, 1),properties,nth($checkvalue, 2));
            /*@debug $target-map;*/
            #{$property}: $map-value;
            //@include apply($map-common-style,onDesktop,nth($checkvalue, 1));
            //@include set-styles(nth($checkvalue, 1));
            //@include apply-Desktop($map-common-style,nth($value, 2));
        }
        @else if $property == color-style {
            @include applyColorList($base-map,$value)
        }
        @else if $property == opacity {
            @include opacity($value)
        }
        /*@else if $property == setothervalues{          
         set-styles($value)
      }*/
        @else {
            #{$property}: $value;
        }
    }
}

@function slice($list, $start: 1, $end: length($list)) {
    $result: null;

    @if type-of($start) != number or type-of($end) != number {
        @warn "Either $start or $end are not a number for `slice`.";
    }

    @else if $start > $end {
        @warn "The start index has to be lesser than or equals to the end index for `slice`.";
    }

    @else if $start < 1 or $end < 1 {
        @warn "List indexes must be non-zero integers for `slice`.";
    }

    @else if $start > length($list) {
        @warn "List index is #{$start} but list is only #{length($list)} item long for `slice`.";
    }

    @else if $end > length($list) {
        @warn "List index is #{$end} but list is only #{length($list)} item long for `slice`.";
    }

    @else {
        $result: ();

        @for $i from $start through $end {
            $result: append($result, nth($list, $i));
        }
    }

    @return $result;
}

@import "mc-config";
