@import "variables";

header, nav, section, article, aside, footer, hgroup { 
display: block;
}

.story-text, div.asset-description, div.asset-shotlist, div.asset-usagerights {
	.see-more {
		display: none;
	}
}
 
#home-rotator {
	.four.columns {
		h2 a, p a {
			color: #333333!important;
		}
	}
	> .slider-item.first {
		display: block;
	}
	> .slider-item{
		display: none;
	}
}

nav.section-menu {
	ul {
		li {
			list-style: none;
			list-style-image: none;
		}
		li.active {
			list-style: none;
			list-style-image: none;
		}
	}
}

.questions {
	.six.columns:first-child {
		border-top: none;
	}
}

.close-reveal-modal {
position: absolute;
}
img {
	max-width: none!important;
}
.slider-item {
	.eight {
		img {
			max-width: 100%!important;
		}
	}
}

.no-left-border {
	border-left: none!important;
}
.no-right-border {
	border-right: none!important;
}
.separator-footer-menu {
	border-right:none;
}
.lt-ie9 {
	footer UL.social-buttons {
		li {
			display: inline-block;
		}
	}
}
.lt-ie9{
	.download-all{
		display :none !important;
	}
}
.lt-ie9 {
	.header-mid {
		.site-menu-wrapper {
			nav.site-menu {
				> ul {
					> li {
						li {
							list-style: none;
						}

					}
				}
			}
		}
	}
}

img.transparent {
	display: inline-block;
}
img.normal {
	display: none;
}

.home {
	.img-item {
		.image-wrapper {
			.hover-icons {
				.col1:hover {
					img.transparent {
						display: none;
					}
					img.normal {
						display: inline-block;
					}
				}
			}
		}
	}
}

@media #{$mobile} {
	.landing-pages, .detail-pages, .mediacart {
		.img-item {
			.image-wrapper {
				.hover-icons {
					.col3:hover {
						img.transparent {
							display: none;
						}
						img.normal {
							display: inline-block;
						}
					}
					.info-icon, .download-icon {
						visibility: hidden;
					}
				}
			}
		}
	}
	.detail-pages {
		.detail-content {
			.more-from {
				ul {
					li {
						a {
							 p {
								height: 85px;
							 }
						}
					}
				}
			}
			.related {
				ul {
					li {
						a {
							span {
								display: inline;
							}
						}
					}
				}
			}
		}
	}
}

.detail-pages {
	.detail-content {
		.related {
			ul {
				li {
					a {
						span {
							display: table-cell;
						}
						.related-doc-icon {
							display: table-cell;
						}
					}
				}
			}
		}
	}
}
.images-videos-items .img-item .grid-item-text {
	padding: 0;
}

@media #{$desktop} {
	.landing-pages, .detail-pages, .mediacart, .home {
		.img-item {
			.image-wrapper {
				.hover-icons {
					.info-icon, .download-icon, .media-icon {
						visibility: hidden;
					}
				}
				&:hover {
					.info-icon, .download-icon, .media-icon {
						visibility: visible;
					}
				}
			}
		}
	}
	.detail-pages {
		.detail-content {
			.more-from {
				ul {
					li {
						a {
							 p {
								height: 95px;
							 }
						}
					}
				}
			}
		}
	}
}

@media #{$tablet} {
    .lt-ie9 .rsNav { 
        padding: 0;
        }
    }

.lt-ie9 .images-videos-items li {
	.img-item {
		.image-wrapper > a > img,
		&:hover .image-wrapper > a > img {
			filter: none;
			top: 0px;
			left: 0px;
			zoom: 1;
		}
		.image-wrapper {
			.col1 , .col3{
				display: block;
				position: relative;
				a {
					margin-top: -30px;
					width: 100%;
					position: absolute;
					left: 0;
					top: 50%;
				}
			}
			.col1 {
				a {
					text-align: center;
				}
			}
			.hover-icons {
				.col3 {
					width: 33%;
					&.glass-icon {
					}
					a {
						img.transparent {
							display: inline-block;
						}
						img.normal {
							display: none;
						}
						&:hover {
							img.normal {
								display: inline-block;
							}
							img.transparent {
								display: none;
							}
						}
					}
				}
			}			
		}
	}

}

.lt-ie9 {
	.mediacart {
		.images-videos-items li {
			.image-wrapper {
				.hover-icons {
					.glass-icon, .play-icon {
						width: 33%;
						text-align: center;
					}
					.delete-icon {
						width: 0%;
						display: none;
						text-align: left;
					}
					&.img-type {
						.play-icon {
							display: none;
						}
					}
					&.video-type {
						.glass-icon {
							display: none;
						}
					}
				}
				&:hover {
					.hover-icons {
						.glass-icon, .play-icon, .delete-icon {
							width: 33%;
							display: block;
						}
						&.img-type {
							.play-icon {
								display: none;
							}
						}
						&.video-type, &.audio-type{
							.glass-icon {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

.images-videos-items {
	li {
		.img-item {
			.image-wrapper {
				> a > img {
					width: 100%;
				}
			}
		}
	}
}

.cart-empty {
	.how-to-use {
		#mediaCartSlider .slider-item {
			width: auto;
			.left {
				width: 50%;
				.dot {
					background: image-url("/Content/images/elipce-black.png") no-repeat;
					left: 32px;
					top: 40px;
				}
			}
		}
		.caption-wrapper {
			.caption {
				width: 60%!important;
			}
			.nav {
				.rsArrowLeft, .rsArrowRight {
					display: block!important;
					float: left;
				}
				.rsArrowLeft {
					margin-left: 0;
				}
				.rsArrowRight {
					margin-right: 0;
				}
				.rsBullets {
					display: block;
					float: left;
					.rsBullet {
						background: image-url("/Content/images/elipce-gray.png");
						display: block;
						float: left;
						&.rsNavSelected {
							background: image-url("/Content/images/elipce-black-small.png");
						}
					}
				}
			}
		}
	}
}
.contact-listing {
	.contact-select {
		width: 23%;
	}
	.block-grid {
		li {
			&.contact-item {
				@include size(padding, 2, 1.2, 0, 1.2);
				.contacts-content {				
					@include size(padding-bottom, 4);
					border-bottom:	1px dotted $contacts-border-color;						
				}
			}			
			&:nth-child(3n+1) {
				clear: none;
			}
		}
	}
}
#contact-inquiry-popup {
	.contact-info {
		.name, .email, .position, .phone, .address {
			@include size(margin-bottom, 1);
		}
	}
}

#expired-media-cart-popup {
	.block-grid.three-up {
		li {
			img {
				width: 100%;
			}
		}
	}
}

.filters, .send-wrapper {
	.download {
		i {
			margin-left: 16px;
		}
	}
}

#download-format-options-popup{
	.download {
		display: block;
		width: 100%;
	}
}

.amp.story-amp {
	.top-tools {
		.download-all {
			i.icons-download-dark {
				display: none;
			}
		}
	}
}

#SendToEmails {
	color: #a9a9a9;
}

.search-results {
	.search-item {
		.search-img {
			img {
				width: 62px;
			}
		}
	}
}

.lt-ie9 {
	.media-cart-drowdown {
		border-left: none!important;
	}
	.SearchForm {
		.mediacart-tip {
			width: 653px;
		}
	}	
}

.breadcrumbs-wrapper {
	padding-top: 32px;
	.breadcrumbs {
		display: inline;
	}
	.rss-btn-wrapper {
		display: inline;
		bottom: 0!important;
	}
}
.mediacart-tip,
.detail-pages .detail-panel .mediacart-tip {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"!important;
}

