@import "variables";

/*	Sections:
*
*	HEADER
*	CULTURE SELECTION
*	MENU
*	SEARCH
*	ROTATOR
*	LISTS GRID
*	AMP
*	DETAIL PAGES
*	COMMON
*	CUSTOM PAGES
*	MEDIA CART
*
*/

/************
*
* HEADER
*
************/
.logo {
	width: 273px;
	.tablet-up {
	}
}
.header-mid {
	z-index: 100;
}
.header-mid > .row {
	position: relative;
}
.borders {
	overflow: hidden;
}
.header-mid .site-menu-wrapper {
	float: left;
	nav.site-menu > ul {
		display: block!important;
		> li {
			display: block!important;
			float: left;
			padding: 10px 48px 10px 0!important;
			a {
				line-height: 20px!important;
				i {
					top: -3px;
					left: 5px;
				}
			}
			&.last {
				padding-right: 0;
			}
			ul.category-menu {
				top: 35px;
				left: 0;
			}
		}
	}
}


/************
*
* CULTURE SELECTION
*
************/

.cultures-wrapper {
	.six.columns {
		width: 46%;
	}
}
.language-popup .global I.icons-see_all_arrow {
	top: 0;
	vertical-align: top;
}

/************
*
* MENU
*
************/

/************
*
* SEARCH
*
************/

.header-mid .search .btn-search {
	top: 8px!important;
}

.lt-ie9 {
	.gsc-search-box {
		tr {
			td.gsc-input-active {
				width: 95%;
				input {
					height: auto;
				}
			}
			td.gsc-search-button {
				width: 5%;
				position: relative;
				right: -15px;
				top: 14px;
			}
		}
	}
}

.results-count {
	height: 40px;
}

.gsc-option-menu-invisible, .gsc-option-menu {
	.gsc-option-menu-item {
		display: block;
		float: left;
		padding-bottom: 10px;
	}
}	

.gs-webResult-custom {
	> table {
		tr {
			td {
				@include size(padding, 3.2, 1);
				&.first-type {
					img {
						width: 60px;
					}
				}
			}	
		}	
	}
}

.gsc-cursor {
	text-align: center;
    @include size(margin-top, 3.2);
	.gsc-cursor-page {
		display: inline;
	}
}

.gcsc-branding {
	clear: both;
}

/************
*
* ROTATOR
*
************/

#home-rotator .slider-item .row {
	.four.columns {
		padding: 0 0 0 2.5%;
		width: 33.56% !important;

		.slide-text h2 {
			min-height: 20px;
			overflow: hidden;

			a {
				display: block;
			}
		}
	}
	.eight.columns {
		padding: 0 2.5 0 0;
		width: 56.44% !important;

		img {
			height: 360px;
		}
	}
}



/************
*
* LISTS GRID
*
************/


.lt-ie8 .detail-pages .detail-content .detail-content-wpapper .six,
.lt-ie8 .detail-pages .detail-content .detail-asset.detail-content-wpapper .six {
	padding: 0;
	width: 48% !important;

	&:first-child {
		padding-left: 1.3%;
		padding-right: 2%;
		.text-header {
			width: 100%;
		}
	}
}

.detail-pages .detail-content .press-release ul li a p.title {
	height: auto;
}

.latest-news, .products, .showcasecategorylisting {
	.four-up.block-grid {
		margin-right: -1.5% !important;
		margin-left: -1.5% !important;

		& > li {
			padding-left: 1.5%;
			padding-right: 1.5%;
			width: 22%;
		}
	}
}

.columns {
	.products-items .product-item, .showcasecategorylistings-item .showcasecategorylisting-item,
	.latest-news-items .news-item,
	.lookbooks-items .lookbook-item {
		// border: 1px solid #EFEFEF;
		width: 100%;

		img.desktop {
			width: 100%;
		}
	}
}
.images-videos .four-up.block-grid {
		margin-right: -1.5% !important;
		margin-left: -1.5% !important;

	& > li {
		padding-left: 1.5%;
		padding-right: 1.5%;
		width: 22%;
	}
}

.lookbooks{
	.three-up.block-grid {
		margin-right: -1.5% !important;
		margin-left: -1.5% !important;

		& > li {
			padding-left: 1.5%;
			padding-right: 1.5%;
			width: 30%;
		}
	}
}

.athletes-ambassadors{
	.six-up.block-grid {
		margin-right: -1.5% !important;
		margin-left: -1.5% !important;

		& > li {
			padding-left: 1.5%;
			padding-right: 1.5%;
			width: 13%;
		}
	}
}
.global-news {
	ul {
		li {
			img {
				width: 100%;
			}
		}
	}
}

.landing-pages, .mediacart {
	.three-up.block-grid {
		margin-right: -1.5% !important;
		margin-left: -1.5% !important;

		& > li {
			padding-left: 1.5%;
			padding-right: 1.5%;
			width: 30%;
		}
	}
	.four-up.block-grid {
		margin-right: -1.5% !important;
		margin-left: -1.5% !important;

		& > li {
			padding-left: 1.5%;
			padding-right: 1.5%;
			width: 22%;
			min-height: auto;
		}
	}
	.six-up.block-grid {
		margin-right: -1.5% !important;
		margin-left: -1.5% !important;

		& > li {
			padding-left: 1.5%;
			padding-right: 1.5%;
			width: 13%;
		}
	}
}

/************
*
* AMP
*
************/

#rss-popup {
	input {
		display: block;
		float: left;
	}
}

.amp {
	.amp-popup-wrapper,
	.amp-inner-content-wrap {
		behavior: url(Content/css/display-table.min.htc);
		background: none;
		border: none;
		-dt-display: table-row;

		.content {
			width: 100%;
		}
		.download-buttons, .share-buttons {
			-dt-display: table-cell;
		}
		.download-buttons-mobile {
			-dt-display: table;	
		}
	}
}
.images-videos-detail-page {
	.amp-wrapper{
		.amp {
			padding-bottom: 0px!important;
			&.detail-amp {
				min-height: 388px;
			} 
		}
	}
} 




/************
*
* DETAIL PAGES
*
************/

.detail-pages .detail-content .detail-panel ul li {
	.lang {
		float: left;
		padding-right: 0;
	}
	a {
		display: block;

		.title {
			height: auto;
		}		
	}
}
.detail-pages .detail-content {
	.related {
		ul {
			line-height: 1.92;
			li {
				margin: 8px 0 9px 0; 
			}
		}
	}
}

.media.detail-panel {
	.images-videos-items.two-up {
		>li {
			width: 45%;
		}
	}
}

 .received .six {
	width: 47%!important;
}

.received {
	.images-videos-items.two-up {
		>li {
			width: 45%;
		}
	}
}

.more-from.detail-panel {
	.three-up.block-grid {
		margin-right: 0 !important;
		margin-left: 0 !important;

		& > li {
			padding-left: 1.5%;
			padding-right: 1.5%;
			width: 30%;
		}
	}
}

.tags.detail-panel {
	div.tag {
		display: block;
		float: left;
	} 
	overflow: hidden;
}
.detail-pages {
	.detail-content {
		.more-from {
			ul {
				li {
					a {
						p {
							height: 50px!important;
						}
					}
				}
			}
		}
	}
}

.contacts.detail-panel {
	ul li {
		width: 45%!important;
	}
}


/************
*
* COMMON
*
************/
.simple-body {
	height: 70%;
}

html {
   overflow-x: hidden;
}

.page-wrapper {
	padding-bottom: 278px !important;
}

.see-more a i {
	top: -6px;
}

ul.pagination {
	li {
		display: inline!important;
		list-style: none;
	}
	li.arrow.tablet-up {
		i.icon.icons-arrow-next {
			top: 0px!important;
			left: 5px!important;
		}
		.icon.icons-arrow-prev {
			top: 0px!important;
		}
	}
}
 ul.pagination li.mobile {
	display: none!important;
 }
.grid-item-text .icons ul {
		li {
		display: inline;
		i.icon {
			position: realtive;
			margin-bottom: 3px;
		}
	}
}

.lookbook-footer {
	.date {
		height: 30px;
	}
	.country {
		height: 20px;
	}
}

.breadcrumbs {
	li.rss {
		> a {
			position: relative;
			top: 6px;
		}
	}
}

.see-all {
	h4 {
		@include size(padding-bottom, 2.7);
		i {
			top: -5px;
		}
	}
}

.see-all-details {
	i {
		top: -5px;
	}
}

.no-results-wraper {
	h1 {
		margin-top: 200px;
	}
}

.filters {
	ul {
		overflow: hidden;
		li {
			display: block;
			float: left;
		}
	}
}

/************
*
* CUSTOM PAGES
*
************/
.simple {
	.row {
		.error-page{
			margin-top: 300px;
		}
	}
}

.questions {
	.six {
		width: 48%!important;
	}
	.question-item {
		.icon-wrapper {
			display: block;
			float: left;
		}
	}
}

.rss-content {
	ul.block-grid {
		width: 100%;
		li {
			width: 47%!important;
			.rss-input-wrapper {
				display: block;
				float: left;
				width: 400px;
				input {
					height: 19px;
				}
			}
		}
	}
}

#copy-code-popup {
	textarea {
		margin-left: 192px;
		width: 93%;
	}
}

.contact-listing {
	ul.block-grid {
		li {
			width: 31%!important;
		}
	}
}

#contact-inquiry-popup {
	
	.clearfix {
		clear: both;
	}
	.six.columns {
		width: 48%!important;
	}
	.remember-me {
		top: 5px;
	}
	.contact-info {
		overflow: hidden;
		.first-column {
			width: 46%!important;
			float: left;
		}
		.second-column {
			width: 46%!important;
			float: right;
		}
	}
}

#user-send-cart-popup {
	#Email, #Name {
		width: 90%;
	}
	.clear-field-wrapper {
		i {
			top: -3px;
		}
	}
}


.lt-ie8 .subscribe-page .select-all {
	border-top-width: 0px;
}
.lt-ie8 .subscribe-page .row {

	margin-left: 0;
	.subscribe-countries-wrapper,
	.columns {
		padding-left: 0;
	}
	h5 {
		border-bottom: none;
	}
	.twelve.columns {
		padding: 0;
	}
	form .row.countries {
		width: 106%;
		.columns {
			padding: 0;
			border-top: 1px dotted #ccc;
			border-bottom: 1px dotted #ccc;

			div {
				border-bottom: none;
				border-top: 1px dotted #ccc;

				&:first-child {
					border-top: none;
				}
			}
			&:first-child{
				padding-right: 12px;
			}
		}
	}
}

footer {
	nav {
		position: relative;
		ul {
			li {
				float: left !important;
			}
		}
	}
}

#contact-inquiry-popup {
	form {
		.contact-info {
			margin-top: -50px;
		}
		textarea {
			padding: 6px 0;
		}
		input {
			padding: 6px 0;
		}
	}
}

/************
*
* MEDIA CART
*
************/
.mediacart .send-wrapper a.send-mediacart i {
	position: static!important;
	vertical-align: middle;
}
.send-wrapper {
	.mobile-send-media-cart-wrapper {
		width: auto!important;
	}
}

#expired-media-cart-popup {
	.block-grid.three-up {
		li {
			width: 30%;
			span {
				margin-left: 5px;
			}
		}
	}
}