﻿@import "culture_variables_global";
@import "variables";

@import "include-maps";
@import "logreg-header";
@import "logreg";

/*	Sections:
*
*	MEDIA CART
*	LOG REG
*
*/


/************
*
* MEDIA CART
*
************/
    .mobile-menu {
    display: none;
    }

    /*TNMMCLITE-1115-Start*/
	.mediacart {
	    .send-wrapper {
 			.actions {
	            float: right;
	            display: block;
	            clear: none;

	            a {
	                display: inline-block;
	                width: auto;
	                @include size(font-size, 1.4);

	                &.download-all {
	                    margin-right: 15px;
	                    border-top: none;
	                }
	            }
	        }

	        .mobile-send-media-cart-wrapper {
	            display: block;
	        }

	        a.send-mediacart {
	            display: block;
	            float: left;
	            width: 100%;
	            max-width: 317px;
	            margin-right: 0;
	            @include size(font-size, 2);
	            @include size(padding, 1.5, 0);

	            i {
	                top: 0px;
	                left: 5px;
	            }
	        }

	        .send-mediacart-mobile-separator {
	            display: none;
	        }

	        .media-more {
	            display: none;
	        }	        
        }
	}
    /*TNMMCLITE-1115-End*/	

	/*TNMMCLITE-1110-Start*/
	/*.sub-header {	         
		border-bottom-width:1px;   
		border-top-width:1px;
	}*/
    /*TNMMCLITE-1110-End*/

#countrydropdown_wrap {
    ul {
        list-style: none;
        position: relative;
        @include size(margin, 0);
        @include size(padding, 0);

        a {
            display: block;
            @include apply-Desktop($map-country-dd,country-dd-active-font-style);

            i.icon {
                margin-bottom: 0px;

                icons-culture-dropdown-arrow {
                    @include size(margin-left,0.6);
                    @include size(margin-bottom,0.2);
                }
            }
        }

        li {
            position: relative;
            float: left;

            a.active {
                @include apply-Desktop($map-country-dd,country-dd-active-font-size-color);
            }

            &:hover {
            }
        }

        li:hover > ul {
            z-index: 9999;
            display: block;
        }

        ul {
            display: none;
            position: absolute;
            z-index: 40;
            @include size(margin, 0);
            @include box-shadow(0px, 5px, 10px, 0px, rgba(50,50,50,0.5));
            overflow-y: auto;

            li {
                float: none;
                width: 200px;
                white-space: nowrap;
                @include apply-Desktop($map-country-dd,country-dd-item-background);

                &:hover {
                    @include apply-Desktop($map-country-dd,country-dd-item-background-hover);
                }

                a:hover {
                    @include apply-Desktop($map-country-dd,country-dd-item-text-color-hover);
                }
            }

            a {
                @include apply-Desktop($map-country-dd,country-dd-item-text-style);
                white-space: normal;
            }
            /*a ::first-letter 
{ text-transform: capitalize; } 
*/
        }
    }
}

/************
*
* LOG REG
*
************/
.lt-ie10{
	.download-all{
		display :none !important;
	}
}

.header-mid .site-menu-wrapper nav.site-menu ul li .vehiclesfiltermenu{
    width: 960px;
    background-image: none; 
    max-height: none;
}
.header-full .vehicleFilterRow{
    background-image: none;
    width: 100%;
    height: 40px;
    background-color: #FAFAFA;
    border-bottom:1px solid #DBE1E9;
}
.header-mid .site-menu-wrapper nav.site-menu ul li .vehiclesfiltermenu li label{    
        background-image: url("/Content/images/icons/radio-input.png");
        background-position: left center;
        background-repeat: no-repeat;
}
.header-mid .site-menu-wrapper nav.site-menu ul li .vehiclesfiltermenu li label.active-lable{   
        background-image: url("/Content/images/icons/radio-input-active.png");
}
.header-mid .site-menu-wrapper nav.site-menu ul li .vehiclesfiltermenu li input{    
        visibility: hidden;
}
.header-mid .site-menu-wrapper nav.site-menu ul li .vehiclesfiltermenu li:hover {
        background-color: transparent; 
    }
.header-mid .site-menu-wrapper nav.site-menu ul li .vehiclesfiltermenu li:hover  a{
    color: #666;
}
.filter-li .vehicleFilterRow {
    margin:0;
    padding-left:12px;
}
.filter-li .vehicleFilterRow li{
    padding-right: 12px !important;
}
.filter-li .vehicleFilterRow > li {
    display: inline-block !important;
}

.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.vehicleFilter{
    width: 20%;
    float: left;
    min-height: 180px;
    border-bottom: 1px solid #DBE1E9;
    border-right: 1px solid #DBE1E9;
}
.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.vehicleFilter .context-header a{
    padding-top:4px; 
    padding-bottom:10px; 
    line-height: 14px;
}
.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.vehicleFilter .img-wrap img{ 
    width: 100%;
}
.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.vehicleFilter .grid-item-text{ 
    margin:0;
}


.desktop-1 .mobileFilter,
.tablet-1 .mobileFilter{
    display: none !important;
}