@import "compass/utilities/sprites";

$social-buttons-layout: smart;
$social-buttons-sprite-spacing: 10px;
$social-buttons-sprite-dimensions: true;
@import "social-buttons/*.png";
@include all-social-buttons-sprites;

$social-buttons2x-layout: smart;
$social-buttons2x-sprite-spacing: 20px;
$social-buttons2x-sprite-dimensions: true;
@import "social-buttons2x/*.png";
@include all-social-buttons2x-sprites;

$amp-icons-sprite-spacing: 10px;
$amp-icons-sprite-dimensions: true;
@import "amp-icons/*.png";
@include all-amp-icons-sprites;

$icons-sprite-spacing: 10px;
$icons-sprite-dimensions: true;
@import "icons/*.png";
@include all-icons-sprites;

$popup-sprite-spacing: 10px;
$popup-sprite-dimensions: true;
@import "popup/*.png";
@include all-popup-sprites;

$related-sprite-spacing: 10px;
$related-sprite-dimensions: true;
@import "related/*.png";
@include all-related-sprites;
