@import "culture_variables_german";
@import "../appmain";


@media #{$mobile} {
.cart-empty .how-to-use #mediaCartSlider .item1 {height:304px}
.cart-empty .how-to-use #mediaCartSlider .item1 .right i.icon.icons-btn-media-cart {margin-top: 20px;}
.cart-empty .how-to-use #mediaCartSlider .slider-item .right p {top:89px}
}
@media #{$tablet}{
.cart-empty .how-to-use #mediaCartSlider .item1 {height:212px}
.cart-empty .how-to-use #mediaCartSlider .item1 .right i.icon.icons-btn-media-cart {margin-top: 50px;}
}
@media #{$desktop}{
.cart-empty .how-to-use #mediaCartSlider .item1 {height:212px}
.cart-empty .how-to-use #mediaCartSlider .item1 .right i.icon.icons-btn-media-cart {margin-top: 48px;}
}

@media #{$mobile} {
.cart-empty .how-to-use #mediaCartSlider .rsOverflow { height: 480px!important;min-height: 480px}
}
@media #{$tablet} {
	.cart-empty .how-to-use #mediaCartSlider .rsOverflow { 
		height: 400px!important;
		.item3 {
			height: 376px;
		}
	}
}
@media #{$desktop} {
.cart-empty .how-to-use #mediaCartSlider .rsOverflow { height: 400px!important}
}

@media #{$mobile} {
	.menu-opened .full-wrapper {
		left: 280px;
	}
}

#download-format-options-popup h2 {line-height: 3.2rem; word-wrap: break-word;}