﻿@using System
@using SynapticDigital.Mc4.Web.Core.Extensions
@using SynapticDigital.Mc4.Web.McLite.ResourceConfig
@model SynapticDigital.Mc4.Domain.UseCases.Snippets.GetFeaturedFooterDataUseCase.Output
@helper RenderPoweredByNewsMarket()
{
    if (Model.DoShowPoweredByNewsMarket)
    {
        <div class="powered-newsmarket">
            <a href="http://about.thenewsmarket.com" target="_blank">
			footer external
                <img src="@Url.ImageUrl("~/Content/images/powered-newsmarket.png")" alt="Powered By TheNewsMarket"/>
            </a>
        </div>
    }
}
@helper RenderCopyrightText()
{
    <div class="copyright">
        @Html.Raw(@SynapticDigital.Mc4.Web.McLite.Extensions.HtmlHelperExtensions.GetStringFromKeyOrTextWithReplace(Model.Copyright, "{year}"))
    </div>
}
@helper ImageUrl(string path)
{
    @(Url.IsLocalUrl(path) ? Url.ImageUrl(path) : path)
}
<input name="showonDevice" type="hidden" value="@Model.ShowOn" />
<footer>
    <div class="desktop">
        <div class="row footer-content">
            <div class="twelve columns links" id="linksRow">
                <ul class="linksrow">
                    @foreach (var link in Model.FooterLinksRow)
                    {
                        var target = link.DoOpenInNewWindow ? "_blank" : null;
                        <li>
                            @if (!string.IsNullOrEmpty(link.Url))
                            {
                                <a href="@link.Url" target="@target">
                                    <img src="@ImageUrl(link.ImageUrl)" />
                                </a>
                            }
                            else
                            {
                                <img src="@ImageUrl(link.ImageUrl)" />
                            }
                        </li>
                    }
                </ul>
            </div>
            <div class="twelve columns">
                <div class="border"></div>
                <div class="social-icons">
                @{
                    if (Model.ShowTitle)
                    {
                        <h4 class="social-links-title">@PhraseResource.SocialLinksTitle</h4>
                    }
                }
                <ul class="social-buttons">
                    @if (Model.SocialLinks != null) { 
                    foreach (var link in Model.SocialLinks)
                    {
                        <li>
                            @{
                        var target = link.OpenInNewWindow ? "_blank" : null;
                        var alternateText = (string.IsNullOrEmpty(link.AlternateText)) ? "" : ("alt=" + link.AlternateText);
                        <a href="@link.Url" target="@target">
                            <img src="@ImageUrl(link.ImageUrl)" @alternateText />
                        </a>
                            }
                        </li>
                    }
                    }
                </ul>
                </div>
                <div class="links-wrapper">
                    <ul class="footer-links">
                        @foreach (var link in Model.FooterLinks)
                        {
                            var target = link.DoOpenInNewWindow ? "_blank" : null;
                            <li><a href="@link.Url" target="@target">@link.Name</a></li>
                        }
                    </ul>
                    @RenderCopyrightText()
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        @RenderPoweredByNewsMarket()
    </div>
	    <div class="tablet">
        <div class="row footer-content">
            @Html.Action("FooterLinksRow")
            <div class="twelve columns">
                <div class="border"></div>
                <div class="six columns">
                    @Html.Action("SocialLinks")
                </div>
                <div class="six columns links">
                    @Html.Action("FooterLinks")
                    @RenderCopyrightText()
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        @RenderPoweredByNewsMarket()
    </div>
    <div class="mobile">
        <div class="row footer-content">
            <div class="twelve columns">
                <div class="border"></div>
                <div class="six columns">
                    @Html.Action("SocialLinks")
                </div>
                <div class="six columns">
                    @Html.Action("FooterLinks")
                    @RenderCopyrightText()
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        @RenderPoweredByNewsMarket()
    </div>
</footer>
