﻿@using SynapticDigital.Mc4.Domain.Configuration
@using SynapticDigital.Mc4.Web.McLite.Extensions
@using SynapticDigital.Mc4.Web.Core.Extensions
<header class="header-full">
CUSTOM MENU Japanese
    <div class="header-top">
        <div class="row">
            <div class="four columns tablet-up">
                <div class="logo-wrapper">
                    <a href="/" class="logo">
                        <img src="@Url.ImageUrl("~/App_Content/McLite/images/logo-desktop.png")" alt="Custom HEADER JP">
                    </a>
                </div>
            </div>
            <div class="mobile simple-header">
                <a href="/">
                    <img src="/App_Content/McLite/images/logo-mobile.png" alt="Custom HEADER JP">
                </a>
            </div>
        </div>
    </div>
</header>