// Settings file containing Foundation defaults

// Grid Settings

$rowWidth: 1000px !default;
$columnGutter: 30px !default;
$totalColumns: 12 !default;
$mobileTotalColumns: 4 !default;
$blockGridElements: 12 !default; // Highest number of block grid elements, Maximum of 24 supported

// Colors Settings

$mainColor: #2ba6cb !default;
$secondaryColor: #e9e9e9 !default;
$alertColor: #c60f13 !default;
$successColor: #5da423 !default;
$txtColor: #222 !default;
$highlightColor: #ffff99 !default;
$black: #000 !default;
$white: #fff !default;
$shinyEdge: rgba(#fff, .5) !default;
$darkEdge: rgba(#000, .2) !default;

// Font Settings

$fontSmoothing: antialiased !default;
$headerFontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$headerFontWeight: bold !default;
$headerFontStyle: normal !default;
$headerFontColor: #222 !default;
$bodyFontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$bodyFontWeight: normal !default;
$bodyFontStyle: normal !default;
$bodyFontColor: $txtColor !default;

// Text Direction Settings

$textDirection: ltr !default; // Controls default global text direction, 'rtl' or 'ltr'
$defaultFloat: left !default; // Change this to 'right' for right-to-left languages
$defaultOpposite: right !default; // Change this to 'left' for right-to-left languages

@if $textDirection == ltr {
  $defaultFloat: left;
  $defaultOpposite: right;
} @else {
  $defaultFloat: right;
  $defaultOpposite: left;
}

// Button Settings

$buttonRadius: 3px !default;
$btnBase: 10px !default;

$tinyBtnBase: $btnBase - 5 !default;
$smallBtnBase: $btnBase - 3 !default;
$largeBtnBase: $btnBase + 5 !default;

// Form Settings

$formSpacing: 12px !default;
$labelFontWeight: 500 !default;
$labelFontColor: lighten(#000, 30%) !default;
$labelBtmMargin: 3px !default;
$inputFontColor: rgba(0,0,0,0.75) !default;
$inputFontSize: 14px !default;
$inputBgColor: #fff !default;
$inputFocusBgColor: darken(#fff, 2%) !default;
$inputBorderColor: darken(#fff, 20%) !default;
$inputFocusBorderColor: darken(#fff, 30%) !default;
$inputBorderStyle: solid !default;
$inputBorderWidth: 1px !default;
$inputBorderRadius: 2px !default;
$fieldsetBorderRadius: 3px !default;

// Custom Form Settings

$custFormBorderColor: #ccc !default;
$custFormBgColor: #fff !default;
$custCheckColor: #222 !default;
$custSelectCurrentFontColor: #141414 !default;
$custSelectBgColor: #fff !default;
$custSelectBorderColor: #ddd !default;
$custSelectTriangleColor: #aaa !default;
$custSelectTriangleColorOpen: #222 !default;
$custSelectDropHeight: 200px !default;
$custDropdownBgColor: #fff !default;
$custDropdownBorderColor: darken(#fff, 20%) !default;
$custDropdownFontColor: #555 !default;
$custDropdownSelectedBgColor: lighten(#2ba6cb, 40%) !default;
$custDropdownSelectedFontColor: #000 !default;
$custFormDisabledBgColor: #ddd !default;

// Tab Settings

$tabHeight: 40px !default;
$tabTermFontSize: 12px;

// Nav Bar Settings

$navBarHeight: 40px !default;
$navFlyoutBaseWidth: 250px !default;

// Top Bar Settings

$topBarBgColor: #222 !default;
$topBarHeight: 45px !default;
$topBarHeightMobile: 45px !default;
$topBarBtmMargin: 30px !default;
$topBarTitleWeight: bold !default;
$topBarTitleSize: 17px !default;
$topBarLinkColor: #fff !default;
$topBarLinkWeight: bold !default;
$topBarLinkSize: 13px !default;
$topBarDropBgColor: #222 !default;
$topBarDropLinkColor: #fff !default;
$topBarDropToggleSize: 5px !default;
$topBarDropToggleColor: #fff !default;
$topBarDropToggleAlpha: 0.5 !default;
$topBarSearchWidth: 200px !default;
$topBarLoginWidth: 300px !default;
$topBarLoginButtonWidth: 60px !default;
$topBarLoginInputWidth: ($topBarLoginWidth - $topBarLoginButtonWidth) / 2 !default;
$topBarBreakPoint: 940px !default; // Change to 9999px for always mobile layout
$topBarNavToggleSize: 8px !default;
$topBarNavToggleColor: #fff !default;

// UI Settings

$thumbRadius: 3px !default;
$progBarHeight: 25px !default;
$progBarBorderColor: darken(#fff, 20%) !default;
$progBarBorderSize: 1px !default;
$progBarPad: 2px !default;
$linkListBottomMargin: 17px -22px !default;
$tableBorderRadius: 3px !default;
$alertBorderRadius: 3px !default;

// Tooltip Settings

$hasTipBorderBottom: dotted 1px #ccc !default;
$hasTipFontWeight: bold !default;
$hasTipFontColor: #333 !default;
$hasTipBorderBottomHover: dotted 1px darken($mainColor, 20%) !default;
$hasTipFontColorHover: $mainColor !default;
$tooltipBackgroundColor: #000 !default;
$tooltipBackgroundOpacity: 0.85 !default;
$tooltipFontSize: 12px !default;
$tooltipFontWeight: bold !default;
$tooltipFontColor: #fff !default;
$tapToCloseFontSize: 10px !default;
$tapToCloseFontWeight: normal !default;
$tapToCloseFontColor: #888 !default;
$tooltipFontSizeScreenSm: 14px !default;
$tooltipBgOpacityScreenSm: 0.85 !default;
$tooltipBorderRadius: 4px !default;

// Pricing Table Settings

$priceTableBorder: solid 1px #ddd !default;
$priceTitleBgColor: #ddd !default;
$priceTitlePadding: 15px 20px !default;
$priceTitleAlign: center !default;
$priceTitleColor: #333 !default;
$priceTitleWeight: bold !default;
$priceTitleSize: 16px !default;

$priceMoneyBgColor: #eee !default;
$priceMoneyPadding: 15px 20px !default;
$priceMoneyAlign: center !default;
$priceMoneyColor: #333 !default;
$priceMoneyWeight: normal !default;
$priceMoneySize: 20px !default;

$priceBgColor: #fff !default;
$priceDescColor: #777 !default;
$priceDescPadding: 15px !default;
$priceDescAlign: center !default;
$priceDescFontSize: 12px !default;
$priceDescWeight: normal !default;
$priceDescLineHeight: 1.4 !default;
$priceDescBtmBorder: dotted 1px #ddd !default;

$priceItemColor: #333 !default;
$priceItemPadding: 15px !default;
$priceItemAlign: center !default;
$priceItemFontSize: 14px !default;
$priceItemWeight: normal !default;
$priceItemBtmBorder: dotted 1px #ddd !default;

$priceCtaBgColor: #f5f5f5 !default;
$priceCtaAlign: center !default;
$priceCtaPadding: 20px !default;

// Orbit Settings

$orbitCaptionBgColorOldBrowser: #000 !default;
$orbitCaptionBgColor: rgba(0,0,0,.6) !default;
$orbitCaptionFontColor: #fff !default;
$orbitBulletNavColor: #999 !default;
$orbitBulletNavColorActive: #222 !default;
$orbitHasThumbBorderColor: #000 !default;
$orbitHasThumbBorderWidth: 2px !default;
$orbitHasThumbBorderStyle: solid !default;
$orbitSlideNumBgColor: rgba(0,0,0,0.7) !default;
$orbitSlideNumFontColor: #fff !default;
$orbitSlideNumPadding: 5px !default;

// Clearing Settings

$clearingBg: rgba(0,0,0,0.8) !default;
$clearingOldBrowserBg: rgb(0,0,0) !default;
$clearingCaptionBg: rgba(0,0,0,0.7) !default;
$clearingCaptionOldBrowserBg: rgb(0,0,0) !default;
$clearingCaptionFontColor: #fff !default;
$clearingCloseColor: #fff !default;
$clearingArrowColor: #fff !default;
$clearingArrowSize: 16px !default;
$clearingCarouselBg: rgba(0,0,0,0.75) !default;
$clearingCarouselOldBrowserBg: rgb(0,0,0) !default;
$clearingCarouselHeight: 150px !default;
$clearingActiveImgHeight: 75% !default;
$clearingCarouselThumbWidth: 175px;
$clearingCarouselThumbActiveBorder: 4px solid rgb(255,255,255) !default;
$clearingImgBg: rgba(0,0,0,0.75) !default;
$clearingImgOldBrowserBg: rgb(0,0,0) !default;

// Joyride Settings

$tipBg: rgba(0,0,0,0.8) !default;
$tipBgIE8: #000 !default;
$tipFontColor: #fff !default;
$tipHeaderWeight: bold !default;
$tipDefaultWidth: 300px !default;
$tipBorderRadius: 4px !default;
$tipPadding: 18px 20px 24px !default;
$tipNubSize: 14px !default;
$tipFontSize: 14px !default;
$tipTimerWidth: 50px !default;
$tipTimerHeight: 3px !default;
$tipTimerBorder: solid 1px #555 !default;
$tipTimerColor: #666 !default;
$tipCloseColor: #777 !default;
$tipCloseSize: 20px !default;
$tipCloseWeight: normal !default;
$tipScreenFill: rgba(0,0,0,0.5) !default;

// Off Canvas Width Settings

$mainWidth: 80% !default;
$complementaryWidth: 20% !default;

// Modular Scale Settings

// $ratio: $golden; // THIS IS DEFAULT IN MODULAR-SCALE
$baseFontSize: 14px !default;
$importantModNum: 44px !default;
$ms-base: $baseFontSize $importantModNum;
// Produced the following list of values: 14, 17, 23, 27, 37, 44, 59, 71, 95, 115;
// http://www.modularscale.com by Tim Brown
// https://github.com/scottkellum/modular-scale by scottkellum

// Media Queries

$screenSmall: 768px !default;
$screenMedium: 1279px !default;
$screenXlarge: 1441px !default;

// Saving for better em-based testing
// $screenSmall: 44em !default;
// $screenMedium: 77em !default;
// $screenXlarge: 104em !default;

// Saving for Sass 3.2 stable release
// $mediaSmall: "only screen and (max-width: 767px)" !default;
// $mediaMedium: "only screen and (max-width: 1279px) and (min-width: 768px)" !default;
// $mediaXlarge: "only screen and (min-width: 1441px)" !default;
// $mediaLandscape: "screen and (orientation: landscape)" !default;
// $mediaPortrait: "screen and (orientation: portrait)" !default;
// $mediaAll: "only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px)" !default;

