.full-wrapper {
	height: 100%;
}
.menu-opened {
	.mobile-menu {
		position: fixed;
		height: 100%;
		display: block;
		overflow-y: auto;
	}
	.full-wrapper {
		position: fixed;
		left: 270px;
		width: 100%;
	}
}

.mobile-search-icon {
	display: inline-block;
	vertical-align: top;
	height: 25px;
	width: 25px;
	cursor: pointer;
}
.mobile-menu {
	border-right: 1px solid $mobile-menu-category-border-color;
	background: $mobile-menu-bg;
	display: none;
	.search {
		background: $mobile-menu-subcategory-bg;
		padding: 1.4rem;
		.search-wrapper {
			position: relative;
			input[type="text"] {
				width: 24rem;
			}
			input[type="button"] {
				position: absolute;
				right: 0;
				top: 0;
				height: 3.2rem;
				width: 3.2rem;
				background: $search-btn-bg url("../images/icons/search-icon-desktop.png") center no-repeat;
			}
		}
		
	}
	ul {
		margin: 0;
		li {
			list-style: none;
			&.active {
				> a {
					@include font_bold();
				}
			}
			a {
				padding: 1.7rem 0;
				display: block;
				font-size: 1.6rem;
				text-transform: uppercase;
				color: $mobile-menu-category-color;
				@include font_regular();
			}
		}
	}
	> ul.menu {
		border-bottom: 2px solid $mobile-menu-subcategory-bg;
		> li {
			background: $mobile-menu-bg;
			max-width: 268px;
			&:last-of-type {
				a {
					border-bottom: none;
				}
			}
			> a {
				position: relative;
				padding-left: 2.4rem;
				border-bottom: 1px solid $mobile-menu-category-border-color;
				span {
					padding-right: 28px;
				}
				i {
					position: absolute;
					right: 2rem;
					top: 50%;
					margin-top: -4px;
				}
			}
			&.open {
				ul.category-menu {
					display: block;
				}
			}
			ul.category-menu {
				background: $mobile-menu-subcategory-bg;
				display: none;
				li {
					padding-left: 4.8rem;
					background: $mobile-menu-subcategory-bg;
					&:hover {
						background: $mobile-menu-subcategory-hover-bg;
						a {
							color: $mobile-menu-subcategory-hover-color;
						}
					}
				}
			}
		}
	}
	ul.mc {
		li {
			a {
				border-bottom: 1px solid $mobile-menu-category-border-color;
				padding-left: 2.4rem;
				text-transform: none;
				span {
					padding-left: 2px;
				}
				i {
					position: relative;
				}
			}
		}
	}
	
}