@import "culture_variables_laspanish";
@import "../appmain";

@media #{$mobile} {
.cart-empty .how-to-use #mediaCartSlider .item1 {height:304px}
.cart-empty .how-to-use #mediaCartSlider .item1 .right i.icon.icons-btn-media-cart {margin-top: 20px;}
.cart-empty .how-to-use #mediaCartSlider .slider-item .right p {top:89px}
}
@media #{$tablet}{
.cart-empty .how-to-use #mediaCartSlider .item1 {height:191px}
.cart-empty .how-to-use #mediaCartSlider .item1 .right i.icon.icons-btn-media-cart {margin-top: 26px;}
}
@media #{$desktop}{
.cart-empty .how-to-use #mediaCartSlider .item1 {height:191px}
.cart-empty .how-to-use #mediaCartSlider .item1 .right i.icon.icons-btn-media-cart {margin-top: 24px;}
}

@media #{$mobile} {
.cart-empty .how-to-use #mediaCartSlider .rsOverflow { height: 480px!important;min-height: 480px}
}
@media #{$tablet} {
.cart-empty .how-to-use #mediaCartSlider .rsOverflow { height: 400px!important}
}
@media #{$desktop} {
.cart-empty .how-to-use #mediaCartSlider .rsOverflow { height: 400px!important}
}
