/* Requires: normalize.css */

/* Global Reset & Standards ---------------------- */

  *, *:before, *:after { @include box-sizing(border-box); }
  html { font-size: 62.5%; }
  body { background: $white; font-family: $bodyFontFamily; font-weight: $bodyFontWeight; font-style: $bodyFontStyle; font-size: ms(0); line-height: 1; color: $bodyFontColor; position: relative; -webkit-font-smoothing: $fontSmoothing; }

/* Links ---------------------- */

  a img { border:none; }
  a { color: $mainColor; text-decoration: none; line-height: inherit; }
  a:hover { color: darken($mainColor, 5%); }
  a:focus { color: darken($mainColor, 5%); }
  p a, p a:visited { line-height: inherit; }

/* Misc ---------------------- */

  .left        { float: left; }
  .right       { float: right; }
  .text-left   { text-align: left; }
  .text-right  { text-align: right; }
  .text-center { text-align: center; }
  .hide        { display: none; }
  .hide-override { display: none !important; }
  .highlight   { background: $highlightColor; }
  .nowrap { white-space: nowrap; }

  #googlemap img, object, embed { max-width: none; }

  #map_canvas embed { max-width: none; }
  #map_canvas img { max-width: none; }
  #map_canvas object { max-width: none; }

  /* Reset for strange margins by default on <figure> elements */
  figure { margin: 0; }