@import "culture_variables_spanish";
@import "../appmain";


@media #{$mobile} {
.cart-empty .how-to-use #mediaCartSlider .item1 {height:304px}
.cart-empty .how-to-use #mediaCartSlider .item1 .right i.icon.icons-btn-media-cart {margin-top: 20px;}
.cart-empty .how-to-use #mediaCartSlider .slider-item .right p {top:89px}
#user-send-cart-popup .send-media-kit-wrapper .send-media-kit.has-recaptcha{ height:auto;}
#user-send-cart-popup .send-media-kit-wrapper .send-media-kit{@include size(margin-top, 14);}
}
@media #{$tablet}{
.cart-empty .how-to-use #mediaCartSlider .item1 {height:212px}
.cart-empty .how-to-use #mediaCartSlider .item1 .right i.icon.icons-btn-media-cart {margin-top: 50px;}
#user-send-cart-popup .send-media-kit-wrapper .send-media-kit.has-recaptcha{ height:auto;}
#user-send-cart-popup .send-media-kit-wrapper .send-media-kit{margin-top:0px;}
#user-send-cart-popup .send-media-kit-ignore-recaptcha .send-media-kit {margin-top:14px;}
}
@media #{$desktop}{
.cart-empty .how-to-use #mediaCartSlider .item1 {height:212px}
.cart-empty .how-to-use #mediaCartSlider .item1 .right i.icon.icons-btn-media-cart {margin-top: 48px;}
#user-send-cart-popup .send-media-kit-wrapper .send-media-kit.has-recaptcha{ height:auto;}
#user-send-cart-popup .send-media-kit-wrapper .send-media-kit{margin-top:0px;}
#user-send-cart-popup .send-media-kit-ignore-recaptcha .send-media-kit {margin-top:14px;}
}

@media #{$mobile} {
.cart-empty .how-to-use #mediaCartSlider .rsOverflow { height: 480px!important;min-height: 480px}
}
@media #{$tablet} {
.cart-empty .how-to-use #mediaCartSlider .rsOverflow { height: 400px!important}
}
@media #{$desktop} {
.cart-empty .how-to-use #mediaCartSlider .rsOverflow { height: 400px!important}
}

