/* Global variables */
/* Log-Reg Variables */
/* Header variables */
/*$newsroom-label: #000000;*/
/* mobile-menu */
/* Search */
/* Rotator */
/* About this newsroom */
/* Contact */
/* Footer */
/* AMP */
/* Tag */
/* Story Detail */
/* lookbook */
/* Home Listing */
/* Listing pages */
/* Filters */
/* Pagination */
/* Cookies page */
/* Cookies message */
/* Popup */
/* mediacart */
/* Custome button */
/*$custom-button-color: #000000;
$custom-button-background: #e9e9e9;
$custom-button-hover-color: #ffffff;
$custom-button-hover-background: #000000;*/
/* contacts */
/* mediacart */
/* rss */
/* Tag search */
/*$tag-search-item-background: #000000;
$tag-search-item-color: #ffffff;*/
/* Error page*/
/* Commmon search elements */
/* Detail pages */
/*LOGREG*/
/* footer */
/* line 3, ../sass/_footer.scss */
footer {
  background-color: #ffffff;
}
/* line 6, ../sass/_footer.scss */
footer .footer-content .border {
  border-top: 1px dotted #cccccc;
}
/* line 10, ../sass/_footer.scss */
footer ul.social-buttons {
  list-style: none;
  margin: 0px;
  margin: 0rem;
}
/* line 14, ../sass/_footer.scss */
footer ul.footer-links {
  list-style: none;
  margin: 0px;
  margin: 0rem;
}
/* line 18, ../sass/_footer.scss */
footer ul.footer-links li a {
  color: #000000;
  font-family: arial;
  font-weight: 400;
  font-family: arial;
}
/* line 23, ../sass/_footer.scss */
footer .copyright {
  color: #000000;
  font-family: arial;
  font-weight: 400;
}
/* line 26, ../sass/_footer.scss */
footer .powered-newsmarket {
  background: #f1f1f1;
  text-align: center;
}
/* line 28, ../sass/_footer.scss */
footer .powered-newsmarket a {
  position: relative;
}
/* line 30, ../sass/_footer.scss */
footer .powered-newsmarket a img {
  width: 176px;
  height: 16px;
  margin: 16px 0 16px 21px;
}

/* line 43, ../sass/_footer.scss */
.desktop .footer-content .links-wrapper {
  overflow: hidden;
  padding: 0px 18px 0px 0px;
  padding: 0rem 1.8rem 0rem 0rem;
}
/* line 46, ../sass/_footer.scss */
.desktop .footer-content .links-wrapper .footer-links {
  text-align: left;
}
/* line 48, ../sass/_footer.scss */
.desktop .footer-content .links-wrapper .footer-links li {
  display: inline-block;
  padding: 20px 20px 0px 0px;
  padding: 2rem 2rem 0rem 0rem;
}
/* line 54, ../sass/_footer.scss */
.desktop .footer-content .social-icons {
  float: right;
  max-width: 45%;
  padding: 0px 0px 0px 18px;
  padding: 0rem 0rem 0rem 1.8rem;
}
/* line 58, ../sass/_footer.scss */
.desktop .footer-content .social-icons ul {
  padding: 20px 0px;
  padding: 2rem 0rem;
  text-align: left;
}
/* line 62, ../sass/_footer.scss */
.desktop .footer-content .social-icons ul li:last-child {
  padding-right: 0px;
  padding-right: 0rem;
}
/* line 68, ../sass/_footer.scss */
.desktop .footer-content .links {
  background-color: #A5A5A5;
}
/* line 70, ../sass/_footer.scss */
.desktop .footer-content .links .footer-links {
  padding: 0px 18px;
  padding: 0rem 1.8rem;
}
/* line 72, ../sass/_footer.scss */
.desktop .footer-content .links .footer-links li {
  padding: 16px 18px 0px 18px;
  padding: 1.6rem 1.8rem 0rem 1.8rem;
}
/* line 74, ../sass/_footer.scss */
.desktop .footer-content .links .footer-links li:first-child {
  padding-left: 0;
}
/* line 77, ../sass/_footer.scss */
.desktop .footer-content .links .footer-links li:last-child {
  padding-right: 0;
}
/* line 83, ../sass/_footer.scss */
.desktop .footer-content ul.linksrow {
  display: block;
  line-height: 1;
  text-align: left;
  margin: 0px 0px 0px 0px;
  margin: 0rem 0rem 0rem 0rem;
  padding: 7px 0px 6px 0px;
  padding: 0.7rem 0rem 0.6rem 0rem;
}
/* line 89, ../sass/_footer.scss */
.desktop .footer-content ul.linksrow li {
  display: inline-block;
  padding: 0px 0px 0px 20px;
  padding: 0rem 0rem 0rem 2rem;
}
/* line 92, ../sass/_footer.scss */
.desktop .footer-content ul.linksrow li a {
  height: 23px;
  height: 2.3rem;
}
/* line 94, ../sass/_footer.scss */
.desktop .footer-content ul.linksrow li a img {
  height: 23px;
  height: 2.3rem;
}
/* line 98, ../sass/_footer.scss */
.desktop .footer-content ul.linksrow li:first-child {
  padding-left: 0;
}
/* line 101, ../sass/_footer.scss */
.desktop .footer-content ul.linksrow li:last-child {
  padding-right: 0;
}

/* line 111, ../sass/_footer.scss */
footer .tablet .columns {
  width: 100%;
}
/* line 114, ../sass/_footer.scss */
footer .tablet .links {
  padding: 0;
}
/* line 117, ../sass/_footer.scss */
footer .tablet .links .footer-links {
  padding: 0px 18px;
  padding: 0rem 1.8rem;
}
/* line 119, ../sass/_footer.scss */
footer .tablet .links .footer-links li {
  padding: 16px 18px 0px 18px;
  padding: 1.6rem 1.8rem 0rem 1.8rem;
}
/* line 121, ../sass/_footer.scss */
footer .tablet .links .footer-links li:first-child {
  padding-left: 0;
}
/* line 124, ../sass/_footer.scss */
footer .tablet .links .footer-links li:last-child {
  padding-right: 0;
}

/* line 135, ../sass/_footer.scss */
footer .tablet ul.social-buttons {
  text-align: center;
}
/* line 140, ../sass/_footer.scss */
footer .tablet ul.linksrow {
  text-align: left;
  background-color: #a5a5a5;
}

@media only screen and (min-width: 0px), (min-device-width: 320px) and (max-device-width: 641px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 149, ../sass/_footer.scss */
  footer ul.social-buttons {
    display: block;
    line-height: 1;
    text-align: center;
    padding: 16px 0px 32px 0px;
    padding: 1.6rem 0rem 3.2rem 0rem;
  }
  /* line 154, ../sass/_footer.scss */
  footer ul.social-buttons li {
    display: inline-block;
    padding: 16px 12px 0px 12px;
    padding: 1.6rem 1.2rem 0rem 1.2rem;
  }
  /* line 158, ../sass/_footer.scss */
  footer ul.social-buttons li a img {
    height: 25px;
    height: 2.5rem;
  }
  /* line 162, ../sass/_footer.scss */
  footer ul.social-buttons li:first-child {
    padding-left: 0;
  }
  /* line 165, ../sass/_footer.scss */
  footer ul.social-buttons li:last-child {
    padding-right: 0;
  }
  /* line 170, ../sass/_footer.scss */
  footer div.linksrowcontainerdiv {
    background-color: #A5A5A5;
  }
  /* line 173, ../sass/_footer.scss */
  footer ul.linksrow {
    display: block;
    line-height: 1;
    text-align: left;
    margin: 0px 0px 0px 0px;
    margin: 0rem 0rem 0rem 0rem;
    padding: 7px 0px 6px 0px;
    padding: 0.7rem 0rem 0.6rem 0rem;
  }
  /* line 179, ../sass/_footer.scss */
  footer ul.linksrow li {
    display: inline-block;
    padding: 0px 0px 0px 20px;
    padding: 0rem 0rem 0rem 2rem;
  }
  /* line 182, ../sass/_footer.scss */
  footer ul.linksrow li a {
    height: 23px;
    height: 2.3rem;
  }
  /* line 184, ../sass/_footer.scss */
  footer ul.linksrow li a img {
    height: 23px;
    height: 2.3rem;
  }
  /* line 188, ../sass/_footer.scss */
  footer ul.linksrow li:first-child {
    padding-left: 0;
  }
  /* line 191, ../sass/_footer.scss */
  footer ul.linksrow li:last-child {
    padding-right: 0;
  }
  /* line 196, ../sass/_footer.scss */
  footer ul.footer-links {
    line-height: 1;
  }
  /* line 198, ../sass/_footer.scss */
  footer ul.footer-links li {
    position: relative;
    text-align: center;
    padding: 8px 0px;
    padding: 0.8rem 0rem;
  }
  /* line 202, ../sass/_footer.scss */
  footer ul.footer-links li:first-child {
    padding-top: 0;
  }
  /* line 205, ../sass/_footer.scss */
  footer ul.footer-links li a {
    display: inline-block;
    font-size: 14px;
    font-size: 1.4rem;
  }
  /* line 211, ../sass/_footer.scss */
  footer .copyright {
    font-size: 10px;
    font-size: 1rem;
    padding: 32px 0px;
    padding: 3.2rem 0rem;
    text-align: center;
  }
  /* line 214, ../sass/_footer.scss */
  footer .powered-newsmarket {
    height: 48px;
    text-align: center;
  }
  /* line 218, ../sass/_footer.scss */
  footer .powered-newsmarket a img {
    margin: 16px 0px 16px 0px;
    margin: 1.6rem 0rem 1.6rem 0rem;
  }
}
@media only screen and (min-width: 601px) and (-webkit-max-device-pixel-ratio: 1), only screen and (min-width: 601px), only screen and (min-width: 768px), (min-width: 601px) and (orientation: landscape) and (-webkit-max-device-pixel-ratio: 1.4), (min-device-width: 600px) and (max-device-width: 966px) and (-webkit-max-device-pixel-ratio: 1.4) and (orientation: portrait), (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) {
  /* line 228, ../sass/_footer.scss */
  footer ul.social-buttons {
    padding: 0px 0px 16px 0px;
    padding: 0rem 0rem 1.6rem 0rem;
  }
  /* line 230, ../sass/_footer.scss */
  footer ul.social-buttons li {
    padding: 32px 18px 0px 18px;
    padding: 3.2rem 1.8rem 0rem 1.8rem;
  }
  /* line 233, ../sass/_footer.scss */
  footer ul.social-buttons li a img {
    height: 36px;
    height: 3.6rem;
  }
  /* line 239, ../sass/_footer.scss */
  footer ul.footer-links {
    display: block;
    text-align: center;
    width: 100%;
    line-height: 1;
  }
  /* line 244, ../sass/_footer.scss */
  footer ul.footer-links li {
    position: relative;
    display: inline-block;
  }
  /* line 247, ../sass/_footer.scss */
  footer ul.footer-links li a {
    font-size: 14px;
    font-size: 1.4rem;
  }
  /* line 252, ../sass/_footer.scss */
  footer .copyright {
    font-size: 10px;
    font-size: 1rem;
    padding: 32px 0px;
    padding: 3.2rem 0rem;
    text-align: center;
  }
  /* line 255, ../sass/_footer.scss */
  footer .powered-newsmarket {
    height: 78px;
    text-align: center;
  }
  /* line 258, ../sass/_footer.scss */
  footer .powered-newsmarket a {
    position: relative;
  }
  /* line 260, ../sass/_footer.scss */
  footer .powered-newsmarket a img {
    margin: 32px 0px 32px 0px;
    margin: 3.2rem 0rem 3.2rem 0rem;
  }
}
@media only screen and (min-width: 769px) {
  /* line 271, ../sass/_footer.scss */
  footer ul.social-buttons {
    padding: 32px 0px 16px 0px;
    padding: 3.2rem 0rem 1.6rem 0rem;
  }
  /* line 273, ../sass/_footer.scss */
  footer ul.social-buttons li {
    padding: 0px 18px;
    padding: 0rem 1.8rem;
  }
  /* line 277, ../sass/_footer.scss */
  footer ul.footer-links {
    line-height: 1;
  }
  /* line 278, ../sass/_footer.scss */
  footer ul.footer-links::before {
    display: none;
  }
  /* line 281, ../sass/_footer.scss */
  footer ul.footer-links::after {
    display: none;
  }
  /* line 285, ../sass/_footer.scss */
  footer ul.footer-links li {
    position: relative;
    padding: 20px 48px 0px 0px;
    padding: 2rem 4.8rem 0rem 0rem;
  }
  /* line 288, ../sass/_footer.scss */
  footer ul.footer-links li a {
    font-size: 12px;
    font-size: 1.2rem;
    padding-bottom: 2px;
  }
  /* line 291, ../sass/_footer.scss */
  footer ul.footer-links li a:hover {
    border-bottom: 1px solid #000000;
    color: #000000;
    padding-bottom: 0px;
  }
  /* line 297, ../sass/_footer.scss */
  footer .copyright {
    font-size: 11px;
    font-size: 1.1rem;
    padding: 30px 0px 16px 0px;
    padding: 3rem 0rem 1.6rem 0rem;
    text-align: left;
  }
  /* line 300, ../sass/_footer.scss */
  footer .powered-newsmarket {
    height: 78px;
    text-align: center;
  }
  /* line 303, ../sass/_footer.scss */
  footer .powered-newsmarket a {
    position: relative;
  }
  /* line 305, ../sass/_footer.scss */
  footer .powered-newsmarket a img {
    margin: 32px 0px 32px 0px;
    margin: 3.2rem 0rem 3.2rem 0rem;
  }
}
@media print {
  /* Common elements style */
  /* line 3, ../sass/_print.scss */
  a[href]:after {
    content: none !important;
  }

  /* line 6, ../sass/_print.scss */
  .mobile {
    display: none;
  }

  /* line 9, ../sass/_print.scss */
  .tablet {
    display: none;
  }

  /* Header and Navigation */
  /* line 14, ../sass/_print.scss */
  .header-mid {
    position: relative;
  }
  /* line 18, ../sass/_print.scss */
  .header-mid .site-menu-wrapper nav.site-menu ul {
    display: table;
    margin-bottom: 0;
  }
  /* line 21, ../sass/_print.scss */
  .header-mid .site-menu-wrapper nav.site-menu ul .category-menu {
    display: none;
  }
  /* line 24, ../sass/_print.scss */
  .header-mid .site-menu-wrapper nav.site-menu ul li {
    padding: 0px 30px 0px 0px;
    padding: 0rem 3rem 0rem 0rem;
    display: table-cell;
    position: relative;
    list-style: none;
    border: none;
    white-space: normal;
    line-height: 44px;
    line-height: 4.4rem;
    text-align: left;
    list-style: none;
  }
  /* line 34, ../sass/_print.scss */
  .header-mid .site-menu-wrapper nav.site-menu ul li:last-of-type {
    padding-right: 0;
  }
  /* line 37, ../sass/_print.scss */
  .header-mid .site-menu-wrapper nav.site-menu ul li a {
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 14px;
    line-height: 1.4rem;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
  }
  /* line 50, ../sass/_print.scss */
  .header-mid .search {
    display: none;
  }

  /* line 55, ../sass/_print.scss */
  .top-menu-container {
    display: none;
  }

  /* line 60, ../sass/_print.scss */
  .header-top .logo-container .logo-wrapper {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: table;
    padding: 10px 0px;
    padding: 1rem 0rem;
  }
  /* line 67, ../sass/_print.scss */
  .header-top .logo-container .newsroom-label {
    display: table-cell;
    font-size: 24px;
    font-size: 2.4rem;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-weight: 400;
    padding-left: 10px;
    padding-left: 1rem;
  }
  /* line 72, ../sass/_print.scss */
  .header-top .logo-container .newsroom-label a {
    text-decoration: none;
  }

  /* Slider */
  /* line 80, ../sass/_print.scss */
  .slider-wrapper {
    display: none;
  }

  /* Landing page content */
  /* line 87, ../sass/_print.scss */
  .main-content .columns h3 {
    margin: 32px 0px 16px 0px;
    margin: 3.2rem 0rem 1.6rem 0rem;
  }
  /* line 89, ../sass/_print.scss */
  .main-content .columns h3 a {
    text-decoration: none;
  }

  /* line 100, ../sass/_print.scss */
  .latest-news-items li .news-item .grid-item-text .icons {
    display: none;
  }
  /* line 103, ../sass/_print.scss */
  .latest-news-items li .news-item .grid-item-text .news-footer {
    position: static;
    bottom: auto;
    width: 100%;
    padding-top: 12px;
    padding-top: 1.2rem;
  }
  /* line 108, ../sass/_print.scss */
  .latest-news-items li .news-item .grid-item-text .news-footer .date {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 18px;
    line-height: 1.8rem;
    padding-top: 0px;
    padding-top: 0rem;
  }
  /* line 114, ../sass/_print.scss */
  .latest-news-items li .news-item .grid-item-text .grid-context {
    height: 153px;
    position: relative;
  }
  /* line 117, ../sass/_print.scss */
  .latest-news-items li .news-item .grid-item-text .grid-context h5.context-header {
    margin: 0px;
    margin: 0rem;
    height: 60px;
    overflow: hidden;
  }
  /* line 122, ../sass/_print.scss */
  .latest-news-items li .news-item .grid-item-text .grid-context p {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 18px;
    line-height: 1.8rem;
  }

  /* line 140, ../sass/_print.scss */
  .see-all h4 {
    margin: 0px;
    margin: 0rem;
    padding-bottom: 32px;
    padding-bottom: 3.2rem;
    border-bottom: 1px dotted #cccccc;
  }
  /* line 145, ../sass/_print.scss */
  .see-all a {
    text-decoration: none;
    font-size: 18px;
    font-size: 1.8rem;
  }

  /* line 155, ../sass/_print.scss */
  .images-videos-items .img-item .grid-item-text .grid-context h5.context-header {
    height: 43px;
    overflow: hidden;
  }
  /* line 165, ../sass/_print.scss */
  .images-videos-items li .img-item .image-wrapper .hover-icons {
    display: none;
  }

  /* line 172, ../sass/_print.scss */
  .tablet-hover-icons {
    display: none;
  }

  /* line 179, ../sass/_print.scss */
  .lookbooks-items .lookbook-item .grid-item-text .grid-context h5.context-header {
    height: 60px;
    overflow: hidden;
  }
  /* line 184, ../sass/_print.scss */
  .lookbooks-items .lookbook-item .grid-item-text .lookbook-footer {
    position: static;
    bottom: auto;
    width: 100%;
  }
  /* line 188, ../sass/_print.scss */
  .lookbooks-items .lookbook-item .grid-item-text .lookbook-footer .country {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 20px;
    line-height: 2rem;
    height: 20px;
    height: 2rem;
  }
  /* line 193, ../sass/_print.scss */
  .lookbooks-items .lookbook-item .grid-item-text .lookbook-footer .date {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 24px;
    line-height: 2.4rem;
    height: 24px;
    height: 2.4rem;
    margin-top: 10px;
    margin-top: 1rem;
  }

  /* line 206, ../sass/_print.scss */
  .products-items .grid-item-text .grid-context h5.context-header {
    height: 37px;
    overflow: hidden;
  }
  /* line 214, ../sass/_print.scss */
  .products-items .product-item .grid-item-text .product-footer {
    display: none;
  }

  /* line 224, ../sass/_print.scss */
  .showcasecategorylistings-items .grid-item-text .grid-context h5.context-header {
    height: 37px;
    overflow: hidden;
  }
  /* line 232, ../sass/_print.scss */
  .showcasecategorylistings-items .showcasecategorylisting-item .grid-item-text .product-footer {
    display: none;
  }

  /* line 243, ../sass/_print.scss */
  .athletes-items li .athletes-item .grid-item-text .context-header {
    height: 40px;
    overflow: hidden;
  }

  /* line 254, ../sass/_print.scss */
  .home ul.block-grid > li {
    padding: 20px 16px 16px 16px;
    padding: 2rem 1.6rem 1.6rem 1.6rem;
  }

  /* Contact*/
  /* line 268, ../sass/_print.scss */
  .contact-us-wrapper .six {
    width: 100% !important;
  }
  /* line 270, ../sass/_print.scss */
  .contact-us-wrapper .six .contacts-content {
    margin-top: 10px;
    margin-top: 1rem;
  }

  /* line 277, ../sass/_print.scss */
  div.email span {
    margin-left: 0px;
    margin-left: 0rem;
  }

  /* line 281, ../sass/_print.scss */
  i.icons-phone-icon {
    margin-right: -8px;
  }

  /* Footer */
  /* line 287, ../sass/_print.scss */
  footer .desktop {
    display: none;
  }
  /* line 290, ../sass/_print.scss */
  footer .tablet {
    display: block;
  }
  /* line 293, ../sass/_print.scss */
  footer ul.social-buttons {
    display: block;
    line-height: 1;
    text-align: center;
    padding: 32px 0px 16px 0px;
    padding: 3.2rem 0rem 1.6rem 0rem;
  }
  /* line 298, ../sass/_print.scss */
  footer ul.social-buttons li {
    display: inline-block;
    padding: 0px 18px;
    padding: 0rem 1.8rem;
  }
  /* line 302, ../sass/_print.scss */
  footer ul.social-buttons li a img {
    height: 36px;
    height: 3.6rem;
  }
  /* line 306, ../sass/_print.scss */
  footer ul.social-buttons li:first-child {
    padding-left: 0;
  }
  /* line 309, ../sass/_print.scss */
  footer ul.social-buttons li:last-child {
    padding-right: 0;
  }
  /* line 314, ../sass/_print.scss */
  footer ul.footer-links {
    display: block;
    text-align: center;
    width: 100%;
    line-height: 1;
  }
  /* line 319, ../sass/_print.scss */
  footer ul.footer-links li {
    position: relative;
    display: inline-block;
  }
  /* line 322, ../sass/_print.scss */
  footer ul.footer-links li a {
    font-size: 12px;
    font-size: 1.2rem;
    text-decoration: none;
  }
  /* line 328, ../sass/_print.scss */
  footer .copyright {
    font-size: 11px;
    font-size: 1.1rem;
    text-align: center;
    padding: 0px;
    padding: 0rem;
  }

  /* Cookies disclaimer */
  /* line 336, ../sass/_print.scss */
  .cookies-message {
    display: none !important;
  }

  /* Listing pages */
  /* line 341, ../sass/_print.scss */
  .filters {
    margin: 0px 0px 8px 0px;
    margin: 0rem 0rem 0.8rem 0rem;
  }
  /* line 343, ../sass/_print.scss */
  .filters ul {
    display: block;
    padding: 0;
  }
  /* line 346, ../sass/_print.scss */
  .filters ul li {
    padding: 10px 20px 10px 0px;
    padding: 1rem 2rem 1rem 0rem;
    display: inline-block;
    border: none;
  }
  /* line 350, ../sass/_print.scss */
  .filters ul li i {
    display: none;
  }
  /* line 353, ../sass/_print.scss */
  .filters ul li a {
    padding: 0px 0px 0px 25px;
    padding: 0rem 0rem 0rem 2.5rem;
  }
  /* line 355, ../sass/_print.scss */
  .filters ul li a b {
    display: inline;
  }
  /* line 358, ../sass/_print.scss */
  .filters ul li a p {
    display: inline;
    margin-top: 0px;
    margin-top: 0rem;
    padding-left: 5px;
    padding-left: 0.5rem;
  }
  /* line 365, ../sass/_print.scss */
  .filters ul li:before {
    content: '|';
  }
  /* line 369, ../sass/_print.scss */
  .filters ul li:first-child:before {
    content: ' ';
  }

  /* line 376, ../sass/_print.scss */
  .pagination.mobile {
    display: none;
  }

  /* Story detail */
  /* line 384, ../sass/_print.scss */
  .detail-pages .detail-header .title {
    margin-bottom: 0px;
    margin-bottom: 0rem;
  }
  /* line 390, ../sass/_print.scss */
  .detail-pages .detail-content .media div.download {
    display: none;
  }
  /* line 396, ../sass/_print.scss */
  .detail-pages .contacts .block-grid.two-up > li {
    width: 100%;
  }
  /* line 400, ../sass/_print.scss */
  .detail-pages table {
    width: 320px !important;
  }

  /* line 405, ../sass/_print.scss */
  .tag {
    margin-top: 16px;
    margin-top: 1.6rem;
  }

  /* line 409, ../sass/_print.scss */
  .amp-wrapper {
    max-width: 640px;
  }
  /* line 411, ../sass/_print.scss */
  .amp-wrapper .amp {
    padding: 0px;
    padding: 0rem;
  }
  /* line 414, ../sass/_print.scss */
  .amp-wrapper .amp .amp-inner-content-wrap .download-buttons {
    display: none !important;
  }
  /* line 417, ../sass/_print.scss */
  .amp-wrapper .amp .amp-inner-content-wrap .download-buttons-mobile {
    display: none;
  }

  /* line 424, ../sass/_print.scss */
  .related.tablet-down {
    display: none;
  }

  /* line 428, ../sass/_print.scss */
  .top-tools {
    position: relative;
  }
  /* line 431, ../sass/_print.scss */
  .top-tools .button-text ul {
    display: none;
  }
  /* line 434, ../sass/_print.scss */
  .top-tools .button-text .paging {
    position: relative;
  }

  /* Asset detail page */
  /* line 443, ../sass/_print.scss */
  .images-videos-detail-page .detail-header .title {
    padding: 16px 0px;
    padding: 1.6rem 0rem;
  }
  /* line 448, ../sass/_print.scss */
  .images-videos-detail-page .amp-wrapper .amp {
    padding: 32px 32px 40px 32px;
    padding: 3.2rem 3.2rem 4rem 3.2rem;
  }

  /* line 457, ../sass/_print.scss */
  .detail-content .detail-asset .text h6 {
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-weight: bold;
    font-size: 16px;
    font-size: 1.6rem;
    margin: 24px 0px 0px 0px;
    margin: 2.4rem 0rem 0rem 0rem;
  }
  /* line 462, ../sass/_print.scss */
  .detail-content .detail-asset .text p {
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    line-height: 1;
  }

  /* line 471, ../sass/_print.scss */
  .addthis_toolbox {
    display: none;
  }

  /* Media cart */
  /* line 477, ../sass/_print.scss */
  .mediacart .send-wrapper {
    display: none;
  }

  /* Rss listing page */
  /* line 484, ../sass/_print.scss */
  .rss-listing .block-grid.two-up > li {
    width: 100%;
  }
  /* line 487, ../sass/_print.scss */
  .rss-listing .filters-mobile {
    display: none;
  }
  /* line 490, ../sass/_print.scss */
  .rss-listing label {
    font-size: 16px;
    font-size: 1.6rem;
  }
  /* line 493, ../sass/_print.scss */
  .rss-listing .xml-button {
    display: table-cell;
    width: 70px;
    height: 33px;
  }

  /* line 499, ../sass/_print.scss */
  .rss-item-wrapper {
    display: table;
    width: 100%;
  }

  /* line 503, ../sass/_print.scss */
  div.rss-input-wrapper {
    display: table-cell;
    padding-right: 8px;
    padding-right: 0.8rem;
  }
  /* line 506, ../sass/_print.scss */
  div.rss-input-wrapper input {
    margin: 0px;
    margin: 0rem;
  }

  /* Search */
  /* line 513, ../sass/_print.scss */
  .search-results .search-item {
    padding: 32px 0px 32px 16px;
    padding: 3.2rem 0rem 3.2rem 1.6rem;
    width: 100%;
    display: table;
  }
  /* line 517, ../sass/_print.scss */
  .search-results .search-item .search-separator {
    display: table-cell;
    width: 9px;
  }
  /* line 521, ../sass/_print.scss */
  .search-results .search-item .search-content {
    display: table-cell;
    vertical-align: top;
  }
  /* line 524, ../sass/_print.scss */
  .search-results .search-item .search-content .title {
    height: 37px;
    overflow: hidden;
    font-size: 18px;
    font-size: 1.8rem;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-weight: 700;
    line-height: 1;
  }
  /* line 530, ../sass/_print.scss */
  .search-results .search-item .search-content .title a {
    text-decoration: none;
  }
  /* line 534, ../sass/_print.scss */
  .search-results .search-item .search-content .description {
    font-size: 12px;
    font-size: 1.2rem;
    height: 40px;
    overflow: hidden;
  }
  /* line 540, ../sass/_print.scss */
  .search-results .search-item .search-img {
    display: table-cell;
  }
  /* line 542, ../sass/_print.scss */
  .search-results .search-item .search-img img {
    width: 120px;
  }

  /* Popups */
  /* line 550, ../sass/_print.scss */
  #asset-amp-popup, #asset-more-info-popup, #asset-share-popup, #copy-code-popup, #single-asset-download-popup, #asset-download-usage-restrictions-popup, #asset-download-tell-us-about-you-popup, #download-format-options-popup, #download-additional-steps-required-popup, #multiple-assets-download-tell-us-about-you-popup, #contact-inquiry-popup, #user-send-cart-popup, #send-card-popup, #disable-cookies-popup, #confirmation-contact-popup, #expired-popup {
    display: none !important;
  }
}
/* line 1, ../sass/_big-sprites.scss */
.social-buttons-sprite, .social-buttons-email, .social-buttons-embed, .social-buttons-fb, .social-buttons-link, .social-buttons-more, .social-buttons-pint, .social-buttons-tw {
  background-size: 31px 168px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.3) {
  /* line 6, ../sass/_big-sprites.scss */
  .social-buttons-sprite, .social-buttons-email, .social-buttons-embed, .social-buttons-fb, .social-buttons-link, .social-buttons-more, .social-buttons-pint, .social-buttons-tw {
    background-image: url("/content/images/social-buttons2x.png");
  }
}
