/* Global variables */
/* Log-Reg Variables */
/* Header variables */
/*$newsroom-label: #000000;*/
/* mobile-menu */
/* Search */
/* Rotator */
/* About this newsroom */
/* Contact */
/* Footer */
/* AMP */
/* Tag */
/* Story Detail */
/* lookbook */
/* Home Listing */
/* Listing pages */
/* Filters */
/* Pagination */
/* Cookies page */
/* Cookies message */
/* Popup */
/* mediacart */
/* Custome button */
/*$custom-button-color: #000000;
$custom-button-background: #e9e9e9;
$custom-button-hover-color: #ffffff;
$custom-button-hover-background: #000000;*/
/* contacts */
/* mediacart */
/* rss */
/* Tag search */
/*$tag-search-item-background: #000000;
$tag-search-item-color: #ffffff;*/
/* Error page*/
/* Commmon search elements */
/* Detail pages */
/*LOGREG*/
/* footer */
/* line 3, ../sass/_footer.scss */
footer {
  z-index: 50;
  position: relative;
  background-color: #ffffff;
}
/* line 10, ../sass/_footer.scss */
footer .footer-content .border {
  border-top: 1px dotted #cccccc;
}
/* line 15, ../sass/_footer.scss */
footer ul.social-buttons {
  list-style: none;
  margin: 0px;
  margin: 0rem;
}
/* line 20, ../sass/_footer.scss */
footer ul.footer-links {
  list-style: none;
  margin: 0px;
  margin: 0rem;
}
/* line 25, ../sass/_footer.scss */
footer ul.footer-links li a {
  color: #000000;
  font-family: arial;
  font-weight: 400;
  font-family: arial;
}
/* line 31, ../sass/_footer.scss */
footer .copyright {
  color: #000000;
  font-family: arial;
  font-weight: 400;
}
/* line 35, ../sass/_footer.scss */
footer .powered-newsmarket {
  background: #f1f1f1;
  text-align: center;
}
/* line 38, ../sass/_footer.scss */
footer .powered-newsmarket a {
  position: relative;
}
/* line 41, ../sass/_footer.scss */
footer .powered-newsmarket a img {
  width: 176px;
  height: 16px;
  /*margin:16px 0 16px 21px;*/
}
/* line 50, ../sass/_footer.scss */
footer ul.footer-row ul.social-buttons {
  padding: 16px 0px 26px 0px;
  padding: 1.6rem 0rem 2.6rem 0rem;
}
/* line 55, ../sass/_footer.scss */
footer ul.footer-row li h4.social-links-title {
  color: #000000;
  font-family: arial;
  font-weight: bold;
  font-family: arial;
}
/* line 59, ../sass/_footer.scss */
footer ul.footer-row li h4.subscribe-footer-title {
  color: #000000;
  font-family: arial;
  font-weight: bold;
  font-family: arial;
}
/* line 69, ../sass/_footer.scss */
footer ul.footer-row li.subscribe div.subscribe-form .subscribe-wrapper .subscribe-input-wrapper form input {
  color: #000000;
  font-family: arial;
  font-weight: 400;
  font-family: arial;
}
/* line 73, ../sass/_footer.scss */
footer ul.footer-row li.subscribe div.subscribe-form .subscribe-wrapper .subscribe-input-wrapper form input::placeholder {
  color: #000000;
  font-family: arial;
  font-weight: 400;
  font-family: arial;
}
/* line 77, ../sass/_footer.scss */
footer ul.footer-row li.subscribe div.subscribe-form .subscribe-wrapper .subscribe-input-wrapper form input:-ms-input-placeholder {
  color: #000000;
  font-family: arial;
  font-weight: 400;
  font-family: arial;
}
/* line 81, ../sass/_footer.scss */
footer ul.footer-row li.subscribe div.subscribe-form .subscribe-wrapper .subscribe-input-wrapper form input::-ms-input-placeholder {
  color: #000000;
  font-family: arial;
  font-weight: 400;
  font-family: arial;
}
/* line 87, ../sass/_footer.scss */
footer ul.footer-row li.subscribe div.subscribe-form .subscribe-wrapper .footer-subscribe-button {
  color: #ffffff;
  background: #000000;
  font-family: arial;
  font-weight: bold;
  font-family: arial;
}

/* line 99, ../sass/_footer.scss */
.desktop .footer-content .links-wrapper {
  overflow: hidden;
  padding: 0px 18px 0px 0px;
  padding: 0rem 1.8rem 0rem 0rem;
}
/* line 103, ../sass/_footer.scss */
.desktop .footer-content .links-wrapper .footer-links {
  text-align: left;
}
/* line 106, ../sass/_footer.scss */
.desktop .footer-content .links-wrapper .footer-links li {
  display: inline-block;
  padding: 20px 20px 0px 0px;
  padding: 2rem 2rem 0rem 0rem;
}
/* line 113, ../sass/_footer.scss */
.desktop .footer-content .social-icons {
  float: right;
  max-width: 45%;
  padding: 0px 0px 0px 18px;
  padding: 0rem 0rem 0rem 1.8rem;
}
/* line 118, ../sass/_footer.scss */
.desktop .footer-content .social-icons ul {
  padding: 20px 0px;
  padding: 2rem 0rem;
  text-align: left;
}
/* line 123, ../sass/_footer.scss */
.desktop .footer-content .social-icons ul li:last-child {
  padding-right: 0px;
  padding-right: 0rem;
}
/* line 130, ../sass/_footer.scss */
.desktop .footer-content .links {
  background-color: #A5A5A5;
}
/* line 133, ../sass/_footer.scss */
.desktop .footer-content .links .footer-links {
  padding: 0px 18px;
  padding: 0rem 1.8rem;
}
/* line 136, ../sass/_footer.scss */
.desktop .footer-content .links .footer-links li {
  padding: 16px 18px 0px 18px;
  padding: 1.6rem 1.8rem 0rem 1.8rem;
}
/* line 139, ../sass/_footer.scss */
.desktop .footer-content .links .footer-links li:first-child {
  padding-left: 0;
}
/* line 143, ../sass/_footer.scss */
.desktop .footer-content .links .footer-links li:last-child {
  padding-right: 0;
}
/* line 150, ../sass/_footer.scss */
.desktop .footer-content ul.linksrow {
  display: block;
  line-height: 1;
  text-align: left;
  margin: 0px 0px 0px 0px;
  margin: 0rem 0rem 0rem 0rem;
  padding: 7px 0px 6px 0px;
  padding: 0.7rem 0rem 0.6rem 0rem;
}
/* line 157, ../sass/_footer.scss */
.desktop .footer-content ul.linksrow li {
  display: inline-block;
  padding: 0px 0px 0px 20px;
  padding: 0rem 0rem 0rem 2rem;
}
/* line 161, ../sass/_footer.scss */
.desktop .footer-content ul.linksrow li a {
  height: 23px;
  height: 2.3rem;
}
/* line 164, ../sass/_footer.scss */
.desktop .footer-content ul.linksrow li a img {
  height: 23px;
  height: 2.3rem;
}
/* line 169, ../sass/_footer.scss */
.desktop .footer-content ul.linksrow li:first-child {
  padding-left: 0;
}
/* line 173, ../sass/_footer.scss */
.desktop .footer-content ul.linksrow li:last-child {
  padding-right: 0;
}

/* line 183, ../sass/_footer.scss */
footer .tablet .columns {
  width: 100%;
}
/* line 187, ../sass/_footer.scss */
footer .tablet .links {
  padding: 0;
}
/* line 190, ../sass/_footer.scss */
footer .tablet .links .footer-links {
  padding: 0px 18px;
  padding: 0rem 1.8rem;
}
/* line 193, ../sass/_footer.scss */
footer .tablet .links .footer-links li {
  padding: 16px 18px 0px 18px;
  padding: 1.6rem 1.8rem 0rem 1.8rem;
}
/* line 196, ../sass/_footer.scss */
footer .tablet .links .footer-links li:first-child {
  padding-left: 0;
}
/* line 200, ../sass/_footer.scss */
footer .tablet .links .footer-links li:last-child {
  padding-right: 0;
}

/* line 211, ../sass/_footer.scss */
footer .tablet ul.social-buttons {
  text-align: center;
}
/* line 217, ../sass/_footer.scss */
footer .tablet ul.linksrow {
  text-align: left;
  background-color: #a5a5a5;
}

@media only screen and (min-width: 0px), (min-device-width: 320px) and (max-device-width: 641px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 227, ../sass/_footer.scss */
  footer ul.social-buttons {
    display: block;
    line-height: 1;
    text-align: center;
    padding: 16px 0px 32px 0px;
    padding: 1.6rem 0rem 3.2rem 0rem;
  }
  /* line 233, ../sass/_footer.scss */
  footer ul.social-buttons li {
    display: inline-block;
    padding: 16px 12px 0px 12px;
    padding: 1.6rem 1.2rem 0rem 1.2rem;
    text-align: left;
  }
  /* line 239, ../sass/_footer.scss */
  footer ul.social-buttons li a img {
    height: 31px;
    height: 3.1rem;
  }
  /* line 244, ../sass/_footer.scss */
  footer ul.social-buttons li:first-child {
    padding-left: 0;
  }
  /* line 248, ../sass/_footer.scss */
  footer ul.social-buttons li:last-child {
    padding-right: 0;
  }
  /* line 256, ../sass/_footer.scss */
  footer div.linksrowcontainerdiv {
    background-color: #A5A5A5;
  }
  /* line 260, ../sass/_footer.scss */
  footer ul.linksrow {
    display: block;
    line-height: 1;
    text-align: left;
    margin: 0px 0px 0px 0px;
    margin: 0rem 0rem 0rem 0rem;
    padding: 7px 0px 6px 0px;
    padding: 0.7rem 0rem 0.6rem 0rem;
  }
  /* line 267, ../sass/_footer.scss */
  footer ul.linksrow li {
    display: inline-block;
    padding: 0px 0px 0px 20px;
    padding: 0rem 0rem 0rem 2rem;
  }
  /* line 271, ../sass/_footer.scss */
  footer ul.linksrow li a {
    height: 23px;
    height: 2.3rem;
  }
  /* line 274, ../sass/_footer.scss */
  footer ul.linksrow li a img {
    height: 23px;
    height: 2.3rem;
  }
  /* line 279, ../sass/_footer.scss */
  footer ul.linksrow li:first-child {
    padding-left: 0;
  }
  /* line 283, ../sass/_footer.scss */
  footer ul.linksrow li:last-child {
    padding-right: 0;
  }
  /* line 289, ../sass/_footer.scss */
  footer ul.footer-links {
    line-height: 1;
  }
  /* line 292, ../sass/_footer.scss */
  footer ul.footer-links li {
    position: relative;
    text-align: center;
    padding: 8px 0px;
    padding: 0.8rem 0rem;
  }
  /* line 297, ../sass/_footer.scss */
  footer ul.footer-links li:first-child {
    padding-top: 0;
  }
  /* line 301, ../sass/_footer.scss */
  footer ul.footer-links li a {
    display: inline-block;
    font-size: 14px;
    font-size: 1.4rem;
  }
  /* line 308, ../sass/_footer.scss */
  footer .copyright {
    font-size: 10px;
    font-size: 1rem;
    padding: 32px 0px;
    padding: 3.2rem 0rem;
    text-align: center;
    /*padding-bottom: 0px;
    margin-left: 37px;
    padding-right: 97px;*/
  }
  /* line 315, ../sass/_footer.scss */
  footer .powered-newsmarket {
    height: 48px;
    text-align: center;
  }
  /* line 320, ../sass/_footer.scss */
  footer .powered-newsmarket a img {
    margin: 16px 0px 16px 0px;
    margin: 1.6rem 0rem 1.6rem 0rem;
  }
  /* line 327, ../sass/_footer.scss */
  footer ul.footer-row ul.social-buttons {
    text-align: left;
    padding: 10px 0px 16px 30px;
    padding: 1rem 0rem 1.6rem 3rem;
  }
  /* line 331, ../sass/_footer.scss */
  footer ul.footer-row ul.social-buttons li {
    padding: 0px 1px;
    padding: 0rem 0.1rem;
  }
  /* line 337, ../sass/_footer.scss */
  footer ul.footer-row ul.footer-links li {
    padding-bottom: 10px;
  }
  /* line 340, ../sass/_footer.scss */
  footer ul.footer-row ul.footer-links li:first-child {
    padding-top: 0;
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 601px) and (-webkit-max-device-pixel-ratio: 1), only screen and (min-width: 601px), only screen and (min-width: 768px), (min-width: 601px) and (orientation: landscape) and (-webkit-max-device-pixel-ratio: 1.4), (min-device-width: 600px) and (max-device-width: 966px) and (-webkit-max-device-pixel-ratio: 1.4) and (orientation: portrait), (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) {
  /* line 352, ../sass/_footer.scss */
  footer ul.social-buttons {
    padding: 0px 0px 16px 0px;
    padding: 0rem 0rem 1.6rem 0rem;
  }
  /* line 355, ../sass/_footer.scss */
  footer ul.social-buttons li {
    padding: 32px 18px 0px 18px;
    padding: 3.2rem 1.8rem 0rem 1.8rem;
    text-align: left;
  }
  /* line 360, ../sass/_footer.scss */
  footer ul.social-buttons li a img {
    height: 36px;
    height: 3.6rem;
  }
  /* line 367, ../sass/_footer.scss */
  footer ul.footer-links {
    display: block;
    text-align: center;
    width: 100%;
    line-height: 1;
  }
  /* line 373, ../sass/_footer.scss */
  footer ul.footer-links li {
    position: relative;
    display: inline-block;
  }
  /* line 377, ../sass/_footer.scss */
  footer ul.footer-links li a {
    font-size: 14px;
    font-size: 1.4rem;
  }
  /* line 383, ../sass/_footer.scss */
  footer .copyright {
    font-size: 10px;
    font-size: 1rem;
    padding: 32px 0px;
    padding: 3.2rem 0rem;
    text-align: center;
  }
  /* line 387, ../sass/_footer.scss */
  footer .powered-newsmarket {
    height: 78px;
    text-align: center;
  }
  /* line 391, ../sass/_footer.scss */
  footer .powered-newsmarket a {
    position: relative;
  }
  /* line 394, ../sass/_footer.scss */
  footer .powered-newsmarket a img {
    margin: 32px 0px 32px 0px;
    margin: 3.2rem 0rem 3.2rem 0rem;
  }
  /* line 401, ../sass/_footer.scss */
  footer ul.footer-row ul.social-buttons {
    padding: 25px 0px 0px 0px;
    padding: 2.5rem 0rem 0rem 0rem;
  }
  /* line 404, ../sass/_footer.scss */
  footer ul.footer-row ul.social-buttons li {
    padding: 0px 5px;
    padding: 0rem 0.5rem;
  }
  /* line 408, ../sass/_footer.scss */
  footer ul.footer-row ul.social-buttons li a img {
    height: 56px;
    height: 5.6rem;
  }
  /* line 415, ../sass/_footer.scss */
  footer ul.footer-row ul.footer-links {
    display: flex !important;
    padding-bottom: 0;
  }
  /* line 419, ../sass/_footer.scss */
  footer ul.footer-row ul.footer-links li {
    padding: 20px 18px 0px 0px;
    padding: 2rem 1.8rem 0rem 0rem;
  }
  /* line 422, ../sass/_footer.scss */
  footer ul.footer-row ul.footer-links li:first-child {
    padding-bottom: 10px;
    padding-top: 20px !important;
  }
  /* line 429, ../sass/_footer.scss */
  footer ul.footer-row .copyright {
    margin-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 769px) {
  /* line 439, ../sass/_footer.scss */
  footer ul.social-buttons {
    padding: 25px 0px 0px 30px;
    padding: 2.5rem 0rem 0rem 3rem;
  }
  /* line 442, ../sass/_footer.scss */
  footer ul.social-buttons li {
    padding: 0px 14px;
    padding: 0rem 1.4rem;
  }
  /* line 447, ../sass/_footer.scss */
  footer ul.footer-links {
    line-height: 1;
  }
  /* line 448, ../sass/_footer.scss */
  footer ul.footer-links::before {
    display: none;
  }
  /* line 452, ../sass/_footer.scss */
  footer ul.footer-links::after {
    display: none;
  }
  /* line 458, ../sass/_footer.scss */
  footer ul.footer-links li {
    position: relative;
    padding: 20px 48px 0px 0px;
    padding: 2rem 4.8rem 0rem 0rem;
  }
  /* line 462, ../sass/_footer.scss */
  footer ul.footer-links li a {
    font-size: 12px;
    font-size: 1.2rem;
    padding-bottom: 2px;
  }
  /* line 466, ../sass/_footer.scss */
  footer ul.footer-links li a:hover {
    border-bottom: 1px solid #000000;
    color: #000000;
    padding-bottom: 0px;
  }
  /* line 473, ../sass/_footer.scss */
  footer .copyright {
    font-size: 11px;
    font-size: 1.1rem;
    padding: 30px 0px 16px 0px;
    padding: 3rem 0rem 1.6rem 0rem;
    text-align: left;
  }
  /* line 478, ../sass/_footer.scss */
  footer .tablet .copyright {
    font-size: 10px;
    font-size: 1rem;
    padding: 32px 0px;
    padding: 3.2rem 0rem;
    text-align: center;
  }
  /* line 483, ../sass/_footer.scss */
  footer .powered-newsmarket {
    height: 78px;
    text-align: center;
  }
  /* line 487, ../sass/_footer.scss */
  footer .powered-newsmarket a {
    position: relative;
  }
  /* line 490, ../sass/_footer.scss */
  footer .powered-newsmarket a img {
    margin: 32px 0px 32px 0px;
    margin: 3.2rem 0rem 3.2rem 0rem;
  }
  /* line 498, ../sass/_footer.scss */
  footer ul.footer-row ul.social-buttons li {
    padding: 0px 5px;
    padding: 0rem 0.5rem;
    text-align: left;
  }
  /* line 503, ../sass/_footer.scss */
  footer ul.footer-row ul.social-buttons li a img {
    height: 56px;
    height: 5.6rem;
  }
  /* line 511, ../sass/_footer.scss */
  footer ul.footer-row ul.footer-links li {
    display: flex !important;
    padding-bottom: 0px !important;
    padding: 20px 18px 0px 0px;
    padding: 2rem 1.8rem 0rem 0rem;
  }
  /* line 516, ../sass/_footer.scss */
  footer ul.footer-row ul.footer-links li:first-child {
    padding-bottom: 10px;
    padding-top: 20px !important;
  }
  /* line 523, ../sass/_footer.scss */
  footer ul.footer-row .copyright {
    margin-left: 0px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 0px), (min-device-width: 320px) and (max-device-width: 641px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 533, ../sass/_footer.scss */
  .footer-links {
    padding-bottom: 0px;
  }

  /* line 538, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-input-wrapper {
    display: table-row;
    width: 100%;
  }
  /* line 542, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-input-wrapper form {
    margin: 0;
  }
  /* line 545, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-input-wrapper form input {
    height: 30px !important;
    width: 97%;
    margin: 0px 0px 12px 0px;
    margin: 0rem 0rem 1.2rem 0rem;
    padding: 0px 0px 0px 15px;
    padding: 0rem 0rem 0rem 1.5rem;
  }
  /* line 554, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-button-wrapper {
    display: table-row;
    width: 34%;
    padding-left: 0px;
  }
  /* line 559, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-button-wrapper .subscribe-button {
    min-width: 100px;
    width: auto;
    height: 30px;
    line-height: 30px;
    margin: 10px 5px;
    margin: 1rem 0.5rem;
    padding: 0px 5px;
    padding: 0rem 0.5rem;
  }
  /* line 569, ../sass/_footer.scss */
  footer .subscribe-wrapper .footer-subscribe-button {
    display: inline-block;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0 0 0 0 !important;
    font-size: 16px;
    font-size: 1.6rem;
  }
  /* line 582, ../sass/_footer.scss */
  footer .subscribe-form {
    padding: 0 15px !important;
  }

  /* line 589, ../sass/_footer.scss */
  ul.footer-row.row-1 {
    background-color: #ffffff;
    padding: 16px 0px 0px 0px !important;
  }
  /* line 594, ../sass/_footer.scss */
  ul.footer-row.row-2 {
    margin: 7px 1px 0px !important;
  }
  /* line 598, ../sass/_footer.scss */
  ul.footer-row.row-3 {
    margin: -20px !important;
    padding-top: 21px !important;
  }
  /* line 604, ../sass/_footer.scss */
  ul.footer-row li:nth-child(odd) {
    text-align: center;
  }
  /* line 608, ../sass/_footer.scss */
  ul.footer-row li:nth-child(even) {
    text-align: center;
  }
  /* line 612, ../sass/_footer.scss */
  ul.footer-row li h4 {
    display: block;
    text-align: left;
    margin-bottom: 0px;
  }
  /* line 618, ../sass/_footer.scss */
  ul.footer-row li h4.social-links-title {
    font-size: 32px;
    font-size: 3.2rem;
  }
  /* line 622, ../sass/_footer.scss */
  ul.footer-row li h4.subscribe-footer-title {
    font-size: 32px;
    font-size: 3.2rem;
  }
  /* line 626, ../sass/_footer.scss */
  ul.footer-row li div.subscribe-wrapper {
    display: flex;
  }
  /* line 631, ../sass/_footer.scss */
  ul.footer-row li.social-links {
    padding-left: 0;
    padding-bottom: 0;
  }
  /* line 635, ../sass/_footer.scss */
  ul.footer-row li.social-links h4.social-links-title {
    display: block;
    padding-left: 30px;
    margin-bottom: 0;
    text-align: left;
    /*font-weight: 400;
    color: #988C7F;*/
  }
  /* line 644, ../sass/_footer.scss */
  ul.footer-row li.social-links ul.social-buttons {
    text-align: left;
    display: block;
  }
  /* line 650, ../sass/_footer.scss */
  ul.footer-row li.subscribe {
    padding-left: 31px;
    padding-right: 31PX;
  }
  /* line 654, ../sass/_footer.scss */
  ul.footer-row li.subscribe div.subscribe-form {
    padding: 0 0px !important;
    margin-bottom: 0 !important;
    text-align: left;
  }
  /* line 665, ../sass/_footer.scss */
  ul.footer-row li.subscribe div.subscribe-form .subscribe-wrapper .subscribe-input-wrapper form input {
    margin: 10px 0px 0px 0px;
    margin: 1rem 0rem 0rem 0rem;
    font-size: 15px;
    font-size: 1.5rem;
  }
  /* line 679, ../sass/_footer.scss */
  ul.footer-row li.footer-links ul.footer-links {
    text-align: left;
    width: 100%;
  }
  /* line 686, ../sass/_footer.scss */
  ul.footer-row li.powered-by div.powered-newsmarket {
    text-align: center;
  }
  /* line 691, ../sass/_footer.scss */
  ul.footer-row li.copyright {
    margin-left: 37px;
  }
  /* line 695, ../sass/_footer.scss */
  ul.footer-row div.copyright {
    font-size: 12px;
    font-size: 1.2rem;
    padding: 0px 0px;
    padding: 0rem 0rem;
    text-align: center;
    padding-bottom: 0px;
    margin-left: 37px;
    padding-right: 97px;
  }
}
@media only screen and (min-width: 601px) and (-webkit-max-device-pixel-ratio: 1), only screen and (min-width: 601px), only screen and (min-width: 768px), (min-width: 601px) and (orientation: landscape) and (-webkit-max-device-pixel-ratio: 1.4), (min-device-width: 600px) and (max-device-width: 966px) and (-webkit-max-device-pixel-ratio: 1.4) and (orientation: portrait), (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) {
  /* line 706, ../sass/_footer.scss */
  footer .subscribe-wrapper {
    display: table;
  }
  /* line 709, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-input-wrapper {
    display: table-cell;
    padding-top: 18px;
    padding-top: 1.8rem;
    /*width: 50%;*/
  }
  /* line 713, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-input-wrapper .subscribe-input-wrapper form input {
    height: 48px !important;
    width: 97%;
    padding: 0px 0px 0px 15px;
    padding: 0rem 0rem 0rem 1.5rem;
  }
  /* line 720, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-button-wrapper {
    display: table-cell;
    width: 30%;
    padding-left: 10px;
    padding-top: 17px;
  }
  /* line 730, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-button-wrapper .subscribe-button {
    width: 86%;
    height: 56px;
    line-height: 56px;
    /*padding-left: 0px !important;*/
    padding-left: 12px;
    padding-right: 12px;
  }
  /* line 740, ../sass/_footer.scss */
  footer .subscribe-wrapper .footer-subscribe-button {
    font-size: 16px;
    font-size: 1.6rem;
  }

  /* line 747, ../sass/_footer.scss */
  ul.footer-row.row-2 {
    margin: 7px 20px 0px 15px !important;
  }
  /* line 754, ../sass/_footer.scss */
  ul.footer-row.row-3 {
    margin: -20px -1000px !important;
  }
  /* line 758, ../sass/_footer.scss */
  ul.footer-row li {
            /* Followign styles can be added if the row has two column layout and we want to align first item to left and second item to right and so on..
				&:nth-child(odd) {
				text-align: left;
			}

			&:nth-child(even) {
				text-align: right;
			}*/
  }
  /* line 767, ../sass/_footer.scss */
  ul.footer-row li h4 {
    display: inline;
  }
  /* line 771, ../sass/_footer.scss */
  ul.footer-row li h4.social-links-title {
    font-size: 32px;
    font-size: 3.2rem;
  }
  /* line 775, ../sass/_footer.scss */
  ul.footer-row li h4.subscribe-footer-title {
    font-size: 32px;
    font-size: 3.2rem;
  }
  /* line 779, ../sass/_footer.scss */
  ul.footer-row li div.subscribe-wrapper {
    display: flex;
  }
  /* line 784, ../sass/_footer.scss */
  ul.footer-row li.subscribe {
    padding-left: 45px;
    padding-left: 4.5rem;
  }
  /* line 787, ../sass/_footer.scss */
  ul.footer-row li.subscribe div.subscribe-form {
    padding: 40px 0px 6px 0px !important;
    margin-bottom: 0 !important;
    text-align: left;
  }
  /* line 798, ../sass/_footer.scss */
  ul.footer-row li.subscribe div.subscribe-form .subscribe-wrapper .subscribe-input-wrapper form input {
    width: 100% !important;
    margin: 10px 0px 0px 0px;
    margin: 1rem 0rem 0rem 0rem;
    height: 5.6rem !important;
    font-size: 15px;
    font-size: 1.5rem;
  }
  /* line 812, ../sass/_footer.scss */
  ul.footer-row li.social-links {
    padding-left: 45px;
    padding-top: 42px;
  }
  /* line 816, ../sass/_footer.scss */
  ul.footer-row li.social-links div.social-icons {
    display: table-row;
    text-align: left;
  }
  /* line 821, ../sass/_footer.scss */
  ul.footer-row li.social-links h4.social-links-title {
    display: inline;
    padding-right: 0px;
    margin-top: 3.2rem;
    padding-left: 0rem !important;
    margin-bottom: 0;
  }
  /* line 831, ../sass/_footer.scss */
  ul.footer-row li.social-links ul.social-buttons {
    text-align: inherit;
    display: table;
  }
  /* line 838, ../sass/_footer.scss */
  ul.footer-row li.footer-links ul.footer-links {
    text-align: inherit;
  }
  /* line 844, ../sass/_footer.scss */
  ul.footer-row li.powered-by div.powered-newsmarket {
    text-align: inherit;
  }
  /* line 849, ../sass/_footer.scss */
  ul.footer-row li.copyright {
    margin-left: 0;
  }
  /* line 853, ../sass/_footer.scss */
  ul.footer-row div.copyright {
    text-align: left;
    margin-left: 0;
  }
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  /* line 863, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-button-wrapper .subscribe-button {
    display: table-cell;
    padding-left: 5px !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 877, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-button-wrapper .subscribe-button {
    display: table\9;
    padding-left: 5px\9 !important;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 890, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-button-wrapper .subscribe-button {
    display: table;
    padding-left: 5px !important;
  }
}
@media only screen and (min-width: 769px) {
  /* line 901, ../sass/_footer.scss */
  footer .subscribe-wrapper {
    display: table;
  }
  /* line 904, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-input-wrapper {
    display: table-cell;
    padding-top: 1.5rem;
    /*width: 50%;*/
  }
  /* line 909, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-input-wrapper form input {
    height: 5.6rem !important;
    width: 100%;
    padding: 0px 0px 0px 15px;
    padding: 0rem 0rem 0rem 1.5rem;
  }
  /* line 918, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-button-wrapper {
    width: 30%;
    padding-left: 0px;
    padding-top: 15px;
    padding-right: 20px;
  }
  /* line 924, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-button-wrapper .subscribe-button {
    width: auto;
    height: 56px;
    line-height: 56px;
    min-width: 100px;
  }
  /* line 933, ../sass/_footer.scss */
  footer .subscribe-wrapper .footer-subscribe-button {
    display: inline-block;
    height: 56px;
    text-align: center;
    vertical-align: middle;
    line-height: 56px;
    font-size: 16px;
    font-size: 1.6rem;
    border-bottom: 0px;
    border-right: 0px;
    box-shadow: 0 0 0 0;
    text-transform: uppercase;
  }
  /* line 945, ../sass/_footer.scss */
  footer .subscribe-wrapper .footer-subscribe-button:hover {
    color: #ffffff;
    background: #000000;
  }

  /* line 954, ../sass/_footer.scss */
  ul.footer-row.row-1 {
    background-color: #ffffff;
    padding: 60px 0px 0px 0px !important;
    /*padding-right: 1015px !important;*/
  }
  /* line 960, ../sass/_footer.scss */
  ul.footer-row.row-2 {
    margin: 20px 1px 0px !important;
  }
  /* line 967, ../sass/_footer.scss */
  ul.footer-row.row-3 {
    margin: -20px -1000px !important;
  }
  /* line 973, ../sass/_footer.scss */
  ul.footer-row li h4.social-links-title {
    font-size: 42px;
    font-size: 4.2rem;
  }
  /* line 977, ../sass/_footer.scss */
  ul.footer-row li h4.subscribe-footer-title {
    font-size: 42px;
    font-size: 4.2rem;
  }
  /* line 982, ../sass/_footer.scss */
  ul.footer-row li.footer-links {
            /*padding: 0 0 0 28px !important;
			text-align: left;*/
    padding-right: 0px !important;
    width: 50% !important;
  }
  /* line 990, ../sass/_footer.scss */
  ul.footer-row li.subscribe {
    /*width: 60%;*/
    /*padding: 36px 0 !important;*/
    padding-left: 10px;
    padding-left: 1rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 5px;
    padding-bottom: 0.5rem;
  }
  /* line 997, ../sass/_footer.scss */
  ul.footer-row li.subscribe div.subscribe-form {
    padding: 0 !important;
    margin-bottom: 0 !important;
    text-align: left;
  }
  /* line 1008, ../sass/_footer.scss */
  ul.footer-row li.subscribe div.subscribe-form .subscribe-wrapper .subscribe-input-wrapper form input {
    width: 97% !important;
    margin: 10px 0px 0px 0px;
    margin: 1rem 0rem 0rem 0rem;
    font-size: 15px;
    font-size: 1.5rem;
  }
  /* line 1021, ../sass/_footer.scss */
  ul.footer-row li.social-links {
    padding-left: 32px !important;
    padding-bottom: 0;
    padding-top: 0px !important;
  }
  /* line 1026, ../sass/_footer.scss */
  ul.footer-row li.social-links h4.social-links-title {
    display: block;
    padding-right: 0px;
    margin-top: 0px;
    padding-left: 3rem;
    margin-bottom: 0;
  }
  /* line 1034, ../sass/_footer.scss */
  ul.footer-row li.social-links ul.social-buttons {
    text-align: left;
    display: block;
  }
  /* line 1040, ../sass/_footer.scss */
  ul.footer-row li.copyright {
    margin-left: 0;
  }
  /* line 1044, ../sass/_footer.scss */
  ul.footer-row div.copyright {
    font-size: 12px;
    font-size: 1.2rem;
    padding: 20px 0px 16px 0px;
    padding: 2rem 0rem 1.6rem 0rem;
    text-align: right;
  }
}
@media only screen and (min-width: 769px) and (-ms-high-contrast: active), only screen and (min-width: 769px) and (-ms-high-contrast: none) {
  /* line 1052, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-button-wrapper .subscribe-button {
    display: table-cell;
    padding-left: 12px !important;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 769px) and (-ms-high-contrast: active), only screen and (min-width: 769px) and (-ms-high-contrast: none) {
  /* line 1067, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-button-wrapper .subscribe-button {
    /*display: table\9;*/
    padding-left: 12px\9 !important;
    padding-right: 12px\9;
  }
}
@media only screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 0) {
  /* line 1081, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-button-wrapper .subscribe-button {
    display: table;
    padding-left: 12px !important;
    padding-right: 12px;
  }
}
@media only screen and (min-width: 769px) and (-ms-high-contrast: active), only screen and (min-width: 769px) and (-ms-high-contrast: none) {
  /* line 1094, ../sass/_footer.scss */
  footer .subscribe-wrapper .subscribe-button-wrapper .subscribe-button {
    display: block;
    width: 100%;
  }
  /* line 1099, ../sass/_footer.scss */
  footer *::-ms-backdrop, footer .subscribe-wrapper .subscribe-button-wrapper .subscribe-button {
    display: table-cell;
    padding-left: 12px !important;
    padding-right: 12px;
  }
}
/* line 1108, ../sass/_footer.scss */
.home .spacer {
  padding-top: 10px;
}
/* line 1114, ../sass/_footer.scss */
.home .see-all h4 {
  padding-bottom: 3.1rem;
}

/* line 1121, ../sass/_footer.scss */
footer ul.footer-links {
  display: -ms-flexbox;
}

@media print {
  /* Common elements style */
  /* line 3, ../sass/_print.scss */
  a[href]:after {
    content: none !important;
  }

  /* line 6, ../sass/_print.scss */
  .mobile {
    display: none;
  }

  /* line 9, ../sass/_print.scss */
  .tablet {
    display: none;
  }

  /* Header and Navigation */
  /* line 14, ../sass/_print.scss */
  .header-mid {
    position: relative;
  }
  /* line 18, ../sass/_print.scss */
  .header-mid .site-menu-wrapper nav.site-menu ul {
    display: table;
    margin-bottom: 0;
  }
  /* line 21, ../sass/_print.scss */
  .header-mid .site-menu-wrapper nav.site-menu ul .category-menu {
    display: none;
  }
  /* line 24, ../sass/_print.scss */
  .header-mid .site-menu-wrapper nav.site-menu ul li {
    padding: 0px 30px 0px 0px;
    padding: 0rem 3rem 0rem 0rem;
    display: table-cell;
    position: relative;
    list-style: none;
    border: none;
    white-space: normal;
    line-height: 44px;
    line-height: 4.4rem;
    text-align: left;
    list-style: none;
  }
  /* line 34, ../sass/_print.scss */
  .header-mid .site-menu-wrapper nav.site-menu ul li:last-of-type {
    padding-right: 0;
  }
  /* line 37, ../sass/_print.scss */
  .header-mid .site-menu-wrapper nav.site-menu ul li a {
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 14px;
    line-height: 1.4rem;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
  }
  /* line 50, ../sass/_print.scss */
  .header-mid .search {
    display: none;
  }

  /* line 55, ../sass/_print.scss */
  .top-menu-container {
    display: none;
  }

  /* line 60, ../sass/_print.scss */
  .header-top .logo-container .logo-wrapper {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: table;
    padding: 10px 0px;
    padding: 1rem 0rem;
  }
  /* line 67, ../sass/_print.scss */
  .header-top .logo-container .newsroom-label {
    display: table-cell;
    font-size: 24px;
    font-size: 2.4rem;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-weight: 400;
    padding-left: 10px;
    padding-left: 1rem;
  }
  /* line 72, ../sass/_print.scss */
  .header-top .logo-container .newsroom-label a {
    text-decoration: none;
  }

  /* Slider */
  /* line 80, ../sass/_print.scss */
  .slider-wrapper {
    display: none;
  }

  /* Landing page content */
  /* line 87, ../sass/_print.scss */
  .main-content .columns h3 {
    margin: 32px 0px 16px 0px;
    margin: 3.2rem 0rem 1.6rem 0rem;
  }
  /* line 89, ../sass/_print.scss */
  .main-content .columns h3 a {
    text-decoration: none;
  }

  /* line 100, ../sass/_print.scss */
  .latest-news-items li .news-item .grid-item-text .icons {
    display: none;
  }
  /* line 103, ../sass/_print.scss */
  .latest-news-items li .news-item .grid-item-text .news-footer {
    position: static;
    bottom: auto;
    width: 100%;
    padding-top: 12px;
    padding-top: 1.2rem;
  }
  /* line 108, ../sass/_print.scss */
  .latest-news-items li .news-item .grid-item-text .news-footer .date {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 18px;
    line-height: 1.8rem;
    padding-top: 0px;
    padding-top: 0rem;
  }
  /* line 114, ../sass/_print.scss */
  .latest-news-items li .news-item .grid-item-text .grid-context {
    height: 153px;
    position: relative;
  }
  /* line 117, ../sass/_print.scss */
  .latest-news-items li .news-item .grid-item-text .grid-context h5.context-header {
    margin: 0px;
    margin: 0rem;
    height: 60px;
    overflow: hidden;
  }
  /* line 122, ../sass/_print.scss */
  .latest-news-items li .news-item .grid-item-text .grid-context p {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 18px;
    line-height: 1.8rem;
  }

  /* line 140, ../sass/_print.scss */
  .see-all h4 {
    margin: 0px;
    margin: 0rem;
    padding-bottom: 32px;
    padding-bottom: 3.2rem;
    border-bottom: 1px dotted #cccccc;
  }
  /* line 145, ../sass/_print.scss */
  .see-all a {
    text-decoration: none;
    font-size: 18px;
    font-size: 1.8rem;
  }

  /* line 155, ../sass/_print.scss */
  .images-videos-items .img-item .grid-item-text .grid-context h5.context-header {
    height: 43px;
    overflow: hidden;
  }
  /* line 165, ../sass/_print.scss */
  .images-videos-items li .img-item .image-wrapper .hover-icons {
    display: none;
  }

  /* line 172, ../sass/_print.scss */
  .tablet-hover-icons {
    display: none;
  }

  /* line 179, ../sass/_print.scss */
  .lookbooks-items .lookbook-item .grid-item-text .grid-context h5.context-header {
    height: 60px;
    overflow: hidden;
  }
  /* line 184, ../sass/_print.scss */
  .lookbooks-items .lookbook-item .grid-item-text .lookbook-footer {
    position: static;
    bottom: auto;
    width: 100%;
  }
  /* line 188, ../sass/_print.scss */
  .lookbooks-items .lookbook-item .grid-item-text .lookbook-footer .country {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 20px;
    line-height: 2rem;
    height: 20px;
    height: 2rem;
  }
  /* line 193, ../sass/_print.scss */
  .lookbooks-items .lookbook-item .grid-item-text .lookbook-footer .date {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 24px;
    line-height: 2.4rem;
    height: 24px;
    height: 2.4rem;
    margin-top: 10px;
    margin-top: 1rem;
  }

  /* line 206, ../sass/_print.scss */
  .products-items .grid-item-text .grid-context h5.context-header {
    height: 37px;
    overflow: hidden;
  }
  /* line 214, ../sass/_print.scss */
  .products-items .product-item .grid-item-text .product-footer {
    display: none;
  }

  /* line 224, ../sass/_print.scss */
  .showcasecategorylistings-items .grid-item-text .grid-context h5.context-header {
    height: 37px;
    overflow: hidden;
  }
  /* line 232, ../sass/_print.scss */
  .showcasecategorylistings-items .showcasecategorylisting-item .grid-item-text .product-footer {
    display: none;
  }

  /* line 243, ../sass/_print.scss */
  .athletes-items li .athletes-item .grid-item-text .context-header {
    height: 40px;
    overflow: hidden;
  }

  /* line 254, ../sass/_print.scss */
  .home ul.block-grid > li {
    padding: 20px 16px 16px 16px;
    padding: 2rem 1.6rem 1.6rem 1.6rem;
  }

  /* Contact*/
  /* line 268, ../sass/_print.scss */
  .contact-us-wrapper .six {
    width: 100% !important;
  }
  /* line 270, ../sass/_print.scss */
  .contact-us-wrapper .six .contacts-content {
    margin-top: 10px;
    margin-top: 1rem;
  }

  /* line 277, ../sass/_print.scss */
  div.email span {
    margin-left: 0px;
    margin-left: 0rem;
  }

  /* line 281, ../sass/_print.scss */
  i.icons-phone-icon {
    margin-right: -8px;
  }

  /* Footer */
  /* line 287, ../sass/_print.scss */
  footer .desktop {
    display: none;
  }
  /* line 290, ../sass/_print.scss */
  footer .tablet {
    display: block;
  }
  /* line 293, ../sass/_print.scss */
  footer ul.social-buttons {
    display: block;
    line-height: 1;
    text-align: center;
    padding: 32px 0px 16px 0px;
    padding: 3.2rem 0rem 1.6rem 0rem;
  }
  /* line 298, ../sass/_print.scss */
  footer ul.social-buttons li {
    display: inline-block;
    padding: 0px 18px;
    padding: 0rem 1.8rem;
  }
  /* line 302, ../sass/_print.scss */
  footer ul.social-buttons li a img {
    height: 36px;
    height: 3.6rem;
  }
  /* line 306, ../sass/_print.scss */
  footer ul.social-buttons li:first-child {
    padding-left: 0;
  }
  /* line 309, ../sass/_print.scss */
  footer ul.social-buttons li:last-child {
    padding-right: 0;
  }
  /* line 314, ../sass/_print.scss */
  footer ul.footer-links {
    display: block;
    text-align: center;
    width: 100%;
    line-height: 1;
  }
  /* line 319, ../sass/_print.scss */
  footer ul.footer-links li {
    position: relative;
    display: inline-block;
  }
  /* line 322, ../sass/_print.scss */
  footer ul.footer-links li a {
    font-size: 12px;
    font-size: 1.2rem;
    text-decoration: none;
  }
  /* line 328, ../sass/_print.scss */
  footer .copyright {
    font-size: 11px;
    font-size: 1.1rem;
    text-align: center;
    padding: 0px;
    padding: 0rem;
  }

  /* Cookies disclaimer */
  /* line 336, ../sass/_print.scss */
  .cookies-message {
    display: none !important;
  }

  /* Listing pages */
  /* line 341, ../sass/_print.scss */
  .filters {
    margin: 0px 0px 8px 0px;
    margin: 0rem 0rem 0.8rem 0rem;
  }
  /* line 343, ../sass/_print.scss */
  .filters ul {
    display: block;
    padding: 0;
  }
  /* line 346, ../sass/_print.scss */
  .filters ul li {
    padding: 10px 20px 10px 0px;
    padding: 1rem 2rem 1rem 0rem;
    display: inline-block;
    border: none;
  }
  /* line 350, ../sass/_print.scss */
  .filters ul li i {
    display: none;
  }
  /* line 353, ../sass/_print.scss */
  .filters ul li a {
    padding: 0px 0px 0px 25px;
    padding: 0rem 0rem 0rem 2.5rem;
  }
  /* line 355, ../sass/_print.scss */
  .filters ul li a b {
    display: inline;
  }
  /* line 358, ../sass/_print.scss */
  .filters ul li a p {
    display: inline;
    margin-top: 0px;
    margin-top: 0rem;
    padding-left: 5px;
    padding-left: 0.5rem;
  }
  /* line 365, ../sass/_print.scss */
  .filters ul li:before {
    content: '|';
  }
  /* line 369, ../sass/_print.scss */
  .filters ul li:first-child:before {
    content: ' ';
  }

  /* line 376, ../sass/_print.scss */
  .pagination.mobile {
    display: none;
  }

  /* Story detail */
  /* line 384, ../sass/_print.scss */
  .detail-pages .detail-header .title {
    margin-bottom: 0px;
    margin-bottom: 0rem;
  }
  /* line 390, ../sass/_print.scss */
  .detail-pages .detail-content .media div.download {
    display: none;
  }
  /* line 396, ../sass/_print.scss */
  .detail-pages .contacts .block-grid.two-up > li {
    width: 100%;
  }
  /* line 400, ../sass/_print.scss */
  .detail-pages table {
    width: 320px !important;
  }

  /* line 405, ../sass/_print.scss */
  .tag {
    margin-top: 16px;
    margin-top: 1.6rem;
  }

  /* line 409, ../sass/_print.scss */
  .amp-wrapper {
    max-width: 640px;
  }
  /* line 411, ../sass/_print.scss */
  .amp-wrapper .amp {
    padding: 0px;
    padding: 0rem;
  }
  /* line 414, ../sass/_print.scss */
  .amp-wrapper .amp .amp-inner-content-wrap .download-buttons {
    display: none !important;
  }
  /* line 417, ../sass/_print.scss */
  .amp-wrapper .amp .amp-inner-content-wrap .download-buttons-mobile {
    display: none;
  }

  /* line 424, ../sass/_print.scss */
  .related.tablet-down {
    display: none;
  }

  /* line 428, ../sass/_print.scss */
  .top-tools {
    position: relative;
  }
  /* line 431, ../sass/_print.scss */
  .top-tools .button-text ul {
    display: none;
  }
  /* line 434, ../sass/_print.scss */
  .top-tools .button-text .paging {
    position: relative;
  }

  /* Asset detail page */
  /* line 443, ../sass/_print.scss */
  .images-videos-detail-page .detail-header .title {
    padding: 16px 0px;
    padding: 1.6rem 0rem;
  }
  /* line 448, ../sass/_print.scss */
  .images-videos-detail-page .amp-wrapper .amp {
    padding: 32px 32px 40px 32px;
    padding: 3.2rem 3.2rem 4rem 3.2rem;
  }

  /* line 457, ../sass/_print.scss */
  .detail-content .detail-asset .text h6 {
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-weight: bold;
    font-size: 16px;
    font-size: 1.6rem;
    margin: 24px 0px 0px 0px;
    margin: 2.4rem 0rem 0rem 0rem;
  }
  /* line 462, ../sass/_print.scss */
  .detail-content .detail-asset .text p {
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    line-height: 1;
  }

  /* line 471, ../sass/_print.scss */
  .addthis_toolbox {
    display: none;
  }

  /* Media cart */
  /* line 477, ../sass/_print.scss */
  .mediacart .send-wrapper {
    display: none;
  }

  /* Rss listing page */
  /* line 484, ../sass/_print.scss */
  .rss-listing .block-grid.two-up > li {
    width: 100%;
  }
  /* line 487, ../sass/_print.scss */
  .rss-listing .filters-mobile {
    display: none;
  }
  /* line 490, ../sass/_print.scss */
  .rss-listing label {
    font-size: 16px;
    font-size: 1.6rem;
  }
  /* line 493, ../sass/_print.scss */
  .rss-listing .xml-button {
    display: table-cell;
    width: 70px;
    height: 33px;
  }

  /* line 499, ../sass/_print.scss */
  .rss-item-wrapper {
    display: table;
    width: 100%;
  }

  /* line 503, ../sass/_print.scss */
  div.rss-input-wrapper {
    display: table-cell;
    padding-right: 8px;
    padding-right: 0.8rem;
  }
  /* line 506, ../sass/_print.scss */
  div.rss-input-wrapper input {
    margin: 0px;
    margin: 0rem;
  }

  /* Search */
  /* line 513, ../sass/_print.scss */
  .search-results .search-item {
    padding: 32px 0px 32px 16px;
    padding: 3.2rem 0rem 3.2rem 1.6rem;
    width: 100%;
    display: table;
  }
  /* line 517, ../sass/_print.scss */
  .search-results .search-item .search-separator {
    display: table-cell;
    width: 9px;
  }
  /* line 521, ../sass/_print.scss */
  .search-results .search-item .search-content {
    display: table-cell;
    vertical-align: top;
  }
  /* line 524, ../sass/_print.scss */
  .search-results .search-item .search-content .title {
    height: 37px;
    overflow: hidden;
    font-size: 18px;
    font-size: 1.8rem;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-weight: 700;
    line-height: 1;
  }
  /* line 530, ../sass/_print.scss */
  .search-results .search-item .search-content .title a {
    text-decoration: none;
  }
  /* line 534, ../sass/_print.scss */
  .search-results .search-item .search-content .description {
    font-size: 12px;
    font-size: 1.2rem;
    height: 40px;
    overflow: hidden;
  }
  /* line 540, ../sass/_print.scss */
  .search-results .search-item .search-img {
    display: table-cell;
  }
  /* line 542, ../sass/_print.scss */
  .search-results .search-item .search-img img {
    width: 120px;
  }

  /* Popups */
  /* line 550, ../sass/_print.scss */
  #asset-amp-popup, #asset-more-info-popup, #asset-share-popup, #copy-code-popup, #single-asset-download-popup, #asset-download-usage-restrictions-popup, #asset-download-tell-us-about-you-popup, #download-format-options-popup, #download-additional-steps-required-popup, #multiple-assets-download-tell-us-about-you-popup, #contact-inquiry-popup, #user-send-cart-popup, #send-card-popup, #disable-cookies-popup, #confirmation-contact-popup, #expired-popup {
    display: none !important;
  }
}
/* line 1, ../sass/_big-sprites.scss */
.social-buttons-sprite, .social-buttons-email, .social-buttons-embed, .social-buttons-fb, .social-buttons-link, .social-buttons-more, .social-buttons-pint, .social-buttons-tw {
  background-size: 31px 168px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.3) {
  /* line 6, ../sass/_big-sprites.scss */
  .social-buttons-sprite, .social-buttons-email, .social-buttons-embed, .social-buttons-fb, .social-buttons-link, .social-buttons-more, .social-buttons-pint, .social-buttons-tw {
    background-image: url("/content/images/social-buttons2x.png");
  }
}
