/* Global variables */
/* Log-Reg Variables */
/* Header variables */
/*$newsroom-label: #000000;*/
/* mobile-menu */
/* Search */
/* Rotator */
/* About this newsroom */
/* Contact */
/* Footer */
/* AMP */
/* Tag */
/* Story Detail */
/* lookbook */
/* Home Listing */
/* Listing pages */
/* Filters */
/* Pagination */
/* Cookies page */
/* Cookies message */
/* Popup */
/* mediacart */
/* Custome button */
/*$custom-button-color: #000000;
$custom-button-background: #e9e9e9;
$custom-button-hover-color: #ffffff;
$custom-button-hover-background: #000000;*/
/* contacts */
/* mediacart */
/* rss */
/* Tag search */
/*$tag-search-item-background: #000000;
$tag-search-item-color: #ffffff;*/
/* Error page*/
/* Commmon search elements */
/* Detail pages */
/*LOGREG*/
/* line 3, ../sass/ie.scss */
header, nav, section, article, aside, footer, hgroup {
  display: block;
}

/* line 8, ../sass/ie.scss */
.story-text .see-more, div.asset-description .see-more, div.asset-shotlist .see-more, div.asset-usagerights .see-more {
  display: none;
}

/* line 15, ../sass/ie.scss */
#home-rotator .four.columns h2 a, #home-rotator .four.columns p a {
  color: #333333 !important;
}
/* line 19, ../sass/ie.scss */
#home-rotator > .slider-item.first {
  display: block;
}
/* line 22, ../sass/ie.scss */
#home-rotator > .slider-item {
  display: none;
}

/* line 29, ../sass/ie.scss */
nav.section-menu ul li {
  list-style: none;
  list-style-image: none;
}
/* line 33, ../sass/ie.scss */
nav.section-menu ul li.active {
  list-style: none;
  list-style-image: none;
}

/* line 41, ../sass/ie.scss */
.questions .six.columns:first-child {
  border-top: none;
}

/* line 46, ../sass/ie.scss */
.close-reveal-modal {
  position: absolute;
}

/* line 49, ../sass/ie.scss */
img {
  max-width: none !important;
}

/* line 54, ../sass/ie.scss */
.slider-item .eight img {
  max-width: 100% !important;
}

/* line 60, ../sass/ie.scss */
.no-left-border {
  border-left: none !important;
}

/* line 63, ../sass/ie.scss */
.no-right-border {
  border-right: none !important;
}

/* line 66, ../sass/ie.scss */
.separator-footer-menu {
  border-right: none;
}

/* line 71, ../sass/ie.scss */
.lt-ie9 footer UL.social-buttons li {
  display: inline-block;
}

/* line 77, ../sass/ie.scss */
.lt-ie9 .download-all {
  display: none !important;
}

/* line 87, ../sass/ie.scss */
.lt-ie9 .header-mid .site-menu-wrapper nav.site-menu > ul > li li {
  list-style: none;
}

/* line 98, ../sass/ie.scss */
img.transparent {
  display: inline-block;
}

/* line 101, ../sass/ie.scss */
img.normal {
  display: none;
}

/* line 110, ../sass/ie.scss */
.home .img-item .image-wrapper .hover-icons .col1:hover img.transparent {
  display: none;
}
/* line 113, ../sass/ie.scss */
.home .img-item .image-wrapper .hover-icons .col1:hover img.normal {
  display: inline-block;
}

@media only screen and (min-width: 0px), (min-device-width: 320px) and (max-device-width: 641px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 128, ../sass/ie.scss */
  .landing-pages .img-item .image-wrapper .hover-icons .col3:hover img.transparent, .detail-pages .img-item .image-wrapper .hover-icons .col3:hover img.transparent, .mediacart .img-item .image-wrapper .hover-icons .col3:hover img.transparent {
    display: none;
  }
  /* line 131, ../sass/ie.scss */
  .landing-pages .img-item .image-wrapper .hover-icons .col3:hover img.normal, .detail-pages .img-item .image-wrapper .hover-icons .col3:hover img.normal, .mediacart .img-item .image-wrapper .hover-icons .col3:hover img.normal {
    display: inline-block;
  }
  /* line 135, ../sass/ie.scss */
  .landing-pages .img-item .image-wrapper .hover-icons .info-icon, .landing-pages .img-item .image-wrapper .hover-icons .download-icon, .detail-pages .img-item .image-wrapper .hover-icons .info-icon, .detail-pages .img-item .image-wrapper .hover-icons .download-icon, .mediacart .img-item .image-wrapper .hover-icons .info-icon, .mediacart .img-item .image-wrapper .hover-icons .download-icon {
    visibility: hidden;
  }

  /* line 148, ../sass/ie.scss */
  .detail-pages .detail-content .more-from ul li a p {
    height: 85px;
  }
  /* line 159, ../sass/ie.scss */
  .detail-pages .detail-content .related ul li a span {
    display: inline;
  }
}
/* line 176, ../sass/ie.scss */
.detail-pages .detail-content .related ul li a span {
  display: table-cell;
}
/* line 179, ../sass/ie.scss */
.detail-pages .detail-content .related ul li a .related-doc-icon {
  display: table-cell;
}

/* line 188, ../sass/ie.scss */
.images-videos-items .img-item .grid-item-text {
  padding: 0;
}

@media only screen and (min-width: 769px) {
  /* line 197, ../sass/ie.scss */
  .landing-pages .img-item .image-wrapper .hover-icons .info-icon, .landing-pages .img-item .image-wrapper .hover-icons .download-icon, .landing-pages .img-item .image-wrapper .hover-icons .media-icon, .detail-pages .img-item .image-wrapper .hover-icons .info-icon, .detail-pages .img-item .image-wrapper .hover-icons .download-icon, .detail-pages .img-item .image-wrapper .hover-icons .media-icon, .mediacart .img-item .image-wrapper .hover-icons .info-icon, .mediacart .img-item .image-wrapper .hover-icons .download-icon, .mediacart .img-item .image-wrapper .hover-icons .media-icon, .home .img-item .image-wrapper .hover-icons .info-icon, .home .img-item .image-wrapper .hover-icons .download-icon, .home .img-item .image-wrapper .hover-icons .media-icon {
    visibility: hidden;
  }
  /* line 202, ../sass/ie.scss */
  .landing-pages .img-item .image-wrapper:hover .info-icon, .landing-pages .img-item .image-wrapper:hover .download-icon, .landing-pages .img-item .image-wrapper:hover .media-icon, .detail-pages .img-item .image-wrapper:hover .info-icon, .detail-pages .img-item .image-wrapper:hover .download-icon, .detail-pages .img-item .image-wrapper:hover .media-icon, .mediacart .img-item .image-wrapper:hover .info-icon, .mediacart .img-item .image-wrapper:hover .download-icon, .mediacart .img-item .image-wrapper:hover .media-icon, .home .img-item .image-wrapper:hover .info-icon, .home .img-item .image-wrapper:hover .download-icon, .home .img-item .image-wrapper:hover .media-icon {
    visibility: visible;
  }

  /* line 215, ../sass/ie.scss */
  .detail-pages .detail-content .more-from ul li a p {
    height: 95px;
  }
}
@media only screen and (min-width: 601px) and (-webkit-max-device-pixel-ratio: 1), only screen and (min-width: 601px), only screen and (min-width: 768px), (min-width: 601px) and (orientation: landscape) and (-webkit-max-device-pixel-ratio: 1.4), (min-device-width: 600px) and (max-device-width: 966px) and (-webkit-max-device-pixel-ratio: 1.4) and (orientation: portrait), (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) {
  /* line 227, ../sass/ie.scss */
  .lt-ie9 .rsNav {
    padding: 0;
  }
}
/* line 234, ../sass/ie.scss */
.lt-ie9 .images-videos-items li .img-item .image-wrapper > a > img, .lt-ie9 .images-videos-items li .img-item:hover .image-wrapper > a > img {
  filter: none;
  top: 0px;
  left: 0px;
  zoom: 1;
}
/* line 242, ../sass/ie.scss */
.lt-ie9 .images-videos-items li .img-item .image-wrapper .col1, .lt-ie9 .images-videos-items li .img-item .image-wrapper .col3 {
  display: block;
  position: relative;
}
/* line 245, ../sass/ie.scss */
.lt-ie9 .images-videos-items li .img-item .image-wrapper .col1 a, .lt-ie9 .images-videos-items li .img-item .image-wrapper .col3 a {
  margin-top: -30px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
}
/* line 254, ../sass/ie.scss */
.lt-ie9 .images-videos-items li .img-item .image-wrapper .col1 a {
  text-align: center;
}
/* line 259, ../sass/ie.scss */
.lt-ie9 .images-videos-items li .img-item .image-wrapper .hover-icons .col3 {
  width: 33%;
}
/* line 264, ../sass/ie.scss */
.lt-ie9 .images-videos-items li .img-item .image-wrapper .hover-icons .col3 a img.transparent {
  display: inline-block;
}
/* line 267, ../sass/ie.scss */
.lt-ie9 .images-videos-items li .img-item .image-wrapper .hover-icons .col3 a img.normal {
  display: none;
}
/* line 271, ../sass/ie.scss */
.lt-ie9 .images-videos-items li .img-item .image-wrapper .hover-icons .col3 a:hover img.normal {
  display: inline-block;
}
/* line 274, ../sass/ie.scss */
.lt-ie9 .images-videos-items li .img-item .image-wrapper .hover-icons .col3 a:hover img.transparent {
  display: none;
}

/* line 291, ../sass/ie.scss */
.lt-ie9 .mediacart .images-videos-items li .image-wrapper .hover-icons .glass-icon, .lt-ie9 .mediacart .images-videos-items li .image-wrapper .hover-icons .play-icon {
  width: 33%;
  text-align: center;
}
/* line 295, ../sass/ie.scss */
.lt-ie9 .mediacart .images-videos-items li .image-wrapper .hover-icons .delete-icon {
  width: 0%;
  display: none;
  text-align: left;
}
/* line 301, ../sass/ie.scss */
.lt-ie9 .mediacart .images-videos-items li .image-wrapper .hover-icons.img-type .play-icon {
  display: none;
}
/* line 306, ../sass/ie.scss */
.lt-ie9 .mediacart .images-videos-items li .image-wrapper .hover-icons.video-type .glass-icon {
  display: none;
}
/* line 313, ../sass/ie.scss */
.lt-ie9 .mediacart .images-videos-items li .image-wrapper:hover .hover-icons .glass-icon, .lt-ie9 .mediacart .images-videos-items li .image-wrapper:hover .hover-icons .play-icon, .lt-ie9 .mediacart .images-videos-items li .image-wrapper:hover .hover-icons .delete-icon {
  width: 33%;
  display: block;
}
/* line 318, ../sass/ie.scss */
.lt-ie9 .mediacart .images-videos-items li .image-wrapper:hover .hover-icons.img-type .play-icon {
  display: none;
}
/* line 323, ../sass/ie.scss */
.lt-ie9 .mediacart .images-videos-items li .image-wrapper:hover .hover-icons.video-type .glass-icon, .lt-ie9 .mediacart .images-videos-items li .image-wrapper:hover .hover-icons.audio-type .glass-icon {
  display: none;
}

/* line 338, ../sass/ie.scss */
.images-videos-items li .img-item .image-wrapper > a > img {
  width: 100%;
}

/* line 348, ../sass/ie.scss */
.cart-empty .how-to-use #mediaCartSlider .slider-item {
  width: auto;
}
/* line 350, ../sass/ie.scss */
.cart-empty .how-to-use #mediaCartSlider .slider-item .left {
  width: 50%;
}
/* line 352, ../sass/ie.scss */
.cart-empty .how-to-use #mediaCartSlider .slider-item .left .dot {
  background: url('/content/images/elipce-black.png?1511868297') no-repeat;
  left: 32px;
  top: 40px;
}
/* line 360, ../sass/ie.scss */
.cart-empty .how-to-use .caption-wrapper .caption {
  width: 60% !important;
}
/* line 364, ../sass/ie.scss */
.cart-empty .how-to-use .caption-wrapper .nav .rsArrowLeft, .cart-empty .how-to-use .caption-wrapper .nav .rsArrowRight {
  display: block !important;
  float: left;
}
/* line 368, ../sass/ie.scss */
.cart-empty .how-to-use .caption-wrapper .nav .rsArrowLeft {
  margin-left: 0;
}
/* line 371, ../sass/ie.scss */
.cart-empty .how-to-use .caption-wrapper .nav .rsArrowRight {
  margin-right: 0;
}
/* line 374, ../sass/ie.scss */
.cart-empty .how-to-use .caption-wrapper .nav .rsBullets {
  display: block;
  float: left;
}
/* line 377, ../sass/ie.scss */
.cart-empty .how-to-use .caption-wrapper .nav .rsBullets .rsBullet {
  background: url('/content/images/elipce-gray.png?1511868297');
  display: block;
  float: left;
}
/* line 381, ../sass/ie.scss */
.cart-empty .how-to-use .caption-wrapper .nav .rsBullets .rsBullet.rsNavSelected {
  background: url('/content/images/elipce-black-small.png?1511868297');
}

/* line 391, ../sass/ie.scss */
.contact-listing .contact-select {
  width: 23%;
}
/* line 396, ../sass/ie.scss */
.contact-listing .block-grid li.contact-item {
  padding: 20px 12px 0px 12px;
  padding: 2rem 1.2rem 0rem 1.2rem;
}
/* line 398, ../sass/ie.scss */
.contact-listing .block-grid li.contact-item .contacts-content {
  padding-bottom: 40px;
  padding-bottom: 4rem;
  border-bottom: 1px dotted #cccccc;
}
/* line 403, ../sass/ie.scss */
.contact-listing .block-grid li:nth-child(3n+1) {
  clear: none;
}

/* line 411, ../sass/ie.scss */
#contact-inquiry-popup .contact-info .name, #contact-inquiry-popup .contact-info .email, #contact-inquiry-popup .contact-info .position, #contact-inquiry-popup .contact-info .phone, #contact-inquiry-popup .contact-info .address {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}

/* line 420, ../sass/ie.scss */
#expired-media-cart-popup .block-grid.three-up li img {
  width: 100%;
}

/* line 429, ../sass/ie.scss */
.filters .download i, .send-wrapper .download i {
  margin-left: 16px;
}

/* line 436, ../sass/ie.scss */
#download-format-options-popup .download {
  display: block;
  width: 100%;
}

/* line 445, ../sass/ie.scss */
.amp.story-amp .top-tools .download-all i.icons-download-dark {
  display: none;
}

/* line 452, ../sass/ie.scss */
#SendToEmails {
  color: #a9a9a9;
}

/* line 459, ../sass/ie.scss */
.search-results .search-item .search-img img {
  width: 62px;
}

/* line 467, ../sass/ie.scss */
.lt-ie9 .media-cart-drowdown {
  border-left: none !important;
}
/* line 471, ../sass/ie.scss */
.lt-ie9 .SearchForm .mediacart-tip {
  width: 653px;
}

/* line 477, ../sass/ie.scss */
.breadcrumbs-wrapper {
  padding-top: 32px;
}
/* line 479, ../sass/ie.scss */
.breadcrumbs-wrapper .breadcrumbs {
  display: inline;
}
/* line 482, ../sass/ie.scss */
.breadcrumbs-wrapper .rss-btn-wrapper {
  display: inline;
  bottom: 0 !important;
}

/* line 487, ../sass/ie.scss */
.mediacart-tip,
.detail-pages .detail-panel .mediacart-tip {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)" !important;
}
