/* Global variables */
/* Log-Reg Variables */
/* Header variables */
/*$newsroom-label: #000000;*/
/* mobile-menu */
/* Search */
/* Rotator */
/* About this newsroom */
/* Contact */
/* Footer */
/* AMP */
/* Tag */
/* Story Detail */
/* lookbook */
/* Home Listing */
/* Listing pages */
/* Filters */
/* Pagination */
/* Cookies page */
/* Cookies message */
/* Popup */
/* mediacart */
/* Custome button */
/*$custom-button-color: #000000;
$custom-button-background: #e9e9e9;
$custom-button-hover-color: #ffffff;
$custom-button-hover-background: #000000;*/
/* contacts */
/* mediacart */
/* rss */
/* Tag search */
/*$tag-search-item-background: #000000;
$tag-search-item-color: #ffffff;*/
/* Error page*/
/* Commmon search elements */
/* Detail pages */
/*LOGREG*/
/*	Sections:
*
*	HEADER
*	CULTURE SELECTION
*	MENU
*	SEARCH
*	ROTATOR
*	LISTS GRID
*	AMP
*	DETAIL PAGES
*	COMMON
*	CUSTOM PAGES
*	MEDIA CART
*
*/
/************
*
* HEADER
*
************/
/* line 24, ../sass/ie7.scss */
.logo {
  width: 273px;
}

/* line 29, ../sass/ie7.scss */
.header-mid {
  z-index: 100;
}

/* line 32, ../sass/ie7.scss */
.header-mid > .row {
  position: relative;
}

/* line 35, ../sass/ie7.scss */
.borders {
  overflow: hidden;
}

/* line 38, ../sass/ie7.scss */
.header-mid .site-menu-wrapper {
  float: left;
}
/* line 40, ../sass/ie7.scss */
.header-mid .site-menu-wrapper nav.site-menu > ul {
  display: block !important;
}
/* line 42, ../sass/ie7.scss */
.header-mid .site-menu-wrapper nav.site-menu > ul > li {
  display: block !important;
  float: left;
  padding: 10px 48px 10px 0 !important;
}
/* line 46, ../sass/ie7.scss */
.header-mid .site-menu-wrapper nav.site-menu > ul > li a {
  line-height: 20px !important;
}
/* line 48, ../sass/ie7.scss */
.header-mid .site-menu-wrapper nav.site-menu > ul > li a i {
  top: -3px;
  left: 5px;
}
/* line 53, ../sass/ie7.scss */
.header-mid .site-menu-wrapper nav.site-menu > ul > li.last {
  padding-right: 0;
}
/* line 56, ../sass/ie7.scss */
.header-mid .site-menu-wrapper nav.site-menu > ul > li ul.category-menu {
  top: 35px;
  left: 0;
}

/************
*
* CULTURE SELECTION
*
************/
/* line 72, ../sass/ie7.scss */
.cultures-wrapper .six.columns {
  width: 46%;
}

/* line 76, ../sass/ie7.scss */
.language-popup .global I.icons-see_all_arrow {
  top: 0;
  vertical-align: top;
}

/************
*
* MENU
*
************/
/************
*
* SEARCH
*
************/
/* line 93, ../sass/ie7.scss */
.header-mid .search .btn-search {
  top: 8px !important;
}

/* line 100, ../sass/ie7.scss */
.lt-ie9 .gsc-search-box tr td.gsc-input-active {
  width: 95%;
}
/* line 102, ../sass/ie7.scss */
.lt-ie9 .gsc-search-box tr td.gsc-input-active input {
  height: auto;
}
/* line 106, ../sass/ie7.scss */
.lt-ie9 .gsc-search-box tr td.gsc-search-button {
  width: 5%;
  position: relative;
  right: -15px;
  top: 14px;
}

/* line 116, ../sass/ie7.scss */
.results-count {
  height: 40px;
}

/* line 121, ../sass/ie7.scss */
.gsc-option-menu-invisible .gsc-option-menu-item, .gsc-option-menu .gsc-option-menu-item {
  display: block;
  float: left;
  padding-bottom: 10px;
}

/* line 131, ../sass/ie7.scss */
.gs-webResult-custom > table tr td {
  padding: 32px 10px;
  padding: 3.2rem 1rem;
}
/* line 134, ../sass/ie7.scss */
.gs-webResult-custom > table tr td.first-type img {
  width: 60px;
}

/* line 143, ../sass/ie7.scss */
.gsc-cursor {
  text-align: center;
  margin-top: 32px;
  margin-top: 3.2rem;
}
/* line 146, ../sass/ie7.scss */
.gsc-cursor .gsc-cursor-page {
  display: inline;
}

/* line 151, ../sass/ie7.scss */
.gcsc-branding {
  clear: both;
}

/************
*
* ROTATOR
*
************/
/* line 162, ../sass/ie7.scss */
#home-rotator .slider-item .row .four.columns {
  padding: 0 0 0 2.5%;
  width: 33.56% !important;
}
/* line 166, ../sass/ie7.scss */
#home-rotator .slider-item .row .four.columns .slide-text h2 {
  min-height: 20px;
  overflow: hidden;
}
/* line 170, ../sass/ie7.scss */
#home-rotator .slider-item .row .four.columns .slide-text h2 a {
  display: block;
}
/* line 175, ../sass/ie7.scss */
#home-rotator .slider-item .row .eight.columns {
  padding: 0 2.5 0 0;
  width: 56.44% !important;
}
/* line 179, ../sass/ie7.scss */
#home-rotator .slider-item .row .eight.columns img {
  height: 360px;
}

/************
*
* LISTS GRID
*
************/
/* line 194, ../sass/ie7.scss */
.lt-ie8 .detail-pages .detail-content .detail-content-wpapper .six,
.lt-ie8 .detail-pages .detail-content .detail-asset.detail-content-wpapper .six {
  padding: 0;
  width: 48% !important;
}
/* line 199, ../sass/ie7.scss */
.lt-ie8 .detail-pages .detail-content .detail-content-wpapper .six:first-child,
.lt-ie8 .detail-pages .detail-content .detail-asset.detail-content-wpapper .six:first-child {
  padding-left: 1.3%;
  padding-right: 2%;
}
/* line 202, ../sass/ie7.scss */
.lt-ie8 .detail-pages .detail-content .detail-content-wpapper .six:first-child .text-header,
.lt-ie8 .detail-pages .detail-content .detail-asset.detail-content-wpapper .six:first-child .text-header {
  width: 100%;
}

/* line 208, ../sass/ie7.scss */
.detail-pages .detail-content .press-release ul li a p.title {
  height: auto;
}

/* line 213, ../sass/ie7.scss */
.latest-news .four-up.block-grid, .products .four-up.block-grid, .showcasecategorylisting .four-up.block-grid {
  margin-right: -1.5% !important;
  margin-left: -1.5% !important;
}
/* line 217, ../sass/ie7.scss */
.latest-news .four-up.block-grid > li, .products .four-up.block-grid > li, .showcasecategorylisting .four-up.block-grid > li {
  padding-left: 1.5%;
  padding-right: 1.5%;
  width: 22%;
}

/* line 226, ../sass/ie7.scss */
.columns .products-items .product-item, .columns .showcasecategorylistings-item .showcasecategorylisting-item,
.columns .latest-news-items .news-item,
.columns .lookbooks-items .lookbook-item {
  width: 100%;
}
/* line 232, ../sass/ie7.scss */
.columns .products-items .product-item img.desktop, .columns .showcasecategorylistings-item .showcasecategorylisting-item img.desktop,
.columns .latest-news-items .news-item img.desktop,
.columns .lookbooks-items .lookbook-item img.desktop {
  width: 100%;
}

/* line 237, ../sass/ie7.scss */
.images-videos .four-up.block-grid {
  margin-right: -1.5% !important;
  margin-left: -1.5% !important;
}
/* line 241, ../sass/ie7.scss */
.images-videos .four-up.block-grid > li {
  padding-left: 1.5%;
  padding-right: 1.5%;
  width: 22%;
}

/* line 249, ../sass/ie7.scss */
.lookbooks .three-up.block-grid {
  margin-right: -1.5% !important;
  margin-left: -1.5% !important;
}
/* line 253, ../sass/ie7.scss */
.lookbooks .three-up.block-grid > li {
  padding-left: 1.5%;
  padding-right: 1.5%;
  width: 30%;
}

/* line 262, ../sass/ie7.scss */
.athletes-ambassadors .six-up.block-grid {
  margin-right: -1.5% !important;
  margin-left: -1.5% !important;
}
/* line 266, ../sass/ie7.scss */
.athletes-ambassadors .six-up.block-grid > li {
  padding-left: 1.5%;
  padding-right: 1.5%;
  width: 13%;
}

/* line 276, ../sass/ie7.scss */
.global-news ul li img {
  width: 100%;
}

/* line 284, ../sass/ie7.scss */
.landing-pages .three-up.block-grid, .mediacart .three-up.block-grid {
  margin-right: -1.5% !important;
  margin-left: -1.5% !important;
}
/* line 288, ../sass/ie7.scss */
.landing-pages .three-up.block-grid > li, .mediacart .three-up.block-grid > li {
  padding-left: 1.5%;
  padding-right: 1.5%;
  width: 30%;
}
/* line 294, ../sass/ie7.scss */
.landing-pages .four-up.block-grid, .mediacart .four-up.block-grid {
  margin-right: -1.5% !important;
  margin-left: -1.5% !important;
}
/* line 298, ../sass/ie7.scss */
.landing-pages .four-up.block-grid > li, .mediacart .four-up.block-grid > li {
  padding-left: 1.5%;
  padding-right: 1.5%;
  width: 22%;
  min-height: auto;
}
/* line 305, ../sass/ie7.scss */
.landing-pages .six-up.block-grid, .mediacart .six-up.block-grid {
  margin-right: -1.5% !important;
  margin-left: -1.5% !important;
}
/* line 309, ../sass/ie7.scss */
.landing-pages .six-up.block-grid > li, .mediacart .six-up.block-grid > li {
  padding-left: 1.5%;
  padding-right: 1.5%;
  width: 13%;
}

/************
*
* AMP
*
************/
/* line 324, ../sass/ie7.scss */
#rss-popup input {
  display: block;
  float: left;
}

/* line 331, ../sass/ie7.scss */
.amp .amp-popup-wrapper,
.amp .amp-inner-content-wrap {
  behavior: url(content/css/display-table.min.htc);
  background: none;
  border: none;
  -dt-display: table-row;
}
/* line 338, ../sass/ie7.scss */
.amp .amp-popup-wrapper .content,
.amp .amp-inner-content-wrap .content {
  width: 100%;
}
/* line 341, ../sass/ie7.scss */
.amp .amp-popup-wrapper .download-buttons, .amp .amp-popup-wrapper .share-buttons,
.amp .amp-inner-content-wrap .download-buttons,
.amp .amp-inner-content-wrap .share-buttons {
  -dt-display: table-cell;
}
/* line 344, ../sass/ie7.scss */
.amp .amp-popup-wrapper .download-buttons-mobile,
.amp .amp-inner-content-wrap .download-buttons-mobile {
  -dt-display: table;
}

/* line 351, ../sass/ie7.scss */
.images-videos-detail-page .amp-wrapper .amp {
  padding-bottom: 0px !important;
}
/* line 353, ../sass/ie7.scss */
.images-videos-detail-page .amp-wrapper .amp.detail-amp {
  min-height: 388px;
}

/************
*
* DETAIL PAGES
*
************/
/* line 370, ../sass/ie7.scss */
.detail-pages .detail-content .detail-panel ul li .lang {
  float: left;
  padding-right: 0;
}
/* line 374, ../sass/ie7.scss */
.detail-pages .detail-content .detail-panel ul li a {
  display: block;
}
/* line 377, ../sass/ie7.scss */
.detail-pages .detail-content .detail-panel ul li a .title {
  height: auto;
}

/* line 384, ../sass/ie7.scss */
.detail-pages .detail-content .related ul {
  line-height: 1.92;
}
/* line 386, ../sass/ie7.scss */
.detail-pages .detail-content .related ul li {
  margin: 8px 0 9px 0;
}

/* line 395, ../sass/ie7.scss */
.media.detail-panel .images-videos-items.two-up > li {
  width: 45%;
}

/* line 401, ../sass/ie7.scss */
.received .six {
  width: 47% !important;
}

/* line 407, ../sass/ie7.scss */
.received .images-videos-items.two-up > li {
  width: 45%;
}

/* line 414, ../sass/ie7.scss */
.more-from.detail-panel .three-up.block-grid {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
/* line 418, ../sass/ie7.scss */
.more-from.detail-panel .three-up.block-grid > li {
  padding-left: 1.5%;
  padding-right: 1.5%;
  width: 30%;
}

/* line 426, ../sass/ie7.scss */
.tags.detail-panel {
  overflow: hidden;
}
/* line 427, ../sass/ie7.scss */
.tags.detail-panel div.tag {
  display: block;
  float: left;
}

/* line 439, ../sass/ie7.scss */
.detail-pages .detail-content .more-from ul li a p {
  height: 50px !important;
}

/* line 450, ../sass/ie7.scss */
.contacts.detail-panel ul li {
  width: 45% !important;
}

/************
*
* COMMON
*
************/
/* line 461, ../sass/ie7.scss */
.simple-body {
  height: 70%;
}

/* line 465, ../sass/ie7.scss */
html {
  overflow-x: hidden;
}

/* line 469, ../sass/ie7.scss */
.page-wrapper {
  padding-bottom: 278px !important;
}

/* line 473, ../sass/ie7.scss */
.see-more a i {
  top: -6px;
}

/* line 478, ../sass/ie7.scss */
ul.pagination li {
  display: inline !important;
  list-style: none;
}
/* line 483, ../sass/ie7.scss */
ul.pagination li.arrow.tablet-up i.icon.icons-arrow-next {
  top: 0px !important;
  left: 5px !important;
}
/* line 487, ../sass/ie7.scss */
ul.pagination li.arrow.tablet-up .icon.icons-arrow-prev {
  top: 0px !important;
}

/* line 492, ../sass/ie7.scss */
ul.pagination li.mobile {
  display: none !important;
}

/* line 496, ../sass/ie7.scss */
.grid-item-text .icons ul li {
  display: inline;
}
/* line 498, ../sass/ie7.scss */
.grid-item-text .icons ul li i.icon {
  position: realtive;
  margin-bottom: 3px;
}

/* line 506, ../sass/ie7.scss */
.lookbook-footer .date {
  height: 30px;
}
/* line 509, ../sass/ie7.scss */
.lookbook-footer .country {
  height: 20px;
}

/* line 516, ../sass/ie7.scss */
.breadcrumbs li.rss > a {
  position: relative;
  top: 6px;
}

/* line 524, ../sass/ie7.scss */
.see-all h4 {
  padding-bottom: 27px;
  padding-bottom: 2.7rem;
}
/* line 526, ../sass/ie7.scss */
.see-all h4 i {
  top: -5px;
}

/* line 533, ../sass/ie7.scss */
.see-all-details i {
  top: -5px;
}

/* line 539, ../sass/ie7.scss */
.no-results-wraper h1 {
  margin-top: 200px;
}

/* line 545, ../sass/ie7.scss */
.filters ul {
  overflow: hidden;
}
/* line 547, ../sass/ie7.scss */
.filters ul li {
  display: block;
  float: left;
}

/************
*
* CUSTOM PAGES
*
************/
/* line 561, ../sass/ie7.scss */
.simple .row .error-page {
  margin-top: 300px;
}

/* line 568, ../sass/ie7.scss */
.questions .six {
  width: 48% !important;
}
/* line 572, ../sass/ie7.scss */
.questions .question-item .icon-wrapper {
  display: block;
  float: left;
}

/* line 580, ../sass/ie7.scss */
.rss-content ul.block-grid {
  width: 100%;
}
/* line 582, ../sass/ie7.scss */
.rss-content ul.block-grid li {
  width: 47% !important;
}
/* line 584, ../sass/ie7.scss */
.rss-content ul.block-grid li .rss-input-wrapper {
  display: block;
  float: left;
  width: 400px;
}
/* line 588, ../sass/ie7.scss */
.rss-content ul.block-grid li .rss-input-wrapper input {
  height: 19px;
}

/* line 597, ../sass/ie7.scss */
#copy-code-popup textarea {
  margin-left: 192px;
  width: 93%;
}

/* line 605, ../sass/ie7.scss */
.contact-listing ul.block-grid li {
  width: 31% !important;
}

/* line 613, ../sass/ie7.scss */
#contact-inquiry-popup .clearfix {
  clear: both;
}
/* line 616, ../sass/ie7.scss */
#contact-inquiry-popup .six.columns {
  width: 48% !important;
}
/* line 619, ../sass/ie7.scss */
#contact-inquiry-popup .remember-me {
  top: 5px;
}
/* line 622, ../sass/ie7.scss */
#contact-inquiry-popup .contact-info {
  overflow: hidden;
}
/* line 624, ../sass/ie7.scss */
#contact-inquiry-popup .contact-info .first-column {
  width: 46% !important;
  float: left;
}
/* line 628, ../sass/ie7.scss */
#contact-inquiry-popup .contact-info .second-column {
  width: 46% !important;
  float: right;
}

/* line 636, ../sass/ie7.scss */
#user-send-cart-popup #Email, #user-send-cart-popup #Name {
  width: 90%;
}
/* line 640, ../sass/ie7.scss */
#user-send-cart-popup .clear-field-wrapper i {
  top: -3px;
}

/* line 647, ../sass/ie7.scss */
.lt-ie8 .subscribe-page .select-all {
  border-top-width: 0px;
}

/* line 650, ../sass/ie7.scss */
.lt-ie8 .subscribe-page .row {
  margin-left: 0;
}
/* line 653, ../sass/ie7.scss */
.lt-ie8 .subscribe-page .row .subscribe-countries-wrapper,
.lt-ie8 .subscribe-page .row .columns {
  padding-left: 0;
}
/* line 657, ../sass/ie7.scss */
.lt-ie8 .subscribe-page .row h5 {
  border-bottom: none;
}
/* line 660, ../sass/ie7.scss */
.lt-ie8 .subscribe-page .row .twelve.columns {
  padding: 0;
}
/* line 663, ../sass/ie7.scss */
.lt-ie8 .subscribe-page .row form .row.countries {
  width: 106%;
}
/* line 665, ../sass/ie7.scss */
.lt-ie8 .subscribe-page .row form .row.countries .columns {
  padding: 0;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
}
/* line 670, ../sass/ie7.scss */
.lt-ie8 .subscribe-page .row form .row.countries .columns div {
  border-bottom: none;
  border-top: 1px dotted #ccc;
}
/* line 674, ../sass/ie7.scss */
.lt-ie8 .subscribe-page .row form .row.countries .columns div:first-child {
  border-top: none;
}
/* line 678, ../sass/ie7.scss */
.lt-ie8 .subscribe-page .row form .row.countries .columns:first-child {
  padding-right: 12px;
}

/* line 686, ../sass/ie7.scss */
footer nav {
  position: relative;
}
/* line 689, ../sass/ie7.scss */
footer nav ul li {
  float: left !important;
}

/* line 698, ../sass/ie7.scss */
#contact-inquiry-popup form .contact-info {
  margin-top: -50px;
}
/* line 701, ../sass/ie7.scss */
#contact-inquiry-popup form textarea {
  padding: 6px 0;
}
/* line 704, ../sass/ie7.scss */
#contact-inquiry-popup form input {
  padding: 6px 0;
}

/************
*
* MEDIA CART
*
************/
/* line 715, ../sass/ie7.scss */
.mediacart .send-wrapper a.send-mediacart i {
  position: static !important;
  vertical-align: middle;
}

/* line 720, ../sass/ie7.scss */
.send-wrapper .mobile-send-media-cart-wrapper {
  width: auto !important;
}

/* line 727, ../sass/ie7.scss */
#expired-media-cart-popup .block-grid.three-up li {
  width: 30%;
}
/* line 729, ../sass/ie7.scss */
#expired-media-cart-popup .block-grid.three-up li span {
  margin-left: 5px;
}
