/* Global variables */
/* Log-Reg Variables */
/* Header variables */
/*$newsroom-label: #000000;*/
/* mobile-menu */
/* Search */
/* Rotator */
/* About this newsroom */
/* Contact */
/* Footer */
/* AMP */
/* Tag */
/* Story Detail */
/* lookbook */
/* Home Listing */
/* Listing pages */
/* Filters */
/* Pagination */
/* Cookies page */
/* Cookies message */
/* Popup */
/* mediacart */
/* Custome button */
/*$custom-button-color: #000000;
$custom-button-background: #e9e9e9;
$custom-button-hover-color: #ffffff;
$custom-button-hover-background: #000000;*/
/* contacts */
/* mediacart */
/* rss */
/* Tag search */
/*$tag-search-item-background: #000000;
$tag-search-item-color: #ffffff;*/
/* Error page*/
/* Commmon search elements */
/* Detail pages */
/*LOGREG*/
/* line 1, ../sass/_logreg-header.scss */
.header-top-menu .logged-in-dropdown-menu {
  display: none;
  position: absolute;
  list-style: none;
  z-index: 1000;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
  overflow-y: auto;
  background-color: #fff;
  color: #000;
}
/* line 12, ../sass/_logreg-header.scss */
.header-top-menu .logged-in-dropdown-menu li {
  float: none;
  white-space: nowrap;
  background-color: #ffffff;
  width: 190px;
  padding: 1.6rem 2rem;
}
/* line 18, ../sass/_logreg-header.scss */
.header-top-menu .logged-in-dropdown-menu li a {
  white-space: normal;
  color: #000;
  text-transform: none;
}

/* line 25, ../sass/_logreg-header.scss */
ul.dynamic-menu {
  list-style: none;
  position: relative;
  margin: 0px;
  margin: 0rem;
  padding-left: 16px;
  padding-left: 1.6rem;
  padding-right: 16px;
  padding-right: 1.6rem;
  border-bottom: none;
}
/* line 33, ../sass/_logreg-header.scss */
ul.dynamic-menu a {
  display: block;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  text-decoration: none;
}
/* line 38, ../sass/_logreg-header.scss */
ul.dynamic-menu li.postLogin-header-link {
  position: relative;
  padding-bottom: 2.0rem;
}
/* line 42, ../sass/_logreg-header.scss */
ul.dynamic-menu li.postLogin-header-link a.active {
  font-size: 14px;
  font-size: 1.4rem;
  color: #000000;
  background-color: inherit;
  line-height: 1;
  padding: 0rem 1.6rem;
  border-bottom: none;
}
/* line 47, ../sass/_logreg-header.scss */
ul.dynamic-menu li.postLogin-header-link ul.logged-in-dropdown-menu-outer {
  display: none;
}
/* line 52, ../sass/_logreg-header.scss */
ul.dynamic-menu li.postLogin-header-link:hover ul.logged-in-dropdown-menu {
  display: block;
}
/* line 59, ../sass/_logreg-header.scss */
ul.dynamic-menu li.preLogin-header-link a.Lnk-Login {
  font-size: 14px;
  font-size: 1.4rem;
  color: #000000;
  background-color: inherit;
  line-height: 1;
  padding: 0rem 1.6rem;
}
/* line 64, ../sass/_logreg-header.scss */
ul.dynamic-menu li.preLogin-header-link a.Lnk-Login:hover span {
  color: red;
}

/* line 73, ../sass/_logreg-header.scss */
ul.dynamic-menu li.postLogin-header-link a.active:hover span {
  color: #000;
  border-bottom: 0px solid #000;
}

/* line 79, ../sass/_logreg-header.scss */
ul.dynamic-menu li.preLogin-header-link a.Lnk-Login:hover span {
  color: #000;
  border-bottom: 1px solid #000000;
}

/* line 99, ../sass/_logreg-header.scss */
.logged-in-dropdown-menu li {
  text-align: left;
  float: none;
  white-space: nowrap;
  border-left: none !important;
}
/* line 106, ../sass/_logreg-header.scss */
.logged-in-dropdown-menu li .icon {
  margin-right: 5px;
  margin-right: 0.5rem;
}
/* line 110, ../sass/_logreg-header.scss */
.logged-in-dropdown-menu li .icons-download-login {
  /*background: image-url("/content/images/logreg/download.png") no-repeat;
      height: 17px;
      width: 12px;*/
  background: url('/Content/images/logreg/download.png?1539074392') no-repeat;
  height: 14px;
  width: 11px;
}
/* line 119, ../sass/_logreg-header.scss */
.logged-in-dropdown-menu li:hover {
  background-color: #000000;
}
/* line 122, ../sass/_logreg-header.scss */
.logged-in-dropdown-menu li:hover a span {
  color: #ffffff !important;
}
/* line 126, ../sass/_logreg-header.scss */
.logged-in-dropdown-menu li:hover .icons-download-login {
  background: url('/Content/images/logreg/download-hover.png?1539074392') no-repeat;
  height: 14px;
  width: 11px;
  /*background: image-url("/content/images/logreg/download-hover.png") no-repeat;
      height: 14px;
      width: 9px;*/
}
/* line 135, ../sass/_logreg-header.scss */
.logged-in-dropdown-menu li li.media-cart-drowdown .icons-mediacart {
  /*background: image-url("/content/images/logreg/media-cart.png") no-repeat;
  height: 17px;
  width: 12px;*/
  background: url('/Content/images/logreg/media-cart.png?1539074392') no-repeat;
  height: 15px;
  width: 13px;
}
/* line 143, ../sass/_logreg-header.scss */
.logged-in-dropdown-menu li li.media-cart-drowdown:hover .icons-media-cart {
  background: url('/Content/images/logreg/media-cart-hover.png?1539074392') no-repeat;
  height: 15px;
  width: 13px;
  /*background: image-url("/content/images/logreg/media-cart-hover.png") no-repeat;
  height: 14px;
  width: 9px;*/
}
/* line 153, ../sass/_logreg-header.scss */
.logged-in-dropdown-menu li a:hover span {
  border-bottom: none !important;
}
/* line 161, ../sass/_logreg-header.scss */
.logged-in-dropdown-menu a span {
  padding: 0px;
  padding: 0rem;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  font-weight: 400;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  color: #000000;
}

/* line 167, ../sass/_logreg-header.scss */
.mobile-menu ul.dynamic-menu {
  border-bottom: 1px solid #f1f1f1;
}

/* line 171, ../sass/_logreg-header.scss */
.mobile-menu ul.logged-in-dropdown-menu {
  display: block;
  border-radius: 0;
}
/* line 175, ../sass/_logreg-header.scss */
.mobile-menu ul.logged-in-dropdown-menu li {
  background-color: #f1f1f1;
}
/* line 178, ../sass/_logreg-header.scss */
.mobile-menu ul.logged-in-dropdown-menu li a {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  font-weight: 400;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  color: #000;
}
/* line 184, ../sass/_logreg-header.scss */
.mobile-menu ul.logged-in-dropdown-menu li.myaccount {
  background-color: #f1f1f1;
}
/* line 188, ../sass/_logreg-header.scss */
.mobile-menu ul.logged-in-dropdown-menu li.myaccount a span {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  font-weight: 400;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  color: #000;
}
/* line 195, ../sass/_logreg-header.scss */
.mobile-menu ul.logged-in-dropdown-menu li.download-queue-login {
  background-color: #f1f1f1;
}
/* line 199, ../sass/_logreg-header.scss */
.mobile-menu ul.logged-in-dropdown-menu li.download-queue-login a span {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  font-weight: 400;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  color: #000;
}
/* line 205, ../sass/_logreg-header.scss */
.mobile-menu ul.logged-in-dropdown-menu li.download-queue-login .icons-download-login {
  background: url('/Content/images/logreg/download-mobile.png?1539074392') no-repeat;
  height: 14px;
  width: 9px;
}
/* line 210, ../sass/_logreg-header.scss */
.mobile-menu ul.logged-in-dropdown-menu li.download-queue-login:hover .icons-download-login {
  background: url('/Content/images/logreg/download-mobile-hover.png?1539074392') no-repeat;
  height: 14px;
  width: 9px;
}
/* line 216, ../sass/_logreg-header.scss */
.mobile-menu ul.logged-in-dropdown-menu li.signout {
  background-color: #f1f1f1;
}
/* line 220, ../sass/_logreg-header.scss */
.mobile-menu ul.logged-in-dropdown-menu li.signout a span {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  font-weight: 400;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  color: #000;
}
/* line 227, ../sass/_logreg-header.scss */
.mobile-menu ul.logged-in-dropdown-menu li.media-cart-drowdown {
  background-color: #f1f1f1;
}
/* line 231, ../sass/_logreg-header.scss */
.mobile-menu ul.logged-in-dropdown-menu li.media-cart-drowdown a span {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  font-weight: 400;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  color: #000;
}
/* line 237, ../sass/_logreg-header.scss */
.mobile-menu ul.logged-in-dropdown-menu li.media-cart-drowdown .icons-media-cart {
  background: url('/Content/images/logreg/media-cart-mobile.png?1539074392') no-repeat;
  height: 14px;
  width: 12px;
}
/* line 242, ../sass/_logreg-header.scss */
.mobile-menu ul.logged-in-dropdown-menu li.media-cart-drowdown:hover .icons-media-cart {
  background: url('/Content/images/logreg/media-cart-mobile-hover.png?1539074392') no-repeat;
  height: 14px;
  width: 12px;
}

/* line 250, ../sass/_logreg-header.scss */
.mobile-menu li.postLogin-header-link a.active {
  background-color: #f1f1f1;
  color: 0;
  border-bottom: 1px solid #D4D4D3;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  font-weight: 400;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  padding-left: 24px;
  padding-left: 2.4rem;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 255, ../sass/_logreg-header.scss */
.mobile-menu .icons-download-login {
  background: url('/Content/images/logreg/download-mobile.png?1539074392') no-repeat;
  height: 14px;
  width: 9px;
}

/* line 259, ../sass/_logreg-header.scss */
.mobile-menu .icons-mediacart {
  background: url('/Content/images/logreg/media-cart-mobile.png?1539074392') no-repeat;
  height: 14px;
  width: 12px;
}

@media only screen and (min-width: 769px) {
  /* line 264, ../sass/_logreg-header.scss */
  ul.dynamic-menu {
    list-style: none;
    position: relative;
    margin: 0px;
    margin: 0rem;
    padding-left: 16px;
    padding-left: 1.6rem;
    padding-right: 16px;
    padding-right: 1.6rem;
    border-bottom: none;
  }
  /* line 272, ../sass/_logreg-header.scss */
  ul.dynamic-menu a {
    display: block;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    text-decoration: none;
  }
  /* line 277, ../sass/_logreg-header.scss */
  ul.dynamic-menu li.postLogin-header-link {
    position: relative;
  }
  /* line 280, ../sass/_logreg-header.scss */
  ul.dynamic-menu li.postLogin-header-link a.active {
    font-size: 14px;
    font-size: 1.4rem;
    color: #000000;
    background-color: inherit;
    line-height: 1;
    padding: 0rem 1.6rem;
    border-bottom: none;
  }
  /* line 285, ../sass/_logreg-header.scss */
  ul.dynamic-menu li.postLogin-header-link ul.logged-in-dropdown-menu-outer {
    display: none;
  }
  /* line 290, ../sass/_logreg-header.scss */
  ul.dynamic-menu li.postLogin-header-link:hover ul.logged-in-dropdown-menu {
    display: block;
  }
  /* line 297, ../sass/_logreg-header.scss */
  ul.dynamic-menu li.preLogin-header-link a.Lnk-Login {
    font-size: 14px;
    font-size: 1.4rem;
    color: #000000;
    background-color: inherit;
    line-height: 1;
    padding: 0rem 1.6rem;
  }

  /* line 303, ../sass/_logreg-header.scss */
  .logged-in-dropdown-menu {
    margin-left: -50px;
    display: none;
    position: absolute;
    list-style: none;
    z-index: 1000;
    margin: 15px 0px 0px 0px;
    margin: 1.5rem 0rem 0rem 0rem;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
    overflow-y: auto;
    /*border-radius: 0.5rem;*/
    border-radius: 0rem;
  }

  /* line 317, ../sass/_logreg-header.scss */
  ul.logged-in-dropdown-menu {
    display: none;
    position: absolute;
    list-style: none;
    z-index: 1000;
    margin: 0px;
    margin: 0rem;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
    overflow-y: auto;
    border-radius: 0rem;
  }
  /* line 327, ../sass/_logreg-header.scss */
  ul.logged-in-dropdown-menu li {
    text-align: left;
    float: none;
    white-space: nowrap;
    background-color: #ffffff;
    width: 200px;
    padding: 16px 20px;
    padding: 1.6rem 2rem;
  }
  /* line 333, ../sass/_logreg-header.scss */
  ul.logged-in-dropdown-menu li .icons-download-login {
    background: url('/Content/images/logreg/download.png?1539074392') no-repeat;
    height: 14px;
    width: 11px;
  }
  /* line 337, ../sass/_logreg-header.scss */
  ul.logged-in-dropdown-menu li .icons-mediacart {
    background: url('/Content/images/logreg/media-cart.png?1539074392') no-repeat;
    height: 15px;
    width: 13px;
  }
  /* line 341, ../sass/_logreg-header.scss */
  ul.logged-in-dropdown-menu li:hover {
    background-color: #000000;
  }
  /* line 344, ../sass/_logreg-header.scss */
  ul.logged-in-dropdown-menu li:hover a span {
    color: #ffffff !important;
  }
  /* line 348, ../sass/_logreg-header.scss */
  ul.logged-in-dropdown-menu li:hover .icons-download-login {
    background: url('/Content/images/logreg/download-hover.png?1539074392') no-repeat;
    height: 14px;
    width: 11px;
  }
  /* line 352, ../sass/_logreg-header.scss */
  ul.logged-in-dropdown-menu li:hover .icons-media-cart {
    background: url('/Content/images/logreg/media-cart-hover.png?1539074392') no-repeat;
    height: 15px;
    width: 13px;
  }
  /* line 358, ../sass/_logreg-header.scss */
  ul.logged-in-dropdown-menu a {
    white-space: normal;
    padding: 0px;
    padding: 0rem;
    font-size: 12px;
    font-size: 1.2rem;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-weight: 400;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    color: #000000;
  }
}
/* line 365, ../sass/_logreg-header.scss */
ul.static-menu, liprelogin, lipostlogin {
  display: none;
}

@media only screen and (max-width: 640px) {
  /* line 371, ../sass/_logreg-header.scss */
  .mobile-menu ul.dynamic-menu {
    border-bottom: 1px solid #f1f1f1;
  }

  /* line 375, ../sass/_logreg-header.scss */
  .mobile-menu ul.logged-in-dropdown-menu {
    display: block;
    border-radius: 0;
  }
  /* line 379, ../sass/_logreg-header.scss */
  .mobile-menu ul.logged-in-dropdown-menu li {
    background-color: #f1f1f1;
  }
  /* line 382, ../sass/_logreg-header.scss */
  .mobile-menu ul.logged-in-dropdown-menu li a {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-weight: 400;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    color: #000;
  }

  /* line 390, ../sass/_logreg-header.scss */
  .mobile-menu li.postLogin-header-link a.active {
    background-color: #f1f1f1;
    color: 0;
    border-bottom: 1px solid #D4D4D3;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-weight: 400;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    padding-left: 24px;
    padding-left: 2.4rem;
    font-size: 16px;
    font-size: 1.6rem;
  }

  /* line 395, ../sass/_logreg-header.scss */
  .mobile-menu .icons-download-login {
    /*background: image-url("/content/images/logreg/download-mobile.png") no-repeat;
    height: 17px;
    width: 12px;*/
    background: url('/Content/images/logreg/download-mobile.png?1539074392') no-repeat;
    height: 14px;
    width: 9px;
  }

  /* line 402, ../sass/_logreg-header.scss */
  .mobile-menu .icons-mediacart {
    /*background: image-url("/content/images/logreg/media-cart-mobile.png") no-repeat;
    height: 17px;
    width: 12px;*/
    background: url('/Content/images/logreg/media-cart-mobile.png?1539074392') no-repeat;
    height: 14px;
    width: 12px;
  }
}
/* line 410, ../sass/_logreg-header.scss */
.mobile-menu ul li.li-header-logreg.right {
  float: none;
}

/* line 416, ../sass/_logreg-header.scss */
.mobile-menu.topdown ul.logged-in-dropdown-menu {
  position: relative;
}

@media only screen and (min-width: 0px), (min-device-width: 320px) and (max-device-width: 641px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 423, ../sass/_logreg-header.scss */
  ul.dynamic-menu {
    padding-left: 0px;
    padding-left: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
  }
  /* line 427, ../sass/_logreg-header.scss */
  ul.dynamic-menu li.postLogin-header-link {
    padding-bottom: 0rem;
  }
  /* line 431, ../sass/_logreg-header.scss */
  ul.dynamic-menu li.preLogin-header-link a.Lnk-Login {
    padding: 1.7rem 0 1.7rem 2.4rem;
  }
}
@media only screen and (min-width: 601px) and (-webkit-max-device-pixel-ratio: 1), only screen and (min-width: 601px), only screen and (min-width: 768px), (min-width: 601px) and (orientation: landscape) and (-webkit-max-device-pixel-ratio: 1.4), (min-device-width: 600px) and (max-device-width: 966px) and (-webkit-max-device-pixel-ratio: 1.4) and (orientation: portrait), (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) {
  /* line 440, ../sass/_logreg-header.scss */
  ul.dynamic-menu li.preLogin-header-link a.Lnk-Login {
    padding: 0rem 1.6rem;
  }
}
/* Global variables */
/* Log-Reg Variables */
/* Header variables */
/*$newsroom-label: #000000;*/
/* mobile-menu */
/* Search */
/* Rotator */
/* About this newsroom */
/* Contact */
/* Footer */
/* AMP */
/* Tag */
/* Story Detail */
/* lookbook */
/* Home Listing */
/* Listing pages */
/* Filters */
/* Pagination */
/* Cookies page */
/* Cookies message */
/* Popup */
/* mediacart */
/* Custome button */
/*$custom-button-color: #000000;
$custom-button-background: #e9e9e9;
$custom-button-hover-color: #ffffff;
$custom-button-hover-background: #000000;*/
/* contacts */
/* mediacart */
/* rss */
/* Tag search */
/*$tag-search-item-background: #000000;
$tag-search-item-color: #ffffff;*/
/* Error page*/
/* Commmon search elements */
/* Detail pages */
/*LOGREG*/
@media only screen and (min-width: 0px), (min-device-width: 320px) and (max-device-width: 641px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 7, ../sass/_logreg.scss */
  .LogregWrapper, .RegWrapper, .TryNewEmailPopup, .AccountSummary-popup {
    width: 100%;
  }
  /* line 11, ../sass/_logreg.scss */
  .LogregWrapper .divLogin, .LogregWrapper .divRegister, .LogregWrapper .divForgotPassword, .LogregWrapper .divTrynewEmail, .LogregWrapper .AccountSummary-EditBtn, .RegWrapper .divLogin, .RegWrapper .divRegister, .RegWrapper .divForgotPassword, .RegWrapper .divTrynewEmail, .RegWrapper .AccountSummary-EditBtn, .TryNewEmailPopup .divLogin, .TryNewEmailPopup .divRegister, .TryNewEmailPopup .divForgotPassword, .TryNewEmailPopup .divTrynewEmail, .TryNewEmailPopup .AccountSummary-EditBtn, .AccountSummary-popup .divLogin, .AccountSummary-popup .divRegister, .AccountSummary-popup .divForgotPassword, .AccountSummary-popup .divTrynewEmail, .AccountSummary-popup .AccountSummary-EditBtn {
    padding: 0 1.5rem;
    width: 100%;
  }
  /* line 15, ../sass/_logreg.scss */
  .LogregWrapper .divLogin .btn, .LogregWrapper .divRegister .btn, .LogregWrapper .divForgotPassword .btn, .LogregWrapper .divTrynewEmail .btn, .LogregWrapper .AccountSummary-EditBtn .btn, .RegWrapper .divLogin .btn, .RegWrapper .divRegister .btn, .RegWrapper .divForgotPassword .btn, .RegWrapper .divTrynewEmail .btn, .RegWrapper .AccountSummary-EditBtn .btn, .TryNewEmailPopup .divLogin .btn, .TryNewEmailPopup .divRegister .btn, .TryNewEmailPopup .divForgotPassword .btn, .TryNewEmailPopup .divTrynewEmail .btn, .TryNewEmailPopup .AccountSummary-EditBtn .btn, .AccountSummary-popup .divLogin .btn, .AccountSummary-popup .divRegister .btn, .AccountSummary-popup .divForgotPassword .btn, .AccountSummary-popup .divTrynewEmail .btn, .AccountSummary-popup .AccountSummary-EditBtn .btn {
    display: block;
    height: 35px;
    width: 100%;
    background-color: #e9e9e9;
  }
  /* line 24, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .six, .LogregWrapper .divRegisterstep2 .columns, .LogregWrapper .divAccountEdit .six, .LogregWrapper .divAccountEdit .columns, .RegWrapper .divRegisterstep2 .six, .RegWrapper .divRegisterstep2 .columns, .RegWrapper .divAccountEdit .six, .RegWrapper .divAccountEdit .columns, .TryNewEmailPopup .divRegisterstep2 .six, .TryNewEmailPopup .divRegisterstep2 .columns, .TryNewEmailPopup .divAccountEdit .six, .TryNewEmailPopup .divAccountEdit .columns, .AccountSummary-popup .divRegisterstep2 .six, .AccountSummary-popup .divRegisterstep2 .columns, .AccountSummary-popup .divAccountEdit .six, .AccountSummary-popup .divAccountEdit .columns {
    width: 100% !important;
    float: left;
  }
  /* line 29, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .lblHeader, .LogregWrapper .divAccountEdit .lblHeader, .RegWrapper .divRegisterstep2 .lblHeader, .RegWrapper .divAccountEdit .lblHeader, .TryNewEmailPopup .divRegisterstep2 .lblHeader, .TryNewEmailPopup .divAccountEdit .lblHeader, .AccountSummary-popup .divRegisterstep2 .lblHeader, .AccountSummary-popup .divAccountEdit .lblHeader {
    margin-left: 15px;
  }
  /* line 33, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .btn, .LogregWrapper .divAccountEdit .btn, .RegWrapper .divRegisterstep2 .btn, .RegWrapper .divAccountEdit .btn, .TryNewEmailPopup .divRegisterstep2 .btn, .TryNewEmailPopup .divAccountEdit .btn, .AccountSummary-popup .divRegisterstep2 .btn, .AccountSummary-popup .divAccountEdit .btn {
    width: 44%;
    margin-right: 15px;
  }
  /* line 38, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .btn#btnCancel, .LogregWrapper .divRegisterstep2 .btn#btnPrevious, .LogregWrapper .divAccountEdit .btn#btnCancel, .LogregWrapper .divAccountEdit .btn#btnPrevious, .RegWrapper .divRegisterstep2 .btn#btnCancel, .RegWrapper .divRegisterstep2 .btn#btnPrevious, .RegWrapper .divAccountEdit .btn#btnCancel, .RegWrapper .divAccountEdit .btn#btnPrevious, .TryNewEmailPopup .divRegisterstep2 .btn#btnCancel, .TryNewEmailPopup .divRegisterstep2 .btn#btnPrevious, .TryNewEmailPopup .divAccountEdit .btn#btnCancel, .TryNewEmailPopup .divAccountEdit .btn#btnPrevious, .AccountSummary-popup .divRegisterstep2 .btn#btnCancel, .AccountSummary-popup .divRegisterstep2 .btn#btnPrevious, .AccountSummary-popup .divAccountEdit .btn#btnCancel, .AccountSummary-popup .divAccountEdit .btn#btnPrevious {
    float: left;
    margin-left: 15px;
  }
  /* line 43, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .btn#btnNext, .LogregWrapper .divRegisterstep2 .btn#btnFinish, .LogregWrapper .divAccountEdit .btn#btnNext, .LogregWrapper .divAccountEdit .btn#btnFinish, .RegWrapper .divRegisterstep2 .btn#btnNext, .RegWrapper .divRegisterstep2 .btn#btnFinish, .RegWrapper .divAccountEdit .btn#btnNext, .RegWrapper .divAccountEdit .btn#btnFinish, .TryNewEmailPopup .divRegisterstep2 .btn#btnNext, .TryNewEmailPopup .divRegisterstep2 .btn#btnFinish, .TryNewEmailPopup .divAccountEdit .btn#btnNext, .TryNewEmailPopup .divAccountEdit .btn#btnFinish, .AccountSummary-popup .divRegisterstep2 .btn#btnNext, .AccountSummary-popup .divRegisterstep2 .btn#btnFinish, .AccountSummary-popup .divAccountEdit .btn#btnNext, .AccountSummary-popup .divAccountEdit .btn#btnFinish {
    float: right;
    margin-right: 0;
  }
  /* line 48, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .separatordiv, .LogregWrapper .divAccountEdit .separatordiv, .RegWrapper .divRegisterstep2 .separatordiv, .RegWrapper .divAccountEdit .separatordiv, .TryNewEmailPopup .divRegisterstep2 .separatordiv, .TryNewEmailPopup .divAccountEdit .separatordiv, .AccountSummary-popup .divRegisterstep2 .separatordiv, .AccountSummary-popup .divAccountEdit .separatordiv {
    width: 10%;
  }
  /* line 52, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .form-group, .LogregWrapper .divAccountEdit .form-group, .RegWrapper .divRegisterstep2 .form-group, .RegWrapper .divAccountEdit .form-group, .TryNewEmailPopup .divRegisterstep2 .form-group, .TryNewEmailPopup .divAccountEdit .form-group, .AccountSummary-popup .divRegisterstep2 .form-group, .AccountSummary-popup .divAccountEdit .form-group {
    margin-right: 1.5rem;
  }
  /* line 56, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .first-column, .LogregWrapper .divAccountEdit .first-column, .RegWrapper .divRegisterstep2 .first-column, .RegWrapper .divAccountEdit .first-column, .TryNewEmailPopup .divRegisterstep2 .first-column, .TryNewEmailPopup .divAccountEdit .first-column, .AccountSummary-popup .divRegisterstep2 .first-column, .AccountSummary-popup .divAccountEdit .first-column {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  /* line 61, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .second-column, .LogregWrapper .divAccountEdit .second-column, .RegWrapper .divRegisterstep2 .second-column, .RegWrapper .divAccountEdit .second-column, .TryNewEmailPopup .divRegisterstep2 .second-column, .TryNewEmailPopup .divAccountEdit .second-column, .AccountSummary-popup .divRegisterstep2 .second-column, .AccountSummary-popup .divAccountEdit .second-column {
    padding-right: 1.5rem;
  }
  /* line 65, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .SectionHeading, .LogregWrapper .divAccountEdit .SectionHeading, .RegWrapper .divRegisterstep2 .SectionHeading, .RegWrapper .divAccountEdit .SectionHeading, .TryNewEmailPopup .divRegisterstep2 .SectionHeading, .TryNewEmailPopup .divAccountEdit .SectionHeading, .AccountSummary-popup .divRegisterstep2 .SectionHeading, .AccountSummary-popup .divAccountEdit .SectionHeading {
    margin-left: 1.5rem;
  }
  /* line 70, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .divOrgDetails .twelve, .LogregWrapper .divAccountEdit .divOrgDetails .twelve, .RegWrapper .divRegisterstep2 .divOrgDetails .twelve, .RegWrapper .divAccountEdit .divOrgDetails .twelve, .TryNewEmailPopup .divRegisterstep2 .divOrgDetails .twelve, .TryNewEmailPopup .divAccountEdit .divOrgDetails .twelve, .AccountSummary-popup .divRegisterstep2 .divOrgDetails .twelve, .AccountSummary-popup .divAccountEdit .divOrgDetails .twelve {
    padding: 0 1.5rem;
  }

  /* line 78, ../sass/_logreg.scss */
  .recaptcha_widget #recaptcha_image {
    width: 100% !important;
  }

  /* line 83, ../sass/_logreg.scss */
  .divtxt #recaptcha_widget_div {
    display: none;
  }

  /* line 88, ../sass/_logreg.scss */
  #contactus-popup .first-column {
    padding: 0px;
    padding: 0rem;
  }
  /* line 92, ../sass/_logreg.scss */
  #contactus-popup .second-column {
    padding: 0px;
    padding: 0rem;
  }
  /* line 97, ../sass/_logreg.scss */
  #contactus-popup .send-wrapper div {
    position: relative;
  }
  /* line 101, ../sass/_logreg.scss */
  #contactus-popup .send-wrapper .send {
    width: 100%;
    margin-top: 24px;
    margin-top: 2.4rem;
  }
  /* line 108, ../sass/_logreg.scss */
  #contactus-popup .contact-info .name, #contactus-popup .contact-info .email, #contactus-popup .contact-info .position, #contactus-popup .contact-info .phone, #contactus-popup .contact-info .address {
    margin-bottom: 10px;
    margin-bottom: 1rem;
  }

  /* line 114, ../sass/_logreg.scss */
  .statusMegssage {
    color: #d00000;
    padding: 0 1.5rem;
  }

  /* line 119, ../sass/_logreg.scss */
  .RequiredFields {
    clear: both;
    float: left;
    color: #999;
    font-size: 12px;
    margin-top: -5px;
    padding: 0 1.5rem;
  }
}
@media only screen and (min-width: 601px) and (-webkit-max-device-pixel-ratio: 1), only screen and (min-width: 601px), only screen and (min-width: 768px), (min-width: 601px) and (orientation: landscape) and (-webkit-max-device-pixel-ratio: 1.4), (min-device-width: 600px) and (max-device-width: 966px) and (-webkit-max-device-pixel-ratio: 1.4) and (orientation: portrait), (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) {
  /* line 130, ../sass/_logreg.scss */
  .LogregWrapper, .RegWrapper, .TryNewEmailPopup, .AccountSummary-popup {
    background: none repeat scroll 0 0 white;
    max-width: 322px;
    width: 100%;
    padding-bottom: 2.8rem;
    padding-top: 2.8rem;
  }
  /* line 138, ../sass/_logreg.scss */
  .LogregWrapper .divLogin, .LogregWrapper .divRegister, .LogregWrapper .divForgotPassword, .RegWrapper .divLogin, .RegWrapper .divRegister, .RegWrapper .divForgotPassword, .TryNewEmailPopup .divLogin, .TryNewEmailPopup .divRegister, .TryNewEmailPopup .divForgotPassword, .AccountSummary-popup .divLogin, .AccountSummary-popup .divRegister, .AccountSummary-popup .divForgotPassword {
    margin: auto;
    width: 256px;
    padding: 0;
  }
  /* line 143, ../sass/_logreg.scss */
  .LogregWrapper .divLogin .btn, .LogregWrapper .divRegister .btn, .LogregWrapper .divForgotPassword .btn, .RegWrapper .divLogin .btn, .RegWrapper .divRegister .btn, .RegWrapper .divForgotPassword .btn, .TryNewEmailPopup .divLogin .btn, .TryNewEmailPopup .divRegister .btn, .TryNewEmailPopup .divForgotPassword .btn, .AccountSummary-popup .divLogin .btn, .AccountSummary-popup .divRegister .btn, .AccountSummary-popup .divForgotPassword .btn {
    display: block;
    height: 35px;
    width: 256px;
    background-color: #e9e9e9;
  }
  /* line 152, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .six, .LogregWrapper .divRegisterstep2 .columns, .LogregWrapper .divAccountEdit .six, .LogregWrapper .divAccountEdit .columns, .RegWrapper .divRegisterstep2 .six, .RegWrapper .divRegisterstep2 .columns, .RegWrapper .divAccountEdit .six, .RegWrapper .divAccountEdit .columns, .TryNewEmailPopup .divRegisterstep2 .six, .TryNewEmailPopup .divRegisterstep2 .columns, .TryNewEmailPopup .divAccountEdit .six, .TryNewEmailPopup .divAccountEdit .columns, .AccountSummary-popup .divRegisterstep2 .six, .AccountSummary-popup .divRegisterstep2 .columns, .AccountSummary-popup .divAccountEdit .six, .AccountSummary-popup .divAccountEdit .columns {
    width: 50% !important;
    float: left;
  }
  /* line 157, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .lblHeader, .LogregWrapper .divAccountEdit .lblHeader, .RegWrapper .divRegisterstep2 .lblHeader, .RegWrapper .divAccountEdit .lblHeader, .TryNewEmailPopup .divRegisterstep2 .lblHeader, .TryNewEmailPopup .divAccountEdit .lblHeader, .AccountSummary-popup .divRegisterstep2 .lblHeader, .AccountSummary-popup .divAccountEdit .lblHeader {
    margin-left: 0;
  }
  /* line 161, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .btn, .LogregWrapper .divAccountEdit .btn, .RegWrapper .divRegisterstep2 .btn, .RegWrapper .divAccountEdit .btn, .TryNewEmailPopup .divRegisterstep2 .btn, .TryNewEmailPopup .divAccountEdit .btn, .AccountSummary-popup .divRegisterstep2 .btn, .AccountSummary-popup .divAccountEdit .btn {
    width: 124px;
    margin-right: 10px;
    margin-top: 15px;
  }
  /* line 167, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .btn#btnCancel, .LogregWrapper .divRegisterstep2 .btn#btnPrevious, .LogregWrapper .divAccountEdit .btn#btnCancel, .LogregWrapper .divAccountEdit .btn#btnPrevious, .RegWrapper .divRegisterstep2 .btn#btnCancel, .RegWrapper .divRegisterstep2 .btn#btnPrevious, .RegWrapper .divAccountEdit .btn#btnCancel, .RegWrapper .divAccountEdit .btn#btnPrevious, .TryNewEmailPopup .divRegisterstep2 .btn#btnCancel, .TryNewEmailPopup .divRegisterstep2 .btn#btnPrevious, .TryNewEmailPopup .divAccountEdit .btn#btnCancel, .TryNewEmailPopup .divAccountEdit .btn#btnPrevious, .AccountSummary-popup .divRegisterstep2 .btn#btnCancel, .AccountSummary-popup .divRegisterstep2 .btn#btnPrevious, .AccountSummary-popup .divAccountEdit .btn#btnCancel, .AccountSummary-popup .divAccountEdit .btn#btnPrevious {
    float: left;
    margin-left: 0px;
  }
  /* line 172, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .btn#btnNext, .LogregWrapper .divRegisterstep2 .btn#btnFinish, .LogregWrapper .divAccountEdit .btn#btnNext, .LogregWrapper .divAccountEdit .btn#btnFinish, .RegWrapper .divRegisterstep2 .btn#btnNext, .RegWrapper .divRegisterstep2 .btn#btnFinish, .RegWrapper .divAccountEdit .btn#btnNext, .RegWrapper .divAccountEdit .btn#btnFinish, .TryNewEmailPopup .divRegisterstep2 .btn#btnNext, .TryNewEmailPopup .divRegisterstep2 .btn#btnFinish, .TryNewEmailPopup .divAccountEdit .btn#btnNext, .TryNewEmailPopup .divAccountEdit .btn#btnFinish, .AccountSummary-popup .divRegisterstep2 .btn#btnNext, .AccountSummary-popup .divRegisterstep2 .btn#btnFinish, .AccountSummary-popup .divAccountEdit .btn#btnNext, .AccountSummary-popup .divAccountEdit .btn#btnFinish {
    float: left;
    margin-left: 15px;
  }
  /* line 177, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .first-column, .LogregWrapper .divAccountEdit .first-column, .RegWrapper .divRegisterstep2 .first-column, .RegWrapper .divAccountEdit .first-column, .TryNewEmailPopup .divRegisterstep2 .first-column, .TryNewEmailPopup .divAccountEdit .first-column, .AccountSummary-popup .divRegisterstep2 .first-column, .AccountSummary-popup .divAccountEdit .first-column {
    padding: 0 2.5rem 0 0;
  }
  /* line 181, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .second-column, .LogregWrapper .divAccountEdit .second-column, .RegWrapper .divRegisterstep2 .second-column, .RegWrapper .divAccountEdit .second-column, .TryNewEmailPopup .divRegisterstep2 .second-column, .TryNewEmailPopup .divAccountEdit .second-column, .AccountSummary-popup .divRegisterstep2 .second-column, .AccountSummary-popup .divAccountEdit .second-column {
    padding-right: 0;
  }
  /* line 185, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .SectionHeading, .LogregWrapper .divAccountEdit .SectionHeading, .RegWrapper .divRegisterstep2 .SectionHeading, .RegWrapper .divAccountEdit .SectionHeading, .TryNewEmailPopup .divRegisterstep2 .SectionHeading, .TryNewEmailPopup .divAccountEdit .SectionHeading, .AccountSummary-popup .divRegisterstep2 .SectionHeading, .AccountSummary-popup .divAccountEdit .SectionHeading {
    margin-left: 0;
  }
  /* line 190, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .divOrgDetails .twelve, .LogregWrapper .divAccountEdit .divOrgDetails .twelve, .RegWrapper .divRegisterstep2 .divOrgDetails .twelve, .RegWrapper .divAccountEdit .divOrgDetails .twelve, .TryNewEmailPopup .divRegisterstep2 .divOrgDetails .twelve, .TryNewEmailPopup .divAccountEdit .divOrgDetails .twelve, .AccountSummary-popup .divRegisterstep2 .divOrgDetails .twelve, .AccountSummary-popup .divAccountEdit .divOrgDetails .twelve {
    padding: 0;
  }

  /* line 198, ../sass/_logreg.scss */
  .recaptcha_widget #recaptcha_image {
    width: 256px !important;
  }

  /* line 203, ../sass/_logreg.scss */
  .divtxt #recaptcha_widget_div {
    display: none;
  }

  /* line 207, ../sass/_logreg.scss */
  .RegWrapper {
    max-width: 642px;
  }

  /* line 211, ../sass/_logreg.scss */
  .TryNewEmailPopup {
    max-width: 365px;
  }
  /* line 214, ../sass/_logreg.scss */
  .TryNewEmailPopup .divTrynewEmail {
    width: 280px;
  }
  /* line 217, ../sass/_logreg.scss */
  .TryNewEmailPopup .divTrynewEmail .form-group {
    clear: both;
  }
  /* line 221, ../sass/_logreg.scss */
  .TryNewEmailPopup .divTrynewEmail .btn {
    width: 280px;
  }

  /* line 227, ../sass/_logreg.scss */
  .AccountSummary-popup {
    width: 320px;
  }

  /* line 232, ../sass/_logreg.scss */
  #contactus-popup .six {
    width: 50% !important;
  }
  /* line 236, ../sass/_logreg.scss */
  #contactus-popup .columns {
    float: left;
  }
  /* line 240, ../sass/_logreg.scss */
  #contactus-popup .first-column {
    padding: 0px 16px 0px 0px;
    padding: 0rem 1.6rem 0rem 0rem;
  }
  /* line 244, ../sass/_logreg.scss */
  #contactus-popup .second-column {
    padding: 0px 0px 0px 16px;
    padding: 0rem 0rem 0rem 1.6rem;
  }
  /* line 249, ../sass/_logreg.scss */
  #contactus-popup .send-wrapper div {
    position: absolute;
  }
  /* line 253, ../sass/_logreg.scss */
  #contactus-popup .send-wrapper .send {
    width: 190px;
    margin-top: 0px;
    margin-top: 0rem;
  }
  /* line 260, ../sass/_logreg.scss */
  #contactus-popup .contact-info .address {
    margin-bottom: 0px;
    margin-bottom: 0rem;
  }

  /* line 266, ../sass/_logreg.scss */
  .statusMegssage {
    color: #d00000;
    padding: 0;
  }

  /* line 271, ../sass/_logreg.scss */
  .RequiredFields {
    clear: both;
    float: left;
    color: #999;
    font-size: 12px;
    margin-top: -5px;
    padding: 0;
  }
}
@media only screen and (min-width: 769px) {
  /* line 283, ../sass/_logreg.scss */
  .LogregWrapper, .RegWrapper, .TryNewEmailPopup, .AccountSummary-popup {
    background: none repeat scroll 0 0 white;
    max-width: 322px;
    width: 100%;
    padding-bottom: 2.8rem;
    padding-top: 2.8rem;
  }
  /* line 290, ../sass/_logreg.scss */
  .LogregWrapper .btn, .RegWrapper .btn, .TryNewEmailPopup .btn, .AccountSummary-popup .btn {
    width: 256px;
  }
  /* line 294, ../sass/_logreg.scss */
  .LogregWrapper .statusMegssage, .RegWrapper .statusMegssage, .TryNewEmailPopup .statusMegssage, .AccountSummary-popup .statusMegssage {
    color: #d00000;
    padding: 0;
  }
  /* line 299, ../sass/_logreg.scss */
  .LogregWrapper .RequiredFields, .RegWrapper .RequiredFields, .TryNewEmailPopup .RequiredFields, .AccountSummary-popup .RequiredFields {
    clear: both;
    float: left;
    color: #999;
    font-size: 12px;
    margin-top: -5px;
    padding: 0;
  }
  /* line 308, ../sass/_logreg.scss */
  .LogregWrapper .divLogin, .LogregWrapper .divRegister, .LogregWrapper .divForgotPassword, .LogregWrapper .divTrynewEmail, .RegWrapper .divLogin, .RegWrapper .divRegister, .RegWrapper .divForgotPassword, .RegWrapper .divTrynewEmail, .TryNewEmailPopup .divLogin, .TryNewEmailPopup .divRegister, .TryNewEmailPopup .divForgotPassword, .TryNewEmailPopup .divTrynewEmail, .AccountSummary-popup .divLogin, .AccountSummary-popup .divRegister, .AccountSummary-popup .divForgotPassword, .AccountSummary-popup .divTrynewEmail {
    margin: auto;
    width: 256px;
    padding: 0;
  }
  /* line 314, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2, .LogregWrapper .divAccountEdit, .RegWrapper .divRegisterstep2, .RegWrapper .divAccountEdit, .TryNewEmailPopup .divRegisterstep2, .TryNewEmailPopup .divAccountEdit, .AccountSummary-popup .divRegisterstep2, .AccountSummary-popup .divAccountEdit {
    width: 582px;
    overflow-y: auto;
  }
  /* line 318, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .lblHeader, .LogregWrapper .divAccountEdit .lblHeader, .RegWrapper .divRegisterstep2 .lblHeader, .RegWrapper .divAccountEdit .lblHeader, .TryNewEmailPopup .divRegisterstep2 .lblHeader, .TryNewEmailPopup .divAccountEdit .lblHeader, .AccountSummary-popup .divRegisterstep2 .lblHeader, .AccountSummary-popup .divAccountEdit .lblHeader {
    margin-left: 0;
  }
  /* line 322, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .btn, .LogregWrapper .divAccountEdit .btn, .RegWrapper .divRegisterstep2 .btn, .RegWrapper .divAccountEdit .btn, .TryNewEmailPopup .divRegisterstep2 .btn, .TryNewEmailPopup .divAccountEdit .btn, .AccountSummary-popup .divRegisterstep2 .btn, .AccountSummary-popup .divAccountEdit .btn {
    margin-top: 15px;
  }
  /* line 326, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .btn#btnCancel, .LogregWrapper .divRegisterstep2 .btn#btnPrevious, .LogregWrapper .divAccountEdit .btn#btnCancel, .LogregWrapper .divAccountEdit .btn#btnPrevious, .RegWrapper .divRegisterstep2 .btn#btnCancel, .RegWrapper .divRegisterstep2 .btn#btnPrevious, .RegWrapper .divAccountEdit .btn#btnCancel, .RegWrapper .divAccountEdit .btn#btnPrevious, .TryNewEmailPopup .divRegisterstep2 .btn#btnCancel, .TryNewEmailPopup .divRegisterstep2 .btn#btnPrevious, .TryNewEmailPopup .divAccountEdit .btn#btnCancel, .TryNewEmailPopup .divAccountEdit .btn#btnPrevious, .AccountSummary-popup .divRegisterstep2 .btn#btnCancel, .AccountSummary-popup .divRegisterstep2 .btn#btnPrevious, .AccountSummary-popup .divAccountEdit .btn#btnCancel, .AccountSummary-popup .divAccountEdit .btn#btnPrevious {
    float: left;
    margin-left: 0px;
  }
  /* line 331, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .btn#btnNext, .LogregWrapper .divRegisterstep2 .btn#btnFinish, .LogregWrapper .divAccountEdit .btn#btnNext, .LogregWrapper .divAccountEdit .btn#btnFinish, .RegWrapper .divRegisterstep2 .btn#btnNext, .RegWrapper .divRegisterstep2 .btn#btnFinish, .RegWrapper .divAccountEdit .btn#btnNext, .RegWrapper .divAccountEdit .btn#btnFinish, .TryNewEmailPopup .divRegisterstep2 .btn#btnNext, .TryNewEmailPopup .divRegisterstep2 .btn#btnFinish, .TryNewEmailPopup .divAccountEdit .btn#btnNext, .TryNewEmailPopup .divAccountEdit .btn#btnFinish, .AccountSummary-popup .divRegisterstep2 .btn#btnNext, .AccountSummary-popup .divRegisterstep2 .btn#btnFinish, .AccountSummary-popup .divAccountEdit .btn#btnNext, .AccountSummary-popup .divAccountEdit .btn#btnFinish {
    float: left;
    margin-left: 15px;
  }
  /* line 336, ../sass/_logreg.scss */
  .LogregWrapper .divRegisterstep2 .SectionHeading, .LogregWrapper .divAccountEdit .SectionHeading, .RegWrapper .divRegisterstep2 .SectionHeading, .RegWrapper .divAccountEdit .SectionHeading, .TryNewEmailPopup .divRegisterstep2 .SectionHeading, .TryNewEmailPopup .divAccountEdit .SectionHeading, .AccountSummary-popup .divRegisterstep2 .SectionHeading, .AccountSummary-popup .divAccountEdit .SectionHeading {
    margin-left: 0;
  }

  /* line 342, ../sass/_logreg.scss */
  .RegWrapper {
    max-width: 642px;
  }

  /* line 346, ../sass/_logreg.scss */
  .TryNewEmailPopup {
    max-width: 345px;
  }
  /* line 349, ../sass/_logreg.scss */
  .TryNewEmailPopup .divTrynewEmail {
    width: 280px;
  }
  /* line 352, ../sass/_logreg.scss */
  .TryNewEmailPopup .divTrynewEmail .form-group {
    clear: both;
  }
  /* line 356, ../sass/_logreg.scss */
  .TryNewEmailPopup .divTrynewEmail .btn {
    width: 280px;
  }

  /* line 362, ../sass/_logreg.scss */
  .AccountSummary-popup {
    width: 320px;
  }

  /* line 367, ../sass/_logreg.scss */
  .recaptcha_widget #recaptcha_image {
    width: 256px !important;
  }
}
/* line 377, ../sass/_logreg.scss */
#contactus-popup .popup-close {
  position: absolute;
  right: 32px;
  right: 3.2rem;
  top: 32px;
  top: 3.2rem;
  z-index: 2;
}
/* line 384, ../sass/_logreg.scss */
#contactus-popup .validation-summary {
  display: none;
  margin-top: 12px;
  margin-top: 1.2rem;
  color: #ff0000;
}
/* line 390, ../sass/_logreg.scss */
#contactus-popup input {
  margin: 0px;
  margin: 0rem;
  color: #000000;
}
/* line 395, ../sass/_logreg.scss */
#contactus-popup .invalid-message {
  display: none;
  color: #ff0000;
  margin-top: 5px;
  margin-top: 0.5rem;
}
/* line 402, ../sass/_logreg.scss */
#contactus-popup .invalid > input, #contactus-popup .invalid > textarea, #contactus-popup .invalid select {
  background: #FEF1EC;
  border: 1px solid #CD0A0A;
}
/* line 407, ../sass/_logreg.scss */
#contactus-popup .invalid .invalid-message {
  display: block;
}
/* line 412, ../sass/_logreg.scss */
#contactus-popup .contact-info {
  margin: 0px;
  margin: 0rem;
  padding-bottom: 16px;
  padding-bottom: 1.6rem;
  border-bottom: 1px dotted #cccccc;
}
/* line 419, ../sass/_logreg.scss */
#contactus-popup .message-wrapper textarea {
  /*min-height: 78px;*/
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
/* line 425, ../sass/_logreg.scss */
#contactus-popup label {
  margin-top: 24px;
  margin-top: 2.4rem;
  margin-bottom: 6px;
  margin-bottom: 0.6rem;
  /*@include font_semi_bold();*/
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 434, ../sass/_logreg.scss */
#contactus-popup select {
  padding: 6px 0;
}
/* line 439, ../sass/_logreg.scss */
#contactus-popup .inquirylable label {
  margin-top: 5px;
}
/* line 444, ../sass/_logreg.scss */
#contactus-popup .remember-me {
  display: inline-block;
  margin-top: 0px;
  margin-top: 0rem;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  position: relative;
  top: -2px;
}
/* line 453, ../sass/_logreg.scss */
#contactus-popup .send-wrapper {
  position: relative;
  margin: 24px auto 0 auto;
  padding-top: 24px;
  padding-top: 2.4rem;
  border-top: 1px dotted #cccccc;
  text-align: center;
}
/* line 460, ../sass/_logreg.scss */
#contactus-popup .send-wrapper input {
  margin: 0 auto;
}
/* line 464, ../sass/_logreg.scss */
#contactus-popup .send-wrapper label {
  margin-bottom: 0;
}
/* line 468, ../sass/_logreg.scss */
#contactus-popup .send-wrapper .send {
  height: 32px;
}
/* line 473, ../sass/_logreg.scss */
#contactus-popup .lblHeader {
  font-family: arial;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 1.2rem;
  margin-bottom: 1.4rem;
  color: #000000;
}

/* line 484, ../sass/_logreg.scss */
.popup.one-wide {
  width: 100%;
  max-width: 640px;
}

/* line 489, ../sass/_logreg.scss */
.popup.two-wide {
  width: 100%;
  max-width: 640px;
}

/* line 494, ../sass/_logreg.scss */
.popup.one-narrow {
  width: 100%;
  max-width: 320px;
}

/* line 499, ../sass/_logreg.scss */
.field-validation-error {
  color: #d00000;
}

/* line 504, ../sass/_logreg.scss */
#frmOrgEdit, #frmAccountEdit {
  margin: 0;
}

/* line 508, ../sass/_logreg.scss */
.LogregWrapper, .RegWrapper, .TryNewEmailPopup, .AccountSummary-popup {
  background: none repeat scroll 0 0 white;
}
/* line 511, ../sass/_logreg.scss */
.LogregWrapper label, .RegWrapper label, .TryNewEmailPopup label, .AccountSummary-popup label {
  cursor: default;
}
/* line 515, ../sass/_logreg.scss */
.LogregWrapper a.popup-close, .RegWrapper a.popup-close, .TryNewEmailPopup a.popup-close, .AccountSummary-popup a.popup-close {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
/* line 520, ../sass/_logreg.scss */
.LogregWrapper a.popup-close i.icon-cross, .RegWrapper a.popup-close i.icon-cross, .TryNewEmailPopup a.popup-close i.icon-cross, .AccountSummary-popup a.popup-close i.icon-cross {
  background: url("/Content/images/icons/cross.png?1424782439") no-repeat scroll center top transparent;
  display: block;
  height: 16px;
  width: 16px;
}
/* line 528, ../sass/_logreg.scss */
.LogregWrapper .lblHeader, .RegWrapper .lblHeader, .TryNewEmailPopup .lblHeader, .AccountSummary-popup .lblHeader {
  font-family: arial;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 1.2rem;
  margin-bottom: 1.4rem;
  color: #000000;
}
/* line 538, ../sass/_logreg.scss */
.LogregWrapper fieldset, .RegWrapper fieldset, .TryNewEmailPopup fieldset, .AccountSummary-popup fieldset {
  border: 0px;
  padding: 0px;
  margin: 0pc;
}
/* line 543, ../sass/_logreg.scss */
.LogregWrapper fieldset .field-validation-error, .RegWrapper fieldset .field-validation-error, .TryNewEmailPopup fieldset .field-validation-error, .AccountSummary-popup fieldset .field-validation-error {
  color: #d00000;
}
/* line 547, ../sass/_logreg.scss */
.LogregWrapper fieldset label#lblStatus, .RegWrapper fieldset label#lblStatus, .TryNewEmailPopup fieldset label#lblStatus, .AccountSummary-popup fieldset label#lblStatus {
  color: #d00000;
  font-size: 12px;
  margin-top: 5px;
  clear: both;
  padding-top: 0.5rem;
}
/* line 555, ../sass/_logreg.scss */
.LogregWrapper fieldset label#lblReg1Status, .RegWrapper fieldset label#lblReg1Status, .TryNewEmailPopup fieldset label#lblReg1Status, .AccountSummary-popup fieldset label#lblReg1Status {
  color: #d00000;
  font-size: 12px;
  margin: 1rem 0 1rem 0;
}
/* line 561, ../sass/_logreg.scss */
.LogregWrapper fieldset label#lblReg2Status, .RegWrapper fieldset label#lblReg2Status, .TryNewEmailPopup fieldset label#lblReg2Status, .AccountSummary-popup fieldset label#lblReg2Status {
  color: #d00000;
  font-size: 12px;
  margin: 0px 0px 0px 1.5rem;
}
/* line 568, ../sass/_logreg.scss */
.LogregWrapper .lbl, .RegWrapper .lbl, .TryNewEmailPopup .lbl, .AccountSummary-popup .lbl {
  margin-bottom: 0.6rem;
  float: left;
}
/* line 572, ../sass/_logreg.scss */
.LogregWrapper .lbl label, .RegWrapper .lbl label, .TryNewEmailPopup .lbl label, .AccountSummary-popup .lbl label {
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
  margin-top: 1.1rem;
  color: #000000;
}
/* line 581, ../sass/_logreg.scss */
.LogregWrapper .details, .RegWrapper .details, .TryNewEmailPopup .details, .AccountSummary-popup .details {
  font-weight: normal;
}
/* line 586, ../sass/_logreg.scss */
.LogregWrapper .txt input, .RegWrapper .txt input, .TryNewEmailPopup .txt input, .AccountSummary-popup .txt input {
  border: 1px solid #ccc;
  height: 3.2rem;
  width: 100%;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  color: #000000;
}
/* line 595, ../sass/_logreg.scss */
.LogregWrapper .txt select, .RegWrapper .txt select, .TryNewEmailPopup .txt select, .AccountSummary-popup .txt select {
  height: 3.2rem;
  border: 1px solid #ccc;
  color: #100E0E;
  font-size: 15px;
  font-family: arial;
}
/* line 605, ../sass/_logreg.scss */
.LogregWrapper .ddlUserTypes span.field-validation-error, .RegWrapper .ddlUserTypes span.field-validation-error, .TryNewEmailPopup .ddlUserTypes span.field-validation-error, .AccountSummary-popup .ddlUserTypes span.field-validation-error {
  margin: 1rem 0 1rem 0;
  float: left;
}
/* line 611, ../sass/_logreg.scss */
.LogregWrapper .btn, .RegWrapper .btn, .TryNewEmailPopup .btn, .AccountSummary-popup .btn {
  display: block;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
  box-shadow: 1px 1px 2px 0px #9f9f9f;
  -webkit-box-shadow: 1px 1px 2px 0px #9f9f9f;
  -moz-box-shadow: 1px 1px 2px 0px #9f9f9f;
  background-color: #e9e9e9;
  margin: 6px auto;
  float: left;
  font-family: arial;
  cursor: pointer;
  color: #000000;
}
/* line 628, ../sass/_logreg.scss */
.LogregWrapper .lblHeaderForgotPassword, .RegWrapper .lblHeaderForgotPassword, .TryNewEmailPopup .lblHeaderForgotPassword, .AccountSummary-popup .lblHeaderForgotPassword {
  font-family: arial;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px dotted #ccc;
  height: 7.3rem;
  margin-bottom: 1.4rem;
  color: #000000;
}
/* line 638, ../sass/_logreg.scss */
.LogregWrapper .lblHeaderTryNewEmail, .RegWrapper .lblHeaderTryNewEmail, .TryNewEmailPopup .lblHeaderTryNewEmail, .AccountSummary-popup .lblHeaderTryNewEmail {
  font-family: arial;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px dotted #ccc;
  height: 7rem;
  margin-bottom: 1.4rem;
  color: #000000;
}

/* line 651, ../sass/_logreg.scss */
.divLogin .lblinfo, .divRegister .lblinfo, .divForgotPassword .lblinfo, .divTrynewEmail .lblinfo {
  font-family: arial;
  font-size: 12px;
  margin-bottom: 1.3rem;
  color: #000000;
}
/* line 657, ../sass/_logreg.scss */
.divLogin .lblinfo span, .divRegister .lblinfo span, .divForgotPassword .lblinfo span, .divTrynewEmail .lblinfo span {
  color: #d00000;
}
/* line 662, ../sass/_logreg.scss */
.divLogin .lblAccessDenied, .divRegister .lblAccessDenied, .divForgotPassword .lblAccessDenied, .divTrynewEmail .lblAccessDenied {
  font-size: 14px;
}
/* line 665, ../sass/_logreg.scss */
.divLogin .lblAccessDenied a, .divRegister .lblAccessDenied a, .divForgotPassword .lblAccessDenied a, .divTrynewEmail .lblAccessDenied a {
  color: #000000;
  margin-left: 5px;
}
/* line 671, ../sass/_logreg.scss */
.divLogin .lblinfoTrynewEmail, .divRegister .lblinfoTrynewEmail, .divForgotPassword .lblinfoTrynewEmail, .divTrynewEmail .lblinfoTrynewEmail {
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 1.3rem;
  color: #000000;
}
/* line 679, ../sass/_logreg.scss */
.divLogin .lblForgotPasswordinfo, .divRegister .lblForgotPasswordinfo, .divForgotPassword .lblForgotPasswordinfo, .divTrynewEmail .lblForgotPasswordinfo {
  font-family: arial;
  font-size: 16px;
  margin-bottom: 1.3rem;
  font-weight: bold;
  color: #000000;
}
/* line 688, ../sass/_logreg.scss */
.divLogin .lblRememberMe input, .divRegister .lblRememberMe input, .divForgotPassword .lblRememberMe input, .divTrynewEmail .lblRememberMe input {
  font-family: arial;
  font-size: 12px;
  float: left;
}
/* line 695, ../sass/_logreg.scss */
.divLogin .divRegister, .divRegister .divRegister, .divForgotPassword .divRegister, .divTrynewEmail .divRegister {
  margin-top: 1.5rem;
  height: 15px;
  font-size: 12px;
  color: #000000;
}
/* line 701, ../sass/_logreg.scss */
.divLogin .divRegister a, .divRegister .divRegister a, .divForgotPassword .divRegister a, .divTrynewEmail .divRegister a {
  color: #000000;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: none;
}
/* line 708, ../sass/_logreg.scss */
.divLogin .divRegister .img-arrow, .divRegister .divRegister .img-arrow, .divForgotPassword .divRegister .img-arrow, .divTrynewEmail .divRegister .img-arrow {
  margin-left: 5px;
  vertical-align: text-bottom;
}
/* line 714, ../sass/_logreg.scss */
.divLogin .divContact, .divRegister .divContact, .divForgotPassword .divContact, .divTrynewEmail .divContact {
  color: #999;
  margin-top: 0.9rem;
  font-size: 12px;
  float: left;
}
/* line 720, ../sass/_logreg.scss */
.divLogin .divContact a, .divRegister .divContact a, .divForgotPassword .divContact a, .divTrynewEmail .divContact a {
  color: #000000;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: none;
}
/* line 728, ../sass/_logreg.scss */
.divLogin .divReminderForgotPwd, .divRegister .divReminderForgotPwd, .divForgotPassword .divReminderForgotPwd, .divTrynewEmail .divReminderForgotPwd {
  margin-top: 0.3rem;
}
/* line 731, ../sass/_logreg.scss */
.divLogin .divReminderForgotPwd input, .divRegister .divReminderForgotPwd input, .divForgotPassword .divReminderForgotPwd input, .divTrynewEmail .divReminderForgotPwd input {
  margin-top: 0;
  margin-left: 0px;
  margin-right: 0.5rem;
  float: left;
}
/* line 739, ../sass/_logreg.scss */
.divLogin .divReminderForgotPwd .divForgotPwd a, .divRegister .divReminderForgotPwd .divForgotPwd a, .divForgotPassword .divReminderForgotPwd .divForgotPwd a, .divTrynewEmail .divReminderForgotPwd .divForgotPwd a {
  color: #999;
  float: right;
  font-size: 12px;
}
/* line 746, ../sass/_logreg.scss */
.divLogin .divReminderForgotPwd label, .divRegister .divReminderForgotPwd label, .divForgotPassword .divReminderForgotPwd label, .divTrynewEmail .divReminderForgotPwd label {
  float: left;
  font-size: 12px;
  color: #000000;
}
/* line 754, ../sass/_logreg.scss */
.divLogin .recaptcha_widget ul, .divRegister .recaptcha_widget ul, .divForgotPassword .recaptcha_widget ul, .divTrynewEmail .recaptcha_widget ul {
  padding: 0px;
}
/* line 758, ../sass/_logreg.scss */
.divLogin .recaptcha_widget ul li a, .divRegister .recaptcha_widget ul li a, .divForgotPassword .recaptcha_widget ul li a, .divTrynewEmail .recaptcha_widget ul li a {
  color: #d00000;
  font-size: 1.2rem;
  font-weight: bold;
}
/* line 766, ../sass/_logreg.scss */
.divLogin .recaptcha_widget .SecurityCheck, .divRegister .recaptcha_widget .SecurityCheck, .divForgotPassword .recaptcha_widget .SecurityCheck, .divTrynewEmail .recaptcha_widget .SecurityCheck {
  color: #000;
  font-size: 2.4rem;
  margin-top: .5rem;
  border-top: 1px dotted #ccc;
  padding-top: 1rem;
  margin-bottom: .5rem;
  font-weight: bold;
}
/* line 776, ../sass/_logreg.scss */
.divLogin .recaptcha_widget .cantread, .divRegister .recaptcha_widget .cantread, .divForgotPassword .recaptcha_widget .cantread, .divTrynewEmail .recaptcha_widget .cantread {
  color: #000;
  font-size: 1.2rem;
}
/* line 781, ../sass/_logreg.scss */
.divLogin .recaptcha_widget .enterwordsabove, .divRegister .recaptcha_widget .enterwordsabove, .divForgotPassword .recaptcha_widget .enterwordsabove, .divTrynewEmail .recaptcha_widget .enterwordsabove {
  color: #000;
  font-size: 1.1rem;
}
/* line 786, ../sass/_logreg.scss */
.divLogin .recaptcha_widget #recaptcha_image, .divRegister .recaptcha_widget #recaptcha_image, .divForgotPassword .recaptcha_widget #recaptcha_image, .divTrynewEmail .recaptcha_widget #recaptcha_image {
  height: 65px !important;
  border: solid;
  border-width: 1rem;
  border-color: gray;
}
/* line 793, ../sass/_logreg.scss */
.divLogin .recaptcha_widget #recaptchOptionsDiv, .divRegister .recaptcha_widget #recaptchOptionsDiv, .divForgotPassword .recaptcha_widget #recaptchOptionsDiv, .divTrynewEmail .recaptcha_widget #recaptchOptionsDiv {
  padding: 0px;
}
/* line 796, ../sass/_logreg.scss */
.divLogin .recaptcha_widget #recaptchOptionsDiv a, .divRegister .recaptcha_widget #recaptchOptionsDiv a, .divForgotPassword .recaptcha_widget #recaptchOptionsDiv a, .divTrynewEmail .recaptcha_widget #recaptchOptionsDiv a {
  color: #d00000;
  font-size: 1.2rem;
  font-weight: bold;
}
/* line 804, ../sass/_logreg.scss */
.divLogin .recaptcha_widget .recaptcha_widget ul, .divRegister .recaptcha_widget .recaptcha_widget ul, .divForgotPassword .recaptcha_widget .recaptcha_widget ul, .divTrynewEmail .recaptcha_widget .recaptcha_widget ul {
  padding: 0px;
}
/* line 808, ../sass/_logreg.scss */
.divLogin .recaptcha_widget .recaptcha_widget ul li a, .divRegister .recaptcha_widget .recaptcha_widget ul li a, .divForgotPassword .recaptcha_widget .recaptcha_widget ul li a, .divTrynewEmail .recaptcha_widget .recaptcha_widget ul li a {
  color: #d00000;
  font-size: 1.2rem;
  font-weight: bold;
}
/* line 816, ../sass/_logreg.scss */
.divLogin .recaptcha_widget .recaptcha_widget .SecurityCheck, .divRegister .recaptcha_widget .recaptcha_widget .SecurityCheck, .divForgotPassword .recaptcha_widget .recaptcha_widget .SecurityCheck, .divTrynewEmail .recaptcha_widget .recaptcha_widget .SecurityCheck {
  color: #000000;
  font-size: 2.4rem;
  margin-top: .5rem;
  border-top: 1px dotted #ccc;
  padding-top: 1rem;
  margin-bottom: .5rem;
  font-weight: bold;
}
/* line 826, ../sass/_logreg.scss */
.divLogin .recaptcha_widget .recaptcha_widget .cantread, .divRegister .recaptcha_widget .recaptcha_widget .cantread, .divForgotPassword .recaptcha_widget .recaptcha_widget .cantread, .divTrynewEmail .recaptcha_widget .recaptcha_widget .cantread {
  color: #000000;
  font-size: 1.2rem;
}
/* line 831, ../sass/_logreg.scss */
.divLogin .recaptcha_widget .recaptcha_widget .enterwordsabove, .divRegister .recaptcha_widget .recaptcha_widget .enterwordsabove, .divForgotPassword .recaptcha_widget .recaptcha_widget .enterwordsabove, .divTrynewEmail .recaptcha_widget .recaptcha_widget .enterwordsabove {
  color: #000000;
  font-size: 1.1rem;
}
/* line 836, ../sass/_logreg.scss */
.divLogin .recaptcha_widget .recaptcha_widget #recaptcha_image, .divRegister .recaptcha_widget .recaptcha_widget #recaptcha_image, .divForgotPassword .recaptcha_widget .recaptcha_widget #recaptcha_image, .divTrynewEmail .recaptcha_widget .recaptcha_widget #recaptcha_image {
  width: 256px !important;
  height: 65px !important;
  border: solid;
  border-width: 1rem;
  border-color: gray;
}
/* line 844, ../sass/_logreg.scss */
.divLogin .recaptcha_widget .recaptcha_widget #recaptchOptionsDiv, .divRegister .recaptcha_widget .recaptcha_widget #recaptchOptionsDiv, .divForgotPassword .recaptcha_widget .recaptcha_widget #recaptchOptionsDiv, .divTrynewEmail .recaptcha_widget .recaptcha_widget #recaptchOptionsDiv {
  padding: 0px;
}
/* line 847, ../sass/_logreg.scss */
.divLogin .recaptcha_widget .recaptcha_widget #recaptchOptionsDiv a, .divRegister .recaptcha_widget .recaptcha_widget #recaptchOptionsDiv a, .divForgotPassword .recaptcha_widget .recaptcha_widget #recaptchOptionsDiv a, .divTrynewEmail .recaptcha_widget .recaptcha_widget #recaptchOptionsDiv a {
  color: #d00000;
  font-size: 1.2rem;
  font-weight: bold;
}
/* line 855, ../sass/_logreg.scss */
.divLogin .recaptcha_widget #recaptcha_response_field, .divRegister .recaptcha_widget #recaptcha_response_field, .divForgotPassword .recaptcha_widget #recaptcha_response_field, .divTrynewEmail .recaptcha_widget #recaptcha_response_field {
  margin: 0px;
}

/* line 862, ../sass/_logreg.scss */
.divLogin .divRegister {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 20px;
}

/* line 868, ../sass/_logreg.scss */
.divRegisterstep2, .divAccountEdit {
  margin: auto;
  overflow-y: auto;
}
/* line 872, ../sass/_logreg.scss */
.divRegisterstep2 .btn, .divAccountEdit .btn {
  width: 124px;
}
/* line 876, ../sass/_logreg.scss */
.divRegisterstep2 .SectionHeading, .divAccountEdit .SectionHeading {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
  clear: both;
  float: left;
  padding-bottom: 12px;
}
/* line 888, ../sass/_logreg.scss */
.divRegisterstep2 .first-column, .divAccountEdit .first-column {
  clear: both;
}
/* line 892, ../sass/_logreg.scss */
.divRegisterstep2 .Lineseparator, .divAccountEdit .Lineseparator {
  display: block;
  margin-top: 5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: dotted;
}
/* line 901, ../sass/_logreg.scss */
.divRegisterstep2 .form-group, .divAccountEdit .form-group {
  clear: both;
}
/* line 906, ../sass/_logreg.scss */
.divRegisterstep2 .ddlCountry select, .divAccountEdit .ddlCountry select {
  margin-bottom: 1rem;
}
/* line 912, ../sass/_logreg.scss */
.divRegisterstep2 .divOrgDetails .ddlPosition select, .divRegisterstep2 .divOrgDetails .ddlMediaType select, .divRegisterstep2 .divOrgDetails .ddlVideoFormat select, .divAccountEdit .divOrgDetails .ddlPosition select, .divAccountEdit .divOrgDetails .ddlMediaType select, .divAccountEdit .divOrgDetails .ddlVideoFormat select {
  margin-bottom: 5px;
}
/* line 916, ../sass/_logreg.scss */
.divRegisterstep2 .divOrgDetails .twelve, .divAccountEdit .divOrgDetails .twelve {
  width: 100% !important;
  padding: 0;
}
/* line 921, ../sass/_logreg.scss */
.divRegisterstep2 .divOrgDetails .twelve .AboutYourOrg textarea, .divAccountEdit .divOrgDetails .twelve .AboutYourOrg textarea {
  height: 128px;
}
/* line 927, ../sass/_logreg.scss */
.divRegisterstep2 .divOrgDetails label#Reg2Status, .divAccountEdit .divOrgDetails label#Reg2Status {
  color: #d00000;
  font-size: 12px;
  margin: 0px 0px 0px 1.5rem;
}

/* line 935, ../sass/_logreg.scss */
.AccountSummary-popup {
  padding: 30px;
}
/* line 938, ../sass/_logreg.scss */
.AccountSummary-popup .details {
  line-height: 1.25em;
}
/* line 942, ../sass/_logreg.scss */
.AccountSummary-popup a.popup-close {
  margin-right: 0px;
}
/* line 946, ../sass/_logreg.scss */
.AccountSummary-popup .lblHeader {
  height: auto;
  padding-bottom: 12px;
  margin-bottom: 0;
}
/* line 952, ../sass/_logreg.scss */
.AccountSummary-popup .sectionName {
  font-weight: bold;
  font-size: 16px;
}
/* line 957, ../sass/_logreg.scss */
.AccountSummary-popup .AccountSummarySectionTitle {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 11px;
  margin-top: 29px;
  border-bottom: 1px dotted #ccc;
  color: #000000;
}
/* line 966, ../sass/_logreg.scss */
.AccountSummary-popup .AccountSummary-Details, .AccountSummary-popup .AccountSummary-Email, .AccountSummary-popup .AccountSummary-Password {
  font-family: arial;
  font-weight: normal;
  margin-top: 1.1rem;
  color: #000;
}
/* line 973, ../sass/_logreg.scss */
.AccountSummary-popup .btn {
  margin: 20px auto;
}
/* line 977, ../sass/_logreg.scss */
.AccountSummary-popup .AccountSummary-EditBtn {
  padding: 0;
}
/* line 980, ../sass/_logreg.scss */
.AccountSummary-popup .AccountSummary-EditBtn a.btn-default {
  width: 100%;
  float: none;
  margin-bottom: 0;
}

/* line 988, ../sass/_logreg.scss */
.logreg-spinner {
  background: #ffffff;
  position: absolute;
  width: auto;
  text-align: center;
  color: #000;
  border-radius: 10px;
  border-radius: 1rem;
  display: none;
  padding: 3rem;
}
/* line 999, ../sass/_logreg.scss */
.logreg-spinner .spinner-text {
  font-size: 19px;
  font-weight: bold;
  display: inline;
  position: relative;
  float: right;
  margin-top: 1px;
  margin-left: 5px;
}
/* line 1009, ../sass/_logreg.scss */
.logreg-spinner .signing-in, .logreg-spinner .loading {
  display: none;
}
/* line 1013, ../sass/_logreg.scss */
.logreg-spinner img {
  height: 20px;
  width: 20px;
}
/* line 1018, ../sass/_logreg.scss */
.logreg-spinner .spinner-icon {
  float: left;
  position: relative;
}

/* line 1024, ../sass/_logreg.scss */
.logreg-loading-icon {
  position: absolute;
  width: auto;
  color: #000;
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
  border-radius: 1rem;
  display: none;
  padding: 3rem;
}
/* line 1035, ../sass/_logreg.scss */
.logreg-loading-icon img {
  height: 20px;
  width: 20px;
}

/* line 1041, ../sass/_logreg.scss */
.logreg-hide {
  display: none;
  border-width: 0;
}

/* line 1046, ../sass/_logreg.scss */
.icons-user {
  background: url('/Content/images/logreg/user-icon.png?1539074392') no-repeat;
  height: 14px;
  width: 14px;
}

/* line 1052, ../sass/_logreg.scss */
.icons-user:hover {
  background: url('/Content/images/logreg/user-icon-hover.png?1539074392') no-repeat;
}

/* line 1057, ../sass/_logreg.scss */
.divLogin form#frmLogin {
  margin: 0px;
}
/* line 1061, ../sass/_logreg.scss */
.divLogin div#divSignInNotRegister {
  margin-top: 0.5rem;
  padding-bottom: 2.7rem;
}
/* line 1066, ../sass/_logreg.scss */
.divLogin .divContact {
  margin-top: 1.6rem;
}
/* line 1070, ../sass/_logreg.scss */
.divLogin .divReminderForgotPwd {
  margin-top: 0.9rem;
}

/* line 1075, ../sass/_logreg.scss */
.mobile-menu li.li-header-logreg ul.dynamic-menu li.postLogin-header-link .non-mobile {
  display: none;
}

/* line 1079, ../sass/_logreg.scss */
.mobile-menu .dynamic-menu .icons-user {
  background: url('/Content/images/logreg/user-icon-mobile.png?1539074392') no-repeat;
  height: 14px;
  width: 14px;
}

/*.mobile-menu .dynamic-menu .icons-download-login {
    background: image-url("/content/images/logreg/media-cart-download.png") no-repeat;
    height: 17px;
    width: 12px;
}

.mobile-menu .dynamic-menu .icons-media-cart {
    background: image-url("/content/images/logreg/media-cart.png") no-repeat;
    height: 15px;
    width: 12px;
}*/
/*	Sections:
*
*	MEDIA CART
*	LOG REG
*
*/
/************
*
* MEDIA CART
*
************/
/* line 21, ../sass/ie9.scss */
.mobile-menu {
  display: none;
}

/*TNMMCLITE-1115-Start*/
/* line 28, ../sass/ie9.scss */
.mediacart .send-wrapper .actions {
  float: right;
  display: block;
  clear: none;
}
/* line 33, ../sass/ie9.scss */
.mediacart .send-wrapper .actions a {
  display: inline-block;
  width: auto;
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 38, ../sass/ie9.scss */
.mediacart .send-wrapper .actions a.download-all {
  margin-right: 15px;
  border-top: none;
}
/* line 45, ../sass/ie9.scss */
.mediacart .send-wrapper .mobile-send-media-cart-wrapper {
  display: block;
}
/* line 49, ../sass/ie9.scss */
.mediacart .send-wrapper a.send-mediacart {
  display: block;
  float: left;
  width: 100%;
  max-width: 317px;
  margin-right: 0;
  font-size: 20px;
  font-size: 2rem;
  padding: 15px 0px;
  padding: 1.5rem 0rem;
}
/* line 58, ../sass/ie9.scss */
.mediacart .send-wrapper a.send-mediacart i {
  top: 0px;
  left: 5px;
}
/* line 64, ../sass/ie9.scss */
.mediacart .send-wrapper .send-mediacart-mobile-separator {
  display: none;
}
/* line 68, ../sass/ie9.scss */
.mediacart .send-wrapper .media-more {
  display: none;
}

/*TNMMCLITE-1115-End*/
/*TNMMCLITE-1110-Start*/
/*.sub-header {	         
	border-bottom-width:1px;   
	border-top-width:1px;
}*/
/*TNMMCLITE-1110-End*/
/* line 83, ../sass/ie9.scss */
#countrydropdown_wrap ul {
  list-style: none;
  position: relative;
  margin: 0px;
  margin: 0rem;
  padding: 0px;
  padding: 0rem;
}
/* line 89, ../sass/ie9.scss */
#countrydropdown_wrap ul a {
  display: block;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  text-decoration: none;
}
/* line 93, ../sass/ie9.scss */
#countrydropdown_wrap ul a i.icon {
  margin-bottom: 0px;
}
/* line 96, ../sass/ie9.scss */
#countrydropdown_wrap ul a i.icon icons-culture-dropdown-arrow {
  margin-left: 6px;
  margin-left: 0.6rem;
  margin-bottom: 2px;
  margin-bottom: 0.2rem;
}
/* line 103, ../sass/ie9.scss */
#countrydropdown_wrap ul li {
  position: relative;
  float: left;
}
/* line 107, ../sass/ie9.scss */
#countrydropdown_wrap ul li a.active {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 14px;
  line-height: 1.4rem;
  color: #000000;
}
/* line 115, ../sass/ie9.scss */
#countrydropdown_wrap ul li:hover > ul {
  z-index: 9999;
  display: block;
}
/* line 120, ../sass/ie9.scss */
#countrydropdown_wrap ul ul {
  display: none;
  position: absolute;
  z-index: 40;
  margin: 0px;
  margin: 0rem;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
  overflow-y: auto;
            /*a ::first-letter 
{ text-transform: capitalize; } 
*/
}
/* line 128, ../sass/ie9.scss */
#countrydropdown_wrap ul ul li {
  float: none;
  width: 200px;
  white-space: nowrap;
  background-color: #ffffff;
}
/* line 134, ../sass/ie9.scss */
#countrydropdown_wrap ul ul li:hover {
  background-color: #000000;
}
/* line 138, ../sass/ie9.scss */
#countrydropdown_wrap ul ul li a:hover {
  color: #ffffff;
}
/* line 143, ../sass/ie9.scss */
#countrydropdown_wrap ul ul a {
  padding: 0px 20px;
  padding: 0rem 2rem;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 12px;
  line-height: 1.2rem;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  font-weight: 400;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  color: #000000;
  white-space: normal;
}

/************
*
* LOG REG
*
************/
/* line 160, ../sass/ie9.scss */
.lt-ie10 .download-all {
  display: none !important;
}

/* line 165, ../sass/ie9.scss */
.header-mid .site-menu-wrapper nav.site-menu ul li .vehiclesfiltermenu {
  width: 960px;
  background-image: none;
  max-height: none;
}

/* line 170, ../sass/ie9.scss */
.header-full .vehicleFilterRow {
  background-image: none;
  width: 100%;
  height: 40px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #DBE1E9;
}

/* line 177, ../sass/ie9.scss */
.header-mid .site-menu-wrapper nav.site-menu ul li .vehiclesfiltermenu li label {
  background-image: url("/Content/images/icons/radio-input.png");
  background-position: left center;
  background-repeat: no-repeat;
}

/* line 182, ../sass/ie9.scss */
.header-mid .site-menu-wrapper nav.site-menu ul li .vehiclesfiltermenu li label.active-lable {
  background-image: url("/Content/images/icons/radio-input-active.png");
}

/* line 185, ../sass/ie9.scss */
.header-mid .site-menu-wrapper nav.site-menu ul li .vehiclesfiltermenu li input {
  visibility: hidden;
}

/* line 188, ../sass/ie9.scss */
.header-mid .site-menu-wrapper nav.site-menu ul li .vehiclesfiltermenu li:hover {
  background-color: transparent;
}

/* line 191, ../sass/ie9.scss */
.header-mid .site-menu-wrapper nav.site-menu ul li .vehiclesfiltermenu li:hover a {
  color: #666;
}

/* line 194, ../sass/ie9.scss */
.filter-li .vehicleFilterRow {
  margin: 0;
  padding-left: 12px;
}

/* line 198, ../sass/ie9.scss */
.filter-li .vehicleFilterRow li {
  padding-right: 12px !important;
}

/* line 201, ../sass/ie9.scss */
.filter-li .vehicleFilterRow > li {
  display: inline-block !important;
}

/* line 205, ../sass/ie9.scss */
.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.vehicleFilter {
  width: 20%;
  float: left;
  min-height: 180px;
  border-bottom: 1px solid #DBE1E9;
  border-right: 1px solid #DBE1E9;
}

/* line 212, ../sass/ie9.scss */
.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.vehicleFilter .context-header a {
  padding-top: 4px;
  padding-bottom: 10px;
  line-height: 14px;
}

/* line 217, ../sass/ie9.scss */
.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.vehicleFilter .img-wrap img {
  width: 100%;
}

/* line 220, ../sass/ie9.scss */
.header-mid .site-menu-wrapper nav.site-menu ul li .category-menu li.vehicleFilter .grid-item-text {
  margin: 0;
}

/* line 225, ../sass/ie9.scss */
.desktop-1 .mobileFilter,
.tablet-1 .mobileFilter {
  display: none !important;
}
