/* Global variables */
/* Log-Reg Variables */
/* Header variables */
/*$top-media-cart-image: "/content/images/icons/media-cart-header.png";
$top-download-image: "/content/images/icons/download-header.png";*/
/* mobile-menu */
/* Search */
/* Rotator */
/* About this newsroom */
/* Contact */
/* Footer */
/* AMP */
/* Tag */
/* Story Detail */
/* lookbook */
/* Home Listing */
/* Listing pages */
/* Filters */
/* Pagination */
/* Cookies page */
/* Cookies message */
/* Popup */
/* mediacart */
/* Custome button */
/*$custom-button-color: #000000;
$custom-button-background: #e9e9e9;
$custom-button-hover-color: #ffffff;
$custom-button-hover-background: #000000;*/
/* contacts */
/* mediacart */
/* rss */
/* Tag search */
/* Error page*/
/* Commmon search elements */
/* Detail pages */
/*LOGREG*/
@media only screen and (min-width: 0px), (min-device-width: 320px) and (max-device-width: 641px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 7, ../sass/LogReg.scss */
  .LogregWrapper, .RegWrapper, .TryNewEmailPopup, .AccountSummary-popup {
    width: 100%;
  }
  /* line 11, ../sass/LogReg.scss */
  .LogregWrapper .divLogin, .LogregWrapper .divRegister, .LogregWrapper .divForgotPassword, .LogregWrapper .divTrynewEmail, .LogregWrapper .AccountSummary-EditBtn, .RegWrapper .divLogin, .RegWrapper .divRegister, .RegWrapper .divForgotPassword, .RegWrapper .divTrynewEmail, .RegWrapper .AccountSummary-EditBtn, .TryNewEmailPopup .divLogin, .TryNewEmailPopup .divRegister, .TryNewEmailPopup .divForgotPassword, .TryNewEmailPopup .divTrynewEmail, .TryNewEmailPopup .AccountSummary-EditBtn, .AccountSummary-popup .divLogin, .AccountSummary-popup .divRegister, .AccountSummary-popup .divForgotPassword, .AccountSummary-popup .divTrynewEmail, .AccountSummary-popup .AccountSummary-EditBtn {
    padding: 0 1.5rem;
    width: 100%;
  }
  /* line 15, ../sass/LogReg.scss */
  .LogregWrapper .divLogin .btn, .LogregWrapper .divRegister .btn, .LogregWrapper .divForgotPassword .btn, .LogregWrapper .divTrynewEmail .btn, .LogregWrapper .AccountSummary-EditBtn .btn, .RegWrapper .divLogin .btn, .RegWrapper .divRegister .btn, .RegWrapper .divForgotPassword .btn, .RegWrapper .divTrynewEmail .btn, .RegWrapper .AccountSummary-EditBtn .btn, .TryNewEmailPopup .divLogin .btn, .TryNewEmailPopup .divRegister .btn, .TryNewEmailPopup .divForgotPassword .btn, .TryNewEmailPopup .divTrynewEmail .btn, .TryNewEmailPopup .AccountSummary-EditBtn .btn, .AccountSummary-popup .divLogin .btn, .AccountSummary-popup .divRegister .btn, .AccountSummary-popup .divForgotPassword .btn, .AccountSummary-popup .divTrynewEmail .btn, .AccountSummary-popup .AccountSummary-EditBtn .btn {
    display: block;
    height: 35px;
    width: 100%;
    background-color: #e9e9e9;
  }
  /* line 24, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .six, .LogregWrapper .divRegisterstep2 .columns, .LogregWrapper .divAccountEdit .six, .LogregWrapper .divAccountEdit .columns, .RegWrapper .divRegisterstep2 .six, .RegWrapper .divRegisterstep2 .columns, .RegWrapper .divAccountEdit .six, .RegWrapper .divAccountEdit .columns, .TryNewEmailPopup .divRegisterstep2 .six, .TryNewEmailPopup .divRegisterstep2 .columns, .TryNewEmailPopup .divAccountEdit .six, .TryNewEmailPopup .divAccountEdit .columns, .AccountSummary-popup .divRegisterstep2 .six, .AccountSummary-popup .divRegisterstep2 .columns, .AccountSummary-popup .divAccountEdit .six, .AccountSummary-popup .divAccountEdit .columns {
    width: 100% !important;
    float: left;
  }
  /* line 29, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .lblHeader, .LogregWrapper .divAccountEdit .lblHeader, .RegWrapper .divRegisterstep2 .lblHeader, .RegWrapper .divAccountEdit .lblHeader, .TryNewEmailPopup .divRegisterstep2 .lblHeader, .TryNewEmailPopup .divAccountEdit .lblHeader, .AccountSummary-popup .divRegisterstep2 .lblHeader, .AccountSummary-popup .divAccountEdit .lblHeader {
    margin-left: 15px;
  }
  /* line 33, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .btn, .LogregWrapper .divAccountEdit .btn, .RegWrapper .divRegisterstep2 .btn, .RegWrapper .divAccountEdit .btn, .TryNewEmailPopup .divRegisterstep2 .btn, .TryNewEmailPopup .divAccountEdit .btn, .AccountSummary-popup .divRegisterstep2 .btn, .AccountSummary-popup .divAccountEdit .btn {
    width: 44%;
    margin-right: 15px;
  }
  /* line 38, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .btn#btnCancel, .LogregWrapper .divRegisterstep2 .btn#btnPrevious, .LogregWrapper .divAccountEdit .btn#btnCancel, .LogregWrapper .divAccountEdit .btn#btnPrevious, .RegWrapper .divRegisterstep2 .btn#btnCancel, .RegWrapper .divRegisterstep2 .btn#btnPrevious, .RegWrapper .divAccountEdit .btn#btnCancel, .RegWrapper .divAccountEdit .btn#btnPrevious, .TryNewEmailPopup .divRegisterstep2 .btn#btnCancel, .TryNewEmailPopup .divRegisterstep2 .btn#btnPrevious, .TryNewEmailPopup .divAccountEdit .btn#btnCancel, .TryNewEmailPopup .divAccountEdit .btn#btnPrevious, .AccountSummary-popup .divRegisterstep2 .btn#btnCancel, .AccountSummary-popup .divRegisterstep2 .btn#btnPrevious, .AccountSummary-popup .divAccountEdit .btn#btnCancel, .AccountSummary-popup .divAccountEdit .btn#btnPrevious {
    float: left;
    margin-left: 15px;
  }
  /* line 43, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .btn#btnNext, .LogregWrapper .divRegisterstep2 .btn#btnFinish, .LogregWrapper .divAccountEdit .btn#btnNext, .LogregWrapper .divAccountEdit .btn#btnFinish, .RegWrapper .divRegisterstep2 .btn#btnNext, .RegWrapper .divRegisterstep2 .btn#btnFinish, .RegWrapper .divAccountEdit .btn#btnNext, .RegWrapper .divAccountEdit .btn#btnFinish, .TryNewEmailPopup .divRegisterstep2 .btn#btnNext, .TryNewEmailPopup .divRegisterstep2 .btn#btnFinish, .TryNewEmailPopup .divAccountEdit .btn#btnNext, .TryNewEmailPopup .divAccountEdit .btn#btnFinish, .AccountSummary-popup .divRegisterstep2 .btn#btnNext, .AccountSummary-popup .divRegisterstep2 .btn#btnFinish, .AccountSummary-popup .divAccountEdit .btn#btnNext, .AccountSummary-popup .divAccountEdit .btn#btnFinish {
    float: right;
    margin-right: 0;
  }
  /* line 48, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .separatordiv, .LogregWrapper .divAccountEdit .separatordiv, .RegWrapper .divRegisterstep2 .separatordiv, .RegWrapper .divAccountEdit .separatordiv, .TryNewEmailPopup .divRegisterstep2 .separatordiv, .TryNewEmailPopup .divAccountEdit .separatordiv, .AccountSummary-popup .divRegisterstep2 .separatordiv, .AccountSummary-popup .divAccountEdit .separatordiv {
    width: 10%;
  }
  /* line 52, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .form-group, .LogregWrapper .divAccountEdit .form-group, .RegWrapper .divRegisterstep2 .form-group, .RegWrapper .divAccountEdit .form-group, .TryNewEmailPopup .divRegisterstep2 .form-group, .TryNewEmailPopup .divAccountEdit .form-group, .AccountSummary-popup .divRegisterstep2 .form-group, .AccountSummary-popup .divAccountEdit .form-group {
    margin-right: 1.5rem;
  }
  /* line 56, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .first-column, .LogregWrapper .divAccountEdit .first-column, .RegWrapper .divRegisterstep2 .first-column, .RegWrapper .divAccountEdit .first-column, .TryNewEmailPopup .divRegisterstep2 .first-column, .TryNewEmailPopup .divAccountEdit .first-column, .AccountSummary-popup .divRegisterstep2 .first-column, .AccountSummary-popup .divAccountEdit .first-column {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  /* line 61, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .second-column, .LogregWrapper .divAccountEdit .second-column, .RegWrapper .divRegisterstep2 .second-column, .RegWrapper .divAccountEdit .second-column, .TryNewEmailPopup .divRegisterstep2 .second-column, .TryNewEmailPopup .divAccountEdit .second-column, .AccountSummary-popup .divRegisterstep2 .second-column, .AccountSummary-popup .divAccountEdit .second-column {
    padding-right: 1.5rem;
  }
  /* line 65, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .SectionHeading, .LogregWrapper .divAccountEdit .SectionHeading, .RegWrapper .divRegisterstep2 .SectionHeading, .RegWrapper .divAccountEdit .SectionHeading, .TryNewEmailPopup .divRegisterstep2 .SectionHeading, .TryNewEmailPopup .divAccountEdit .SectionHeading, .AccountSummary-popup .divRegisterstep2 .SectionHeading, .AccountSummary-popup .divAccountEdit .SectionHeading {
    margin-left: 1.5rem;
  }
  /* line 70, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .divOrgDetails .twelve, .LogregWrapper .divAccountEdit .divOrgDetails .twelve, .RegWrapper .divRegisterstep2 .divOrgDetails .twelve, .RegWrapper .divAccountEdit .divOrgDetails .twelve, .TryNewEmailPopup .divRegisterstep2 .divOrgDetails .twelve, .TryNewEmailPopup .divAccountEdit .divOrgDetails .twelve, .AccountSummary-popup .divRegisterstep2 .divOrgDetails .twelve, .AccountSummary-popup .divAccountEdit .divOrgDetails .twelve {
    padding: 0 1.5rem;
  }

  /* line 78, ../sass/LogReg.scss */
  .recaptcha_widget #recaptcha_image {
    width: 100% !important;
  }

  /* line 83, ../sass/LogReg.scss */
  .divtxt #recaptcha_widget_div {
    display: none;
  }

  /* line 88, ../sass/LogReg.scss */
  #contactus-popup .first-column {
    padding: 0px;
    padding: 0rem;
  }
  /* line 92, ../sass/LogReg.scss */
  #contactus-popup .second-column {
    padding: 0px;
    padding: 0rem;
  }
  /* line 97, ../sass/LogReg.scss */
  #contactus-popup .send-wrapper div {
    position: relative;
  }
  /* line 101, ../sass/LogReg.scss */
  #contactus-popup .send-wrapper .send {
    width: 100%;
    margin-top: 24px;
    margin-top: 2.4rem;
  }
  /* line 108, ../sass/LogReg.scss */
  #contactus-popup .contact-info .name, #contactus-popup .contact-info .email, #contactus-popup .contact-info .position, #contactus-popup .contact-info .phone, #contactus-popup .contact-info .address {
    margin-bottom: 10px;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 601px) and (-webkit-max-device-pixel-ratio: 1), only screen and (min-width: 601px), only screen and (min-width: 768px), (min-width: 601px) and (orientation: landscape) and (-webkit-max-device-pixel-ratio: 1.4), (min-device-width: 600px) and (max-device-width: 966px) and (-webkit-max-device-pixel-ratio: 1.4) and (orientation: portrait), (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) {
  /* line 116, ../sass/LogReg.scss */
  .LogregWrapper, .RegWrapper, .TryNewEmailPopup, .AccountSummary-popup {
    background: none repeat scroll 0 0 white;
    max-width: 322px;
    width: 100%;
    padding-bottom: 2.8rem;
    padding-top: 2.8rem;
  }
  /* line 124, ../sass/LogReg.scss */
  .LogregWrapper .divLogin, .LogregWrapper .divRegister, .LogregWrapper .divForgotPassword, .RegWrapper .divLogin, .RegWrapper .divRegister, .RegWrapper .divForgotPassword, .TryNewEmailPopup .divLogin, .TryNewEmailPopup .divRegister, .TryNewEmailPopup .divForgotPassword, .AccountSummary-popup .divLogin, .AccountSummary-popup .divRegister, .AccountSummary-popup .divForgotPassword {
    margin: auto;
    width: 256px;
    padding: 0;
  }
  /* line 129, ../sass/LogReg.scss */
  .LogregWrapper .divLogin .btn, .LogregWrapper .divRegister .btn, .LogregWrapper .divForgotPassword .btn, .RegWrapper .divLogin .btn, .RegWrapper .divRegister .btn, .RegWrapper .divForgotPassword .btn, .TryNewEmailPopup .divLogin .btn, .TryNewEmailPopup .divRegister .btn, .TryNewEmailPopup .divForgotPassword .btn, .AccountSummary-popup .divLogin .btn, .AccountSummary-popup .divRegister .btn, .AccountSummary-popup .divForgotPassword .btn {
    display: block;
    height: 35px;
    width: 256px;
    background-color: #e9e9e9;
  }
  /* line 138, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .six, .LogregWrapper .divRegisterstep2 .columns, .LogregWrapper .divAccountEdit .six, .LogregWrapper .divAccountEdit .columns, .RegWrapper .divRegisterstep2 .six, .RegWrapper .divRegisterstep2 .columns, .RegWrapper .divAccountEdit .six, .RegWrapper .divAccountEdit .columns, .TryNewEmailPopup .divRegisterstep2 .six, .TryNewEmailPopup .divRegisterstep2 .columns, .TryNewEmailPopup .divAccountEdit .six, .TryNewEmailPopup .divAccountEdit .columns, .AccountSummary-popup .divRegisterstep2 .six, .AccountSummary-popup .divRegisterstep2 .columns, .AccountSummary-popup .divAccountEdit .six, .AccountSummary-popup .divAccountEdit .columns {
    width: 50% !important;
    float: left;
  }
  /* line 143, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .lblHeader, .LogregWrapper .divAccountEdit .lblHeader, .RegWrapper .divRegisterstep2 .lblHeader, .RegWrapper .divAccountEdit .lblHeader, .TryNewEmailPopup .divRegisterstep2 .lblHeader, .TryNewEmailPopup .divAccountEdit .lblHeader, .AccountSummary-popup .divRegisterstep2 .lblHeader, .AccountSummary-popup .divAccountEdit .lblHeader {
    margin-left: 0;
  }
  /* line 147, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .btn, .LogregWrapper .divAccountEdit .btn, .RegWrapper .divRegisterstep2 .btn, .RegWrapper .divAccountEdit .btn, .TryNewEmailPopup .divRegisterstep2 .btn, .TryNewEmailPopup .divAccountEdit .btn, .AccountSummary-popup .divRegisterstep2 .btn, .AccountSummary-popup .divAccountEdit .btn {
    width: 124px;
    margin-right: 10px;
    margin-top: 15px;
  }
  /* line 153, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .btn#btnCancel, .LogregWrapper .divRegisterstep2 .btn#btnPrevious, .LogregWrapper .divAccountEdit .btn#btnCancel, .LogregWrapper .divAccountEdit .btn#btnPrevious, .RegWrapper .divRegisterstep2 .btn#btnCancel, .RegWrapper .divRegisterstep2 .btn#btnPrevious, .RegWrapper .divAccountEdit .btn#btnCancel, .RegWrapper .divAccountEdit .btn#btnPrevious, .TryNewEmailPopup .divRegisterstep2 .btn#btnCancel, .TryNewEmailPopup .divRegisterstep2 .btn#btnPrevious, .TryNewEmailPopup .divAccountEdit .btn#btnCancel, .TryNewEmailPopup .divAccountEdit .btn#btnPrevious, .AccountSummary-popup .divRegisterstep2 .btn#btnCancel, .AccountSummary-popup .divRegisterstep2 .btn#btnPrevious, .AccountSummary-popup .divAccountEdit .btn#btnCancel, .AccountSummary-popup .divAccountEdit .btn#btnPrevious {
    float: left;
    margin-left: 0px;
  }
  /* line 158, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .btn#btnNext, .LogregWrapper .divRegisterstep2 .btn#btnFinish, .LogregWrapper .divAccountEdit .btn#btnNext, .LogregWrapper .divAccountEdit .btn#btnFinish, .RegWrapper .divRegisterstep2 .btn#btnNext, .RegWrapper .divRegisterstep2 .btn#btnFinish, .RegWrapper .divAccountEdit .btn#btnNext, .RegWrapper .divAccountEdit .btn#btnFinish, .TryNewEmailPopup .divRegisterstep2 .btn#btnNext, .TryNewEmailPopup .divRegisterstep2 .btn#btnFinish, .TryNewEmailPopup .divAccountEdit .btn#btnNext, .TryNewEmailPopup .divAccountEdit .btn#btnFinish, .AccountSummary-popup .divRegisterstep2 .btn#btnNext, .AccountSummary-popup .divRegisterstep2 .btn#btnFinish, .AccountSummary-popup .divAccountEdit .btn#btnNext, .AccountSummary-popup .divAccountEdit .btn#btnFinish {
    float: left;
    margin-left: 15px;
  }
  /* line 163, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .first-column, .LogregWrapper .divAccountEdit .first-column, .RegWrapper .divRegisterstep2 .first-column, .RegWrapper .divAccountEdit .first-column, .TryNewEmailPopup .divRegisterstep2 .first-column, .TryNewEmailPopup .divAccountEdit .first-column, .AccountSummary-popup .divRegisterstep2 .first-column, .AccountSummary-popup .divAccountEdit .first-column {
    padding: 0 2.5rem 0 0;
  }
  /* line 167, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .second-column, .LogregWrapper .divAccountEdit .second-column, .RegWrapper .divRegisterstep2 .second-column, .RegWrapper .divAccountEdit .second-column, .TryNewEmailPopup .divRegisterstep2 .second-column, .TryNewEmailPopup .divAccountEdit .second-column, .AccountSummary-popup .divRegisterstep2 .second-column, .AccountSummary-popup .divAccountEdit .second-column {
    padding-right: 0;
  }
  /* line 171, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .SectionHeading, .LogregWrapper .divAccountEdit .SectionHeading, .RegWrapper .divRegisterstep2 .SectionHeading, .RegWrapper .divAccountEdit .SectionHeading, .TryNewEmailPopup .divRegisterstep2 .SectionHeading, .TryNewEmailPopup .divAccountEdit .SectionHeading, .AccountSummary-popup .divRegisterstep2 .SectionHeading, .AccountSummary-popup .divAccountEdit .SectionHeading {
    margin-left: 0;
  }
  /* line 176, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .divOrgDetails .twelve, .LogregWrapper .divAccountEdit .divOrgDetails .twelve, .RegWrapper .divRegisterstep2 .divOrgDetails .twelve, .RegWrapper .divAccountEdit .divOrgDetails .twelve, .TryNewEmailPopup .divRegisterstep2 .divOrgDetails .twelve, .TryNewEmailPopup .divAccountEdit .divOrgDetails .twelve, .AccountSummary-popup .divRegisterstep2 .divOrgDetails .twelve, .AccountSummary-popup .divAccountEdit .divOrgDetails .twelve {
    padding: 0;
  }

  /* line 184, ../sass/LogReg.scss */
  .recaptcha_widget #recaptcha_image {
    width: 256px !important;
  }

  /* line 189, ../sass/LogReg.scss */
  .divtxt #recaptcha_widget_div {
    display: none;
  }

  /* line 193, ../sass/LogReg.scss */
  .RegWrapper {
    max-width: 642px;
  }

  /* line 197, ../sass/LogReg.scss */
  .TryNewEmailPopup {
    max-width: 365px;
  }
  /* line 200, ../sass/LogReg.scss */
  .TryNewEmailPopup .divTrynewEmail {
    width: 280px;
  }
  /* line 203, ../sass/LogReg.scss */
  .TryNewEmailPopup .divTrynewEmail .form-group {
    clear: both;
  }
  /* line 207, ../sass/LogReg.scss */
  .TryNewEmailPopup .divTrynewEmail .btn {
    width: 280px;
  }

  /* line 213, ../sass/LogReg.scss */
  .AccountSummary-popup {
    width: 320px;
  }

  /* line 218, ../sass/LogReg.scss */
  #contactus-popup .six {
    width: 50% !important;
  }
  /* line 222, ../sass/LogReg.scss */
  #contactus-popup .columns {
    float: left;
  }
  /* line 226, ../sass/LogReg.scss */
  #contactus-popup .first-column {
    padding: 0px 16px 0px 0px;
    padding: 0rem 1.6rem 0rem 0rem;
  }
  /* line 230, ../sass/LogReg.scss */
  #contactus-popup .second-column {
    padding: 0px 0px 0px 16px;
    padding: 0rem 0rem 0rem 1.6rem;
  }
  /* line 235, ../sass/LogReg.scss */
  #contactus-popup .send-wrapper div {
    position: absolute;
  }
  /* line 239, ../sass/LogReg.scss */
  #contactus-popup .send-wrapper .send {
    width: 190px;
    margin-top: 0px;
    margin-top: 0rem;
  }
  /* line 246, ../sass/LogReg.scss */
  #contactus-popup .contact-info .address {
    margin-bottom: 0px;
    margin-bottom: 0rem;
  }
}
@media only screen and (min-width: 769px) {
  /* line 255, ../sass/LogReg.scss */
  .LogregWrapper, .RegWrapper, .TryNewEmailPopup, .AccountSummary-popup {
    background: none repeat scroll 0 0 white;
    max-width: 322px;
    width: 100%;
    padding-bottom: 2.8rem;
    padding-top: 2.8rem;
  }
  /* line 262, ../sass/LogReg.scss */
  .LogregWrapper .btn, .RegWrapper .btn, .TryNewEmailPopup .btn, .AccountSummary-popup .btn {
    width: 256px;
  }
  /* line 266, ../sass/LogReg.scss */
  .LogregWrapper .divLogin, .LogregWrapper .divRegister, .LogregWrapper .divForgotPassword, .LogregWrapper .divTrynewEmail, .RegWrapper .divLogin, .RegWrapper .divRegister, .RegWrapper .divForgotPassword, .RegWrapper .divTrynewEmail, .TryNewEmailPopup .divLogin, .TryNewEmailPopup .divRegister, .TryNewEmailPopup .divForgotPassword, .TryNewEmailPopup .divTrynewEmail, .AccountSummary-popup .divLogin, .AccountSummary-popup .divRegister, .AccountSummary-popup .divForgotPassword, .AccountSummary-popup .divTrynewEmail {
    margin: auto;
    width: 256px;
    padding: 0;
  }
  /* line 272, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2, .LogregWrapper .divAccountEdit, .RegWrapper .divRegisterstep2, .RegWrapper .divAccountEdit, .TryNewEmailPopup .divRegisterstep2, .TryNewEmailPopup .divAccountEdit, .AccountSummary-popup .divRegisterstep2, .AccountSummary-popup .divAccountEdit {
    width: 582px;
    overflow-y: auto;
  }
  /* line 276, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .lblHeader, .LogregWrapper .divAccountEdit .lblHeader, .RegWrapper .divRegisterstep2 .lblHeader, .RegWrapper .divAccountEdit .lblHeader, .TryNewEmailPopup .divRegisterstep2 .lblHeader, .TryNewEmailPopup .divAccountEdit .lblHeader, .AccountSummary-popup .divRegisterstep2 .lblHeader, .AccountSummary-popup .divAccountEdit .lblHeader {
    margin-left: 0;
  }
  /* line 280, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .btn, .LogregWrapper .divAccountEdit .btn, .RegWrapper .divRegisterstep2 .btn, .RegWrapper .divAccountEdit .btn, .TryNewEmailPopup .divRegisterstep2 .btn, .TryNewEmailPopup .divAccountEdit .btn, .AccountSummary-popup .divRegisterstep2 .btn, .AccountSummary-popup .divAccountEdit .btn {
    margin-top: 15px;
  }
  /* line 284, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .btn#btnCancel, .LogregWrapper .divRegisterstep2 .btn#btnPrevious, .LogregWrapper .divAccountEdit .btn#btnCancel, .LogregWrapper .divAccountEdit .btn#btnPrevious, .RegWrapper .divRegisterstep2 .btn#btnCancel, .RegWrapper .divRegisterstep2 .btn#btnPrevious, .RegWrapper .divAccountEdit .btn#btnCancel, .RegWrapper .divAccountEdit .btn#btnPrevious, .TryNewEmailPopup .divRegisterstep2 .btn#btnCancel, .TryNewEmailPopup .divRegisterstep2 .btn#btnPrevious, .TryNewEmailPopup .divAccountEdit .btn#btnCancel, .TryNewEmailPopup .divAccountEdit .btn#btnPrevious, .AccountSummary-popup .divRegisterstep2 .btn#btnCancel, .AccountSummary-popup .divRegisterstep2 .btn#btnPrevious, .AccountSummary-popup .divAccountEdit .btn#btnCancel, .AccountSummary-popup .divAccountEdit .btn#btnPrevious {
    float: left;
    margin-left: 0px;
  }
  /* line 289, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .btn#btnNext, .LogregWrapper .divRegisterstep2 .btn#btnFinish, .LogregWrapper .divAccountEdit .btn#btnNext, .LogregWrapper .divAccountEdit .btn#btnFinish, .RegWrapper .divRegisterstep2 .btn#btnNext, .RegWrapper .divRegisterstep2 .btn#btnFinish, .RegWrapper .divAccountEdit .btn#btnNext, .RegWrapper .divAccountEdit .btn#btnFinish, .TryNewEmailPopup .divRegisterstep2 .btn#btnNext, .TryNewEmailPopup .divRegisterstep2 .btn#btnFinish, .TryNewEmailPopup .divAccountEdit .btn#btnNext, .TryNewEmailPopup .divAccountEdit .btn#btnFinish, .AccountSummary-popup .divRegisterstep2 .btn#btnNext, .AccountSummary-popup .divRegisterstep2 .btn#btnFinish, .AccountSummary-popup .divAccountEdit .btn#btnNext, .AccountSummary-popup .divAccountEdit .btn#btnFinish {
    float: left;
    margin-left: 15px;
  }
  /* line 294, ../sass/LogReg.scss */
  .LogregWrapper .divRegisterstep2 .SectionHeading, .LogregWrapper .divAccountEdit .SectionHeading, .RegWrapper .divRegisterstep2 .SectionHeading, .RegWrapper .divAccountEdit .SectionHeading, .TryNewEmailPopup .divRegisterstep2 .SectionHeading, .TryNewEmailPopup .divAccountEdit .SectionHeading, .AccountSummary-popup .divRegisterstep2 .SectionHeading, .AccountSummary-popup .divAccountEdit .SectionHeading {
    margin-left: 0;
  }

  /* line 300, ../sass/LogReg.scss */
  .RegWrapper {
    max-width: 642px;
  }

  /* line 304, ../sass/LogReg.scss */
  .TryNewEmailPopup {
    max-width: 345px;
  }
  /* line 307, ../sass/LogReg.scss */
  .TryNewEmailPopup .divTrynewEmail {
    width: 280px;
  }
  /* line 310, ../sass/LogReg.scss */
  .TryNewEmailPopup .divTrynewEmail .form-group {
    clear: both;
  }
  /* line 314, ../sass/LogReg.scss */
  .TryNewEmailPopup .divTrynewEmail .btn {
    width: 280px;
  }

  /* line 320, ../sass/LogReg.scss */
  .AccountSummary-popup {
    width: 320px;
  }

  /* line 325, ../sass/LogReg.scss */
  .recaptcha_widget #recaptcha_image {
    width: 256px !important;
  }
}
/* line 335, ../sass/LogReg.scss */
#contactus-popup .popup-close {
  position: absolute;
  right: 32px;
  right: 3.2rem;
  top: 32px;
  top: 3.2rem;
  z-index: 2;
}
/* line 342, ../sass/LogReg.scss */
#contactus-popup .validation-summary {
  display: none;
  margin-top: 12px;
  margin-top: 1.2rem;
  color: #ff0000;
}
/* line 348, ../sass/LogReg.scss */
#contactus-popup input {
  margin: 0px;
  margin: 0rem;
  color: #000000;
}
/* line 353, ../sass/LogReg.scss */
#contactus-popup .invalid-message {
  display: none;
  color: #ff0000;
  margin-top: 5px;
  margin-top: 0.5rem;
}
/* line 360, ../sass/LogReg.scss */
#contactus-popup .invalid > input, #contactus-popup .invalid > textarea, #contactus-popup .invalid select {
  background: #FEF1EC;
  border: 1px solid #CD0A0A;
}
/* line 365, ../sass/LogReg.scss */
#contactus-popup .invalid .invalid-message {
  display: block;
}
/* line 370, ../sass/LogReg.scss */
#contactus-popup .contact-info {
  margin: 0px;
  margin: 0rem;
  padding-bottom: 16px;
  padding-bottom: 1.6rem;
  border-bottom: 1px dotted #cccccc;
}
/* line 377, ../sass/LogReg.scss */
#contactus-popup .message-wrapper textarea {
  /*min-height: 78px;*/
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
/* line 383, ../sass/LogReg.scss */
#contactus-popup label {
  margin-top: 24px;
  margin-top: 2.4rem;
  margin-bottom: 6px;
  margin-bottom: 0.6rem;
  /*@include font_semi_bold();*/
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 392, ../sass/LogReg.scss */
#contactus-popup select {
  padding: 6px 0;
}
/* line 397, ../sass/LogReg.scss */
#contactus-popup .inquirylable label {
  margin-top: 5px;
}
/* line 402, ../sass/LogReg.scss */
#contactus-popup .remember-me {
  display: inline-block;
  margin-top: 0px;
  margin-top: 0rem;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  position: relative;
  top: -2px;
}
/* line 411, ../sass/LogReg.scss */
#contactus-popup .send-wrapper {
  position: relative;
  margin: 24px auto 0 auto;
  padding-top: 24px;
  padding-top: 2.4rem;
  border-top: 1px dotted #cccccc;
  text-align: center;
}
/* line 418, ../sass/LogReg.scss */
#contactus-popup .send-wrapper input {
  margin: 0 auto;
}
/* line 422, ../sass/LogReg.scss */
#contactus-popup .send-wrapper label {
  margin-bottom: 0;
}
/* line 426, ../sass/LogReg.scss */
#contactus-popup .send-wrapper .send {
  height: 32px;
}
/* line 431, ../sass/LogReg.scss */
#contactus-popup .lblHeader {
  font-family: arial;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 1.2rem;
  margin-bottom: 1.4rem;
  color: #000000;
}

/* line 442, ../sass/LogReg.scss */
.popup.one-wide {
  width: 100%;
  max-width: 640px;
}

/* line 447, ../sass/LogReg.scss */
.popup.two-wide {
  width: 100%;
  max-width: 640px;
}

/* line 452, ../sass/LogReg.scss */
.popup.one-narrow {
  width: 100%;
  max-width: 320px;
}

/* line 457, ../sass/LogReg.scss */
.field-validation-error {
  color: #d00000;
}

/* line 461, ../sass/LogReg.scss */
.statusMegssage {
  color: #d00000;
  margin-top: 5px;
}

/* line 466, ../sass/LogReg.scss */
.LogregWrapper, .RegWrapper, .TryNewEmailPopup, .AccountSummary-popup {
  background: none repeat scroll 0 0 white;
}
/* line 469, ../sass/LogReg.scss */
.LogregWrapper label, .RegWrapper label, .TryNewEmailPopup label, .AccountSummary-popup label {
  cursor: default;
}
/* line 473, ../sass/LogReg.scss */
.LogregWrapper a.popup-close, .RegWrapper a.popup-close, .TryNewEmailPopup a.popup-close, .AccountSummary-popup a.popup-close {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
/* line 478, ../sass/LogReg.scss */
.LogregWrapper a.popup-close i.icon-cross, .RegWrapper a.popup-close i.icon-cross, .TryNewEmailPopup a.popup-close i.icon-cross, .AccountSummary-popup a.popup-close i.icon-cross {
  background: url("/content/images/icons/cross.png?1424782439") no-repeat scroll center top transparent;
  display: block;
  height: 16px;
  width: 16px;
}
/* line 486, ../sass/LogReg.scss */
.LogregWrapper .lblHeader, .RegWrapper .lblHeader, .TryNewEmailPopup .lblHeader, .AccountSummary-popup .lblHeader {
  font-family: arial;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 1.2rem;
  margin-bottom: 1.4rem;
  color: #000000;
}
/* line 496, ../sass/LogReg.scss */
.LogregWrapper fieldset, .RegWrapper fieldset, .TryNewEmailPopup fieldset, .AccountSummary-popup fieldset {
  border: 0px;
  padding: 0px;
  margin: 0pc;
}
/* line 501, ../sass/LogReg.scss */
.LogregWrapper fieldset .field-validation-error, .RegWrapper fieldset .field-validation-error, .TryNewEmailPopup fieldset .field-validation-error, .AccountSummary-popup fieldset .field-validation-error {
  color: #d00000;
}
/* line 505, ../sass/LogReg.scss */
.LogregWrapper fieldset label#lblStatus, .RegWrapper fieldset label#lblStatus, .TryNewEmailPopup fieldset label#lblStatus, .AccountSummary-popup fieldset label#lblStatus {
  color: #d00000;
  font-size: 12px;
  margin-top: 5px;
  clear: both;
  padding-top: 0.5rem;
}
/* line 513, ../sass/LogReg.scss */
.LogregWrapper fieldset label#lblReg1Status, .RegWrapper fieldset label#lblReg1Status, .TryNewEmailPopup fieldset label#lblReg1Status, .AccountSummary-popup fieldset label#lblReg1Status {
  color: #d00000;
  font-size: 12px;
  margin: 1rem 0 1rem 0;
}
/* line 519, ../sass/LogReg.scss */
.LogregWrapper fieldset label#lblReg2Status, .RegWrapper fieldset label#lblReg2Status, .TryNewEmailPopup fieldset label#lblReg2Status, .AccountSummary-popup fieldset label#lblReg2Status {
  color: #d00000;
  font-size: 12px;
  margin: 0px 0px 0px 1.5rem;
}
/* line 526, ../sass/LogReg.scss */
.LogregWrapper .lbl, .RegWrapper .lbl, .TryNewEmailPopup .lbl, .AccountSummary-popup .lbl {
  margin-bottom: 0.6rem;
}
/* line 529, ../sass/LogReg.scss */
.LogregWrapper .lbl label, .RegWrapper .lbl label, .TryNewEmailPopup .lbl label, .AccountSummary-popup .lbl label {
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
  margin-top: 1.1rem;
  color: #000000;
}
/* line 538, ../sass/LogReg.scss */
.LogregWrapper .details, .RegWrapper .details, .TryNewEmailPopup .details, .AccountSummary-popup .details {
  font-weight: normal;
}
/* line 543, ../sass/LogReg.scss */
.LogregWrapper .txt input, .RegWrapper .txt input, .TryNewEmailPopup .txt input, .AccountSummary-popup .txt input {
  border: 1px solid #ccc;
  height: 3.2rem;
  width: 100%;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  color: #000000;
}
/* line 552, ../sass/LogReg.scss */
.LogregWrapper .txt select, .RegWrapper .txt select, .TryNewEmailPopup .txt select, .AccountSummary-popup .txt select {
  height: 3.2rem;
  border: 1px solid #ccc;
  color: #100E0E;
  font-size: 16px;
  font-family: arial;
}
/* line 562, ../sass/LogReg.scss */
.LogregWrapper .ddlUserTypes span.field-validation-error, .RegWrapper .ddlUserTypes span.field-validation-error, .TryNewEmailPopup .ddlUserTypes span.field-validation-error, .AccountSummary-popup .ddlUserTypes span.field-validation-error {
  margin: 1rem 0 1rem 0;
  float: left;
}
/* line 568, ../sass/LogReg.scss */
.LogregWrapper .btn, .RegWrapper .btn, .TryNewEmailPopup .btn, .AccountSummary-popup .btn {
  display: block;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
  box-shadow: 1px 1px 2px 0px #9f9f9f;
  -webkit-box-shadow: 1px 1px 2px 0px #9f9f9f;
  -moz-box-shadow: 1px 1px 2px 0px #9f9f9f;
  background-color: #e9e9e9;
  margin: 6px auto;
  float: left;
  font-family: arial;
  cursor: pointer;
  color: #000000;
}
/* line 585, ../sass/LogReg.scss */
.LogregWrapper .lblHeaderForgotPassword, .RegWrapper .lblHeaderForgotPassword, .TryNewEmailPopup .lblHeaderForgotPassword, .AccountSummary-popup .lblHeaderForgotPassword {
  font-family: arial;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px dotted #ccc;
  height: 7.3rem;
  margin-bottom: 1.4rem;
  color: #000000;
}
/* line 595, ../sass/LogReg.scss */
.LogregWrapper .lblHeaderTryNewEmail, .RegWrapper .lblHeaderTryNewEmail, .TryNewEmailPopup .lblHeaderTryNewEmail, .AccountSummary-popup .lblHeaderTryNewEmail {
  font-family: arial;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px dotted #ccc;
  height: 7rem;
  margin-bottom: 1.4rem;
  color: #000000;
}

/* line 608, ../sass/LogReg.scss */
.divLogin .lblinfo, .divRegister .lblinfo, .divForgotPassword .lblinfo, .divTrynewEmail .lblinfo {
  font-family: arial;
  font-size: 12px;
  margin-bottom: 1.3rem;
  color: #000000;
}
/* line 614, ../sass/LogReg.scss */
.divLogin .lblinfo span, .divRegister .lblinfo span, .divForgotPassword .lblinfo span, .divTrynewEmail .lblinfo span {
  color: #d00000;
}
/* line 619, ../sass/LogReg.scss */
.divLogin .lblAccessDenied, .divRegister .lblAccessDenied, .divForgotPassword .lblAccessDenied, .divTrynewEmail .lblAccessDenied {
  font-size: 14px;
}
/* line 622, ../sass/LogReg.scss */
.divLogin .lblAccessDenied a, .divRegister .lblAccessDenied a, .divForgotPassword .lblAccessDenied a, .divTrynewEmail .lblAccessDenied a {
  color: #000000;
  margin-left: 5px;
}
/* line 628, ../sass/LogReg.scss */
.divLogin .lblinfoTrynewEmail, .divRegister .lblinfoTrynewEmail, .divForgotPassword .lblinfoTrynewEmail, .divTrynewEmail .lblinfoTrynewEmail {
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 1.3rem;
  color: #000000;
}
/* line 636, ../sass/LogReg.scss */
.divLogin .lblForgotPasswordinfo, .divRegister .lblForgotPasswordinfo, .divForgotPassword .lblForgotPasswordinfo, .divTrynewEmail .lblForgotPasswordinfo {
  font-family: arial;
  font-size: 16px;
  margin-bottom: 1.3rem;
  font-weight: bold;
  color: #000000;
}
/* line 645, ../sass/LogReg.scss */
.divLogin .lblRememberMe input, .divRegister .lblRememberMe input, .divForgotPassword .lblRememberMe input, .divTrynewEmail .lblRememberMe input {
  font-family: arial;
  font-size: 12px;
  float: left;
}
/* line 652, ../sass/LogReg.scss */
.divLogin .divRegister, .divRegister .divRegister, .divForgotPassword .divRegister, .divTrynewEmail .divRegister {
  margin-top: 1.5rem;
  height: 15px;
  font-size: 12px;
  color: #000000;
}
/* line 658, ../sass/LogReg.scss */
.divLogin .divRegister a, .divRegister .divRegister a, .divForgotPassword .divRegister a, .divTrynewEmail .divRegister a {
  color: #000000;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: none;
}
/* line 665, ../sass/LogReg.scss */
.divLogin .divRegister .img-arrow, .divRegister .divRegister .img-arrow, .divForgotPassword .divRegister .img-arrow, .divTrynewEmail .divRegister .img-arrow {
  margin-left: 5px;
  vertical-align: text-bottom;
}
/* line 671, ../sass/LogReg.scss */
.divLogin .divContact, .divRegister .divContact, .divForgotPassword .divContact, .divTrynewEmail .divContact {
  color: #999;
  margin-top: 0.9rem;
  font-size: 12px;
  float: left;
}
/* line 677, ../sass/LogReg.scss */
.divLogin .divContact a, .divRegister .divContact a, .divForgotPassword .divContact a, .divTrynewEmail .divContact a {
  color: #000000;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: none;
}
/* line 685, ../sass/LogReg.scss */
.divLogin .divReminderForgotPwd, .divRegister .divReminderForgotPwd, .divForgotPassword .divReminderForgotPwd, .divTrynewEmail .divReminderForgotPwd {
  margin-top: 0.3rem;
}
/* line 688, ../sass/LogReg.scss */
.divLogin .divReminderForgotPwd input, .divRegister .divReminderForgotPwd input, .divForgotPassword .divReminderForgotPwd input, .divTrynewEmail .divReminderForgotPwd input {
  margin-top: 0;
  margin-left: 0px;
  margin-right: 0.5rem;
  float: left;
}
/* line 696, ../sass/LogReg.scss */
.divLogin .divReminderForgotPwd .divForgotPwd a, .divRegister .divReminderForgotPwd .divForgotPwd a, .divForgotPassword .divReminderForgotPwd .divForgotPwd a, .divTrynewEmail .divReminderForgotPwd .divForgotPwd a {
  color: #999;
  float: right;
  font-size: 12px;
}
/* line 703, ../sass/LogReg.scss */
.divLogin .divReminderForgotPwd label, .divRegister .divReminderForgotPwd label, .divForgotPassword .divReminderForgotPwd label, .divTrynewEmail .divReminderForgotPwd label {
  float: left;
  font-size: 12px;
  color: #000000;
}
/* line 711, ../sass/LogReg.scss */
.divLogin .recaptcha_widget ul, .divRegister .recaptcha_widget ul, .divForgotPassword .recaptcha_widget ul, .divTrynewEmail .recaptcha_widget ul {
  padding: 0px;
}
/* line 715, ../sass/LogReg.scss */
.divLogin .recaptcha_widget ul li a, .divRegister .recaptcha_widget ul li a, .divForgotPassword .recaptcha_widget ul li a, .divTrynewEmail .recaptcha_widget ul li a {
  color: #d00000;
  font-size: 1.2rem;
  font-weight: bold;
}
/* line 723, ../sass/LogReg.scss */
.divLogin .recaptcha_widget .SecurityCheck, .divRegister .recaptcha_widget .SecurityCheck, .divForgotPassword .recaptcha_widget .SecurityCheck, .divTrynewEmail .recaptcha_widget .SecurityCheck {
  color: #000;
  font-size: 2.4rem;
  margin-top: .5rem;
  border-top: 1px dotted #ccc;
  padding-top: 1rem;
  margin-bottom: .5rem;
  font-weight: bold;
}
/* line 733, ../sass/LogReg.scss */
.divLogin .recaptcha_widget .cantread, .divRegister .recaptcha_widget .cantread, .divForgotPassword .recaptcha_widget .cantread, .divTrynewEmail .recaptcha_widget .cantread {
  color: #000;
  font-size: 1.2rem;
}
/* line 738, ../sass/LogReg.scss */
.divLogin .recaptcha_widget .enterwordsabove, .divRegister .recaptcha_widget .enterwordsabove, .divForgotPassword .recaptcha_widget .enterwordsabove, .divTrynewEmail .recaptcha_widget .enterwordsabove {
  color: #000;
  font-size: 1.1rem;
}
/* line 743, ../sass/LogReg.scss */
.divLogin .recaptcha_widget #recaptcha_image, .divRegister .recaptcha_widget #recaptcha_image, .divForgotPassword .recaptcha_widget #recaptcha_image, .divTrynewEmail .recaptcha_widget #recaptcha_image {
  height: 65px !important;
  border: solid;
  border-width: 1rem;
  border-color: gray;
}
/* line 750, ../sass/LogReg.scss */
.divLogin .recaptcha_widget #recaptchOptionsDiv, .divRegister .recaptcha_widget #recaptchOptionsDiv, .divForgotPassword .recaptcha_widget #recaptchOptionsDiv, .divTrynewEmail .recaptcha_widget #recaptchOptionsDiv {
  padding: 0px;
}
/* line 753, ../sass/LogReg.scss */
.divLogin .recaptcha_widget #recaptchOptionsDiv a, .divRegister .recaptcha_widget #recaptchOptionsDiv a, .divForgotPassword .recaptcha_widget #recaptchOptionsDiv a, .divTrynewEmail .recaptcha_widget #recaptchOptionsDiv a {
  color: #d00000;
  font-size: 1.2rem;
  font-weight: bold;
}
/* line 761, ../sass/LogReg.scss */
.divLogin .recaptcha_widget .recaptcha_widget ul, .divRegister .recaptcha_widget .recaptcha_widget ul, .divForgotPassword .recaptcha_widget .recaptcha_widget ul, .divTrynewEmail .recaptcha_widget .recaptcha_widget ul {
  padding: 0px;
}
/* line 765, ../sass/LogReg.scss */
.divLogin .recaptcha_widget .recaptcha_widget ul li a, .divRegister .recaptcha_widget .recaptcha_widget ul li a, .divForgotPassword .recaptcha_widget .recaptcha_widget ul li a, .divTrynewEmail .recaptcha_widget .recaptcha_widget ul li a {
  color: #d00000;
  font-size: 1.2rem;
  font-weight: bold;
}
/* line 773, ../sass/LogReg.scss */
.divLogin .recaptcha_widget .recaptcha_widget .SecurityCheck, .divRegister .recaptcha_widget .recaptcha_widget .SecurityCheck, .divForgotPassword .recaptcha_widget .recaptcha_widget .SecurityCheck, .divTrynewEmail .recaptcha_widget .recaptcha_widget .SecurityCheck {
  color: #000000;
  font-size: 2.4rem;
  margin-top: .5rem;
  border-top: 1px dotted #ccc;
  padding-top: 1rem;
  margin-bottom: .5rem;
  font-weight: bold;
}
/* line 783, ../sass/LogReg.scss */
.divLogin .recaptcha_widget .recaptcha_widget .cantread, .divRegister .recaptcha_widget .recaptcha_widget .cantread, .divForgotPassword .recaptcha_widget .recaptcha_widget .cantread, .divTrynewEmail .recaptcha_widget .recaptcha_widget .cantread {
  color: #000000;
  font-size: 1.2rem;
}
/* line 788, ../sass/LogReg.scss */
.divLogin .recaptcha_widget .recaptcha_widget .enterwordsabove, .divRegister .recaptcha_widget .recaptcha_widget .enterwordsabove, .divForgotPassword .recaptcha_widget .recaptcha_widget .enterwordsabove, .divTrynewEmail .recaptcha_widget .recaptcha_widget .enterwordsabove {
  color: #000000;
  font-size: 1.1rem;
}
/* line 793, ../sass/LogReg.scss */
.divLogin .recaptcha_widget .recaptcha_widget #recaptcha_image, .divRegister .recaptcha_widget .recaptcha_widget #recaptcha_image, .divForgotPassword .recaptcha_widget .recaptcha_widget #recaptcha_image, .divTrynewEmail .recaptcha_widget .recaptcha_widget #recaptcha_image {
  width: 256px !important;
  height: 65px !important;
  border: solid;
  border-width: 1rem;
  border-color: gray;
}
/* line 801, ../sass/LogReg.scss */
.divLogin .recaptcha_widget .recaptcha_widget #recaptchOptionsDiv, .divRegister .recaptcha_widget .recaptcha_widget #recaptchOptionsDiv, .divForgotPassword .recaptcha_widget .recaptcha_widget #recaptchOptionsDiv, .divTrynewEmail .recaptcha_widget .recaptcha_widget #recaptchOptionsDiv {
  padding: 0px;
}
/* line 804, ../sass/LogReg.scss */
.divLogin .recaptcha_widget .recaptcha_widget #recaptchOptionsDiv a, .divRegister .recaptcha_widget .recaptcha_widget #recaptchOptionsDiv a, .divForgotPassword .recaptcha_widget .recaptcha_widget #recaptchOptionsDiv a, .divTrynewEmail .recaptcha_widget .recaptcha_widget #recaptchOptionsDiv a {
  color: #d00000;
  font-size: 1.2rem;
  font-weight: bold;
}
/* line 812, ../sass/LogReg.scss */
.divLogin .recaptcha_widget #recaptcha_response_field, .divRegister .recaptcha_widget #recaptcha_response_field, .divForgotPassword .recaptcha_widget #recaptcha_response_field, .divTrynewEmail .recaptcha_widget #recaptcha_response_field {
  margin: 0px;
}

/* line 819, ../sass/LogReg.scss */
.divLogin .divRegister {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 20px;
}

/* line 825, ../sass/LogReg.scss */
.divRegisterstep2, .divAccountEdit {
  margin: auto;
  overflow-y: auto;
}
/* line 829, ../sass/LogReg.scss */
.divRegisterstep2 .btn, .divAccountEdit .btn {
  width: 124px;
}
/* line 833, ../sass/LogReg.scss */
.divRegisterstep2 .SectionHeading, .divAccountEdit .SectionHeading {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
  clear: both;
  float: left;
  padding-bottom: 12px;
}
/* line 843, ../sass/LogReg.scss */
.divRegisterstep2 .RequiredFields, .divAccountEdit .RequiredFields {
  clear: both;
  float: left;
  color: #999;
  font-size: 12px;
  margin-top: -5px;
}
/* line 851, ../sass/LogReg.scss */
.divRegisterstep2 .first-column, .divAccountEdit .first-column {
  clear: both;
}
/* line 855, ../sass/LogReg.scss */
.divRegisterstep2 .Lineseparator, .divAccountEdit .Lineseparator {
  display: block;
  margin-top: 5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: dotted;
}
/* line 864, ../sass/LogReg.scss */
.divRegisterstep2 .form-group, .divAccountEdit .form-group {
  clear: both;
}
/* line 869, ../sass/LogReg.scss */
.divRegisterstep2 .ddlCountry select, .divAccountEdit .ddlCountry select {
  margin-bottom: 1rem;
}
/* line 875, ../sass/LogReg.scss */
.divRegisterstep2 .divOrgDetails .ddlPosition select, .divRegisterstep2 .divOrgDetails .ddlMediaType select, .divRegisterstep2 .divOrgDetails .ddlVideoFormat select, .divAccountEdit .divOrgDetails .ddlPosition select, .divAccountEdit .divOrgDetails .ddlMediaType select, .divAccountEdit .divOrgDetails .ddlVideoFormat select {
  margin-bottom: 5px;
}
/* line 879, ../sass/LogReg.scss */
.divRegisterstep2 .divOrgDetails .twelve, .divAccountEdit .divOrgDetails .twelve {
  width: 100% !important;
  padding: 0;
}
/* line 884, ../sass/LogReg.scss */
.divRegisterstep2 .divOrgDetails .twelve .AboutYourOrg textarea, .divAccountEdit .divOrgDetails .twelve .AboutYourOrg textarea {
  height: 128px;
}
/* line 890, ../sass/LogReg.scss */
.divRegisterstep2 .divOrgDetails label#Reg2Status, .divAccountEdit .divOrgDetails label#Reg2Status {
  color: #d00000;
  font-size: 12px;
  margin: 0px 0px 0px 1.5rem;
}

/* line 898, ../sass/LogReg.scss */
.AccountSummary-popup {
  padding: 30px;
}
/* line 901, ../sass/LogReg.scss */
.AccountSummary-popup .details {
  line-height: 1.25em;
}
/* line 905, ../sass/LogReg.scss */
.AccountSummary-popup a.popup-close {
  margin-right: 0px;
}
/* line 909, ../sass/LogReg.scss */
.AccountSummary-popup .lblHeader {
  height: auto;
  padding-bottom: 12px;
  margin-bottom: 0;
}
/* line 915, ../sass/LogReg.scss */
.AccountSummary-popup .sectionName {
  font-weight: bold;
  font-size: 16px;
}
/* line 920, ../sass/LogReg.scss */
.AccountSummary-popup .AccountSummarySectionTitle {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 11px;
  margin-top: 29px;
  border-bottom: 1px dotted #ccc;
  color: #000000;
}
/* line 929, ../sass/LogReg.scss */
.AccountSummary-popup .AccountSummary-Details, .AccountSummary-popup .AccountSummary-Email, .AccountSummary-popup .AccountSummary-Password {
  font-family: arial;
  font-weight: normal;
  margin-top: 1.1rem;
  color: #000;
}
/* line 936, ../sass/LogReg.scss */
.AccountSummary-popup .btn {
  margin: 20px auto;
}
/* line 940, ../sass/LogReg.scss */
.AccountSummary-popup .AccountSummary-EditBtn {
  padding: 0;
}
/* line 943, ../sass/LogReg.scss */
.AccountSummary-popup .AccountSummary-EditBtn a.btn-default {
  width: 100%;
  float: none;
  margin-bottom: 0;
}

/* line 951, ../sass/LogReg.scss */
.logreg-spinner {
  background: #ffffff;
  position: absolute;
  width: auto;
  text-align: center;
  color: #000;
  border-radius: 10px;
  border-radius: 1rem;
  display: none;
  padding: 3rem;
}
/* line 962, ../sass/LogReg.scss */
.logreg-spinner .spinner-text {
  font-size: 19px;
  font-weight: bold;
  display: inline;
  position: relative;
  float: right;
  margin-top: 1px;
  margin-left: 5px;
}
/* line 972, ../sass/LogReg.scss */
.logreg-spinner .signing-in, .logreg-spinner .loading {
  display: none;
}
/* line 976, ../sass/LogReg.scss */
.logreg-spinner img {
  height: 20px;
  width: 20px;
}
/* line 981, ../sass/LogReg.scss */
.logreg-spinner .spinner-icon {
  float: left;
  position: relative;
}

/* line 987, ../sass/LogReg.scss */
.logreg-loading-icon {
  position: absolute;
  width: auto;
  color: #000;
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
  border-radius: 1rem;
  display: none;
  padding: 3rem;
}
/* line 998, ../sass/LogReg.scss */
.logreg-loading-icon img {
  height: 20px;
  width: 20px;
}

/* line 1004, ../sass/LogReg.scss */
.logreg-hide {
  display: none;
  border-width: 0;
}

/* line 1009, ../sass/LogReg.scss */
.icons-user {
  background: url('/content/images/logreg/user-icon.png?1444972453') no-repeat;
  height: 14px;
  width: 14px;
}

/* line 1016, ../sass/LogReg.scss */
.divLogin form#frmLogin {
  margin: 0px;
}
/* line 1020, ../sass/LogReg.scss */
.divLogin div#divSignInNotRegister {
  margin-top: 0.5rem;
  padding-bottom: 2.7rem;
}
/* line 1025, ../sass/LogReg.scss */
.divLogin .divContact {
  margin-top: 1.6rem;
}
/* line 1029, ../sass/LogReg.scss */
.divLogin .divReminderForgotPwd {
  margin-top: 0.9rem;
}

/* line 1034, ../sass/LogReg.scss */
.mobile-menu li.li-header-logreg ul.dynamic-menu li.postLogin-header-link .non-mobile {
  display: none;
}

/* line 1038, ../sass/LogReg.scss */
.mobile-menu .dynamic-menu .icons-user {
  background: url('/content/images/logreg/user-icon.png?1444972453') no-repeat;
  height: 14px;
  width: 14px;
}

/*.mobile-menu .dynamic-menu .icons-download-login {
    background: image-url("/content/images/logreg/media-cart-download.png") no-repeat;
    height: 17px;
    width: 12px;
}

.mobile-menu .dynamic-menu .icons-media-cart {
    background: image-url("/content/images/logreg/media-cart.png") no-repeat;
    height: 15px;
    width: 12px;
}*/
